{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import filter_block %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.css""/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function toggleFilterState(e) {
            let elt = $(e.target)
                .prev('.card-header')
                .find("i.indicator");
            elt.toggleClass('fa-chevron-down fa-chevron-up');

            if (elt.hasClass('fa-chevron-up')) {
                localStorage.setItem('mps-project-filter-open', 'true')
            }
            else {
                localStorage.setItem('mps-project-filter-open', 'false')
            }
        }

        $(document).ready(function () {
            $('#liveprojects-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftip',
                stateSave: true, serverSide: true,
                ajax: { url: $SCRIPT_ROOT + '{{ ajax_endpoint }}',
                        type: 'POST',
                        data: function (args) { return { "args": JSON.stringify(args) }; } },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name',
                      orderable: true,
                      searchable: true },
                    { data: 'supervisor',
                      orderable: true,
                      searchable: true },
                    { data: 'group',
                      orderable: true,
                      searchable: true },
                    { data: 'skills',
                      orderable: false,
                      searchable: false },
                    {% if is_live %}
                        { data: 'meeting',
                          orderable: true,
                          searchable: false },
                        { data: 'availability',
                          orderable: false,
                          searchable: false },
                        { data: 'bookmarks',
                          orderable: false,
                          searchable: false },
                    {% endif %}
                    { data: 'menu',
                      orderable: false,
                      searchable: false }
                ],
                order: [[0, 'asc']]
            });

            var accordion = $('#accordion');
            var filter = $('#collapseFilter');

            let filter_state = localStorage.getItem('mps-project-filter-open');
            if (filter_state === 'false') {
                let icon = accordion.find("i.indicator");
                icon.toggleClass('fa-chevron-down fa-chevron-up');    // switch state; it's open by default

                filter.removeClass('show');
            }

            accordion.on('hidden.bs.collapse', toggleFilterState);
            accordion.on('shown.bs.collapse', toggleFilterState);
        });
    </script>
{% endblock %}

{% block title %}
    Browse projects
{% endblock %}

{% block bodyblock %}
    <div class="top-return-link">
        <a href="{{ url_for('student.dashboard') }}">
            <i class="fas fa-backward"></i> Return to home dashboard
        </a>
    </div>

    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">
            Projects available for
            <strong>{{ config.name }} {{ config.year+1 }}&ndash;{{ config.year+2 }}</strong>
        </div>
        <div class="card-body">
            {% if sel %}
                {% if is_live %}
                    <div class="d-flex justify-content-end mb-1">
                        {% set bookmarks = sel.number_bookmarks %}
                        {% set bmpl = 's' %}
                        {% if bookmarks == 1 %}{% set bmpl = '' %}{% endif %}
                        {% set ncpl = 's' %}
                        {% if sel.number_choices == 1 %}{% set ncpl = '' %}{% endif %}
                        <span class="badge badge-success">{{ bookmarks }} bookmark{{ bmpl }} &ndash; {{ sel.number_choices }} selection{{ ncpl }} required</span>
                    </div>
                {% endif %}
                {% if groups and skill_groups and skill_list %}
                    {{ filter_block(sel, groups, skill_groups, skill_list, 'student.clear_group_filters', 'student.add_group_filter', 'student.remove_group_filter', 'student.clear_skill_filters', 'student.add_skill_filter', 'student.remove_skill_filter') }}
                {% endif %}
            {% endif %}

            <table id="liveprojects-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    {% if is_live %}
                        <th width="18%"> Title</th>
                        <th width="15%"> Supervisor</th>
                        <th width="15%"> Research group</th>
                        <th width="15%"> Transferable skills</th>
                        <th width="7%"> Meeting</th>
                        <th width="10%"> Availability</th>
                        <th width="5%"> Bookmark</th>
                        <th width="15%"> Actions</th>
                    {% else %}
                        <th width="30%"> Title</th>
                        <th width="15%"> Supervisor</th>
                        <th width="15%"> Research group</th>
                        <th width="25%"> Transferable skills</th>
                        <th width="15%"> Actions</th>
                    {% endif %}
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div>
        <a href="{{ url_for('student.dashboard') }}">
            <i class="fas fa-backward"></i> Return to dashboard
        </a>
    </div>
{% endblock %}
