{% extends "base_app.html" %}

{% from "student/macros.html" import ranked_selection %}

{% block title %}
    View my submitted project preferences
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mt-3 mb-3">
                <div class="card-header bg-success text-white">
                    Submitted project preferences for
                    <strong>{{ sel.config.name }} {{ sel.config.year }}&ndash;{{ sel.config.year+1 }}</strong>
                </div>
                <div class="card-body">
                    {% if sel.has_submitted %}
                        {% if sel.has_accepted_offer %}
                            {% set offer = sel.accepted_offer %}
                            {% set project = offer.liveproject %}
                            {% if project is not none %}
                                <div>
                                    You have accepted a custom offer for
                                    <strong>{{ project.name }}</strong>
                                    <i class="fa fa-user"></i> {{ project.owner.user.name }}
                                </div>
                            {% else %}
                                <span class="badge badge-danger">MISSING ACCEPTED PROJECT</span>
                                <p>This is an internal error. Please contact a system administrator.</p>
                            {% endif %}
                        {% else %}
                            <div class="card mt-3 mb-3 card-body bg-well">
                                Last submission received at
                                <strong>{{ sel.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}</strong>
                                from IP address
                                <strong>{{ sel.submission_IP }}</strong>
                            </div>
                            {{ ranked_selection(sel, sel.ordered_selections) }}
                        {% endif %}
                    {% else %}
                        <strong>Error.</strong> No preferences have been received for this project class.
                    {% endif %}
                </div>
            </div>

            <div>
                <a href="{{ url_for('student.dashboard') }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
