{% extends "base_app.html" %}

{% from "student/macros.html" import ranked_selection %}
{% from "icon_block.html" import icon_block %}

{% block title %}
    View my submitted project preferences
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-success mt-3 mb-3">
                <div class="card-header">
                    Submitted project preferences for
                    <strong>{{ sel.config.name }} {{ sel.config.select_year_a }}&ndash;{{ sel.config.select_year_b }}</strong>
                </div>
                <div class="card-body">
                    {% if sel.has_submitted %}
                        {% if sel.has_accepted_offer %}
                            {% set offer = sel.accepted_offer %}
                            {% set project = offer.liveproject %}
                            {% if project is not none %}
                                <div>
                                    You have accepted a custom offer for
                                    <a class="text-decoration-none" href="{{ url_for('student.selector_view_project', sid=sel.id, pid=offer.liveproject.id, url=url_for('student.view_selection', sid=sel.id), text='submitted project selection') }}">
                                        <strong>{{ project.name }}</strong>
                                    </a>
                                    <i class="fas fa-user-circle"></i> {{ project.owner.user.name }}
                                </div>
                            {% else %}
                                <div>
                                    We have detected an issue with your selection.
                                    Please contact the project convenor.
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info mt-3 mb-3">
                                {% call icon_block("check-circle") %}
                                    <div>
                                        Last submission received at
                                        <strong>{{ sel.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}</strong>
                                        from IP address
                                        <strong>{{ sel.submission_IP }}</strong>
                                    </div>
                                {% endcall %}
                            </div>
                            {{ ranked_selection(sel, sel.ordered_selections) }}
                        {% endif %}
                    {% else %}
                        <strong>Error.</strong> No preferences have been received for this project class.
                    {% endif %}
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('student.dashboard') }}">
                    <i class="fas fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
