{% import "bootstrap/wtf.html" as wtf %}

{% extends "base_app.html" %}

{% from "student/dashboard/selection_card.html" import selection_card with context %}
{% from "student/dashboard/submission_card.html" import submission_card with context %}
{% from "macros.html" import message_card %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function sendAjax(ranking, configid, selid) {
            $.ajax({
                url: $SCRIPT_ROOT + "/student/update_ranking",
                type: "POST",
                data: JSON.stringify({ranking: ranking, configid: configid, sid: selid}),
                contentType: "application/json; charset=utf-8",
                success: function(dat) {
                    console.log(dat);
                    $("#" + dat['hide']).addClass('hidden');
                    $("#" + dat['reveal']).removeClass('hidden');
                }
            });
        }

        {% for config, sel, sub in enrollments %}
            Sortable.create(document.getElementById("P{{ config.id }}-bookmarks"), {
                handle: '.drag-handle',
                animation: 150,
                onSort: function(e) {
                    const items = e.to.children;
                    let result = [];
                    for (let i=0; i < items.length; i++) {
                        result.push($(items[i]).attr('id'))
                    }
                    sendAjax(result, {{ config.id }}, {{ sel.id }});
                }
            });
        {% endfor %}
    </script>
{% endblock %}

{% block title %}
    Student dashboard
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

            {% if messages %}
                {% for message in messages %}
                    {{ message_card(message, enrolled_classes) }}
                {% endfor %}
            {% endif %}

            {% if enrollments and enrollments|length > 0 %}

                {% for config, sel, sub in enrollments %}

                    {% set pclass = config.project_class %}
                    <div class="well">
                        <div class="row vertical-align">
                            <div class="col-xs-10">
                                <span class="dashboard-project-title">{{ pclass.name }}</span>
                            </div>
                            <div class="col-xs-2">
                                {% if pclass.programmes %}
                                    {% for programme in pclass.programmes %}
                                        {{ programme.label()|safe }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row vertical-align">
                            <div class="col-xs-6">
                                Convenor:
                                <a class="btn btn-link" href="mailto:{{ pclass.convenor.email }}">
                                    {{ pclass.convenor.build_name() }}
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    Commences
                                    <span class="label label-info">Y{{ pclass.year }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {% set sdata = none %}
                                {% if sel %}
                                    {% set sdata = sel %}
                                {% elif sub %}
                                    {% set sdata = sub %}
                                {% endif %}
                                {% if data is not none %}
                                    Your details:
                                    {{ sdata.user.student_data.cohort_label()|safe }}
                                    {{ sdata.user.student_data.programme.label()|safe }}
                                    {{ sdata.academic_year_label()|safe }}
                                {% endif %}
                            </div>
                        </div>

                        <hr class="intro-divider">

                        {% if sel %}
                            {{ selection_card(config, sel) }}
                        {% endif %}

                        {% if sub %}
                            {{ submission_card(config, sel) }}
                        {% endif %}

                    </div>

                {% endfor %}

            {% else %}

                <div style="text-align: center;">
                    <h3> You are not currently participating in any projects. </h3>
                    <p>If you feel this is a mistake, please contact the appropriate
                        project convenor.</p>
                    <hr class="intro-divider">
                </div>

                {% if pclasses and pclasses.first() %}
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Convenor</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pclass in pclasses %}
                                    <tr>
                                        <td>{{ pclass.name }}</td>
                                        <td>{{ pclass.convenor.build_name() }}
                                            <a href="mailto:{{ pclass.convenor.email }}">
                                                {{ pclass.convenor.email }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                {% endif %}

            {% endif %}

        </div>
        <div class="col-xs-1"></div>

    </div>
{% endblock %}
