{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% from "student/dashboard/selection_card.html" import selection_card with context %}
{% from "student/dashboard/submission_card.html" import submission_card with context %}
{% from "macros.html" import message_card %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function sendAjax(ranking, configid, selid) {
            $.ajax({
                url: $SCRIPT_ROOT + "/student/update_ranking",
                type: "POST",
                data: JSON.stringify({ranking: ranking, configid: configid, sid: selid}),
                contentType: "application/json; charset=utf-8",
                success: function(dat) {
                    // write payload to console for debugging
                    console.log(dat);

                    // get server response
                    let valid = dat['submittable'];
                    let list_class = valid ? 'list-group-item-success' : 'list-group-item-danger';

                    // sort through list of DOM elements that need to be hidden/revealed
                    let hide_list = dat['hide'];
                    for (let i=0; i < hide_list.length; i++) {
                        $("#" + hide_list[i]).addClass('hidden');
                    }

                    let reveal_list = dat['reveal'];
                    for (let i=0; i < reveal_list.length; i++) {
                        $("#" + reveal_list[i]).removeClass('hidden')
                    }

                    // destroy existing contents
                    let ul_group_id = dat['message-id'];
                    let ul_group = $('#' + ul_group_id);
                    ul_group.empty()

                    // repopulate with new elements
                    let messages = dat['messages']
                    for (let i=0; i < messages.length; i++) {
                        let item = document.createElement("li");
                        item.classList.add('list-group-item');
                        item.classList.add(list_class);
                        let txt = document.createTextNode(messages[i]);
                        item.appendChild(txt);
                        ul_group.append(item);
                    }
                }
            });
        }

        {% for config, sel, sub in enrollments %}
            {% if sel is not none and sel.has_bookmarks %}
                Sortable.create(document.getElementById("P{{ config.id }}-bookmarks"), {
                    handle: '.drag-handle',
                    animation: 150,
                    onSort: function(e) {
                        const items = e.to.children;
                        let result = [];
                        for (let i=0; i < items.length; i++) {
                            // push id to ranking list
                            result.push($(items[i]).attr('id'));

                            // update colours of list items to indicate selection status
                            if (i < {{ sel.number_choices }}) {
                                $(items[i]).addClass('selected-project');
                                $(items[i]).removeClass('deselected-project');
                            } else {
                                $(items[i]).addClass('deselected-project');
                                $(items[i]).removeClass('selected-project');
                            }

                            // update numerical rankings
                            rspan = $(items[i]).find('#ranking');
                            rspan.html("#" + (i+1));
                            if (i < {{ sel.number_choices }}) {
                                rspan.addClass('badge-success');
                                rspan.removeClass('badge-danger');
                            } else {
                                rspan.addClass('badge-danger');
                                rspan.removeClass('badge-success');
                            }
                        }
                        sendAjax(result, {{ config.id }}, {{ sel.id }});
                    }
                });
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}

{% block title %}
    Student dashboard
{% endblock %}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        <li {% if pane=='select' %}class="active"{% elif not has_selections %}class="disabled"{% endif %}>
            <a {% if has_selections %}href="{{ url_for('student.dashboard', pane='select') }}"{% endif %}>
                Project selections for next year
            </a>
        </li>
        <li {% if pane=='submit' %}class="active"{% elif not has_submissions %}class="disabled"{% endif %}>
            <a {% if has_submissions %}href="{{ url_for('student.dashboard', pane='submit') }}"{% endif %}>
                Projects running this year
            </a>
        </li>
    </ul>
{% endblock %}

{% macro project_card(pclass, sdata) %}
    <div class="row vertical-top">
        <div class="col-12">
            <span class="dashboard-project-title">{{ pclass.name }}</span>
        </div>
    </div>
    <div class="row vertical-top">
        <div class="col-6">
            Convenor:
            <a class="btn btn-link" href="mailto:{{ pclass.convenor_email }}">
                {{ pclass.convenor_name }}
            </a>
        </div>
        <div class="col-6">
            <div class="float-right">
                Commences
                <span class="badge badge-info">Y{{ pclass.start_level.academic_year }}</span>
            </div>
        </div>
    </div>
    <div class="row vertical-top">
        <div class="col-7">
            {% if sdata %}
                Your details:
                {{ sdata.student.cohort_label|safe }}
                {{ sdata.student.programme.label|safe }}
                {{ sdata.academic_year_label(show_details=False)|safe }}
            {% endif %}
        </div>
        <div class="col-5">
            {% if sdata and sdata.live_deadline is defined %}
                {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                    <div class="float-right">
                        <span class="badge badge-success">Choices for {{ config.year+1 }}&ndash;{{ config.year+2 }} open</span>
                        {% if config.live_deadline %}
                            <span class="badge badge-success">Selection closes <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong></span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="float-right">
                        <span class="badge badge-secondary">Student selections not open</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <hr class="intro-divider">
{% endmacro %}


{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            {% if messages %}
                {% for message in messages %}
                    {{ message_card(message, enrolled_classes) }}
                {% endfor %}
            {% endif %}

            {% set ns = namespace(display=0) %}

            {% if enrollments and enrollments|length > 0 %}
                {% for config, sel, sub in enrollments %}
                    {% set pclass = config.project_class %}
                        {% if pane=='select' and sel %}
                            <div class="card m-3 card-body">
                                {{ project_card(pclass, sel) }}
                                {{ selection_card(config, sel) }}
                            </div>
                            {% set ns.display = ns.display+1 %}
                        {% endif %}

                        {% if pane=='submit' and sub %}
                            <div class="card m-3 card-body">
                            {{ project_card(pclass, sub) }}
                                {% for n in range(config.submissions) %}
                                    {{ submission_card(config, sub, n, today) }}
                                {% else %}
                                    <p>You are enrolled on this project class, but it does not have marked assessments.</p>
                                {% endfor %}
                            </div>
                            {% set ns.display = ns.display+1 %}
                        {% endif %}
                {% endfor %}

                {% if pane=='select' and ns.display==0 %}
                    <div class="card m-3 card-body">
                        <p>You do not currently need to make any project selections.</p>
                    </div>
                {% endif %}

                {% if pane=='submit' and ns.display==0 %}
                    <div class="card m-3 card-body">
                        <p>You are not making submissions for any project this year.</p>
                    </div>
                {% endif %}

            {% else %}

                <div class="alert alert-info" style="text-align: center;">
                    <h3> You are not currently participating in any projects. </h3>
                    <p>If you believe this is a mistake, please contact the appropriate
                        project convenor.</p>
                    <hr class="intro-divider">
                </div>

                {% if pclasses and pclasses.first() %}
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <table class="table table-sm table-hover">
                                <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Convenor</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pclass in pclasses %}
                                    <tr>
                                        <td>{{ pclass.name }}</td>
                                        <td>{{ pclass.convenor_name }}
                                            <a href="mailto:{{ pclass.convenor_email }}">
                                                {{ pclass.convenor_email }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3"></div>
                    </div>
                {% endif %}

            {% endif %}

        </div>
        <div class="col-1"></div>

    </div>
{% endblock %}
