{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% from "labels.html" import simple_label %}

{% from "student/dashboard/selection_card.html" import selection_card with context %}
{% from "student/dashboard/submission_card.html" import submission_card with context %}
{% from "student/dashboard/availability_card.html" import availability_card with context %}
{% from "macros.html" import message_card %}
{% from "icon_block.html" import icon_block %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        var tag = document.createElement('script');

        tag.src = "https://developers.panopto.com/scripts/embedapi.min.js"
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var embedApi;

        function onPanoptoEmbedApiReady() {
            embedApi = new EmbedApi("player", {
                width: "750",
                height: "422",
                serverName: "sussex.cloud.panopto.eu",
                sessionId: "c2274660-a8f0-4f71-ba13-acd101735f7b",
                events: {
                    "onlframeReady": onPanoptolframeReady,
                    "onReady": onPanoptoVideoReady,
                    "onStateChange": onPanoptoStateUpdate
                }
            });
        };

        function onPanoptolframeReady() {
            embedApi.loadVideo();
        }

        function onPanoptoVideoReady() {
        }

        function onPanoptoStateUpdate() {
        }

        function sendAjax(ranking, configid, selid) {
            $.ajax({
                url: $SCRIPT_ROOT + "/student/update_ranking",
                type: "POST",
                data: JSON.stringify({ranking: ranking, configid: configid, sid: selid}),
                contentType: "application/json; charset=utf-8",
                success: function(dat) {
                    // write payload to console for debugging
                    console.log(dat);

                    // get server response
                    let valid = dat['submittable'];
                    let list_class = valid ? 'list-group-item-success' : 'list-group-item-danger';

                    // sort through list of DOM elements that need to be hidden/revealed
                    let hide_list = dat['hide'];
                    for (let i=0; i < hide_list.length; i++) {
                        $("#" + hide_list[i]).addClass('d-none');
                    }

                    let reveal_list = dat['reveal'];
                    for (let i=0; i < reveal_list.length; i++) {
                        $("#" + reveal_list[i]).removeClass('d-none')
                    }

                    // destroy existing contents
                    let ul_group_id = dat['message-id'];
                    let ul_group = $('#' + ul_group_id);
                    ul_group.empty()

                    // repopulate with new elements
                    let messages = dat['messages']
                    for (let i=0; i < messages.length; i++) {
                        let item = document.createElement("li");
                        item.classList.add('list-group-item');
                        item.classList.add(list_class);

                        let block = document.createElement("div");
                        block.classList.add('d-flex');
                        block.classList.add('justify-content-between');
                        block.classList.add('align-items-start');

                        let icon = document.createElement("i");
                        icon.classList.add('fas');
                        icon.classList.add('fa-exclamation-circle');
                        icon.classList.add('fa-lg');
                        icon.classList.add('pt-1');
                        icon.classList.add('me-2');

                        let textblock = document.createElement("div");
                        textblock.classList.add('w-100');
                        textblock.innerHTML = messages[i]

                        block.appendChild(icon);
                        block.appendChild(textblock);

                        item.appendChild(block)
                        ul_group.append(item);
                    }
                }
            });
        }

        {% for config, sel, sub in enrollments %}
            {% if sel is not none and sel.has_bookmarks %}
                Sortable.create(document.getElementById("P{{ config.id }}-bookmarks"), {
                    handle: '.drag-handle',
                    animation: 150,
                    onSort: function(e) {
                        const items = e.to.children;
                        let result = [];
                        for (let i=0; i < items.length; i++) {
                            // push id to ranking list
                            result.push($(items[i]).attr('id'));

                            // update colours of list items to indicate selection status
                            {% if config.uses_selection %}
                                if (i < {{ sel.number_choices }}) {
                                    $(items[i]).addClass('selected-project');
                                    $(items[i]).removeClass('deselected-project');
                                } else {
                                    $(items[i]).addClass('deselected-project');
                                    $(items[i]).removeClass('selected-project');
                                }
                            {% endif %}

                            // update numerical rankings
                            rspan = $(items[i]).find('#ranking');
                            rspan.html("#" + (i+1));
                            {% if config.uses_selection %}
                                if (i < {{ sel.number_choices }}) {
                                    rspan.addClass('bg-success');
                                    rspan.removeClass('bg-danger');
                                } else {
                                    rspan.addClass('bg-danger');
                                    rspan.removeClass('bg-success');
                                }
                            {% endif %}
                        }
                        sendAjax(result, {{ config.id }}, {{ sel.id }});
                    }
                });
            {% endif %}
        {% endfor %}

        $(document).ready(function () {
            $('#PanoptoModal').modal({
                show: false
            }).on('hidden.bs.modal', function() {
                embedApi.pauseVideo();
            });
        });
    </script>
{% endblock %}

{% block title %}
    Student dashboard
{% endblock %}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if pane=='submit' %}active{% elif not has_submissions %}disabled{% endif %}"
               {% if has_submissions %}href="{{ url_for('student.dashboard', pane='submit') }}"{% endif %}>
                Manage running projects
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane=='select' %}active{% elif not has_selections %}disabled{% endif %}"
               {% if has_selections %}href="{{ url_for('student.dashboard', pane='select') }}"{% endif %}>
                Make selections
            </a>
        </li>
    </ul>
{% endblock %}

{% macro project_card(config, pclass, sdata, show_canvas) %}
    <div class="d-flex flex-row justify-content-start align-items-center gap-2">
        <span class="dashboard-project-title">{{ pclass.name }}</span>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-start w-100 mt-2">
        <div>
            Convenor:
            <a class="text-decoration-none" href="mailto:{{ pclass.convenor_email }}">
                {{ pclass.convenor_name }}
            </a>
        </div>
        <div class="small text-muted">
            Commences Y{{ pclass.start_year }}
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-start mt-2">
        {% if sdata %}
            <div class="d-flex flex-row justify-content-start gap-2">
                {{ simple_label(sdata.student.cohort_label) }}
                {{ simple_label(sdata.student.programme.label) }}
                {{ simple_label(sdata.academic_year_label(show_details=False)) }}
            </div>
        {% endif %}
        {% if sdata and sdata.live_deadline is defined %}
            <div class="d-flex flex-row justify-content-end align-items-start gap-2">
                {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                    <span class="small text-primary">Choices for {{ config.select_year_a }}&ndash;{{ config.select_year_b }} open</span>
                    {% if config.live_deadline %}
                        <span class="small text-secondary">| Selection closes <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong></span>
                    {% endif %}
                {% else %}
                    <span class="small text-muted">Selections not currently open</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if show_canvas and config.canvas_enabled %}
        <div class="d-flex flex-row justify-content-start align-items-center gap-2 border-top border-secondary pt-2 mt-2 small">
            <a class="text-decoration-none" href="{{ config.canvas_course_URL }}">Go to Canvas site for this module</a>
            <i class="text-muted fas fa-external-link"></i>
        </div>
    {% endif %}
{% endmacro %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if messages %}
                {% for message in messages %}
                    {{ message_card(message, enrolled_classes) }}
                {% endfor %}
            {% endif %}

            {% if current_user.student_data.has_active_availability_events %}
                {{ availability_card(current_user.student_data) }}
            {% endif %}

            {% set ns = namespace(display=0) %}
            {% if enrollments and enrollments|length > 0 %}
                {% for config, sel, sub in enrollments %}
                    {% set pclass = config.project_class %}
                        {% if pane=='select' and sel %}
                            <div class="card mt-3 mb-3 card-body bg-well">
                                {{ project_card(config, pclass, sel, false) }}
                                {{ selection_card(config, sel) }}
                            </div>
                            {% set ns.display = ns.display+1 %}
                        {% endif %}

                        {% if pane=='submit' and sub and config.uses_submission %}
                            <div class="card mt-3 mb-3 card-body bg-well">
                                {{ project_card(config, pclass, sub, true) }}
                                {% for n in range(config.number_submissions) %}
                                    {{ submission_card(config, sub, n, today) }}
                                {% else %}
                                    <div class="alert alert-info mt-3 mb-3">
                                        {% call icon_block("info-circle") %}
                                            <strong>You are enrolled on this project class, but it does not have marked assessments.</strong>
                                        {% endcall %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% set ns.display = ns.display+1 %}
                        {% endif %}
                {% endfor %}

                {% if pane=='select' and ns.display==0 %}
                    <div class="alert alert-info mt-3">
                        {% call icon_block("info-circle") %}
                            <strong>You do not currently need to make any project selections.</strong>
                        {% endcall %}
                    </div>
                {% endif %}

                {% if pane=='submit' and ns.display==0 %}
                    <div class="alert alert-info mt-3">
                        {% call icon_block("info-circle") %}
                            <strong>You are not making submissions for any project this year.</strong>
                        {% endcall %}
                    </div>
                {% endif %}

            {% else %}

                <div class="alert alert-info mt-3 mb-3" style="text-align: center;">
                    <h3>You are not currently participating in any projects.</h3>
                    <p>If you believe this is a mistake, please contact the appropriate
                        project convenor.</p>
                    <hr class="intro-divider">
                </div>

                {% if pclasses and pclasses.first() %}
                    <div class="row mt-3 mb-3">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <table class="table table-sm table-hover">
                                <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Convenor</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pclass in pclasses %}
                                    <tr>
                                        <td>{{ pclass.name }}</td>
                                        <td>{{ pclass.convenor_name }}</td>
                                        <td>
                                            <a class="text-decoration-none" href="mailto:{{ pclass.convenor_email }}">
                                                &langle;{{ pclass.convenor_email }}&rangle;
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-2"></div>
                    </div>
                {% endif %}

            {% endif %}

        </div>
        <div class="col-1"></div>
    </div>
    <div class="modal fade" id="PanoptoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
