{% extends "base_app.html" %}

{% from "student/macros.html" import custom_offers_table %}

{% set config = sel.config %}

{% block title %}
    Manage custom offers for {{ config.project_class.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card m-3">
                <div class="card-header bg-success text-white">
                    Manage custom offers for <strong>{{ config.project_class.name }}</strong>
                </div>
                <div class="card-body">
                    {{ custom_offers_table(sel, sel.ordered_custom_offers, true) }}
                </div>
            </div>

            <div>
                <a href="{{ url_for('student.dashboard') }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
