{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block scripts %}
    {{ super() }}

    {% assets filters="cssutils", output="gen/component-chosen.min.css", "css/component-chosen.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/chosen.jquery.min.js", "js/chosen.jquery.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#theme').chosen();
            $('#default_license').chosen();
            $('#academic_title').chosen();
        });
    </script>
{% endblock %}

{% block title %}
    Settings
{% endblock %}

{% block formtitle %}
    Edit my settings
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('student.settings') }}" method="POST" name="settings_form">

    {{ settings_form.hidden_tag() }}

{#        {{ wtf.form_errors(settings_form) }}#}

    {{ wtf.render_field(settings_form.theme) }}
    {{ wtf.render_field(settings_form.default_license) }}

    <div class="card mt-3 mb-3 card-body bg-well">
        <p>Email notifications</p>
        {{ wtf.render_field(settings_form.group_summaries) }}
        {{ wtf.render_field(settings_form.summary_frequency) }}
    </div>

    {{ wtf.render_field(settings_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
