{% extends "base_project.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import on_click_selector_field %}

{% block scripts %}
    {{ super() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js", "AMSmath.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                displayMath: [ ['$$','$$'], ["\[","\]"] ],
                processEscapes: true
            },
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% set is_approver = current_user.has_role('project_approver') %}
    {% set lifecycle = sel.config.selector_lifecycle if sel is defined and sel is not none else none %}
    {% set selections_open = (lifecycle == sel.config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN) if lifecycle is defined and lifecycle is not none else false %}
    <div class="container-fluid bg-project">
        <br/>
        {% if form %}
            <form action="{{ url_for('faculty.project_preview', id=project.id, text=text, url=url, pclass=pclass_id, show_selector=show_selector|int, all_comments=all_comments|int) }}" method="POST"
                  name="selector_form">
                {{ form.hidden_tag() }}
                {% if show_selector %}
                    <div class="well">
                        {{ on_click_selector_field(form.selector, true) }}
                    </div>
                {% else %}
                    {% if is_approver %}
                        {% if desc %}
                            <div class="alert alert-warning">
                                <div>
                                    This description applies to the following project types:
                                </div>
                                <div>
                                    <ul class="list-inline">
                                        {% for pcl in desc.project_classes %}
                                            <li>{{ pcl.make_label()|safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                No description provided.
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="row sm-gap-below">
                    <div class="col-xs-12 project-title">
                        {{ title }}
                    </div>
                </div>
                <div class="row sm-gap-below">
                    <div class="col-xs-6">
                        <div class="project-owner-name">{{ project.owner.user.name }}</div>
                        {% if project.owner.office %}
                            <div>{{ project.owner.office }}</div>
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            {% if project.group %}
                                <div class="research-group-banner">{{ project.group.name }}</div>
                                {% if project.group.website and project.group.website is not none %}
                                    <a class="research-group-webpage" href="{{ project.group.website }}">
                                        Research group website <i class="fa fa-external-link"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr class="intro-divider">

                <div class="panel panel-primary panel-primary-bg">
                    <div class="panel-heading">Project details</div>
                    <div class="panel-body">
                        <div class="panel panel-default ataglance-background">
                            <div class="panel-heading">
                                <div class="row vertical-align">
                                    <div class="col-xs-4">
                                        Key facts
                                    </div>
                                    <div class="col-xs-8">
                                        {% if sel and selections_open %}
                                            <div class="pull-right">
                                                {% if sel.bookmarks.filter_by(liveproject_id=project.id).first() %}
                                                    <a href="{{ url_for('student.remove_bookmark', sid=sel.id, pid=project.id) }}"
                                                       class="btn btn-default btn-sm">
                                                        Remove bookmark
                                                    </a>
                                                {% else %}
                                                    <a href="{{ url_for('student.add_bookmark', sid=sel.id, pid=project.id) }}"
                                                       class="btn btn-default btn-sm">
                                                        Add bookmark
                                                    </a>
                                                {% endif %}
                                                {% if not project.is_available(sel) %}
                                                    {% if project.is_waiting(sel) %}
                                                        <a href="{{ url_for('student.cancel_confirmation', sid=sel.id, pid=project.id) }}"
                                                           class="btn btn-warning btn-sm">
                                                            Cancel meeting confirmation request
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ url_for('student.request_confirmation', sid=sel.id, pid=project.id) }}"
                                                           class="btn btn-success btn-sm">
                                                            Request meeting confirmation
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    {# show sign-up details if being viewed by a live student #}
                                    {% if sel %}
                                        <div class="row vertical-top">
                                            <div class="col-xs-3">Sign-up details</div>
                                            <div class="col-xs-9">
                                                <div class="sm-gap-below">
                                                    {% if project.meeting_reqd == project.MEETING_REQUIRED %}
                                                        {% if project.is_confirmed(sel) %}
                                                            <span class="label label-primary project-label"><i
                                                                    class="fa fa-check"></i> Meeting confirmed</span>
                                                        {% else %}
                                                            <span class="label label-danger project-label"><i
                                                                    class="fa fa-times"></i> Meeting required</span>
                                                        {% endif %}
                                                    {% elif project.meeting_reqd == project.MEETING_OPTIONAL %}
                                                        <span class="label label-warning project-label">Meeting optional</span>
                                                    {% else %}
                                                        <span class="label label-default project-label"><i
                                                                class="fa fa-check"></i> Meeting not required</span>
                                                    {% endif %}
                                                    {% if selections_open and project.is_available(sel) %}
                                                        <span class="label label-success project-label"><i
                                                                class="fa fa-check"></i> Available</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if selections_open and project.show_popularity_data %}
                                        <div class="row sm-gap-below vertical-top">
                                            <div class="col-xs-3">Popularity</div>
                                            <div class="col-xs-9">
                                                {% set lab = project.format_popularity_label(['project-label']) %}
                                                {% if lab is not none %}{{ lab|safe }}{% endif %}
                                                {% set lab = project.format_bookmarks_label(['project-label']) %}
                                                {% if lab is not none %}{{ lab|safe }}{% endif %}
                                                {% set lab = project.format_selections_label(['project-label']) %}
                                                {% if lab is not none %}{{ lab|safe }}{% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if keywords and keywords|length > 0 %}
                                        <div class="row sm-gap-below vertical-top">
                                            <div class="col-xs-3">Subject keywords</div>
                                            <div class="col-xs-9">
                                                {% for keyword in keywords %}
                                                    <span class="label label-success project-label">{{ keyword }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if project.skills and project.skills.first() %}
                                        <div class="row sm-gap-below vertical-top">
                                            <div class="col-xs-3">Transferable skills</div>
                                            <div class="col-xs-9">
                                                {% for skill in project.ordered_skills %}
                                                    {% if skill.is_active %}
                                                        {{ skill.make_label(user_classes="project-label")|safe }}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if project.programmes and project.programmes.first() %}
                                        <div class="row sm-gap-below vertical-top">
                                            <div class="col-xs-3">Prefer degree programmes</div>
                                            <div class="col-xs-9">
                                                {% for programme in project.ordered_programmes %}
                                                    {% if programme.active %}
                                                        {{ programme.make_label(user_classes="project-label")|safe }}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if desc %}
                                        {% set modules = desc.ordered_modules.all() if desc is not none else none%}
                                        {% if modules and modules|length > 0 %}
                                            <div class="row sm-gap-below vertical-top">
                                                <div class="col-xs-3">Recommended modules</div>
                                                <div class="col-xs-9">
                                                    {% for module in modules %}
                                                        {% if module.active %}
                                                            {{ module.make_label(user_classes="project-label")|safe }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if sel and desc %}
                                                        {% if not sel.satisfies_recommended(desc) %}
                                                            <p>This project has recommended modules that are not available
                                                            on your programme. This does not prevent you from applying for
                                                            the project, but you will need to discuss its suitability
                                                            with the supervisor.</p>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="row vertical-top">
                                        <div class="col-xs-3">Supervision team</div>
                                        <div class="col-xs-9">
                                            {% if desc %}
                                                {% for role in desc.team %}
                                                    {% set style = role.make_CSS_style() %}
                                                    <span class="label label-default project-label"
                                                          {% if style %}style="{{ style }}"{% endif %}>{{ role.name }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>Description</h4>
                        {% if desc %}
                            <div class="project-description">{{ desc.description|dealingwithdollars|markdown|bclean|blinkify|safe }}</div>

                            {% if desc.reading and desc.reading is not none %}
                                <hr class="intro-divider">
                                <p><strong>Recommended resources</strong></p>
                                {{ desc.reading|dealingwithdollars|markdown|bclean|blinkify|safe }}
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger">
                                This combination of project and project class has no assigned description.
                                Please return to the description editor and generate a new description there.
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if allow_approval %}
                    <hr class="intro-divider">
                    <div class="well" style="margin-top: 15px;">
                        <a href="{{ url_for('faculty.project_preview', id=project.id, text=text, url=url, pclass=pclass_id, show_selector=show_selector|int, all_comments=all_comments|int, all_workflow=0) }}"
                           class="btn btn-sm {% if all_workflow %}btn-default{% else %}btn-primary{% endif %}">
                            Show workflow events only from this year
                       </a>
                        <a href="{{ url_for('faculty.project_preview', id=project.id, text=text, url=url, pclass=pclass_id, show_selector=show_selector|int, all_comments=all_comments|int, all_workflow=1) }}"
                           class="btn btn-sm {% if all_workflow %}btn-primary{% else %}btn-default{% endif %}">
                            Show workflow events from all years
                       </a>
                    </div>
                        <div class="list-group">
                            {% for item in workflow_history %}
                                <div class="list-group-item">
                                    {{ item.text_description|safe }}
                                </div>
                            {% else %}
                                <div class="list-group-item">
                                    No workflow events
                                </div>
                            {% endfor %}
                        </div>
                    {% if desc.workflow_state == desc.WORKFLOW_APPROVAL_QUEUED %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <a href="{{ url_for('project_approver.approve', id=desc.id, url=url) }}" class="btn btn-success">
                                        <i class="fa fa-check"></i> Approve
                                    </a>
                                    <a href="{{ url_for('project_approver.reject', id=desc.id, url=url) }}" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Reject
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% elif desc.workflow_state == desc.WORKFLOW_APPROVAL_REJECTED %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <a href="{{ url_for('project_approver.approve', id=desc.id, url=url) }}" class="btn btn-success">
                                        <i class="fa fa-check"></i> Approve
                                    </a>
                                    <a href="{{ url_for('project_approver.requeue', id=desc.id, url=url) }}" class="btn btn-default">
                                        <i class="fa fa-undo"></i> Re-queue
                                    </a>
                                    <a href="{{ url_for('project_approver.return_to_owner', id=desc.id, url=url) }}" class="btn btn-danger">
                                        <i class="fa fa-exclamation-circle"></i> Return to owner</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if show_comments %}
                    <div class="well" style="margin-top: 15px;">
                        <a href="{{ url_for('faculty.project_preview', id=project.id, text=text, url=url, pclass=pclass_id, show_selector=show_selector|int, all_comments=0, all_workflow=all_workflow|int) }}"
                           class="btn btn-sm {% if all_comments %}btn-default{% else %}btn-primary{% endif %}">
                            Show comments only from this year
                       </a>
                        <a href="{{ url_for('faculty.project_preview', id=project.id, text=text, url=url, pclass=pclass_id, show_selector=show_selector|int, all_comments=1, all_workflow=all_workflow|int) }}"
                           class="btn btn-sm {% if all_comments %}btn-primary{% else %}btn-default{% endif %}">
                            Show comments from all years
                       </a>
                    </div>
                    {% for comment in comments %}
                        {% if comment.is_visible(current_user) %}
                            {% set owner_name = comment.format_name %}
                            {% set approvals_team_only = comment.visibility == comment.VISIBILITY_APPROVALS_TEAM %}
                            <div class="panel panel-default" style="margin-top: 15px;">
                                <div class="panel-heading">
                                    <i class="fa fa-comment-o"></i> {{ owner_name|safe }}
                                    at {{ comment.creation_timestamp.strftime("%Y-%m-%d %H:%M:%S") }}
                                </div>
                                <div class="panel-body">
                                    {% if comment.deleted %}
                                        {% if comment.last_edit_timestamp %}
                                            <span class="text-muted"><em>{{ owner_name|safe }} deleted their comment at {{ comment.last_edit_timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</em></span>
                                        {% else %}
                                            <span class="text-muted"><em>{{ owner_name|safe }} deleted their comment</em></span>
                                        {% endif %}
                                    {% else %}
                                        <p>
                                            {% if approvals_team_only %}
                                                <span class="text-muted">Visible only to approvals team</span>
                                            {% endif %}
                                        </p>
                                        {{ comment.comment|dealingwithdollars|markdown|bclean|blinkify|safe }}
                                    {% endif %}
                                </div>
                                {% if not comment.deleted and (comment.last_edit_timestamp or current_user.id == comment.owner_id or (is_approver and approvals_team_only)) %}
                                    <div class="panel-footer">
                                        <div class="row vertical-align">
                                            {% if comment.last_edit_timestamp and current_user.id == comment.owner_id %}
                                                <div class="col-xs-7">
                                                    Last edited at {{ comment.last_edit_timestamp.strftime("%Y-%m-%d %H:%M:%S") }}
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="pull-right">
                                                        {% if is_approver and approvals_team_only %}
                                                            <a href="{{ url_for('project_approver.publish_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Publish</a>
                                                        {% endif %}
                                                        <a href="{{ url_for('project_approver.edit_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Edit</a>
                                                        <a href="{{ url_for('project_approver.delete_comment', id=comment.id) }}" class="btn btn-sm btn-danger btn-table-block">Delete</a>
                                                    </div>
                                                </div>
                                            {% elif comment.last_edit_timestamp and (is_approver and approvals_team_only) %}
                                                <div class="col-xs-7">
                                                    Last edited at {{ comment.last_edit_timestamp.strftime("%Y-%m-%d %H:%M:%S") }}
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="pull-right">
                                                        <a href="{{ url_for('project_approver.publish_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Publish</a>
                                                    </div>
                                                </div>
                                            {% elif comment.last_edit_timestamp %}
                                                <div class="col-xs-12">
                                                    Last edited at {{ comment.last_edit_timestamp.strftime("%Y-%m-%d %H:%M:%S") }}
                                                </div>
                                            {% elif current_user.id == comment.owner_id %}
                                                <div class="col-xs-12">
                                                    <div class="pull-right">
                                                        {% if is_approver and approvals_team_only %}
                                                            <a href="{{ url_for('project_approver.publish_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Publish</a>
                                                        {% endif %}
                                                        <a href="{{ url_for('project_approver.edit_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Edit</a>
                                                        <a href="{{ url_for('project_approver.delete_comment', id=comment.id) }}" class="btn btn-sm btn-danger btn-table-block">Delete</a>
                                                    </div>
                                                </div>
                                            {% elif is_approver and approvals_team_only %}
                                                <div class="col-xs-12">
                                                    <div class="pull-right">
                                                        <a href="{{ url_for('project_approver.publish_comment', id=comment.id) }}" class="btn btn-sm btn-default btn-table-block">Publish</a>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="col-xs-12">
                                                    <span class="label label-danger">Unknown comment configuration</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="well" style="margin-top: 15px;">
                        {{ wtf.form_field(form.comment) }}
                        {% if is_approver %}
                            {{ wtf.form_field(form.limit_visibility) }}
                        {% endif %}
                        <div class="row vertical-align">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    {% if desc and current_user.has_role('admin') or current_user.has_role('root') %}
                                        <a href="{{ url_for('project_approver.clean_comments', id=desc.id) }}" class="btn btn-warning">Remove deleted comments</a>
                                    {% endif %}
                                    {{ wtf.form_field(form.post_comment, button_map={'post_comment': 'primary'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if text and url %}
                    <a href="{{ url }}">
                        <i class="fa fa-backward"></i> Return to {{ text }}
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-2"></div>
        </div>
        {% if form %}
            </form>
        {% endif %}
    </div>
    <nav class="navbar {% if real_user %}navbar-inverse{% else %}navbar-default{% endif %} navbar-fixed-bottom" role="navigation">
        <div class="navbar-header footer-bar">
            <div class="container">
                <span class="copyright navbar-text text-muted small">Revision {{ website_revision }} | Copyright (c) {{ website_copyright_dates }} University of Sussex</span>
                {% if real_user %}
                    <span class="navbar-text small" style="float: right;">You
                        are viewing as <i class="fa fa-user"></i>
                        {{ current_user.name }} | <a href="{{ url_for('auth.logout') }}" {% if current_user.theme == current_user.THEME_FLAT or current_user.theme == current_user.THEME_DARK %}style="color: antiquewhite;"{% endif %}>Return to my normal role</a></span>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
