{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit preferred degree programmes for project <strong>{{ data.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="card m-3">
        <div class="card-body">
            {% if data and data.programmes and programmes %}
                <h4>
                {% for programme in programmes %}
                    {% if programme in data.programmes %}
                        <a class="btn btn-success selection-label" href="{{ url_for('convenor.remove_programme', id=data.id, pclass_id=pclass_id, prog_id=programme.id) }}"><i class="fa fa-times"></i> {{ programme.full_name }}</a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No programmes currently attached</p>
            {% endif %}
        </div>
        <div class="card-footer">
            {% if data and programmes %}
                {% for proj_class in data.project_classes %}
                    {% set ns = namespace(output = false) %}
                    <p><strong>{{ proj_class.name }}</strong></p>
                    <h4>
                    {% for programme in programmes %}
                        {% if (programme in proj_class.programmes) and (programme not in data.programmes) %}
                            <a class="btn btn-secondary selection-label" href="{{ url_for('convenor.add_programme', id=data.id, pclass_id=pclass_id, prog_id=programme.id) }}"><i class="fa fa-plus"></i> {{ programme.full_name }}</a>
                            {% set ns.output = true %}
                        {% endif %}
                    {% endfor %}
                    </h4>
                    {% if not ns.output %}
                        <p>No available programmes</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No available programmes</p>
            {% endif %}
        </div>
    </div>

    {% if create %}
        <a href="{{ url_for('convenor.attached', id=pclass_id) }}" class="btn btn-primary">
            Finish and exit
        </a>
        <a href="{{ url_for('faculty.project_preview', id=data.id, text='attached projects list', url=url_for('convenor.attached', id=pclass_id)) }}" class="btn btn-secondary">
            Finish and preview
        </a>
    {% else %}
        <a href="{{ url_for('convenor.attached', id=pclass_id) }}">
            <i class="fa fa-backward"></i> Return to convenor dashboard
        </a>
    {% endif %}
{% endblock %}
