{% from "labels.html" import simple_label %}
{% from "macros.html" import truncate, render_formatted_student, render_formatted_project %}

{% macro bookmark_projects(sel, list, nav_text, nav_url) %}
    <div class="container-fluid">
        <div class="row vertical-top bookmark-table">
            <div class="col-1"><strong>Rank</strong></div>
            <div class="col-5"><strong>Project title</strong></div>
            <div class="col-4"><strong>Supervisor</strong></div>
            <div class="col-2"></div>
        </div>
        <div class="list-group" id="project-bookmarks">
            {% for item in list %}
                {% set project = item.liveproject %}
                {% set config = project.config %}
                <div id="P-{{ project.id }}" class="row vertical-top final-selection-table">
                    <div class="col-1">
                        {% if not sel.retired %}<i class="fas fa-bars drag-handle"></i>{% endif %}
                        <span id="ranking" class="text-primary">#<strong>{{ item.rank }}</strong></span>
                    </div>
                    <div class="col-5">
                        <a class="text-decoration-none" href="{{ url_for('faculty.live_project', pid=project.id, text=nav_text, url=nav_url) }}">
                            {{ render_formatted_project(item) }}
                        </a>
                        {% if project.is_available(sel) %}
                            <div class="text-success small"><i class="fas fa-check-circle"></i> Available to this student
                            </div>
                        {% else %}
                            <div class="text-danger small"><i class="fas fa-times-circle"></i> Not available to this student
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        {% if project.generic %}
                            <div class="text-primary">Generic</div>
                        {% else %}
                            {% if project.owner is not none %}
                                <div><a class="text-decoration-none link-primary"
                                        href="mailto:{{ project.owner.user.email }}">
                                    {{ project.owner.user.name }}
                                </a></div>
                            {% else %}
                                <div class="text-danger"><i class="fas fa-exclamation-triangle"></i> Project
                                    owner missing
                                </div>
                            {% endif %}
                        {% endif %}
                        {% set ns = namespace(affiliation=false) %}
                        {% if config.advertise_research_group and project.group %}
                            {{ simple_label(project.group.make_label()) }}
                            {% set ns.affiliation = true %}
                        {% endif %}
                        {% for tag in project.forced_group_tags %}
                            {{ simple_label(tag.make_label(truncate(tag.name))) }}
                            {% set ns.affiliation = true %}
                        {% endfor %}
                        {% if config.advertise_research_group and not ns.affiliation %}
                            <div class="text-danger small"><i class="fas fa-ban"></i> No affiliations</div>
                        {% endif %}
                    </div>
                   <div class="col-2">
                       <div class="float-end">
                           <a href="{{ url_for('convenor.delete_student_bookmark', sid=sel.id, bid=item.id) }}"
                              class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
                       </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro bookmark_students(proj, list) %}
    <div class="container-fluid">
        <div class="row vertical-align bookmark-table">
            <div class="col-3"><strong>Student</strong></div>
            <div class="col-1"><strong>Rank</strong></div>
            <div class="col-3"><strong>Choices submitted</strong></div>
            <div class="col-3"><strong>In submission</strong></div>
            <div class="col-2"></div>
        </div>
        <div class="list-group" id="student-bookmarks">
            {% for item in list %} {# item is a Bookmark instance #}
                {% set sel = item.owner %} {# sel is a SelectingStudent instance #}
                <div class="row vertical-top bookmark-table">
                    <div class="col-3">
                        {{ render_formatted_student(item) }}
                        {% if item.owner.convert_to_submitter %}
                            <div class="text-success small"><i class="fas fa-check-circle"></i> Convert to submitter
                            </div>
                        {% else %}
                            <div class="text-danger small"><i class="fas fa-times-circle"></i> No convert to submitter
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-1">
                        <span class="text-success">#<strong>{{ item.rank }}</strong></span>
                    </div>
                    <div class="col-3">
                        {% if sel.has_submitted %}
                            <div class="text-success small"><i class="fas fa-check-circle"></i> Submitted</div>
                        {% else %}
                            <div class="text-secondary small"><i class="fas fa-times-circle"></i> Not submitted</div>
                        {% endif %}
                        {% if proj.is_available(item.owner) %}
                            <div class="text-success small"><i class="fas fa-check-circle"></i> Available to this student
                            </div>
                        {% else %}
                            <div class="text-danger small"><i class="fas fa-times-circle"></i> Not available to this student
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if sel.has_submitted %}
                            {% if sel.is_project_submitted(item.liveproject) %}
                                <div class="text-success small"><i class="fas fa-check-circle"></i> In submission</div>
                            {% else %}
                                <div class="text-secondary small"><i class="fas fa-check-circle"></i> Not in submission
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-danger small"><i class="fas fa-ban"></i> Not submitted</div>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        <div class="float-end">
                            <a href="{{ url_for('convenor.delete_student_bookmark', sid=sel.id, bid=item.id) }}"
                               class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro selecting_students(proj, list, show_hint=false, show_delete=false) %}
    <div class="container-fluid">
        <div class="row vertical-align bookmark-table">
            <div {% if show_hint %}class="col-4"{% else %}class="col-5"{% endif %}><strong>Student</strong></div>
            <div {% if show_hint %}class="col-3"{% else %}class="col-2"{% endif %}><strong>Rank</strong></div>
            <div class="col-3"><strong>Timestamp and IP</strong></div>
            <div class="col-2"></div>
        </div>
        <div class="list-group" id="student-selections">
            {% for item in list %} {# item is a SelectionRecord instance #}
                {% set sel = item.owner %} {# sel is a SelectingStudent instance #}
                {% set can_delete = sel.number_selections > sel.number_choices %}
                <div class="row vertical-top bookmark-table">
                    <div {% if show_hint %}class="col-4"{% else %}class="col-5"{% endif %}>
                        {{ render_formatted_student(item) }}
                        {% if item.owner.convert_to_submitter %}
                            <div class="text-success small"><i class="fas fa-check-circle"></i> Convert to submitter
                            </div>
                        {% else %}
                            <div class="text-danger small"><i class="fas fa-times-circle"></i> No convert to submitter
                            </div>
                        {% endif %}
                    </div>
                    <div {% if show_hint %}class="col-3"{% else %}class="col-2"{% endif %}>
                        <div class="text-success">#<strong>{{ item.rank }}</strong></div>
                        {% if item.converted_from_bookmark %}
                            <div class="text-warning small"><i class="fas fa-exclamation-circle"></i> From
                                bookmark
                            </div>
                        {% endif %}
                        {% if show_hint %}
                            <div class="rank-hint-button">
                                <button class="btn btn-xs {% if item.has_hint %}btn-danger{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Hint
                                </button>
                                <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end small">
                                    {% set menu_items = item.menu_order %}
                                    {% for mi in menu_items %}
                                        {% if mi is string %}
                                            <div role="separator" class="dropdown-divider"></div>
                                            <div class="dropdown-header">{{ mi }}</div>
                                        {% elif mi is number %}
                                            {% set disabled = (mi == item.hint) %}
                                            <a class="dropdown-item d-flex gap-2 small {% if disabled %}disabled{% endif %}"
                                               {% if not disabled %}href="{{ url_for('convenor.set_hint', id=item.id, hint=mi) }}"{% endif %}>
                                                {{ item.menu_item(mi)|safe }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <div class="text-secondary small"><i
                                class="fas fa-calendar"></i> {{ item.owner.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}
                        </div>
                        <div class="text-secondary small">{{ item.owner.submission_IP }}</div>
                    </div>
                    <div class="col-2">
                        {% if show_delete %}
                            <div class="d-flex flex-row justify-content-end align-content-start gap-2">
                                <a {% if can_delete %}href="{{ url_for('convenor.delete_student_choice', sid=sel.id, cid=item.id) }}"{% endif %}
                                   class="btn btn-sm btn-outline-danger {% if not can_delete %}disabled{% endif %}"><i
                                        class="fas fa-trash"></i> Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro ranked_selection(sel, list, nav_text, nav_url, show_hint=false, show_delete=false) %}
    {% set can_delete = sel.number_selections > sel.number_choices %}
    <div class="container-fluid">
        <div class="row vertical-align final-selection-table">
            <div {% if show_hint %}class="col-2"{% else %}class="col-1"{% endif %}><strong>Rank</strong></div>
            <div {% if show_hint %}class="col-4"{% else %}class="col-5"{% endif %}><strong>Project title</strong></div>
            <div class="col-4"><strong>Supervisor</strong></div>
            <div class="col-2"></div>
        </div>
        <div class="list-group" id="project-selections">
            {% for item in list %}
                {% set project = item.liveproject %}
                {% set config = project.config %}
                <div id="P-{{ project.id }}" class="row vertical-top final-selection-table">
                    <div {% if show_hint %}class="col-2"{% else %}class="col-1"{% endif %}>
                        {% if not sel.retired %}<i class="fas fa-bars drag-handle"></i>{% endif %}
                        <div id="ranking" class="text-success rank-hint-button">#<strong>{{ item.rank }}</strong></div>
                        {% if show_hint %}
                            <div class="rank-hint-button">
                                <button class="btn btn-xs {% if item.has_hint %}btn-danger{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Hint
                                </button>
                                <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end small">
                                    {% set menu_items = item.menu_order %}
                                    {% for mi in menu_items %}
                                        {% if mi is string %}
                                            <div role="separator" class="dropdown-divider"></div>
                                            <div class="dropdown-header">{{ mi }}</div>
                                        {% elif mi is number %}
                                            {% set disabled = (mi == item.hint) %}
                                            <a class="dropdown-item d-flex gap-2 small {% if disabled %}disabled{% endif %}"
                                               {% if not disabled %}href="{{ url_for('convenor.set_hint', id=item.id, hint=mi) }}"{% endif %}>
                                                {{ item.menu_item(mi)|safe }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div {% if show_hint %}class="col-4"{% else %}class="col-5"{% endif %}>
                        <a class="text-decoration-none" href="{{ url_for('faculty.live_project', pid=project.id, text=nav_text, url=nav_url) }}">
                            {{ render_formatted_project(item, show_hint=show_hint) }}
                        </a>
                        {% if item.converted_from_bookmark %}
                            <div class="text-secondary rank-hint-button"><i class="fas fa-exclamation-circle"></i>
                                Bookmark
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        {% if project.generic %}
                            <div class="text-primary">Generic</div>
                        {% else %}
                            {% if project.owner is not none %}
                                <div><a class="text-decoration-none link-primary"
                                        href="mailto:{{ project.owner.user.email }}">
                                    {{ project.owner.user.name }}
                                </a></div>
                            {% else %}
                                <div class="text-danger"><i class="fas fa-exclamation-triangle"></i> Project
                                    owner missing
                                </div>
                            {% endif %}
                        {% endif %}
                        {% set ns = namespace(affiliation=false) %}
                        {% if config.advertise_research_group and project.group %}
                            {{ simple_label(project.group.make_label()) }}
                            {% set ns.affiliation = true %}
                        {% endif %}
                        {% for tag in project.forced_group_tags %}
                            {{ simple_label(tag.make_label(truncate(tag.name))) }}
                            {% set ns.affiliation = true %}
                        {% endfor %}
                        {% if config.advertise_research_group and not ns.affiliation %}
                            <div class="text-danger small"><i class="fas fa-ban"></i> No affiliations</div>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {% if show_delete %}
                            <div class="d-flex flex-row justify-content-end align-content-start gap-2">
                                <a {% if can_delete %}href="{{ url_for('convenor.delete_student_choice', sid=sel.id, cid=item.id) }}"{% endif %} class="btn btn-sm btn-outline-danger {% if not can_delete %}disabled{% endif %}"><i class="fas fa-trash"></i> Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
