{% macro bookmark_projects(sel, list) %}
    <div class="container-fluid">
        <div class="row vertical-align bookmark-table">
            <div class="col-xs-1"><strong>Rank</strong></div>
            <div class="col-xs-5"><strong>Project title</strong></div>
            <div class="col-xs-3"><strong>Research group</strong></div>
            <div class="col-xs-3"><strong>Supervisor</strong></div>
        </div>
        {% for item in list %}
            {% set project = item.liveproject %}
            <div class="row vertical-align final-selection-table">
                <div class="col-xs-1">
                    <span class="label label-primary">#{{ item.rank }}</span>
                </div>
                <div class="col-xs-5">
                    <a href="{{ url_for('faculty.live_project', pid=project.id) }}">
                        <strong>{{ project.name }}</strong>
                    </a>
                </div>
                <div class="col-xs-3">
                    {{ project.group.make_label(project.group.name)|safe }}
                </div>
                <div class="col-xs-3">
                    <a href="mailto:{{ project.owner.email }}">
                        {{ project.owner.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro bookmark_students(proj, list) %}
    <div class="container-fluid">
        <div class="row vertical-align bookmark-table">
            <div class="col-xs-5"><strong>Student</strong></div>
            <div class="col-xs-1"><strong>Rank</strong></div>
            <div class="col-xs-3"><strong>Choices submitted</strong></div>
            <div class="col-xs-3"><strong>In submission</strong></div>
        </div>

        {% for item in list %}
            <div class="row vertical-align bookmark-table">
                <div class="col-xs-5">
                    {{ item.owner.student.user.name }}
                </div>
                <div class="col-xs-1">
                    <span class="label label-success">#{{ item.rank }}</span>
                </div>
                <div class="col-xs-3">
                    {% if item.owner.has_submitted %}
                        <span class="label label-success">Yes</span>
                    {% else %}
                        <span class="label label-default">No</span>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    {% if item.owner.has_submitted %}
                        {% if item.owner.is_project_submitted(item) %}
                            <span class="label label-success">Yes</span>
                        {% else %}
                            <span class="label label-default">No</span>
                        {% endif %}
                    {% else %}
                        <span class="label label-default">n/a</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro selecting_students(proj, list) %}
    <div class="container-fluid">
        <div class="row vertical-align bookmark-table">
            <div class="col-xs-5"><strong>Student</strong></div>
            <div class="col-xs-1"><strong>Rank</strong></div>
            <div class="col-xs-3"><strong>Timestamp</strong></div>
            <div class="col-xs-3"><strong>IP address</strong></div>
        </div>

        {% for item in list %}
            <div class="row vertical-align bookmark-table">
                <div class="col-xs-5">
                    {{ item.owner.student.user.name }}
                </div>
                <div class="col-xs-1">
                    <span class="label label-success">#{{ item.rank }}</span>
                </div>
                <div class="col-xs-3">
                    {{ item.owner.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}
                </div>
                <div class="col-xs-3">
                    {{ item.owner.submission_IP }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro ranked_selection(sel, list) %}
    <div class="container-fluid">
        <div class="row vertical-align final-selection-table">
            <div class="col-xs-1"><strong>Rank</strong></div>
            <div class="col-xs-5"><strong>Project title</strong></div>
            <div class="col-xs-3"><strong>Research group</strong></div>
            <div class="col-xs-3"><strong>Supervisor</strong></div>
        </div>
        {% for item in list %}
            {% if item.rank <= sel.number_choices %}
                {% set project = item.liveproject %}
                <div class="row vertical-align final-selection-table">
                    <div class="col-xs-1">
                        <span class="label label-success">#{{ item.rank }}</span>
                    </div>
                    <div class="col-xs-5">
                        <a href="{{ url_for('faculty.live_project', pid=project.id) }}">
                            <strong>{{ project.name }}</strong>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        {{ project.group.make_label(project.group.name)|safe }}
                    </div>
                    <div class="col-xs-3">
                        <a href="mailto:{{ project.owner.email }}">
                            {{ project.owner.name }}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
