{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% from "datatables.html" import import_datatables, bootstrap_spinner %}

{% block scripts %}
    {{ super() }}
    {{ import_datatables() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#unattached-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftipr',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                serverSide: true, processing: true,
                language: {{ bootstrap_spinner() }},
                ajax: { 'url': $SCRIPT_ROOT + '/convenor/unofferable_ajax',
                         type: 'POST',
                         data: function (args) { return { "args": JSON.stringify(args) }; }},
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name',
                      searchable: true,
                      orderable: true },
                    { data: 'owner',
                      searchable: true,
                      orderable: true },
                    { data: 'status',
                      searchable: false,
                      orderable: false },
                    { data: 'meeting',
                      searchable: false,
                      orderable: false },
                    { data: 'group',
                      searchable: false,
                      orderable: false },
                    { data: 'prefer',
                      searchable: false,
                      orderable: false },
                    { data: 'skills',
                      searchable: false,
                      orderable: false },
                    { data: 'menu',
                      searchable: false,
                      orderable: false}
                ],
                order: [[0, 'asc']]
            });
        });
    </script>
{% endblock %}

{% block title %}
    Unattached projects
{% endblock %}

{% block bodyblock %}
    <div class="card mt-3 mb-3 border-warning">
        <div class="card-header bg-warning text-dark">Unofferable projects</div>
        <div class="card-body">
            <table id="unattached-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="15%"> Name</th>
                    <th width="12%"> Owner</th>
                    <th width="8%"> Status</th>
                    <th width="8%"> Meeting required?</th>
                    <th width="8%"> Affiliation</th>
                    <th width="15%"> Prefer degree programmes</th>
                    <th width="20%"> Transferable skills</th>
                    <th width="14%"> Actions</th>
                </tr>
                </thead>
            </table>
            <div style="text-align: center;">
                <a href="{{ url_for('convenor.add_project', pclass_id=0) }}" class="btn btn-secondary btn-lg">
                    <i class="fas fa-plus"></i>
                    Add new project
                </a>
            </div>
        </div>
    </div>
{% endblock %}
