{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "chosen.html" import import_chosen %}

{% block scripts %}
    {{ super() }}
    {{ import_chosen() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#group').chosen();
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if skill %}
        <form action="{{ url_for('admin.edit_skill', id=skill.id) }}" method="POST" name="skill_form">
    {% else %}
        <form action="{{ url_for('admin.add_skill') }}" method="POST" name="skill_form">
    {% endif %}

        {{ skill_form.hidden_tag() }}

{#        {{ wtf.form_errors(skill_form) }}#}

        {{ wtf.render_field(skill_form.name) }}
        {{ wtf.render_field(skill_form.group) }}

        {{ wtf.render_field(skill_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(skill) }}
    {{ super() }}
{% endblock %}
