{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block scripts %}
    {{ super() }}

    {% assets filters="cssutils", output="gen/component-chosen.min.css", "css/component-chosen.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/chosen.jquery.min.js", "js/chosen.jquery.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#group').chosen();
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if skill %}
        <form action="{{ url_for('admin.edit_skill', id=skill.id) }}" method="POST" name="skill_form">
    {% else %}
        <form action="{{ url_for('admin.add_skill') }}" method="POST" name="skill_form">
    {% endif %}

        {{ skill_form.hidden_tag() }}

{#        {{ wtf.form_errors(skill_form) }}#}

        {{ wtf.render_field(skill_form.name) }}
        {{ wtf.render_field(skill_form.group) }}

        {{ wtf.render_field(skill_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(skill) }}
{% endblock %}
