{% extends "admin/users_dashboard/nav.html" %}

{% block title %}
    Batch create students
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary panel-primary-bg">
                <div class="panel-heading">
                    Upload student list for batch user creation
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('admin.batch_create_users') }}" method="POST" enctype="multipart/form-data" name="batch_create_form">
                        {{ form.hidden_tag() }}

                        <label class="btn btn-default" for="file-selector">
                            <input id="file-selector" type="file" name="batch_list" style="display: none;"
                                   onchange="$('#filename-data').html(this.files[0].name)">
                            Select file...
                        </label>
                        <span class="label label-info" id="filename-data"></span>

                        <hr class="intro-divider">
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
