.git
.gitignore
.idea
.scannerwork
.vscode
.DS_Store
__pycache__
assets
AWS
backups
database\ copies
instance
logs
mongodb
MPS-Project.sqlite
mysql
nginx
profiling
thirdparty
venv
worker-output
sonar-project.properties
