admin_passwords.pwd
arxiv_analysis_venv/
arxiv_pdf_cache/
arxiv_control_results.xlsx
docker-compose.yml
/instance
/nginx
/app/static/gen
/app/static/.webassets-cache
/Deployments/legacy/kubenetes/k8s-manifests/secrets
/latin1-fix-statements.sql
