{%- macro format_feedback(label, fb) %}
    <div class="mt2">
        <div class="p1 bg-light-yellow pt12">
            <strong>Feedback from {{ label }}</strong>
        </div>
        <div class="mt1">
            {% if 'positive' in fb %}
                <div class="text-medium pt12">What was done well in the project?</div>
                <div class="pt11 justify">{{ fb['positive']|markdown|safe }}</div>
            {% endif %}
            {% if 'improvements' in fb %}
                <div class="text-medium pt12">Things to consider for next time</div>
                <div class="pt11 justify">{{ fb['improvements']|markdown|safe }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro -%}
<!DOCTYPE html>
<html>
<style>
    @page {
        size: A4;
        margin: 2cm;
    }

    .justify {
        text-align: justify;
    }

    .pt11 {
        font-size: 11pt;
    }

    .pt12 {
        font-size: 12pt;
    }

    .pt13 {
        font-size: 13pt;
    }

    .pt16 {
        font-size: 16pt;
    }

    .text-semibold {
        font-weight: bold;
    }

    .text-medium {
        font-weight: bold;
    }

    .centre {
        text-align: center;
    }

    .img-100px {
        width: 100px;
        max-width: 100%;
    }

    .bg-light-green {
        background-color: #b8d5b9;
    }

    .bg-light-blue {
        background-color: #bcd0ef;
    }

    .bg-light-yellow {
        background-color: #f1e4b9;
    }

    .pt1 {
        padding-top: 1ex;
    }

    .pt2 {
        padding-top: 2ex;
    }

    .pt3 {
        padding-top: 3ex;
    }

    .pb1 {
        padding-bottom: 1ex;
    }

    .pb2 {
        padding-bottom: 2ex;
    }

    .pb3 {
        padding-bottom: 3ex;
    }

    .p1 {
        padding-top: 1ex;
        padding-bottom: 1ex;
    }

    .p2 {
        padding-top: 2ex;
        padding-bottom: 2ex;
    }

    .p3 {
        padding-top: 3ex;
        padding-bottom: 3ex;
    }

    .mt1 {
        margin-top: 1ex;
    }

    .mt2 {
        margin-top: 2ex;
    }

    .mt3 {
        margin-top: 3ex;
    }

    .mb1 {
        margin-bottom: 1ex;
    }

    .mb2 {
        margin-bottom: 2ex;
    }

    .mb3 {
        margin-bottom: 3ex;
    }

    .m1 {
        margin-top: 1ex;
        margin-bottom: 1ex;
    }

    .m2 {
        margin-top: 2ex;
        margin-bottom: 2ex;
    }

    .m3 {
        margin-top: 3ex;
        margin-bottom: 3ex;
    }
</style>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ pclass_name }} feedback for {{ student_fullname }}</title>
</head>
<body>
<div class="container">
    <div class="mb3">
        <div class="centre"><img class="img-100px" src="{{ UoS_logo }}"/></div>
    </div>
    <div class="m3">
        <div class="pt16 centre">{{ pclass_name }} feedback</div>
    </div>
    <div class="m2">
        <div class="p1 pt11"><strong>Student:</strong> {{ student_fullname }}</div>
    </div>
    {% if supervisor_feedback|length > 0 %}
        <div class="mt3">
            {% if supervisor_feedback|length > 1 %}
                <div class="pt13 p2 text-semibold bg-light-blue centre">Supervision team</div>
                <div class="mt1 pt11">Combined supervision
                    grade: {{ supervisor_grade|round(precision=0) }}%
                </div>
            {% else %}
                <div class="pt13 p2 text-semibold bg-light-blue centre">Supervision</div>
                <div class="mt1 pt11">Supervision grade: {{ supervisor_grade|round(precision=0) }}%</div>
            {% endif %}
        </div>
        {% for name, fb in supervisor_feedback.items() %}
            {{ format_feedback(name, fb) }}
        {% endfor %}
    {% endif %}
    {% if marker_feedback|length > 0 %}
        <div class="mt-3">
            <div class="pt13 p2 m2 text-semibold bg-light-blue centre">Examiners reports</div>
            <div class="mt1 pt11">Combined examiners grade: {{ report_grade|round(precision=0) }}%</div>
        </div>
        {% for number, fb in marker_feedback.items() %}
            {{ format_feedback('Examiner #' + number|string, fb) }}
        {% endfor %}
    {% endif %}
</div>
</body>
</html>
