{% extends "base_app.html" %}

{% if pclass_filter is none %}{% set pclass_filter = 'all' %}{% endif %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/r-2.2.1/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/r-2.2.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#compare_match').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { 'url': $SCRIPT_ROOT + '/admin/do_match_compare_ajax/{{ record1.id }}/{{ record2.id }}?pclass_filter={{ pclass_filter }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'student',
                      render: {
                        _: 'display',
                        sort: 'sortvalue'
                      } },
                    { data: 'cohort' },
                    { data: 'record1' },
                    { data: 'record2' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Compare matches
{% endblock %}

{% block bodyblock %}
    {% if text and url %}
        <div class="top-return-link">
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="panel panel-primary panel-primary-bg">
        <div class="panel-heading">Compare matches <strong>{{ record1.name }}</strong> and <strong>{{ record2.name }}</strong></div>
        <div class="panel-body">
            <div class="well">
                <p>Filter by project class</p>
                <a class="btn btn-sm filter-btn {% if pclass_filter is none or pclass_filter == 'all' %}btn-primary{% else %}btn-default{% endif %}"
                    href="{{ url_for('admin.do_match_compare', id1=record1.id, id2=record2.id, pclass_filter='all', text=text, url=url) }}">
                    All
                </a>
                {% for pclass in pclasses %}
                    <a class="btn btn-sm filter-btn {% if pclass_filter == pclass.id|string %}btn-primary{% else %}btn-default{% endif %}"
                        href="{{ url_for('admin.do_match_compare', id1=record1.id, id2=record2.id, pclass_filter=pclass.id, text=text, url=url) }}">
                        {{ pclass.name }}
                    </a>
                {% endfor %}
            </div>
            <table id="compare_match" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="10%"> Student</th>
                        <th width="15%"> Cohort</th>
                        <th width="30%"> {{ record1.name }}</th>
                        <th width="30%"> {{ record2.name }}</th>
                        <th width="15%"> Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    {% if text and url %}
        <div>
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}
{% endblock %}
