{% extends "admin/match_inspector/nav.html" %}

{% if pclass_filter is none %}{% set pclass_filter = 'all' %}{% endif %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.css""/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#match_student').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { 'url': $SCRIPT_ROOT + '/admin/match_student_view_ajax/{{ record.id }}?pclass_filter={{ pclass_filter }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'student',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                    } },
                    { data: 'pclass' },
                    { data: 'cohort' },
                    { data: 'project' },
                    { data: 'marker' },
                    { data: 'rank',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                    } },
                    { data: 'scores',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                    } }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Match inspector: Student view
{% endblock %}

{% block bodyblock %}
    {% if text and url %}
        <div class="top-return-link">
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="card m-3 bg-primary text-white bg-primary text-white-bg">
        <div class="card-header">Student view of project matching <strong>{{ record.name }}</strong></div>
        <div class="card-body">
            <div class="card m-3 card-body">
                <p>Filter by project class</p>
                <a class="btn btn-sm filter-btn {% if pclass_filter is none or pclass_filter == 'all' %}btn-primary{% else %}btn-secondary{% endif %}"
                    href="{{ url_for('admin.match_student_view', id=record.id, pclass_filter='all', text=text, url=url) }}">
                    All
                </a>
                {% for pclass in pclasses %}
                    <a class="btn btn-sm filter-btn {% if pclass_filter == pclass.id|string %}btn-primary{% else %}btn-secondary{% endif %}"
                        href="{{ url_for('admin.match_student_view', id=record.id, pclass_filter=pclass.id, text=text, url=url) }}">
                        {{ pclass.name }}
                    </a>
                {% endfor %}
            </div>
            <table id="match_student" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="15%"> Student</th>
                        <th width="15%"> Project class</th>
                        <th width="15%"> Cohort</th>
                        <th width="23%"> Project</th>
                        <th width="17%"> 2nd marker</th>
                        <th width="7%"> Rank</th>
                        <th width="8%"> Score</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    {% if text and url %}
        <div>
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}
{% endblock %}
