{% macro availability_card(faculty) %}
    <div class="panel panel-danger">
        <div class="panel-heading"><strong>Please supply your availability for presentation assessments</strong></div>
        <div class="panel-body">
            <p>Please confirm your availability for the following assessment events</p>
            <div class="row vertical-top event-table">
                <div class="col-xs-4"><strong>Event</strong></div>
                <div class="col-xs-4"><strong>Organizer</strong></div>
                <div class="col-xs-3"><strong>Deadline</strong></div>
                <div class="col-xs-1"></div>
            </div>
            {% for assessment in faculty.outstanding_availability_requests %}
                <div class="row vertical-align event-table">
                    <div class="col-xs-4">
                        <a href="{{ url_for('faculty.set_availability', id=assessment.id, url=home_dashboard_url, text='Return to dashboard') }}">{{ assessment.name }}</a>
                    </div>
                    <div class="col-xs-4">
                        <a href="mailto:{{ assessment.created_by.email }}">{{ assessment.created_by.name }}</a>
                    </div>
                    <div class="col-xs-3">
                        {% if assessment.availability_deadline is not none %}
                            {{ assessment.availability_deadline.strftime("%a %d %b %Y") }}
                            &ndash; {{ assessment.time_to_availability_deadline }} from now
                        {% endif %}
                    </div>
                    <div class="col-xs-1">
                        <div class="pull-right">
                            <a class="btn btn-sm btn-primary" href="{{ url_for('faculty.set_availability', id=assessment.id, url=home_dashboard_url, text='Return to dashboard') }}">Respond</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
