{% extends "base_app.html" %}

{% from "faculty/dashboard/pclass_card.html" import pclass_card with context %}
{% from "faculty/dashboard/availability_card.html" import availability_card %}
{% from "admin/root_dashboard/dashboard_card.html" import root_dashboard_card %}
{% from "macros.html" import message_card %}

{% block title %}
    Faculty dashboard
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

            {% if messages %}
                {% for message in messages %}
                    {{ message_card(message, enrolled_classes) }}
                {% endfor %}
            {% endif %}

            {% if current_user.faculty_data.has_outstanding_availability_requests %}
                {{ availability_card(current_user.faculty_data) }}
            {% endif %}

            {% if current_user.has_role('root') %}
                {{ root_dashboard_card(root_dash_data) }}
            {% endif %}

            {% if enrollments and enrollments|length > 0 %}

                {% for config, live_projects in enrollments %}
                    {{ pclass_card(config, live_projects) }}
                {% endfor %}

            {% else %}

                <div style="text-align: center;">
                    <h3> You have no active project enrollments </h3>
                    <p>
                        Project classes for which you are enrolled, but are not active because of
                        sabbatical, buy-out or exemption, are not shown
                    </p>
                    <p>
                        <a href="{{ url_for('admin.faculty_settings') }}">View my settings</a>
                    </p>
                <hr class="intro-divider">
                </div>

            {% endif %}

        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}
