{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ formtitle|safe }}
{% endblock %}

{% block form_content %}
    <form action="{{ submit_url }}" method="POST" name="feedback_form">
        {{ form.hidden_tag() }}

        {% if dont_show_warnings is not defined %}
            {% if period is defined and period is not none and period.closed %}
                <div class="alert alert-danger">
                    The convenor has closed this submission period. You are still able to enter and edit feedback,
                    but once submitted it will not be possible to make further edits, or to unsubmit.
                </div>
            {% endif %}
            {% if assessment is defined and assessment is not none and not assessment.is_feedback_open %}
                <div class="alert alert-danger">
                    An administrative user has closed feedback for this assessment event. You are still able to
                    enter and edit feedback, but once submitted it will not be possible to make further
                    edits, or to unsubmit.
                </div>
            {% endif %}
        {% endif %}

        {% if form.assessor %}
            <div class="well">
                {{ wtf.form_field(form.assessor) }}
            </div>
        {% endif %}

        <div class="well">
            {{ wtf.form_field(form.positive) }}
        </div>
        <div class="well">
            {{ wtf.form_field(form.negative) }}
        </div>

        {{ wtf.form_field(form.save_feedback) }}
    </form>
{% endblock %}
