{% from "faculty/macros.html" import project_metadata %}

{% from "faculty/dashboard/selector_card.html" import selector_card %}
{% from "faculty/dashboard/submitter_card.html" import submitter_card %}

{% macro pclass_card(config, live_projects) %}

    {% set pclass = config.project_class %}
    {% set sel_state = config.selector_lifecycle %}
    {% set sub_state = config.submitter_lifecycle %}

    <div class="well">
        <div class="row vertical-align">
            <div class="col-xs-12">
                <span class="dashboard-project-title">{{ pclass.name }} {{ config.year }}&ndash;{{ config.year+1 }}</span>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-xs-6">
                <span>Convenor:
                <a class="btn btn-link" href="mailto:{{ pclass.convenor_email }}">
                    {{ pclass.convenor_name }}
                </a></span>
            </div>
            <div class="col-xs-6">
                {% if sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                    <div class="pull-right">
                        <span class="label label-success">Student selection open for {{ config.year+1 }}&ndash;{{ config.year+2 }}</span>
                        {% if config.live_deadline %}
                            <span class="label label-success">Selection closes <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong></span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pull-right">
                        <span class="label label-default">Student selection closed</span>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if pclass.coconvenors.first() %}
            <div class="row vertical-align">
                <div class="col-xs-12">
                    <span>Co-convenors:</span>
                    {% for fac in pclass.coconvenors %}
                        <span><a class="btn btn-link" href="mailto:{{ fac.user.email }}">
                            {{ fac.user.name }}
                        </a></span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {{ selector_card(config, sel_state, live_projects, current_user) }}

        {% for n in range(config.submissions) %}
            {{ submitter_card(config, sub_state, n, current_user) }}
        {% endfor %}
    </div>

{% endmacro %}
