{% from "faculty/macros.html" import project_metadata %}

{% macro pclass_card(config, live_projects) %}

    {% set pclass = config.project_class %}
    <div class="well">
        <div class="row vertical-align">
            <div class="col-xs-12">
                <span class="dashboard-project-title">{{ pclass.name }} {{ config.year }}&ndash;{{ config.year+1 }}</span>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-xs-6">
                <span>Convenor:
                <a class="btn btn-link" href="mailto:{{ pclass.convenor_email }}">
                    {{ pclass.convenor_name }}
                </a></span>
            </div>
            <div class="col-xs-6">
                {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                    <div class="pull-right">
                        <span class="label label-success">Selection open for {{ config.year+1 }}&ndash;{{ config.year+2 }}</span>
                        {% if config.live_deadline %}
                            <span class="label label-success">Selection closes <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong></span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pull-right">
                        <span class="label label-default">Selection closed</span>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if pclass.coconvenors.first() %}
            <div class="row vertical-align">
                <div class="col-xs-12">
                    <span>Co-convenors:</span>
                    {% for fac in pclass.coconvenors %}
                        <span><a class="btn btn-link" href="mailto:{{ fac.user.email }}">
                            {{ fac.user.name }}
                        </a></span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% set nproj = current_user.faculty_data.projects_offered(pclass) %}
        {% if nproj == 1 %}
            {% set nproj_plural = '' %}
        {% else %}
            {% set nproj_plural = 's' %}
        {% endif %}
        <div class="panel
            {% if nproj == 0 %}
                panel-danger
            {% elif config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                panel-success
            {% elif config.selector_lifecycle >= config.SELECTOR_LIFECYCLE_READY_MATCHING %} {# implies closed #}
                panel-primary
            {% elif config.selector_lifecycle == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and current_user.faculty_data in config.golive_required %}
                panel-warning
            {% else %}
                panel-info
            {% endif %}
            ">

            <div class="panel-heading"><strong>Status</strong></div>

            <div class="panel-body">

                {# show confirmation request if one is active #}
                {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and current_user.faculty_data in config.golive_required %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Confirmation of project descriptions</strong></div>
                        <div class="panel-body">
                            <p>Please review your projects to ensure the descriptions are up-to-date,
                            and those you wish to offer next year are active and attached to
                            the correct project classes.</p>
                            {% if config.request_deadline %}
                                <p>The project convenor has set a deadline of
                                    <strong>{{ config.request_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
                                    <strong>{{ config.time_to_request_deadline }}</strong> from now.
                                </p>
                                <p>After the deadline, projects will be finalized and
                                    made avaliable to the students for selection.
                                </p>
                            {% endif %}
                            <a href="{{ url_for('faculty.confirm_pclass', id=pclass.id) }}" class="btn btn-danger">Confirm</a>
                        </div>
                    </div>
                {% endif %}

                {# show basic details about this project #}
                <div class="row vertical-align">
                    <div class="col-xs-9">
                        {% if nproj == 0 %}
                        <div class="has-error">
                        <div class="help-block">
                        <strong>
                        {% endif %}
                        {{ nproj }} active project{{ nproj_plural }} attached to this project class.
                        {% if nproj == 0 %}
                        </strong>
                        </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-3">
                        <span class="pull-right">
                            <a href="{{ url_for('faculty.edit_projects') }}" class="btn {% if nproj==0 %}btn-danger{% else %}btn-default{% endif %}">Edit my projects</a>
                        </span>
                    </div>
                </div>

                {# show details about projects on the live system #}
                {% set number_live_projects = live_projects.count() %}
                {% if number_live_projects == 1 %}
                    {% set number_live_plural = '' %}
                {% else %}
                    {% set number_live_plural = 's' %}
                {% endif %}
                {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN and live_projects.first() %}
                    <hr class="intro-divider">
                    <p>You have <strong>{{ number_live_projects }}</strong> project{{ number_live_plural }}
                        on the live system for students making selections for {{ config.year+1 }}&ndash;{{ config.year+2 }}.</p>
                    <div class="container-fluid">
                        <div class="row fac-project-table">
                            <div class="col-xs-3"><strong>Name</strong></div>
                            <div class="col-xs-3"><strong>Info</strong></div>
                            <div class="col-xs-3"><strong>Requests</strong></div>
                            <div class="col-xs-3"><strong>Confirmed</strong></div>
                        </div>
                        {% for project in live_projects %}
                            <div class="row fac-project-table">
                                <div class="col-xs-3">
                                    <a href="{{ url_for('faculty.live_project', pid=project.id) }}">
                                        {{ project.name }}
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    {{ project_metadata(project) }}
                                </div>
                                <div class="col-xs-3">
                                    {% for student in project.confirm_waiting %}
                                        <a href="{{ url_for('faculty.confirm', sid=student.id, pid=project.id) }}">
                                            <span class="label label-success"><i class="fa fa-plus"></i> {{ student.user.name }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="col-xs-3">
                                    {% for student in project.confirmed_students %}
                                        <a href="{{ url_for('faculty.deconfirm', sid=student.id, pid=project.id) }}">
                                            <span class="label label-warning"><i class="fa fa-times"></i> {{ student.user.name }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endmacro %}