{% from "faculty/macros.html" import project_metadata, project_rank_data, project_selection_data %}
{% from "icon_block.html" import icon_block %}

{% macro selector_card(data, sel_state, current_user, home_dashboard_url) %}
    {% set config = data['config'] %}
    {% set record = data['record'] %}
    {% set live_projects = data['projects'] %}

    {% set pclass = config.project_class %}
    {% set is_sabbatical = record.supervisor_state == record.SUPERVISOR_SABBATICAL %}
    {% set is_exempt = record.supervisor_state == record.SUPERVISOR_EXEMPT %}

    {% set confirm_required = config.is_confirmation_required(current_user.faculty_data) %}

    {% set offered_variants = current_user.faculty_data.variants_offered(pclass) %}
{#    {% set variants_missing_aims = current_user.faculty_data.variants_offered(pclass, filter_warnings='aims') %}#}
    {% set nproj = offered_variants|length %}
    {% if nproj == 1 %}
        {% set nproj_plural = '' %}
    {% else %}
        {% set nproj_plural = 's' %}
    {% endif %}
    <div class="card mt-3 mb-3 {% if nproj == 0 or (sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and confirm_required) %}border-danger{% endif %}">
        <div class="card-header
            {% if is_sabbatical or is_exempt %}
                {# no markup required; formerly panel-default #}
            {% else %}
                {% if nproj == 0 %}
                    bg-danger text-white
                {% elif sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                    bg-success text-white
                {% elif sel_state >= config.SELECTOR_LIFECYCLE_READY_MATCHING %} {# implies closed #}
                    {# no markup required; formerly panel-default #}
                {% elif sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and confirm_required %}
                    bg-danger text-white
                {% else %}
                    bg-info text-white
                {% endif %}
            {% endif %}
        ">
            {% if is_sabbatical %}
                Student selections: on sabbatical
            {% elif is_exempt %}
                Student selections: exempt
            {% else %}
                <strong>
                    {% if sel_state == config.SELECTOR_LIFECYCLE_CONFIRMATIONS_NOT_ISSUED %}
                        Selections: Waiting to begin lifecycle for this year
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
                        {% if confirm_required %}
                            Selections: Confirmation of projects required
                        {% else %}
                            Selections: Project confirmations underway &mdash; thanks for your response
                        {% endif %}
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
                        Selections: Status
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                        Student selections are open
                    {% elif sel_state >= config.SELECTOR_LIFECYCLE_READY_MATCHING %}
                        Student selections are now closed
                    {% endif %}
                </strong>
            {% endif %}
        </div>

        <div class="card-body">
            {# show confirmation request if one is active #}
            {% if sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and confirm_required %}
                <p>
                    <strong>
                        Please review your projects to ensure their descriptions are up-to-date,
                        and those you wish to offer next year are listed below.
                    </strong>
                </p>
                <div class="row vertical-bottom">
                    <div class="col-9">
                        {% if config.request_deadline %}
                            <div class="mt-1 text-secondary">
                                The project convenor has set a deadline of
                                <strong>{{ config.request_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
                                <strong>{{ config.time_to_request_deadline }}</strong> from now.
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <div class="float-right">
                            <a href="{{ url_for('faculty.confirm_pclass', id=pclass.id) }}" class="btn btn-success">Confirm all projects</a>
                        </div>
                    </div>
                </div>
                <hr class="intro-divider">
            {% endif %}

            {# show basic details about this project class #}
            <div class="row vertical-bottom">
                <div class="col-9">
                    {% if nproj == 0 and not (is_sabbatical or is_exempt) %}
                        <div class="error-block">
                            <div class="error-message">
                                <strong>
                    {% endif %}
                    <div>{{ nproj }} active project{{ nproj_plural }} attached to this project class.</div>
                    {% if nproj == 0 and not (is_sabbatical or is_exempt) %}
                                </strong>
                            </div>
                        </div>
                    {% endif %}
                    {% if nproj > 0 and sel_state <= config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
                        <div class="mt-1 mb-2 text-muted">
                            Projects appearing here will be included when the project list is
                            published.
                            To remove a project, use the Actions menu and select
                            &ldquo;Don't offer this project&rdquo;.
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <span class="float-right">
                        <a href="{{ url_for('faculty.edit_projects') }}" class="btn btn-sm {% if nproj==0 %}btn-danger{% else %}btn-outline-secondary{% endif %} mb-3">Go to project library</a>
                    </span>
                </div>
            </div>
{#            {% if sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and variants_missing_aims and variants_missing_aims|length > 0 %}#}
{#                {% set num_missing_aims = variants_missing_aims|length %}#}
{#                {% set pl = '' if num_missing_aims == 1 else 's' %}#}
{#                {% set dodoes = 'does' if num_missing_aims == 1 else 'do' %}#}
{#                {% set thisthese = 'this' if num_missing_aims == 1 else 'these' %}#}
{#                {% set isare = 'is' if num_missing_aims == 1 else 'are' %}#}
{#                <div class="alert alert-danger mt-2 mb-4">#}
{#                    {% call icon_block("info-circle") %}#}
{#                        <div>#}
{#                            <strong>#}
{#                                We are trying to improve the metadata for projects in our database.#}
{#                                According to our records, {{ num_missing_aims }} project{{ pl }}#}
{#                                that you offer {{ dodoes }} not have a statement of aims.#}
{#                            </strong>#}
{#                        </div>#}
{#                        <div class="mt-2">#}
{#                            We know that everyone is very busy.#}
{#                            However, if you have time and are able,#}
{#                            we would like to ask you to supply a short statement of aims for {{ thisthese }}#}
{#                            project{{ pl }}. The aims you specify will be provided to project markers to help them#}
{#                            assess students' progress.#}
{#                        </div>#}
{#                        <div class="mt-2">#}
{#                            To add a statement use the warning messages in the list below to identify#}
{#                            which project{{ pl }} {{ isare }} missing data, and select the#}
{#                            &ldquo;Fix this...&rdquo; link.#}
{#                        </div>#}
{#                        {% if not confirm_required %}#}
{#                            <div class="mt-2">#}
{#                                You can still add a statement even if you have confirmed your project,#}
{#                                because the database does not go live until it is published to students#}
{#                                at the end of the confirmation period.#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="mt-2">#}
{#                                If you are not able to provide a statement of aims this year,#}
{#                                you can ignore the warning and confirm the project.#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endcall %}#}
{#                </div>#}
{#            {% endif %}#}
            {% if nproj > 0 and sel_state < config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                {% for desc in offered_variants %}
                    {% set project = desc.parent %}
                    {% set available = project.is_offerable %}
                    <div class="row vertical-top fac-project-table">
                        <div class="col-1">
                            <strong>{{ loop.index }}</strong>
                        </div>
                        <div class="col-8">
                            <a href="{{ url_for('faculty.project_preview', id=project.id, url=url_for('faculty.dashboard', id=pclass.id), text='dashboard', pclass=pclass.id) }}">{{ project.name }}</a>
                            <div>
                                {% if project.meeting_reqd == project.MEETING_REQUIRED %}
                                    <span class="badge badge-danger">Meeting required</span>
                                {% elif project.meeting_reqd == project.MEETING_OPTIONAL %}
                                    <span class="badge badge-warning">Meeting optional</span>
                                {% elif project.meeting_reqd == project.MEETING_NONE %}
                                    <span class="badge badge-success">Meeting not required</span>
                                {% endif %}
                                {% if project.group  %}
                                    {{ project.group.make_label()|safe }}
                                {% else %}
                                    <span class="badge badge-warning">Missing research group</span>
                                {% endif %}
                                {% set num_assessors = project.number_assessors(pclass) %}
                                {% if num_assessors > 0 %}
                                    <span class="badge badge-info" data-toggle="tooltip" data-html="true" title="{% for assessor in project.get_assessor_list(pclass) %}<div>{{ assessor.user.name }}</div>{% endfor %}">{{ num_assessors }} assessors</span>
                                {% else %}
                                    <span class="badge badge-danger">No assessors assigned</span>
                                {% endif %}
                            </div>
                            {% if not available %}
                                <div class="error-block mt-1">
                                    <div class="error-message">
                                        {% call icon_block("exclamation-circle") %}
                                            This project has validation errors that will prevent it from being published.
                                            <a href="{{ url_for('faculty.edit_projects') }}">Edit in library...</a>
                                        {% endcall %}
                                    </div>>
                                </div>
{#                            {% elif desc.has_warning('aims') %}#}
{#                                <div class="error-block mt-1">#}
{#                                    <div class="error-message">#}
{#                                        {% call icon_block("exclamation-circle") %}#}
{#                                            This project variant does not have a statement of aims.#}
{#                                            Please consider adding a statement#}
{#                                            to help support robust marking.#}
{#                                            <a href="{{ url_for('faculty.edit_description', did=desc.id, text='home dashboard', url=home_dashboard_url, focus_aims=1) }}">Fix this...</a>#}
{#                                        {% endcall %}#}
{#                                    </div>#}
{#                                </div>#}
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <div class="float-right">
                                <div class="btn-group btn-table-block">
                                    {% if desc %}
                                        {% if sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and config.project_class.require_confirm %}
                                            {% if desc.confirmed %}
                                                <a class="btn btn-sm btn-success disabled">Confirmed</a>
                                            {% else %}
                                                <a href="{{ url_for('faculty.confirm_description', did=desc.id, pclass_id=pclass.id) }}" class="btn btn-sm btn-outline-success">Confirm</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{ url_for('faculty.remove_project_pclass', proj_id=project.id, pclass_id=pclass.id) }}"><i class="fas fa-times fa-fw"></i> Don't offer this project</a>
                                        <div class="dropdown-divider" role="separator"></div>
                                        <a class="dropdown-item" href="{{ url_for('faculty.edit_project', id=project.id, text='home dashboard', url=home_dashboard_url) }}"><i class="fas fa-sliders-h fa-fw"></i> Project settings...</a>
                                        <a class="dropdown-item" href="{{ url_for('faculty.edit_description', did=desc.id, text='home dashboard', url=home_dashboard_url) }}"><i class="fas fa-sliders-h fa-fw"></i> Variant settings...</a>
                                        <a class="dropdown-item" href="{{ url_for('faculty.edit_description_content', did=desc.id, text='home dashboard', url=home_dashboard_url) }}"><i class="fas fa-pencil-alt fa-fw"></i> Edit content...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {# show details about projects on the live system #}
            {% set number_live_projects = live_projects.count() %}
            {% if number_live_projects == 1 %}
                {% set number_live_plural = '' %}
            {% else %}
                {% set number_live_plural = 's' %}
            {% endif %}
            {% if sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN and live_projects.first() %}
                <hr class="intro-divider">
                <p>You have <strong>{{ number_live_projects }}</strong> project{{ number_live_plural }}
                    on the live system for students making selections for {{ config.year+1 }}&ndash;{{ config.year+2 }}.</p>
                <div class="container-fluid">
                    <div class="row fac-project-table">
                        <div class="col-3"><strong>Name</strong></div>
                        <div class="col-3"><strong>Info</strong></div>
                        <div class="col-3"><strong>Meeting requests</strong></div>
                        <div class="col-3"><strong>Meetings confirmed</strong></div>
                    </div>
                    {% for project in live_projects %}
                        <div class="row fac-project-table">
                            <div class="col-3">
                                <a href="{{ url_for('faculty.live_project', pid=project.id, text='home dashboard', url=home_dashboard_url) }}">
                                    {{ project.name }}
                                </a>
                                <div>
                                    {{ project_metadata(project) }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    {{ project_selection_data(project) }}
                                </div>
                                <div style="margin-top: 6px;">
                                    {{ project_rank_data(project, url_for('faculty.dashboard', pane=config.id), text='home dashboard', live=true) }}
                                </div>
                            </div>
                            <div class="col-3 faculty-confirm-area">
                                {% for req in project.requests_waiting %}
                                    {% set sel = req.owner %}
                                    {# TODO: understand why 'display: inline-block;' in .faculty-confirm-button is not respected #}
                                    {#  for some reason, we need the explicit stlye attribute #}
                                    <div class="dropdown faculty-confirm-button" style="display: inline-block;">
                                        {% set has_recommended = sel.satisfies_recommended(project) %}
                                        <a class="badge {% if has_recommended %}badge-primary{% else %}badge-warning{% endif %} dropdown-toggle" data-toggle="dropdown" role="button" href="" aria-haspopup="true" aria-expanded="false">{{ sel.student.user.name }} {% if not has_recommended %}<i class="fas fa-exclamation-triangle" style="color:red;"></i> {% endif %}</a>
                                        {% if req.viewed is not none and not req.viewed %}
                                            <span class="badge badge-info">NEW</span>
                                        {% endif %}
                                        <div class="dropdown-menu">
                                            {% if not has_recommended %}
                                                <a class="dropdown-item disabled">Programme does not include recommended modules</a>
                                                <div role="separator" class="dropdown-divider"></div>
                                            {% endif %}
                                            {% if sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                                                <a class="dropdown-item" href="{{ url_for('faculty.confirm', sid=sel.id, pid=project.id) }}">
                                                    <i class="fas fa-check fa-fw"></i> Confirm
                                                </a>
                                                <a class="dropdown-item" href="{{ url_for('faculty.cancel_confirm', sid=sel.id, pid=project.id) }}">
                                                    <i class="fas fa-trash fa-fw"></i> Delete
                                                </a>
                                            {% else %}
                                                <a class=""dropdown-item disabled">
                                                    <i class="fas fa-check fa-fw"></i> Confirm
                                                </a>
                                                <a class=""dropdown-item disabled">
                                                    <i class="fas fa-trash fa-fw"></i> Delete
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-3 faculty-confirm-area">
                                {% for req in project.requests_confirmed %}
                                    {% set sel = req.owner %}
                                    {# TODO: understand why 'display: inline-block;' in .faculty-confirm-button is not respected #}
                                    {#  for some reason, we need the explicit stlye attribute #}
                                    <div class="dropdown faculty-confirm-button" style="display: inline-block;">
                                        <a class="badge badge-success dropdown-toggle" data-toggle="dropdown" role="button" href="" aria-haspopup="true" aria-expanded="false">
                                            {{ sel.student.user.name }}
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('faculty.deconfirm_to_pending', sid=sel.id, pid=project.id) }}">
                                                <i class="fas fa-clock fa-fw"></i> Make pending
                                            </a>
                                            <a class="dropdown-item" href="{{ url_for('faculty.deconfirm', sid=sel.id, pid=project.id) }}">
                                                <i class="fas fa-trash fa-fw"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endmacro %}
