{% from "faculty/macros.html" import project_metadata %}

{% macro selector_card(data, sel_state, current_user) %}
    {% set config = data['config'] %}
    {% set record = data['record'] %}
    {% set live_projects = data['projects'] %}

    {% set pclass = config.project_class %}
    {% set is_sabbatical = record.supervisor_state == record.SUPERVISOR_SABBATICAL %}
    {% set is_exempt = record.supervisor_state == record.SUPERVISOR_EXEMPT %}

    {% set offered_projects = current_user.faculty_data.projects_offered(pclass) %}
    {% set nproj = offered_projects|length %}
    {% if nproj == 1 %}
        {% set nproj_plural = '' %}
    {% else %}
        {% set nproj_plural = 's' %}
    {% endif %}
    <div class="panel
        {% if is_sabbatical or is_exempt %}
            panel-default
        {% else %}
            {% if nproj == 0 %}
                panel-danger
            {% elif sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                panel-success
            {% elif sel_state >= config.SELECTOR_LIFECYCLE_READY_MATCHING %} {# implies closed #}
                panel-default
            {% elif sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and current_user.faculty_data in config.confirmation_required %}
                panel-warning
            {% else %}
                panel-info
            {% endif %}
        {% endif %}
        ">

        <div class="panel-heading">
            {% if is_sabbatical %}
                Student selections: on sabbatical
            {% elif is_exempt %}
                Student selections: exempt
            {% else %}
                <strong>
                    {% if sel_state == config.SELECTOR_LIFECYCLE_CONFIRMATIONS_NOT_ISSUED %}
                        Selections: Waiting to begin lifecycle for this year
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
                        {% if current_user.faculty_data in config.confirmation_required %}
                            Selections: Confirmation of projects required
                        {% else %}
                            Selections: Project confirmations underway &mdash; thanks for your response
                        {% endif %}
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
                        Selections: Status
                    {% elif sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                        Student selections are open
                    {% elif sel_state >= config.SELECTOR_LIFECYCLE_READY_MATCHING %}
                        Student selections are now closed
                    {% endif %}
                </strong>
            {% endif %}
        </div>

        <div class="panel-body">
            {# show confirmation request if one is active #}
            {% if sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS and current_user.faculty_data in config.confirmation_required %}
                <p>Please review your projects to ensure the descriptions are up-to-date,
                and those you wish to offer next year are active and attached to
                the correct project classes.</p>
                <div class="row vertical-bottom">
                    <div class="col-xs-9">
                        {% if config.request_deadline %}
                            <p>The project convenor has set a deadline of
                                <strong>{{ config.request_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
                                <strong>{{ config.time_to_request_deadline }}</strong> from now.
                            </p>
                            <p>After the deadline, projects will be finalized and
                                made available to students for selection.
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-xs-3">
                        <div class="pull-right">
                            <a href="{{ url_for('faculty.confirm_pclass', id=pclass.id) }}" class="btn btn-danger">Confirm</a>
                        </div>
                    </div>
                </div>
                <hr class="intro-divider">
            {% endif %}

            {# show basic details about this project class #}
            <div class="row vertical-align">
                <div class="col-xs-9">
                    {% if nproj == 0 and not (is_sabbatical or is_exempt) %}
                        <div class="has-error">
                            <div class="help-block">
                                <strong>
                    {% endif %}
                    <p>{{ nproj }} active project{{ nproj_plural }} attached to this project class.</p>
                    {% if nproj == 0 and not (is_sabbatical or is_exempt) %}
                                </strong>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    <span class="pull-right">
                        <a href="{{ url_for('faculty.edit_projects') }}" class="btn {% if nproj==0 %}btn-danger{% else %}btn-default{% endif %}">Edit my projects</a>
                    </span>
                </div>
            </div>
            {% if nproj > 0 %}
                <hr class="intro-divider">
                {% for project in offered_projects %}
                    <div class="row vertical-align fac-project-table">
                        <div class="col-xs-1">
                            <strong>{{ loop.index }}</strong>
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ url_for('faculty.project_preview', id=project.id, url=url_for('faculty.dashboard', id=pclass.id), text='dashboard', pclass=pclass.id) }}">{{ project.name }}</a>
                            <div>
                                {% if project.meeting_reqd == project.MEETING_REQUIRED %}
                                    <span class="label label-danger">Meeting required</span>
                                {% elif project.meeting_reqd == project.MEETING_OPTIONAL %}
                                    <span class="label label-warning">Meeting optional</span>
                                {% elif project.meeting_reqd == project.MEETING_NONE %}
                                    <span class="label label-success">Meeting not required</span>
                                {% endif %}
                                {% if project.group  %}
                                    {{ project.group.make_label()|safe }}
                                {% else %}
                                    <span class="label label-warning">Missing group</span>
                                {% endif %}
                                <span class="label label-info">{{ project.num_assessors(pclass) }} assessors</span>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="pull-right">
                                <a href="{{ url_for('faculty.remove_project_pclass', proj_id=project.id, pclass_id=pclass.id) }}" class="btn btn-sm btn-danger">Remove</a>
                                <a href="{{ url_for('faculty.edit_project', id=project.id) }}" class="btn btn-sm btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {# show details about projects on the live system #}
            {% set number_live_projects = live_projects.count() %}
            {% if number_live_projects == 1 %}
                {% set number_live_plural = '' %}
            {% else %}
                {% set number_live_plural = 's' %}
            {% endif %}
            {% if sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN and live_projects.first() %}
                <hr class="intro-divider">
                <p>You have <strong>{{ number_live_projects }}</strong> project{{ number_live_plural }}
                    on the live system for students making selections for {{ config.year+1 }}&ndash;{{ config.year+2 }}.</p>
                <div class="container-fluid">
                    <div class="row fac-project-table">
                        <div class="col-xs-3"><strong>Name</strong></div>
                        <div class="col-xs-3"><strong>Info</strong></div>
                        <div class="col-xs-3"><strong>Meeting requests</strong></div>
                        <div class="col-xs-3"><strong>Meetings confirmed</strong></div>
                    </div>
                    {% for project in live_projects %}
                        <div class="row fac-project-table">
                            <div class="col-xs-3">
                                <a href="{{ url_for('faculty.live_project', pid=project.id, text='home dashboard', url=home_dashboard_url) }}">
                                    {{ project.name }}
                                </a>
                            </div>
                            <div class="col-xs-3">
                                {{ project_metadata(project) }}
                            </div>
                            <div class="col-xs-3 faculty-confirm-area">
                                {% for req in project.requests_waiting %}
                                    {% set sel = req.owner %}
                                    {# TODO: understand why 'display: inline-block;' in .faculty-confirm-button is not respected #}
                                    {#  for some reason, we need the explicit stlye attribute #}
                                    <div class="dropdown faculty-confirm-button" style="display: inline-block;">
                                        {% set has_recommended = sel.satisfies_recommended(project) %}
                                        <a class="label {% if has_recommended %}label-success{% else %}label-warning{% endif %} dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            {{ sel.student.user.name }}
                                            {% if not has_recommended %}
                                                <i class="fa fa-exclamation-triangle" style="color:red;"></i>
                                            {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                                                <li>
                                                    <a href="{{ url_for('faculty.confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ url_for('faculty.cancel_confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-3 faculty-confirm-area">
                                {% for req in project.requests_confirmed %}
                                    {% set sel = req.owner %}
                                    {# TODO: understand why 'display: inline-block;' in .faculty-confirm-button is not respected #}
                                    {#  for some reason, we need the explicit stlye attribute #}
                                    <div class="dropdown faculty-confirm-button" style="display: inline-block;">
                                        <a class="label label-success dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            {{ sel.student.user.name }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ url_for('faculty.deconfirm_to_pending', sid=sel.id, pid=project.id) }}">
                                                    <i class="fa fa-clock-o"></i> Make pending
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('faculty.deconfirm', sid=sel.id, pid=project.id) }}">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endmacro %}
