{% from "faculty/dashboard/assignments/supervisor.html" import supervisor_assignments %}
{% from "faculty/dashboard/assignments/marker.html" import marker_assignments %}
{% from "faculty/dashboard/assignments/presentations.html" import presentation_assignments %}

{% macro submitter_card(config, sub_state, n, current_user, today) %}
    {% set period = config.get_period(n+1) %}
    {% if period %}
        <div class="panel
            {% if n+1 == config.submission_period %}
                {% if period.closed %}
                    panel-default
                {% elif period.feedback_open %}
                    panel-danger
                {% elif period.start_date and period.start_date > today %}
                    panel-default
                {% else %}
                    panel-success
                {% endif %}
            {% else %}
                panel-default
            {% endif %}
        ">
            <div class="panel-heading">
                {% if period.submission_period == config.submission_period %}
                    <strong>{{ period.display_name|safe }}</strong>
                {% else %}
                    {{ period.display_name|safe }}
                {% endif %}
            </div>
            <div class="panel-body">
                {% if period.closed %}
                    <p>Activity for this submission period is now closed.</p>
                {% else %}
                    {% if period.feedback_open %}
                        <div class="alert alert-warning">
                            Marking and feedback for this submission period is now underway.
                            Please enter feedback for each project you supervise or 2nd mark.
                        </div>
                        {% if period.feedback_deadline %}
                            <p>The project convenor has set a deadline of
                                <strong>{{ period.feedback_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
                                <strong>{{ period.time_to_feedback_deadline }}</strong> from now.
                            </p>
                        {% endif %}
                    {% else %}
                        {% if period.submission_period > config.submission_period %}
                            <p>Activity for this period has not yet commenced.</p>
                        {% elif period.submission_period == config.submission_period %}
                            {% if period.start_date and period.start_date > today %}
                                <p>This period will begin on {{ period.start_date.strftime("%a %d %b %Y") }}</p>
                            {% else %}
                                <p>Normal project activity is underway.</p>
                            {% endif %}
                        {% else %}
                            <span class="label label-danger">Error: Submission period lifecycle inconsistent</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr class="intro-divider">

                {# show supervisor assignments #}
                {% if config.uses_supervisor %}
                    <span class="dashboard-subtitle">Supervising</span>
                    {{ supervisor_assignments(period, current_user.faculty_data.id) }}
                {% endif %}

                {# show marker assignments #}
                {% if config.uses_marker %}
                    <span class="dashboard-subtitle">2nd marking</span>
                    {{ marker_assignments(period, current_user.faculty_data.id) }}
                {% endif %}

                {% if period.has_presentation %}
                    {{ presentation_assignments(period, current_user.faculty_data.id) }}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Submission period #{{ n+1 }}</strong></div>
            <div class="panel-body">
                <span class="label label-danger">Error: Could not read period record</span>
            </div>
        </div>
    {% endif %}
{% endmacro %}
