{% extends "base_app.html" %}

{% block scripts %}
    {{ super() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js", "AMSmath.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                displayMath: [ ['$$','$$'], ["\[","\]"] ],
                processEscapes: true
            },
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if text and url %}
                <div class="top-return-link">
                    <a href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}

            {% if record.period.collect_project_feedback %}
                {% if record.period.config.uses_supervisor %}
                    {% if record.supervisor_submitted or (record.supervisor_positive or record.supervisor_negative) and preview %}
                        <div class="card mt-3 mb-3">
                            <div class="card-header">
                                <div class="row vertical-align">
                                    <div class="col-6">
                                        Supervisor feedback
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            {% if record.supervisor_timestamp %}
                                                <span class="badge badge-secondary">Submitted at {{ record.supervisor_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                            {% endif %}
                                            {% if current_user.id == record.supervisor.id %}
                                                {% if (record.period.is_feedback_open and not record.period.closed) or (record.period.closed and not record.supervisor_submitted) %}
                                                    <a href="{{ url_for('faculty.supervisor_edit_feedback', id=record.id, url=url_for('faculty.view_feedback', id=record.id, url=url, text=text, preview=preview)) }}" class="btn btn-sm btn-table-block btn-secondary">Edit</a>
                                                    {% if not record.supervisor_submitted %}
                                                        <a href="{{ url_for('faculty.supervisor_submit_feedback', id=record.id) }}" class="btn btn-sm btn-table-block btn-success">Submit</a>
                                                    {% else %}
                                                        <a href="{{ url_for('faculty.supervisor_unsubmit_feedback', id=record.id) }}" class="btn btn-sm btn-table-block btn-secondary">Unsubmit</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <span class="dashboard-subtitle">Positive aspects</span>
                                {{ record.supervisor_positive|dealingwithdollars|markdown|bclean|blinkify|safe }}
                                <hr class="intro-divider">
                                <span class="dashboard-subtitle">Negative aspects</span>
                                {{ record.supervisor_negative|dealingwithdollars|markdown|bclean|blinkify|safe }}
                            </div>
                        </div>
                    {% else %}
                        <div class="card mt-3 mb-3 card-body bg-well">
                            Feedback has not yet been recorded from the project supervisor.
                        </div>
                    {% endif %}
                {% endif %}

                {% if record.uses_marker_feedback %}
                    {% if record.marker_submitted or (record.marker_positive or record.marker_negative) and preview %}
                        <div class="card mt-3 mb-3">
                            <div class="card-header">
                                <div class="row vertical-align">
                                    <div class="col-6">
                                        Marker feedback
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            {% if record.marker_timestamp %}
                                                <span class="badge badge-secondary">Submitted at {{ record.marker_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                            {% endif %}
                                            {% if current_user.id == record.marker_id %}
                                                {% if (record.period.is_feedback_open and not record.period.closed) or (record.period.closed and not record.marker_submitted) %}
                                                    <a href="{{ url_for('faculty.marker_edit_feedback', id=record.id, url=url_for('faculty.view_feedback', id=record.id, url=url, text=text, preview=preview)) }}" class="btn btn-sm btn-table-block btn-secondary">Edit</a>
                                                    {% if not record.marker_submitted %}
                                                        <a href="{{ url_for('faculty.marker_submit_feedback', id=record.id) }}" class="btn btn-sm btn-table-block btn-success">Submit</a>
                                                    {% else %}
                                                        <a href="{{ url_for('faculty.marker_unsubmit_feedback', id=record.id) }}" class="btn btn-sm btn-table-block btn-secondary">Unsubmit</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <span class="dashboard-subtitle">Positive aspects</span>
                                {{ record.marker_positive|dealingwithdollars|markdown|bclean|blinkify|safe }}
                                <hr class="intro-divider">
                                <span class="dashboard-subtitle">Negative aspects</span>
                                {{ record.marker_negative|dealingwithdollars|markdown|bclean|blinkify|safe }}
                            </div>
                        </div>
                    {% else %}
                        <div class="card mt-3 mb-3 card-body bg-well">
                            Feedback has not yet been recorded from the project marker.
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="card mt-3 mb-3">
                    <div class="card-header">Feedback collection was disabled for this submission period</div>
                    <div class="card-body">No feedback available.</div>
                </div>
            {% endif %}

            {% if record.uses_presentation_feedback %}
                {% set ns = namespace(count=0) %}
                {% set slot = record.schedule_slot %}
                {% for feedback in record.presentation_feedback %}
                    {% if feedback.submitted or (feedback.positive or feedback.negative) and preview %}
                        {% set ns.count = ns.count + 1 %}
                        <div class="card mt-3 mb-3">
                            <div class="card-header">
                                <div class="row vertical-align">
                                    <div class="col-7">
                                        Presentation feedback from <strong>{{ feedback.assessor.user.name }}</strong>
                                    </div>
                                    <div class="col-5">
                                        <div class="float-right">
                                            {% if feedback.timestamp %}
                                                <span class="badge badge-secondary">Submitted at {{ feedback.timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                            {% endif %}
                                            {% set valid = record.is_presentation_assessor_valid(feedback.assessor_id) %}
                                            {% set submitted = record.presentation_assessor_submitted(feedback.assessor_id) %}
                                            {% if slot.feedback_state(current_user.id) > slot.FEEDBACK_NOT_YET %}
                                                {% if slot.owner.owner.is_feedback_open or (not slot.owner.owner.is_feedback_open and not submitted) %}
                                                    {% if current_user.id == feedback.assessor_id %}
                                                        <a href="{{ url_for('faculty.presentation_edit_feedback', slot_id=slot.id, talk_id=record.id, url=url_for('faculty.view_feedback', id=record.id, url=url, text=text, preview=preview)) }}" class="btn btn-sm btn-table-block btn-secondary">Edit</a>
                                                        {% if not submitted %}
                                                            <a href="{{ url_for('faculty.presentation_submit_feedback', slot_id=slot.id, talk_id=record.id) }}" class="btn btn-sm btn-table-block btn-success">Submit</a>
                                                        {% else %}
                                                            <a href="{{ url_for('faculty.presentation_unsubmit_feedback', slot_id=slot.id, talk_id=record.id) }}" class="btn btn-sm btn-table-block btn-secondary">Unsubmit</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <span class="dashboard-subtitle">Positive aspects</span>
                                {{ feedback.positive|dealingwithdollars|markdown|bclean|blinkify|safe }}
                                <hr class="intro-divider">
                                <span class="dashboard-subtitle">Negative aspects</span>
                                {{ feedback.negative|dealingwithdollars|markdown|bclean|blinkify|safe }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if ns.count == 0 %}
                    <div class="card mt-3 mb-3 card-body bg-well">
                        Feedback has not yet been recorded from the assessed presentation.
                    </div>
                {% endif %}
            {% endif %}

            {% if record.student_feedback_submitted %}
                <div class="card mt-3 mb-3">
                    <div class="card-header bg-success text-white">
                        <div class="row vertical-align">
                            <div class="col-6">
                                Student feedback to supervisor
                            </div>
                            <div class="col-6">
                                <div class="float-right">
                                    {% if record.acknowledge_feedback %}
                                        <span class="badge badge-success">Acknowledged</span>
                                    {% endif %}
                                    <span class="badge badge-secondary">Submitted at {{ record.student_feedback_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                    {% if record.acknowledge_feedback and not record.faculty_response_submitted %}
                                        <a href="{{ url_for('faculty.edit_response', id=record.id, url=url_for('faculty.view_feedback', id=record.id, url=url, text=text, preview=preview)) }}" class="btn btn-sm btn-table-block btn-secondary">Edit</a>
                                        {% if record.is_response_valid %}
                                            <a href="{{ url_for('faculty.submit_response', id=record.id) }}" class="btn btn-sm btn-table-block btn-success">Submit</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                        </div>
                    </div>
                    <div class="card-body">
                        {{ record.student_feedback|dealingwithdollars|markdown|bclean|blinkify|safe }}
                    </div>
                    {% if not record.acknowledge_feedback %}
                        <div class="card-footer">
                            <a href="{{ url_for('faculty.supervisor_acknowledge_feedback', id=record.id) }}" class="btn btn-sm btn-primary">Acknowledge</a>
                        </div>
                    {% elif record.faculty_response_submitted or (record.faculty_response and preview) %}
                        <div class="card-footer">
                            {{ record.faculty_response|dealingwithdollars|markdown|bclean|blinkify|safe }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if text and url %}
                <div>
                    <a href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
