{% extends "security/index.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Edit attachment for {{ record.display_name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary panel-primary-bg">
                <div class="panel-heading">
                    Edit attachment <strong>{{ attachment.attachment.target_name if attachment.attachment.target_name else attachment.attachment.filename }}</strong>
                    for <strong>{{ record.display_name }}</strong>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('convenor.edit_period_attachment', aid=attachment.id, url=url, text=text) }}" method="POST" enctype="multipart/form-data" name="attachment_form">
                        {{ form.hidden_tag() }}

                        {{ wtf.form_field(form.description) }}
                        {{ wtf.form_field(form.license) }}
                        <hr class="intro-divider" role="separator">
                        {{ wtf.form_field(form.publish_to_students) }}
                        {{ wtf.form_field(form.include_marking_emails) }}
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
