{% extends "base_app.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Manage documents for {{ record.display_name }}
{% endblock %}

{% macro asset_line(asset, attachment, download_url=none, delete_url=none, edit_url=none,
                    acl_url=none, log_url=none, deletable=true) %}
    <tr>
        <td>
            <div>
                {% if asset.target_name %}
                    <strong>{{ asset.target_name }}</strong>
                {% else %}
                    <strong>{{ asset.filename }}</strong>
                {% endif %}
            </div>
            {% if attachment and attachment.description and attachment.description|length > 0 %}
                <div style="padding-top: 3px;">
                    {{ attachment.description }}
                </div>
            {% endif %}
        </td>
        <td>
            <div>
                {% if asset.timestamp %}
                    uploaded at {{ asset.timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                {% endif %}
                {% if asset.uploaded_by %}
                    <i class="fa fa-user"></i> {{ asset.uploaded_by.name }}
                {% endif %}
            </div>
            <div>
                {% if attachment.publish_to_students %}
                    <span class="label label-success"><i class="fa fa-check"></i> Publish to students</span>
                {% endif %}
                {% if attachment.include_marker_emails %}
                    <span class="label label-success"><i class="fa fa-check"></i> Include in notifications to marker</span>
                {% endif %}
                {% if attachment.include_supervisor_emails %}
                    <span class="label label-success"><i class="fa fa-check"></i> Include in notifications to supervisor</span>
                {% endif %}
            </div>
            <div>
                <span class="label label-default">Downloads: {{ asset.number_downloads }}</span>
            </div>
        </td>
        <td>
            {% if asset.license %}
                {{ asset.license.make_label()|safe }}
                <span class="label label-info">{{ asset.license.version }}</span>
            {% else %}
                <strong>Unset</strong>
            {% endif %}
        </td>
        <td>
            <div style="text-align: right;" class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-default btn-sm btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% set has_access = asset.has_access(current_user.id) %}
                        {# no need to check whether user is admin, because anyone accessing this view must be an admin user #}
                        {% if edit_url is not none %}
                            <li><a href="{{ edit_url }}"><i class="fa fa-pencil"></i> Edit</a></li>
                        {% else %}
                            <li class="disabled"><a><i class="fa fa-pencil"></i> Edit</a></li>
                        {% endif %}
                        {% if has_access and download_url is not none %}
                            <li><a href="{{ download_url }}"><i class="fa fa-cloud-download"></i> Download</a></li>
                        {% else %}
                            <li class="disabled"><a><i class="fa fa-cloud-download"></i> Download</a></li>
                        {% endif %}
                        {% if acl_url is not none %}
                            <li><a href="{{ acl_url }}"><i class="fa fa-check-square"></i> Access control...</a></li>
                        {% else %}
                            <li class="disabled"><a><i class="fa fa-check-square"></i> Access control...</a></li>
                        {% endif %}
                        {% if log_url is not none %}
                            <li><a href="{{ log_url }}"><i class="fa fa-address-book"></i> Download log...</a></li>
                        {% else %}
                            <li class="disabled"><a><i class="fa fa-address-book"></i> Download log...</a></li>
                        {% endif %}
                        {% if deletable and delete_url is not none %}
                            <li><a href="{{ delete_url }}"><i class="fa fa-trash"></i> Remove</a></li>
                        {% else %}
                            <li class="disabled"><a><i class="fa fa-trash"></i> Remove</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </td>
    </tr>
{% endmacro %}

{% block bodyblock %}
    {% if url and text %}
        <div class="top-return-link">
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="panel panel-primary panel-primary-bg">
        <div class="panel-heading">Manage documents for <strong>{{ record.display_name }}</strong></div>
        <div class="panel-body">
            <div class="well">
                {% if record.attachments.first() %}
                    <span class="document-group-title">Attachments</span>
                    <hr class="intro-divider">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attachment in record.attachments %}
                                {% set asset = attachment.attachment %}
                                {{ asset_line(asset, attachment,
                                              download_url=url_for('admin.download_period_asset', asset_id=asset.id),
                                              delete_url=url_for('convenor.delete_period_attachment', aid=attachment.id),
                                              edit_url=url_for('convenor.edit_period_attachment', aid=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              acl_url=url_for('documents.attachment_acl', attach_type=0, attach_id=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              log_url=url_for('documents.attachment_download_log', attach_type=0, attach_id=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              deletable=deletable) }}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No attachments.</strong>
                {% endif %}
                <hr class="into-divider">
                <div style="text-align: center;">
                    <a href="{{ url_for('convenor.upload_period_attachment', pid=record.id, url=url, text=text) }}" class="btn btn-default btn-lg">
                        <i class="fa fa-plus"></i>
                        Upload new attachment
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if url and text %}
        <a href="{{ url }}">
            <i class="fa fa-backward"></i> Return to {{ text }}
        </a>
    {% endif %}
{% endblock %}
