{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function sendAjax(ranking, period_id) {
            $.ajax({
               url: $SCRIPT_ROOT + "/convenor/update_period_attachments",
               type: "POST",
               data: JSON.stringify({ranking: ranking, period_id: period_id}),
               contentType: "application/json; charset=utf-8"
            });
        }

        Sortable.create(document.getElementById("period-attachments"), {
            handle: '.drag-handle',
            animation: 150,
            onSort: function(e) {
                const items = e.to.children;
                let result = [];
                for (let i=0; i < items.length; i++) {
                    // push id onto ranking list
                    result.push($(items[i]).attr("id"));

                    rspan = $(items[i]).find('#ranking');
                    rspan.html("#" + (i+1));
                }
                sendAjax(result, {{ record.id }});
            }
        })
    </script>
{% endblock %}

{% block title %}
    Manage documents for {{ record.display_name }}
{% endblock %}

{% macro asset_line(asset, attachment, download_url=none, delete_url=none, edit_url=none,
                    acl_url=none, log_url=none, deletable=true) %}
    <tr id="PA-{{ attachment.id }}">
        <td>
            <i class="fas fa-bars drag-handle"></i>
            <span id="ranking" class="badge bg-primary">#{{ attachment.rank_order }}</span>
        </td>
        <td>
            <div>
                {% if asset.target_name %}
                    <strong>{{ asset.target_name }}</strong>
                {% else %}
                    <strong>{{ asset.filename }}</strong>
                {% endif %}
            </div>
            {% if attachment and attachment.description and attachment.description|length > 0 %}
                <div style="padding-top: 3px;">
                    {{ attachment.description }}
                </div>
            {% endif %}
            <div>
                {% if attachment.publish_to_students %}
                    <span class="badge bg-info text-dark"><i class="fas fa-eye"></i> Publish</span>
                {% endif %}
                {% if attachment.include_marker_emails %}
                    <span class="badge bg-info text-dark"><i class="fas fa-envelope"></i> Marker</span>
                {% endif %}
                {% if attachment.include_supervisor_emails %}
                    <span class="badge bg-info text-dark"><i class="fas fa-envelope"></i> Supervisor</span>
                {% endif %}
            </div>
        </td>
        <td>
            <div>
                {% if asset.timestamp %}
                    uploaded at {{ asset.timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                {% endif %}
                {% if asset.uploaded_by %}
                    <i class="fas fa-user"></i> {{ asset.uploaded_by.name }}
                {% endif %}
            </div>
            <div>
                <span class="badge bg-secondary">Downloads: {{ asset.number_downloads }}</span>
            </div>
        </td>
        <td>
            {% if asset.license %}
                {{ asset.license.make_label()|safe }}
                <span class="badge bg-info text-dark">{{ asset.license.version }}</span>
            {% else %}
                <strong>Unset</strong>
            {% endif %}
        </td>
        <td>
            <div style="text-align: right;" class="float-end">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm full-width-button dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% set has_access = asset.has_access(current_user.id) %}
                        {# no need to check whether user is admin, because anyone accessing this view must be an admin user #}
                        {% if edit_url is not none %}
                            <a class="dropdown-item" href="{{ edit_url }}"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
                        {% else %}
                            <a class="dropdown-item disabled"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
                        {% endif %}
                        {% if has_access and download_url is not none %}
                            <a class="dropdown-item" href="{{ download_url }}"><i class="fas fa-cloud-download-alt fa-fw"></i> Download</a>
                        {% else %}
                            <a class="dropdown-item disabled"><i class="fas fa-cloud-download-alt fa-fw"></i> Download</a>
                        {% endif %}
                        {% if acl_url is not none %}
                            <a class="dropdown-item" href="{{ acl_url }}"><i class="fas fa-check-square fa-fw"></i> Access control...</a>
                        {% else %}
                            <a class="dropdown-item disabled"><i class="fas fa-check-square fa-fw"></i> Access control...</a>
                        {% endif %}
                        {% if log_url is not none %}
                            <a class="dropdown-item" href="{{ log_url }}"><i class="fas fa-address-book fa-fw"></i> Download log...</a>
                        {% else %}
                            <a class="dropdown-item disabled"><i class="fas fa-address-book fa-fw"></i> Download log...</a>
                        {% endif %}
                        {% if deletable and delete_url is not none %}
                            <a class="dropdown-item" href="{{ delete_url }}"><i class="fas fa-trash fa-fw"></i> Remove</a>
                        {% else %}
                            <a class="dropdown-item disabled"><i class="fas fa-trash fa-fw"></i> Remove</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endmacro %}

{% block bodyblock %}
    {% if url and text %}
        <div class="top-return-link">
            <a class="text-decoration-none" href="{{ url }}">
                <i class="fas fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Manage documents for <strong>{{ record.display_name }}</strong></div>
        <div class="card-body">
            <div class="card mt-3 mb-3 card-body bg-well">
                {% if record.has_attachments %}
                    <span class="document-group-title">Attachments</span>
                    <hr class="intro-divider">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="10%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody id="period-attachments">
                            {% for attachment in record.ordered_attachments %}
                                {% set asset = attachment.attachment %}
                                {{ asset_line(asset, attachment,
                                              download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                              delete_url=url_for('convenor.delete_period_attachment', aid=attachment.id),
                                              edit_url=url_for('convenor.edit_period_attachment', aid=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              acl_url=url_for('documents.attachment_acl', attach_type=0, attach_id=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              log_url=url_for('documents.attachment_download_log', attach_type=0, attach_id=attachment.id, url=url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text), text='submission period document manager'),
                                              deletable=deletable) }}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No attachments.</strong>
                {% endif %}
                <hr class="into-divider">
                <div style="text-align: center;">
                    <a href="{{ url_for('convenor.upload_period_attachment', pid=record.id, url=url, text=text) }}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-plus"></i>
                        Upload new attachment
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if url and text %}
        <a class="text-decoration-none" href="{{ url }}">
            <i class="fas fa-backward"></i> Return to {{ text }}
        </a>
    {% endif %}
{% endblock %}
