{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Upload new attachment for {{ record.display_name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-primary mt-3 mb-3">
                <div class="card-header bg-primary text-white">
                    Upload new attachment for <strong>{{ record.display_name }}</strong>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('convenor.upload_period_attachment', pid=record.id, url=url, text=text) }}" method="POST" enctype="multipart/form-data" name="attachment_form">
                        {{ form.hidden_tag() }}

                        <label class="btn btn-secondary" for="file-selector">
                            <input id="file-selector" type="file" name="attachment" style="display: none;"
                                   onchange="$('#filename-data').html(this.files[0].name)">
                            Select file...
                        </label>
                        <span class="badge bg-info text-dark" id="filename-data"></span>

                        <hr class="intro-divider" role="separator">
                        {{ wtf.render_field(form.description) }}
                        {{ wtf.render_field(form.license) }}
                        <hr class="intro-divider" role="separator">
                        {{ wtf.render_field(form.publish_to_students) }}
                        {{ wtf.render_field(form.include_marker_emails) }}
                        {{ wtf.render_field(form.include_supervisor_emails) }}
                        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.submission_period_documents', pid=record.id, url=url, text=text) }}">
                    <i class="fas fa-backward"></i> Return to document manager for {{ record.display_name }}
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
