{% extends "base_app.html" %}

{% from "convenor/macros.html" import selecting_students %}
{% from "icon_block.html" import icon_block %}

{% block title %}
    View selecting students for {{ project.name }}
{% endblock %}

{% block bodyblock %}
    {% set config = project.config %}
    {% set lifecycle = config.selector_lifecycle %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    Viewing selecting students for <strong>{{ project.name }}</strong>
                </div>
                <div class="card-body">
                    {% if lifecycle < config.SELECTOR_LIFECYCLE_READY_MATCHING %}
                        <div class="alert alert-info">
                            {% call icon_block("info-circle") %}
                                <div>Selection hinting will become available once student selections are closed.</div>
                            {% endcall %}
                        </div>
                    {% endif %}
                    {{ selecting_students(project, project.selections, show_hint=(lifecycle >= config.SELECTOR_LIFECYCLE_READY_MATCHING), show_delete=true) }}
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('convenor.liveprojects', id=config.pclass_id) }}">
                    <i class="fas fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
