{% extends "base_app.html" %}

{% from "ui_elements/confirm_requests.html" import confirmation_request_table %}

{% block title %}
    Student confirmations for {{ project.name }}
{% endblock %}

{% block bodyblock %}
    {% set config = project.config %}
    {% set lifecycle = config.selector_lifecycle %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-success mt-3 mb-3">
                <div class="card-header">
                    Student confirmations for <strong>{{ project.name }}</strong>
                </div>

                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row vertical-align mb-1">
                            <div class="col-5"><strong>Student</strong></div>
                            <div class="col-5"><strong>Timestamps</strong></div>
                            <div class="col-2"></div>
                        </div>
                        <hr class="intro-divider">
                        {{ confirmation_request_table(project.requests_confirmed, now, project_col=none, student_col="col-5", student_has_timestamps=false, timestamps_col="col-5", affiliation_col=none, owner_col=none, url=url_for('convenor.project_confirmations', id=project.id), text='project confirmation request list') }}
                        {% if project.number_confirmed > 0 and project.number_pending > 0%}<hr class="intro-divider">{% endif %}
                        {{ confirmation_request_table(project.requests_waiting, now, project_col=none, student_col="col-5", student_has_timestamps=false, timestamps_col="col-5", affiliation_col=none, owner_col=none, url=url_for('convenor.project_confirmations', id=project.id), text='project confirmation request list') }}
                    </div>
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('convenor.liveprojects', id=config.pclass_id) }}">
                    <i class="fas fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
