{% extends "base_app.html" %}

{% from "convenor/macros.html" import selecting_students %}

{% block title %}
    View selecting students for {{ project.name }}
{% endblock %}

{% block bodyblock %}
    {% set config = project.config %}
    {% set lifecycle = config.selector_lifecycle %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card m-3">
                <div class="card-header">
                    Viewing selecting students for <strong>{{ project.name }}</strong>
                </div>
                <div class="card-body">
                    {% if lifecycle < config.SELECTOR_LIFECYCLE_READY_MATCHING %}
                        <div class="alert alert-info">
                            Selection hinting will become available once student selections are closed.
                        </div>
                    {% endif %}
                    {{ selecting_students(project, project.selections, lifecycle >= config.SELECTOR_LIFECYCLE_READY_MATCHING) }}
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.liveprojects', id=config.pclass_id) }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
