{% extends "base_app.html" %}

{% from "convenor/macros.html" import bookmark_students %}

{% block title %}
    View bookmarking students for {{ project.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    Viewing bookmarking students for <strong>{{ project.name }}</strong>
                </div>
                <div class="card-body">
                    {{ bookmark_students(project, project.bookmarks) }}
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('convenor.liveprojects', id=project.config.pclass_id) }}">
                    <i class="fas fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
