{% extends "base_app.html" %}

{% from "convenor/macros.html" import selecting_students %}

{% block title %}
    View selecting students for {{ project.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Viewing selecting students for <strong>{{ project.name }}</strong>
                </div>
                <div class="panel-body">
                    {{ selecting_students(project, project.selections) }}
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.liveprojects', id=project.config.project_class.id) }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}
