{% extends "base_app.html" %}

{% from "macros.html" import truncate %}
{% from "ui_elements/confirm_requests.html" import confirmation_request_table %}

{% block title %}
    Project confirmations for {{ sel.student.user.name }}
{% endblock %}

{% block bodyblock %}
    {% set config = sel.config %}
    {% set lifecycle = config.selector_lifecycle %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-success mt-3 mb-3">
                <div class="card-header">
                    Project confirmations for <i class="fas fa-user-circle"></i>
                    <strong>{{ sel.student.user.name }}</strong>
                </div>

                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row vertical-top mb-1">
                            <div class="col-4"><strong>Project title</strong></div>
                            <div class="col-3"><strong>Research group</strong></div>
                            <div class="col-3"><strong>Project owner</strong></div>
                            <div class="col-2"></div>
                        </div>
                        <hr class="intro-divider">
                        {{ confirmation_request_table(sel.requests_confirmed, now, project_col="col-4", project_has_timestamps=true, student_col=none, timestamps_col=none, affiliation_col="col-3", owner_col="col-3", url=url_for('convenor.selector_confirmations', id=sel.id), text='selector confirmation request list') }}
                        {% if sel.number_confirmed > 0 and sel.number_pending > 0 %}<hr class="intro-divider">{% endif %}
                        {{ confirmation_request_table(sel.requests_waiting, now, project_col="col-4", project_has_timestamps=true, student_col=none, timestamps_col=none, affiliation_col="col-3", owner_col="col-3", url=url_for('convenor.selector_confirmations', id=sel.id), text='selector confirmation request list') }}
                    </div>
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('convenor.selectors', id=config.pclass_id) }}">
                    <i class="fas fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}