{% extends "base_app.html" %}

{% from "convenor/macros.html" import bookmark_projects %}

{% block scripts %}
    {{ super() }}
    {% if not sel.retired %}
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>

        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            function sendAjax(ranking, selid) {
                $.ajax({
                   url: $SCRIPT_ROOT + "/convenor/update_student_bookmarks",
                   type: "POST",
                   data: JSON.stringify({ranking: ranking, sid: selid}),
                   contentType: "application/json; charset=utf-8"
                });
            }

            Sortable.create(document.getElementById("project-bookmarks"), {
                handle: '.drag-handle',
                animation: 150,
                onSort: function(e) {
                    const items = e.to.children;
                    let result = [];
                    for (let i=0; i < items.length; i++) {
                        // push id onto ranking list
                        result.push($(items[i]).attr("id"));

                        rspan = $(items[i]).find('#ranking');
                        rspan.html("#" + (i+1));
                    }
                    sendAjax(result, {{ sel.id }});
                }
            })
        </script>
    {% endif %}
{% endblock %}

{% block title %}
    View bookmarks for {{ sel.student.user.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    View bookmarks for <strong>{{ sel.student.user.name }}</strong>
                </div>
                <div class="panel-body">
                    {{ bookmark_projects(sel, sel.ordered_bookmarks, 'selector bookmarks view', url_for('convenor.selector_bookmarks', id=sel.id)) }}
                    <hr class="intro-divider" role="separator">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a href="{{ url_for('convenor.add_student_bookmark', sid=sel.id) }}" class="btn btn-default">Add bookmark</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.selectors', id=sel.config.pclass_id) }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}
