{% extends "base_app.html" %}

{% block title %}
    Project confirmations for <strong>{{ sel.user.build_name() }}</strong>
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Project confirmations for <strong>{{ sel.user.build_name() }}</strong>
                </div>

                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row vertical-align confirmation-table">
                            <div class="col-xs-4"><strong>Project title</strong></div>
                            <div class="col-xs-3"><strong>Research group</strong></div>
                            <div class="col-xs-3"><strong>Supervisor</strong></div>
                            <div class="col-xs-2"></div>
                        </div>

                        <hr class="intro-divider">

                        {% for project in sel.confirmed %}
                            <div class="row vertical-align confirmation-table">
                                <div class="col-xs-4">
                                    <a href="{{ url_for('faculty.live_project', pid=project.id) }}">
                                        <strong>{{ project.name }}</strong>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    {{ project.group.make_label(project.group.name)|safe }}
                                </div>
                                <div class="col-xs-3">
                                    <a href="mailto:{{ project.owner.email }}">
                                        {{ project.owner.build_name() }}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <div class="dropdown">
                                        <a class="btn btn-warning selection-label dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            <i class="fa fa-times"></i> Deconfirm
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if config.state == config.LIFECYCLE_SELECTIONS_OPEN %}
                                                <li>
                                                    <a href="{{ url_for('convenor.deconfirm_to_pending', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-times"></i> Make pending
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ url_for('convenor.deconfirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-times"></i> Make pending
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <hr class="intro-divider">

                        {% for project in sel.confirm_requests %}
                            <div class="row vertical-align confirmation-table">
                                <div class="col-xs-4">
                                    <a href="{{ url_for('faculty.live_project', pid=project.id) }}">
                                        <strong>{{ project.name }}</strong>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    {{ project.group.make_label(project.group.name)|safe }}
                                </div>
                                <div class="col-xs-3">
                                    <a href="mailto:{{ project.owner.email }}">
                                        {{ project.owner.build_name() }}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <div class="dropdown">
                                        <a class="btn btn-success selection-label dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            <i class="fa fa-plus"></i> Confirm
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if config.state == config.LIFECYCLE_SELECTIONS_OPEN %}
                                                <li>
                                                    <a href="{{ url_for('convenor.confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ url_for('convenor.cancel_confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.selectors', id=sel.config.project_class.id) }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}