{% extends "base_app.html" %}

{% block title %}
    Project confirmations for {{ sel.student.user.name }}
{% endblock %}

{% block bodyblock %}
    {% set config = sel.config %}
    {% set lifecycle = config.selector_lifecycle %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Project confirmations for <strong>{{ sel.student.user.name }}</strong>
                </div>

                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row vertical-align confirmation-table">
                            <div class="col-xs-4"><strong>Project title</strong></div>
                            <div class="col-xs-3"><strong>Research group</strong></div>
                            <div class="col-xs-3"><strong>Supervisor</strong></div>
                            <div class="col-xs-2"></div>
                        </div>

                        <hr class="intro-divider">

                        {% for req in sel.requests_confirmed %}
                            {% set project = req.project %}
                            <div class="row vertical-align confirmation-table">
                                <div class="col-xs-4">
                                    <a href="{{ url_for('faculty.live_project', pid=project.id, text='selector confirmation list', url=url_for('convenor.selector_confirmations', id=sel.id)) }}">
                                        <strong>{{ project.name }}</strong>
                                    </a>
                                    <div>
                                        {% if req.request_timestamp is not none %}
                                            <span class="label label-default">Request {{ req.request_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                        {% endif %}
                                        {% if req.response_timestamp is not none %}
                                            <span class="label label-default">Response {{ req.response_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                        {% endif %}
                                        {% if req.request_timestamp is not none and req.response_timestamp is not none %}
                                            {% set delta = req.response_timestamp - req.request_timestamp %}
                                            {% set pl = 's' %}{% if delta.days == 1 %}{% set pl = '' %}{% endif %}
                                            <span class="label label-primary"><i class="fa fa-clock-o"></i> {{ delta.days }} day{{ pl }}</span>
                                        {% elif req.request_timestamp is not none %}
                                            {% set delta = now - req.request_timestamp %}
                                            {% set pl = 's' %}{% if delta.days == 1 %}{% set pl = '' %}{% endif %}
                                            <span class="label label-danger"><i class="fa fa-clock-o"></i> {{ delta.days }} day{{ pl }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ project.group.make_label(project.group.name)|safe }}
                                </div>
                                <div class="col-xs-3">
                                    <a href="mailto:{{ project.owner.user.email }}">
                                        {{ project.owner.user.name }}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <div class="dropdown">
                                        <a class="btn btn-warning dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            Deconfirm
                                            {% if not sel.satisfies_recommended(project) %}
                                                <i class="fa fa-exclamation-triangle" style="color:red;"></i>
                                            {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                                                <li>
                                                    <a href="{{ url_for('convenor.deconfirm_to_pending', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-clock-o"></i> Make pending
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ url_for('convenor.deconfirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-clock-o"></i> Make pending
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if sel.number_confirmed > 0 and sel.number_pending > 0 %}<hr class="intro-divider">{% endif %}

                        {% for req in sel.requests_waiting %}
                            {% set project = req.project %}
                            <div class="row vertical-align confirmation-table">
                                <div class="col-xs-4">
                                    <a href="{{ url_for('faculty.live_project', pid=project.id, text='selector confirmation list', url=url_for('convenor.selector_confirmations', id=sel.id)) }}">
                                        <strong>{{ project.name }}</strong>
                                    </a>
                                    <div>
                                        {% if req.request_timestamp is not none %}
                                            <span class="label label-default">Request {{ req.request_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                        {% endif %}
                                        {% if req.response_timestamp is not none %}
                                            <span class="label label-default">Response {{ req.response_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</span>
                                        {% endif %}
                                        {% if req.request_timestamp is not none and req.response_timestamp is not none %}
                                            {% set delta = req.response_timestamp - req.request_timestamp %}
                                            {% set pl = 's' %}{% if delta.days == 1 %}{% set pl = '' %}{% endif %}
                                            <span class="label label-primary"><i class="fa fa-clock-o"></i> {{ delta.days }} day{{ pl }}</span>
                                        {% elif req.request_timestamp is not none %}
                                            {% set delta = now - req.request_timestamp %}
                                            {% set pl = 's' %}{% if delta.days == 1 %}{% set pl = '' %}{% endif %}
                                            <span class="label label-danger"><i class="fa fa-clock-o"></i> {{ delta.days }} day{{ pl }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ project.group.make_label(project.group.name)|safe }}
                                </div>
                                <div class="col-xs-3">
                                    <a href="mailto:{{ project.owner.user.email }}">
                                        {{ project.owner.user.name }}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <div class="dropdown">
                                        <a class="btn btn-success dropdown-toggle"
                                                type="button" data-toggle="dropdown">
                                            Confirm
                                            {% if not sel.satisfies_recommended(project) %}
                                                <i class="fa fa-exclamation-triangle" style="color:white;"></i>
                                            {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                                                <li>
                                                    <a href="{{ url_for('convenor.confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ url_for('convenor.cancel_confirm', sid=sel.id, pid=project.id) }}">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-check"></i> Confirm
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a>
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                <a href="{{ url_for('convenor.selectors', id=config.pclass_id) }}">
                    <i class="fa fa-backward"></i> Return to dashboard
                </a>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}