{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit assignment limit
{% endblock %}

{% block formtitle %}
    {% if assessment %}
        Edit assignment limit for <i class="fas fa-user>"></i> <strong>{{ fac.user.name }}</strong>
    {% else %}
        Edit assignment limit
    {% endif %}
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('admin.schedule_set_limit', assessment_id=a.id, faculty_id=fac.id, url=url, text=text) }}" method="POST" name="limit_form">

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {{ wtf.render_field(form.assigned_limit) }}

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
