{% import "bootstrap/form.html" as wtf %}

{% extends "admin/presentations/rooms_nav.html" %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.css""/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#rooms-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { 'url': $SCRIPT_ROOT + '/admin/rooms_ajax', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name' },
                    { data: 'building' },
                    { data: 'info' },
                    { data: 'active' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Edit presentation venues
{% endblock %}

{% block bodyblock %}
    <div class="card m-3">
        <div class="card-header bg-primary text-white">Edit presentation venues</div>
        <div class="card-body">
            <table id="rooms-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="25%"> Name</th>
                    <th width="20%"> Building</th>
                    <th width="20%"> Information</th>
                    <th width="20%"> Status</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
            <div style="text-align: center;">
                <a href="{{ url_for('admin.add_room') }}" class="btn btn-secondary btn-lg">
                    <i class="fa fa-plus"></i>
                    Add new room
                </a>
            </div>
        </div>
    </div>
{%  endblock %}
