{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% from "macros.html" import edit_data %}
{% from "select2.html" import import_select2 %}
{% from "icon_block.html" import icon_block %}

{% block scripts %}
    {{ super() }}
    {{ import_select2() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#submission_periods').select2({
                theme: 'bootstrap-5',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                placeholder: 'Select one or more submission periods...'
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if assessment %}
        Edit presentation assessment event <strong>{{ assessment.name }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if assessment %}
        <form action="{{ url_for('admin.edit_assessment', id=assessment.id) }}" method="POST" name="assessment_form">
    {% else %}
        <form action="{{ url_for('admin.add_assessment') }}" method="POST" name="assessment_form">
    {% endif %}

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {% if form.submission_periods is not defined %}
            <div class="alert alert-info">
                {% call icon_block("info-circle") %}
                    <div><strong>It is no longer possible to edit the submission periods attached to this assessment.</strong></div>
                {% endcall %}
            </div>
        {% endif %}

        {{ wtf.render_field(form.name) }}
        {% if form.submission_periods is defined %}
            {{ wtf.render_field(form.submission_periods) }}
        {% endif %}

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(assessment) }}
    {{ super() }}
{% endblock %}
