{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if assessment %}
        Edit presentation assessment event <strong>{{ assessment.name }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if assessment %}
        <form action="{{ url_for('admin.edit_assessment', id=assessment.id) }}" method="POST" name="assessment_form">
    {% else %}
        <form action="{{ url_for('admin.add_assessment') }}" method="POST" name="assessment_form">
    {% endif %}

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        <div class="card mt-3 mb-3 card-body bg-well">
            {{ wtf.render_field(form.name) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well {% if form.submission_periods.errors %}has-error{% endif %}">
            <p>Select the submission periods for which project presentations will be given</p>
            {% for widget in form.submission_periods %}
                {{ wtf.render_field(widget) }}
            {% else %}
                <div class="has-error">
                    <p class="help-block">All available submission periods have already been assigned</p>
                </div>
            {% endfor %}
            {% if form.submission_periods.errors %}
                {% for error in form.submission_periods.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(assessment) }}
{% endblock %}
