{% extends "base_app.html" %}

{% block title %}
    500: Internal server error
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mt-3 mb-3 card-body bg-well border-danger">
                <div class="dashboard-subtitle" style="margin-bottom: 20px;">We're sorry, but something has gone wrong</div>
                <p>
                    An unexpected error has occurred. Please wait a few minutes before
                    trying your operation again.
                </p>
                <p>
                    A system administrator has already been notified of this event and will investigate,
                    but you are welcome to contact us yourself if you continue to encounter problems.
                    Alternatively, you can file a report with our issue tracker:
                </p>
                <p>
                    <a class="text-decoration-none" href="https://mps-project.myjetbrains.com">https://mps-project.myjetbrains.com</a>
                </p>
                <p>
                    <a class="text-decoration-none" href="{{ home_dashboard_url }}">Click here to return to your dashboard</a>.
                </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
