{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    Edit user account
{% endblock %}

{% block form_content %}
    <h2>Edit user account</h2>
    <form action="{{ url_for('admin.edit_user', id=user.id) }}" method="POST" name="edit_user_form">
        {{ edit_user_form.hidden_tag() }}

{#        {{ wtf.form_errors(edit_user_form) }}#}

        {{ wtf.form_field(edit_user_form.email) }}
        {{ wtf.form_field(edit_user_form.username) }}

        {{ wtf.form_field(edit_user_form.first_name) }}
        {{ wtf.form_field(edit_user_form.last_name) }}

        {{ wtf.form_field(edit_user_form.submit) }}

    </form>
{% endblock %}
