{% import "bootstrap/form.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    Reset password
{% endblock %}

{% block formtitle %}
    Send password reset instructions
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}

        {{ wtf.render_field(forgot_password_form.email) }}
        {{ wtf.render_field(forgot_password_form.submit, class_="btn") }}
    </form>

{% endblock %}
