{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "icon_block.html" import icon_block %}

{% block title %}
    Reset password
{% endblock %}

{% block formtitle %}
    Send password reset instructions
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}

        <div class="alert alert-info mb-3">
            {% call icon_block("info-circle") %}
                <div class="mb-1">
                    <strong>
                        Please enter the email address you use to log in.
                        Usually this will be your @sussex.ac.uk address.
                    </strong>
                </div>
                <div class="mb-1">
                    Check your email after submitting this form.
                    You will be sent a link that allows you to reset your password.
                </div>
                <div>
                    If you have difficulties resetting your password,
                    email an <a href="mailto:D.Seery@sussex.ac.uk">administrator</a>.
                </div>
            {% endcall %}
        </div>

        {{ wtf.render_field(forgot_password_form.email) }}
        {{ wtf.render_field(forgot_password_form.submit, button_map={'submit': 'primary'}) }}
    </form>

{% endblock %}
