{% extends "base_app.html" %}

{% from "macros.html" import message_card %}

{% block title %}
    Authentication
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            {% if messages %}
                {% for message in messages %}
                    {{ message_card(message, enrolled_classes) }}
                {% endfor %}
            {% endif %}

            <div class="card mt-3 mb-3 border-primary">
                <div class="card-header bg-primary text-white">{% block formtitle %}{% endblock %}</div>
                <div class="card-body">
                    {% block form_content %}{% endblock %}
                </div>
            </div>
            {% block footer %}
            {% endblock %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
