{% extends "base.html" %}

{% block title %}
    Authentication
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-success">
                <div class="panel-heading">{% block formtitle %}{% endblock %}</div>
                <div class="panel-body">
                    {% block form_content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
