{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import message_card, show_prepend_field %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}

        var tag = document.createElement('script');

        tag.src = "https://developers.panopto.com/scripts/embedapi.min.js"
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var embedApi;

        function onPanoptoEmbedApiReady() {
            embedApi = new EmbedApi("player", {
                width: "750",
                height: "422",
                serverName: "sussex.cloud.panopto.eu",
                sessionId: "c2274660-a8f0-4f71-ba13-acd101735f7b",
                events: {
                    "onlframeReady": onPanoptolframeReady,
                    "onReady": onPanoptoVideoReady,
                    "onStateChange": onPanoptoStateUpdate
                }
            });
        };

        function onPanoptolframeReady() {
            embedApi.loadVideo();
        }

        function onPanoptoVideoReady() {
        }

        function onPanoptoStateUpdate() {
        }

        $(document).ready(function () {
            $('#PanoptoModal').modal({
                show: false
            }).on('hidden.bs.modal', function() {
                embedApi.pauseVideo();
            });
        });
    </script>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block formtitle %}
    Login
{% endblock %}

{% block margin_column %}col-3{% endblock %}
{% block body_column %}col-6{% endblock %}
{% block header_margin_column %}col-2{% endblock %}
{% block header_body_column %}col-8{% endblock %}
{% block card_classes %}bg-light mb-5{% endblock %}
{% block card_header %}{% endblock %}
{% block card_body_classes %}{% endblock %}

{% block header %}
    <div class="d-flex justify-content-center">
        <div class="login-box-title text-dark text-center">Welcome to the Physics & Astronomy projects portal</div>
    </div>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}

{#        {{ wtf.form_errors(login_user_form) }}#}

        {{ show_prepend_field(login_user_form.email, '<i class="fas fa-user"></i>', show_label=false, placeholder='Email address') }}
        {{ show_prepend_field(login_user_form.password, '<i class="fas fa-lock"></i>', show_label=false, placeholder='Password') }}
        <div class="mt-2 d-flex justify-content-between w-100">
            <div>
                <button type="button" class="btn btn-outline-primary video-btn" data-bs-toggle="modal" data-bs-target="#PanoptoModal">Show video explainer</button>
            </div>
            <div>
                {{ wtf.render_field(login_user_form.submit, button_map={'submit': 'outline-success'}) }}
            </div>
        </div>
    </form>
    <div class="modal fade" id="PanoptoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <hr class="intro-divider">
    {% if messages %}
        {% for message in messages %}
            {{ message_card(message, enrolled_classes) }}
        {% endfor %}
    {% endif %}
{% endblock %}
