{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {# Thie form is only ever used for account creation, so we don't need a route for edits #}
    <form action="{{ url_for('manage_users.create_user') }}" method="POST" name="role_form">

        {{ role_form.hidden_tag() }}

        {{ wtf.form_field(role_form.roles) }}
        {{ wtf.form_field(role_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
