{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if user %}
        Edit user account data for <i class="fa fa-user"></i> <strong>{{ user.name_and_username }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if user %}
        {% if user.has_role('office') %}
            <form action="{{ url_for('admin.edit_office', id=user.id) }}" method="POST" name="user_form">
        {% elif user.has_role('faculty') %}
            <form action="{{ url_for('admin.edit_faculty', id=user.id) }}" method="POST" name="user_form">
        {% else %} {# current role == 'student' is only choice #}
            <form action="{{ url_for('admin.edit_student', id=user.id) }}" method="POST" name="user_form">
        {% endif %}
    {% else %}
        {% if role == 'office' %}
            <form action="{{ url_for('admin.create_office', role=role) }}" method="POST" name="user_form">
        {% elif role == 'faculty' %}
            <form action="{{ url_for('admin.create_faculty', role=role) }}" method="POST" name="user_form">
        {% else %} {# current role == 'student' is only choice #}
            <form action="{{ url_for('admin.create_student', role=role) }}" method="POST" name="user_form">
        {% endif %}
    {% endif %}

        {{ user_form.hidden_tag() }}

{#        {{ wtf.form_errors(user_form) }}#}

        <div class="well">
            {{ wtf.form_field(user_form.email) }}
            {% if user_form.ask_confirm %}
                {{ wtf.form_field(user_form.ask_confirm) }}
            {% endif %}
            {{ wtf.form_field(user_form.username) }}
        </div>

        {% if user_form.password or user_form.password_confirm or user_form.random_password %}
            <div class="well">
                {% if user_form.password %}
                    {{ wtf.form_field(user_form.password) }}
                {% endif %}
                {% if user_form.password_confirm %}
                    {{ wtf.form_field(user_form.password_confirm) }}
                {% endif %}
                {% if user_form.random_password %}
                    {{ wtf.form_field(user_form.random_password) }}
                {% endif %}
            </div>
        {% endif %}

        <div class="well">
            {{ wtf.form_field(user_form.first_name) }}
            {{ wtf.form_field(user_form.last_name) }}
        </div>

        {# STUDENT FIELDS #}

        {% if user_form.foundation_year or user_form.exam_number or user_form.cohort or user_form.repeated_years or user_form.programme %}
            <div class="well">
                {% if user_form.exam_number %}
                    {{ wtf.form_field(user_form.exam_number) }}
                {% endif %}
                {% if user_form.cohort %}
                    {{ wtf.form_field(user_form.cohort) }}
                {% endif %}
                {%  if user_form.repeated_years %}
                    {{ wtf.form_field(user_form.repeated_years) }}
                {% endif %}
                {% if user_form.foundation_year %}
                    {{ wtf.form_field(user_form.foundation_year) }}
                {% endif %}
                {% if user_form.programme %}
                    {{ wtf.form_field(user_form.programme) }}
                {% endif %}
            </div>
        {%  endif %}

        {# FACULTY FIELDS #}


        {% if user_form.academic_title or user_form.use_academic_title %}
            <div class="well">
                {% if user_form.office %}
                    {{ wtf.form_field(user_form.office) }}
                {% endif %}
                {% if user_form.academic_title %}
                    {{ wtf.form_field(user_form.academic_title) }}
                {% endif %}
                {% if user_form.use_academic_title %}
                    {{ wtf.form_field(user_form.use_academic_title) }}
                {% endif %}
            </div>
        {% endif %}

        {% if user_form.sign_off_students or user_form.project_capacity or user_form.enforce_capacity or user_form.show_popularity %}
            <div class="well">
                <p>Project defaults</p>
                {% if user_form.sign_off_students %}
                    {{ wtf.form_field(user_form.sign_off_students) }}
                {% endif %}
                {% if user_form.project_capacity %}
                    {{ wtf.form_field(user_form.project_capacity) }}
                {% endif %}
                {% if user_form.enforce_capacity %}
                    {{ wtf.form_field(user_form.enforce_capacity) }}
                {% endif %}
                {% if user_form.show_popularity %}
                    {{ wtf.form_field(user_form.show_popularity) }}
                {% endif %}
            </div>
        {% endif %}

        {% if user_form.CATS_supervision or user_form.CATS_marking %}
            <div class="well">
                <p>Workload model</p>
                {% if user_form.CATS_supervision %}
                    {{ wtf.form_field(user_form.CATS_supervision) }}
                {% endif %}
                {% if user_form.CATS_marking %}
                    {{ wtf.form_field(user_form.CATS_marking) }}
                {% endif %}
                {% if user_form.CATS_presentation %}
                    {{ wtf.form_field(user_form.CATS_presentation) }}
                {% endif %}
            </div>
        {% endif %}

        {{ wtf.form_field(user_form.submit, button_map={'submit': 'primary'}) }}
        {% if user_form.save_and_exit %}
            {{ wtf.form_field(user_form.save_and_exit, button_map={'save_and_exit': 'default'}) }}
        {% endif %}

    </form>
{% endblock %}
