{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if user %}
        Edit user account data for <i class="fas fa-user"></i> <strong>{{ user.name_and_username }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if user %}
        {% if user.has_role('office') %}
            <form action="{{ url_for('manage_users.edit_office', id=user.id, pane=pane, url=url) }}" method="POST" name="user_form">
        {% elif user.has_role('faculty') %}
            <form action="{{ url_for('manage_users.edit_faculty', id=user.id, pane=pane, url=url) }}" method="POST" name="user_form">
        {% else %} {# current role == 'student' is only choice #}
            <form action="{{ url_for('manage_users.edit_student', id=user.id, pane=pane, url=url) }}" method="POST" name="user_form">
        {% endif %}
    {% else %}
        {% if role == 'office' %}
            <form action="{{ url_for('manage_users.create_office', role=role, pane=pane, url=url) }}" method="POST" name="user_form">
        {% elif role == 'faculty' %}
            <form action="{{ url_for('manage_users.create_faculty', role=role, pane=pane, url=url) }}" method="POST" name="user_form">
        {% else %} {# current role == 'student' is only choice #}
            <form action="{{ url_for('manage_users.create_student', role=role, pane=pane, url=url) }}" method="POST" name="user_form">
        {% endif %}
    {% endif %}

        {{ user_form.hidden_tag() }}

{#        {{ wtf.form_errors(user_form) }}#}

        <div class="card mt-3 mb-3 card-body bg-well">
            {{ wtf.render_field(user_form.email) }}
            {% if user_form.ask_confirm %}
                {{ wtf.render_field(user_form.ask_confirm) }}
            {% endif %}
            {{ wtf.render_field(user_form.username) }}
            {{ wtf.render_field(user_form.theme) }}
        </div>

        {% if user_form.default_license is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                {{ wtf.render_field(user_form.default_license) }}
            </div>
        {% endif %}

        {% if user_form.password is defined or user_form.password_confirm is defined or user_form.random_password is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                {% if user_form.password is defined %}
                    {{ wtf.render_field(user_form.password) }}
                {% endif %}
                {% if user_form.password_confirm is defined %}
                    {{ wtf.render_field(user_form.password_confirm) }}
                {% endif %}
                {% if user_form.random_password is defined %}
                    {{ wtf.render_field(user_form.random_password) }}
                {% endif %}
            </div>
        {% endif %}

        <div class="card mt-3 mb-3 card-body bg-well">
            {{ wtf.render_field(user_form.first_name) }}
            {{ wtf.render_field(user_form.last_name) }}
        </div>

        {# STUDENT FIELDS #}

        {% if user_form.foundation_year is defined or user_form.exam_number is defined or user_form.cohort is defined or user_form.repeated_years is defined or user_form.programme is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                {% if user_form.exam_number is defined %}
                    {{ wtf.render_field(user_form.exam_number) }}
                {% endif %}
                {% if user_form.cohort is defined %}
                    {{ wtf.render_field(user_form.cohort) }}
                {% endif %}
                {%  if user_form.repeated_years is defined %}
                    {{ wtf.render_field(user_form.repeated_years) }}
                {% endif %}
                {% if user_form.foundation_year is defined %}
                    {{ wtf.render_field(user_form.foundation_year) }}
                {% endif %}
                {% if user_form.intermitting is defined %}
                    {{ wtf.render_field(user_form.intermitting) }}
                {% endif %}
                {% if user_form.programme is defined %}
                    {{ wtf.render_field(user_form.programme) }}
                {% endif %}
            </div>
        {%  endif %}


        {# FACULTY FIELDS #}

        {% if user_form.academic_title is defined or user_form.use_academic_title is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                {% if user_form.office is defined %}
                    {{ wtf.render_field(user_form.office) }}
                {% endif %}
                {% if user_form.academic_title is defined %}
                    {{ wtf.render_field(user_form.academic_title) }}
                {% endif %}
                {% if user_form.use_academic_title is defined %}
                    {{ wtf.render_field(user_form.use_academic_title) }}
                {% endif %}
            </div>
        {% endif %}

        {% if user_form.sign_off_students is defined or user_form.project_capacity is defined or user_form.enforce_capacity is defined or user_form.show_popularity is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                <p>Default settings for new projects</p>
                {% if user_form.sign_off_students is defined %}
                    {{ wtf.render_field(user_form.sign_off_students) }}
                {% endif %}
                {% if user_form.project_capacity is defined %}
                    {{ wtf.render_field(user_form.project_capacity) }}
                {% endif %}
                {% if user_form.enforce_capacity is defined %}
                    {{ wtf.render_field(user_form.enforce_capacity) }}
                {% endif %}
                {% if user_form.show_popularity is defined %}
                    {{ wtf.render_field(user_form.show_popularity) }}
                {% endif %}
                {% if user_form.dont_clash_presentations is defined %}
                    {{ wtf.render_field(user_form.dont_clash_presentations) }}
                {% endif %}
            </div>
        {% endif %}

        {% if user_form.CATS_supervision is defined or user_form.CATS_marking is defined %}
            <div class="card mt-3 mb-3 card-body bg-well">
                <p>Workload model</p>
                {% if user_form.CATS_supervision is defined %}
                    {{ wtf.render_field(user_form.CATS_supervision) }}
                {% endif %}
                {% if user_form.CATS_marking is defined %}
                    {{ wtf.render_field(user_form.CATS_marking) }}
                {% endif %}
                {% if user_form.CATS_presentation is defined %}
                    {{ wtf.render_field(user_form.CATS_presentation) }}
                {% endif %}
            </div>
        {% endif %}

        {{ wtf.render_field(user_form.submit, button_map={'submit': 'primary'}) }}
        {% if user_form.save_and_exit is defined %}
            {{ wtf.render_field(user_form.save_and_exit, button_map={'save_and_exit': 'secondary'}) }}
        {% endif %}

    </form>
{% endblock %}
