{% from "swatch.html" import medium_swatch %}

{% macro selector_lifecycle_checklist(state, config) %}
<ul class='list-unstyled'>
    <li>
        {% if state > config.SELECTOR_LIFECYCLE_CONFIRMATIONS_NOT_ISSUED %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Confirmation requests issued
    </li>
    <li>
        {% if state > config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Confirmations returned
    </li>
    <li>
        {% if state > config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Go Live
    </li>
    <li>
        {% if state > config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Student selections
    </li>
    <li>
        {% if state > config.SELECTOR_LIFECYCLE_READY_MATCHING %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Perform matching
    </li>
</ul>
{% endmacro %}

{% macro submitter_lifecycle_checklist(state, config) %}
<ul class='list-unstyled'>
    <li>
        {% if state > config.SUBMITTER_LIFECYCLE_PROJECT_ACTIVITY %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Project completed
    </li>
    <li>
        {% if state > config.SUBMITTER_LIFECYCLE_FEEDBACK_MARKING_ACTIVITY %}
            <i class='fas fa-check-circle fa-fw text-success'></i>
        {% else %}
            <i class='fas fa-times-circle fa-fw text-danger'></i>
        {% endif %}
        Feedback completed
    </li>
</ul>
{% endmacro %}

{% macro admin_dashboard_card(data) %}
    {% set config_list = data['config_list'] %}
    {% set current_year = data['current_year'] %}

    <p><span class="dashboard-project-title">Administrator dashboard</span></p>

    <div class="card mt-3 mb-3 border-info">
        <div class="card-header bg-info">Status overview</div>
        <div class="card-body">
            <div class="row vertical-top root-dashboard-table">
                <div class="col-4"><strong>Name</strong></div>
                <div class="col-2"><strong>Convenor</strong></div>
                <div class="col-6"><strong>Status</strong></div>
            </div>
            {% for cdata in config_list %}
                {% set config = cdata['config'] %}
                {% set capacity = cdata['capacity'] %}
                {% set bounded = cdata['is_bounded'] %}
                {% set selector_lifecycle = config.selector_lifecycle %}
                {% set submitter_lifecycle = config.submitter_lifecycle %}
                {% set rollover_ready = selector_lifecycle == config.SELECTOR_LIFECYCLE_READY_ROLLOVER and submitter_lifecycle == config.SUBMITTER_LIFECYCLE_READY_ROLLOVER %}
                {% set pclass = config.project_class %}
                {% set published = pclass.publish %}
                <div class="row vertical-top root-dashboard-table">
                    <div class="col-4">
                        {% set swatch_colour = pclass.make_CSS_style() %}
                        <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                            {{ medium_swatch(swatch_colour) }}
                            <a class="text-decoration-none link-dark" href="{{ url_for('convenor.status', id=pclass.id) }}">{{ pclass.name }}</a>
                        </div>
                        {% if published %}
                            <div class="mt-1 small text-muted d-flex flex-row justify-content-start align-items-start gap-2">
                                <strong {% if rollover_ready %}class="text-danger"{% endif %}>{{ config.submit_year_a }}&ndash;{{ config.submit_year_b }}</strong>
                                {% if rollover_ready %}
                                    <span class="text-danger">Rollover available</span>
                                {% else %}
                                    <span tabindex="0" data-bs-toggle="popover" title="Lifecycle status" data-bs-container="body" data-bs-trigger="focus" data-bs-content="{{ selector_lifecycle_checklist(selector_lifecycle, config) }}">Selector <i class="fas fa-chevron-circle-right"></i></span>
                                    <span tabindex="0" data-bs-toggle="popover" title="Lifecycle status" data-bs-container="body" data-bs-trigger="focus" data-bs-content="{{ submitter_lifecycle_checklist(submitter_lifecycle, config) }}">Submitter <i class="fas fa-chevron-circle-right"></i></span>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="mt-1 small text-muted d-flex flex-row justify-content-start align-items-start gap-2">
                                <span><i class="fas fa-eye-slash"></i> <strong>Not published</strong></span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-2"><a class="text-decoration-none small link-secondary" href="mailto:{{ config.convenor_email }}">{{ config.convenor_name }}</a></div>
                    <div class="col-6">
                        {% if published %}
                            {% set sel_state = config.selector_lifecycle %}
                            {% set sub_state = config.submitter_lifecycle %}
                            {% set num_sel = config.number_selectors %}
                            {% set num_sub = config.number_submitters %}
                            {% set sel_pl = 's' %}
                            {% if num_sel == 1 %}{% set sel_pl = '' %}{% endif %}
                            {% set sub_pl = 's' %}
                            {% if num_sub == 1 %}{% set sub_pl = '' %}{% endif %}
                            <div>
                                <div><span class="small"><strong>{{ num_sel }} selector{{ sel_pl }} | {{ num_sub }} submitter{{ sub_pl }}</strong></span></div>
                                {% if sel_state <= config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
                                    {% if capacity < num_sel %}
                                        <div><span class="small">Capacity {% if not bounded %}&ge; {% endif %}{{ capacity }}</span></div>
                                    {% elif capacity < 1.15*num_sel %}
                                        <div><span class="small">Capacity {% if not bounded %}&ge; {% endif %}{{ capacity }}</span></div>
                                    {% else %}
                                        <div><span class="small">Capacity {% if not bounded %}&ge; {% endif %}{{ capacity }}</span></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if config.uses_submission or config.uses_selection %}
                                <div class="row mt-1 bg-light">
                                    {% if config.uses_submission %}
                                        <div class="col-6">
                                            <div><span class="small text-muted">Submission</span></div>
                                            {% if sub_state == config.SUBMITTER_LIFECYCLE_READY_ROLLOVER %}
                                                <div class="small text-success"><i class="fas fa-check-circle"></i> Ready to rollover</div>
                                            {% else %}
                                                <div class="text-dark"><strong>{{ config.current_period.display_name|safe }}</strong></div>
                                                <div>
                                                    {% if sub_state == config.SUBMITTER_LIFECYCLE_PROJECT_ACTIVITY %}
                                                        <ul class="small list-unstyled text-secondary"><li><i class="fas fa-clock"></i> Project activity underway</li></ul>
                                                    {% elif sub_state == config.SUBMITTER_LIFECYCLE_FEEDBACK_MARKING_ACTIVITY %}
                                                        <ul class="small list-unstyled text-secondary"><li><i class="fas fa-chevron-right"></i> Marking and feedback</li></ul>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if config.uses_selection %}
                                        <div class="col-6">
                                            <div><span class="small text-muted">Selection</span></div>
                                            {% if sel_state == config.SELECTOR_LIFECYCLE_READY_ROLLOVER %}
                                                <div class="small text-success"><i class="fas fa-check-circle"></i> Ready to rollover</div>
                                                {% if config.do_matching %}
                                                    {% set match = config.allocated_match %}
                                                    {% if match is not none %}
                                                        <div class="small text-muted">Selected match: <strong>{{ match.name }}</strong></div>
                                                    {% else %}
                                                        <div class="small text-muted">No match selected</div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="small text-muted">Not using matching</div>
                                                {% endif %}
                                            {% else %}
                                                <div>
                                                    {% if sel_state == config.SELECTOR_LIFECYCLE_CONFIRMATIONS_NOT_ISSUED %}
                                                        <ul class="small list-unstyled">
                                                            <li class="text-danger"><i class="fas fa-times-circle"></i> Not live</li>
                                                            <li><i class="fas fa-times"></i> Confirmations not issued</li>
                                                        </ul>
                                                    {% elif sel_state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
                                                        <ul class="small list-unstyled">
                                                            <li class="text-danger"><i class="fas fa-times-circle"></i> Not live</li>
                                                            <li><i class="fas fa-clock"></i> Confirmations outstanding</li>
                                                        </ul>
                                                    {% elif sel_state == config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
                                                        <ul class="small list-unstyled">
                                                            <li class="text-success"><i class="fas fa-check-circle"></i> Ready to go live</li>
                                                        </ul>
                                                    {% elif sel_state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                                                        <ul class="small list-unstyled"><li><i class="fas fa-check-circle"></i> Selection open</li></ul>
                                                    {% elif sel_state == config.SELECTOR_LIFECYCLE_READY_MATCHING %}
                                                        <ul class="small list-unstyled">
                                                            <li class="text-success"><i class="fas fa-check-circle"></i> Matching ready</li>
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endmacro %}
