{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit my feedback
{% endblock %}

{% block formtitle %}
    Edit my feedback
{% endblock %}

{% block form_content %}
    <form action="{{ submit_url }}" method="POST" name="feedback_form">
        {{ form.hidden_tag() }}

        <div class="card m-3 card-body">
            You may edit your feedback as many times as you wish, up to the point where it is submitted.
            After submission no further edits are possible.
        </div>

        {{ wtf.render_field(form.feedback) }}

        {{ wtf.render_field(form.save_changes, button_map={'save_changes': 'primary'}) }}
    </form>
{% endblock %}
