{% from "student/macros.html" import ranked_selection %}

{% macro open_card(config, sel) %}
    <div class="alert alert-success">
        <p>Project selection for <strong>{{ config.year+1 }}&ndash;{{ config.year+2 }}</strong>
            is now available.</p>

        {# add data about deadline, if present #}
        {% if config.live_deadline %}
        <p>You can adjust your selection until the deadline
            <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
            <strong>{{ config.time_to_live_deadline }}</strong> from now.
        </p>
        {% endif %}
    </div>

    {% if sel.is_optional %}
        <p>
            This project is <strong>optional</strong> for your degree programme
            ({{ current_user.student_data.programme.full_name }}).
            If you wish to participate, add bookmarks to keep track of the projects
            in which you are interested. Drag-and-drop your bookmarks using the drag handle
            to rank them in order of preference. Submit your selection when you are finished.
        </p>

        <p>
            Some projects require the project supervisor to confirm that
            a pre-selection meeting has taken place, or at least been arranged,
            before the project becomes available.
        </p>
    {% else %}
        {% if sel.is_initial_selection %}
            <p>
                This project is <strong>mandatory</strong> for your degree programme
                ({{ current_user.student_data.programme.full_name }}).
                Add bookmarks to keep track of the projects in which you are interested,
                then drag-and-drop to rank them in order of preference.
                Submit your selection when you are finished.
            </p>

            <p>
                Some projects require the project supervisor to confirm that
                a pre-selection meeting has taken place, or at least been arranged,
                before the project becomes available.
            </p>
        {% else %}
            <p>
                If you wish to <strong>switch supervisors</strong>,
                then add bookmarks for each project of interest.
                Drag-and-drop your bookmarks to indicate your order of preference.
            </p>
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro show_submission_status(config, sel) %}
    <div class="row vertical-top">
        <div class="col-xs-8">
            {% if sel.has_submitted %}
                <div>
                    You have already submitted a valid list of project preferences.
                </div>
                <div>
                    <span class="label label-success"><i class="fa fa-check"></i> Preferences received</span>
                    <a href="{{ url_for('student.view_selection', sid=sel.id) }}"
                       class="btn btn-link">Show selection ...</a>
                </div>
            {% else %}
                <div>You have not yet submitted your project preferences.</div>
            {% endif %}
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                {% if sel.has_submitted %}
                    <a class="btn btn-default" href="{{ url_for('student.clear_submission', sid=sel.id) }}">
                        Clear submission
                    </a>
                {% endif %}
                {% set is_valid = sel.is_valid_selection %}
                <a id="P{{ config.id }}-valid-button"
                   class="btn btn-primary {% if not is_valid %}hidden{% endif %}"
                   href="{{ url_for('student.submit', sid=sel.id) }}">
                    {% if sel.has_submitted %}Resubmit{% else %}Submit{% endif %} selection
                </a>
                <a id="P{{ config.id }}-invalid-button"
                   class="btn btn-primary disabled {% if is_valid %}hidden{% endif %}">
                    {% if sel.has_submitted %}Resubmit{% else %}Submit{% endif %} selection
                </a>
            </div>
        </div>
    </div>
    {% if sel.has_submitted %}
        <div class="row">
            <div class="col-xs-12">
                <div>You may continue to revise your list up to the deadline.</div>
                <div>Last submission received at {{ sel.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}.</div>
            </div>
        </div>
    {% endif %}
{% endmacro %}


{% macro closed_card(config, sel) %}
    <div class="alert alert-warning">
        Project selection for {{ config.year+1 }}&ndash;{{ config.year+2 }}
        is now closed.
    </div>

    {% if not sel.has_submitted %}
        <p>You did not submit a valid selection before the deadline.</p>
        {% if sel.has_bookmarks and sel.is_valid_selection %}
            <p>Your ranked list of bookmarks was:</p>
            <hr class="intro-divider">
            {{ ranked_selection(sel, sel.ordered_bookmarks) }}
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro render_bookmarks(config, sel) %}
    <div class="list-group" id="P{{ config.id }}-bookmarks" >
        {% for bookmark in sel.ordered_bookmarks %}
        {% set project = bookmark.liveproject %}
            <div id="P{{ config.id }}-{{ project.id }}"
                 class="row vertical-align list-group-item {% if loop.index <= sel.number_choices %}selected-project{% else %}deselected-project{% endif %}">
                <div class="col-xs-1">
                    <i class="fa fa-bars drag-handle"></i>
                    <span id="ranking" class="label {% if loop.index <= sel.number_choices %}label-success{% else %}label-danger{% endif %}">#{{ loop.index }}</span>
                </div>
                <div class="col-xs-3">
                    <a href="{{ url_for('student.view_project', sid=sel.id, pid=project.id) }}">
                        <strong>{{ project.name }}</strong>
                    </a>
                    {% if not sel.satisfies_prerequisites(project) %}
                        <i class="fa fa-exclamation-triangle" style="color:red;"></i>
                        <p>This project has pre-requisites that are not available on your programme</p>
                    {% endif %}
                </div>
                <div class="col-xs-2">
                    <a href="mailto:{{ project.owner.user.email }}">
                        {{ project.owner.user.name }}
                    </a>
                </div>
                <div class="col-xs-4">
                    {% if not project.is_available(sel) %}
                        {% if sel in project.confirm_waiting %}
                            <div class="row vertical-align">
                                <div class="col-xs-8">
                                    <span class="label label-info"><i class="fa fa-clock-o"></i> Meeting confirmation requested</span>
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <a href="{{ url_for('student.cancel_confirmation', sid=sel.id, pid=project.id) }}" class="label label-warning">
                                            Cancel request
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row vertical-align">
                                <div class="col-xs-8">
                                    <span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Requires meeting confirmation</span>
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <a href="{{ url_for('student.request_confirmation', sid=sel.id, pid=project.id) }}" class="label label-primary">
                                            Request
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if sel in project.confirmed_students %}
                            <span class="label label-success"><i class="fa fa-check"></i> Available for selection</span>
                            <span class="label label-primary"><i class="fa fa-check"></i> Meeting confirmed</span>
                        {% else %}
                            <span class="label label-success"><i class="fa fa-check"></i> Available for selection</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-xs-2">
                    <div class="pull-right">
                        <a href="{{ url_for('student.remove_bookmark', sid=sel.id, pid=project.id) }}" class="label label-default">
                            <i class="fa fa-times"></i> Remove bookmark
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro selection_card(config, sel) %}

   <div class="panel
        {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
            panel-primary
        {% elif config.selector_lifecycle >= config.SELECTOR_LIFECYCLE_READY_MATCHING %} {# implies closed #}
            panel-warning
        {% else %}
            panel-default
        {% endif %}
        ">
        <div class="panel-heading">
            {% if sub %}
                <strong>Request to switch projects</strong>
            {% else %}
                <strong>Project selection</strong>
            {% endif %}
        </div>
        <div class="panel-body">
            {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}

                {{ open_card(config, sel) }}

                    <hr class="intro-divider">
                    <div class="row vertical-top">
                        <div class="col-xs-9">
                            {% set num_choices = sel.number_choices %}
                            {% set numpl = 's' %}
                            {% if num_choices == 1 %}
                                {% set numpl = '' %}
                            {% endif %}
                            {% if sel.is_optional %}
                                <p>To enroll, select up to <strong>{{ num_choices }}</strong> project{{ numpl }}.
                                    It is not possible to guarantee that you will be assigned your highest-priority choices.</p>
                              {% else %}
                                {% if sel.is_initial_selection %}
                                    <p>Select up to <strong>{{ num_choices }}</strong> projects.
                                        It is not possible to guarantee that you will be assigned your highest-priority choices.</p>
                                 {% else %}
                                    <p>To change supervisor, select up to <strong>{{ num_choices }}</strong> project{{ numpl }}.</p>
                                {% endif %}
                            {% endif %}
                            <p>
                                Bookmarks highlighted in <span class="label label-success">green</span> will be included in your selection.
                                Bookmarks highlighted in <span class="label label-danger">red</span> will not be included.
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <span class="pull-right">
                                <a href="{{ url_for('student.browse_projects', id=sel.id) }}" class="btn btn-success">Show available projects</a>
                            </span>
                        </div>
                    </div>

                {# render bookmarks #}
                {% if sel.has_bookmarks %}
                    {{ render_bookmarks(config, sel) }}
                    <hr class="intro-divider">
                    {{ show_submission_status(config, sel) }}

                {% endif %}

            {% elif config.selection_closed %}

                {{ closed_card(config, sel) }}

            {% else %}
                <p>
                    Project selection for {{ config.year+1 }}&ndash;{{ config.year+2 }}
                    is not yet available.
                </p>
            {% endif %}
        </div>
    </div>

{% endmacro %}