{% from "student/macros.html" import ranked_selection %}
{% from "icon_block.html" import icon_block %}

{% macro open_card(config, sel) %}
    {% set has_deadline = config.live_deadline is defined and config.live_deadline is not none %}
    {% set deadline_text = '' %}
    {% set time_to_deadline_text = '' %}
    {% set deadline_is_past = false %}
    {% set has_custom_offers = config.uses_selection and sel.number_custom_offers > 0 %}
    {% if has_deadline %}
        {% set deadline_text = config.live_deadline.strftime("%a %d %b (%Y)") %}
        {% set time_to_deadline_text = config.time_to_live_deadline %}
        {% if time_to_deadline_text == 'in the past' %}
            {% set deadline_is_past = true %}
        {% endif %}
    {% endif %}
    <div class="alert alert-success">
        {% call icon_block("info-circle") %}
            {% if config.uses_selection %}
                <div><strong>
                    Project selection for {{ config.select_year_a }}&ndash;{{ config.select_year_b }}
                    is now available.
                </strong></div>
                {# add data about deadline, if present #}
                {% if has_deadline %}
                    <div class="mt-1">You can submit your ranked preference list
                        at any time up to the deadline
                        {{ deadline_text }}, which is
                        {% if deadline_is_past %}
                            in the past.
                        {% else %}
                            {{ time_to_deadline_text }} from now.
                        {% endif %}
                    </div>
                {% else %}
                    <div class="mt-1">
                        You can submit your ranked preference list at any time.
                    </div>
                {% endif %}
            {% else %}
                <div><strong>
                    The project list for {{ config.select_year_a }}&ndash;{{ config.select_year_b }}
                    is now available.
                </strong></div>
                <div class="mt-1">
                    This project list is for information only. You do not need to submit
                    a list of project choices using this website.
                </div>
            {% endif %}
        {% endcall %}
        {% if has_custom_offers %}
            {% call icon_block("info-circle", extra_classes='mt-3') %}
                <div><strong>You have custom offers available.</strong></div>
                <div class="mt-1">
                    Custom offers give you the option of a guaranteed
                    project and supervisor.
                </div>
                <div class="mt-1">
                    Use the <a href="{{ url_for('student.manage_custom_offers', sel_id=sel.id) }}">Manage custom offers</a> button
                    to accept or decline your offers.
                    You can only accept one offer, but you can change your mind
                    up to the deadline.
                </div>
                <div class="mt-1">
                    If you prefer not to accept any custom offers, you can decline and
                    submit a list of ranked projects in the normal way.
                </div>
            {% endcall %}
        {% endif %}
        <div class="d-flex gap-2 justify-content-end align-items-start w-100 mt-3">
            <button type="button" class="btn btn-outline-primary video-btn student-dashboard-button" data-bs-toggle="modal" data-bs-target="#PanoptoModal">Show video help</button>
            {% if has_custom_offers %}
                <a href="{{ url_for('student.manage_custom_offers', sel_id=sel.id) }}" class="btn btn-outline-secondary student-dashboard-button">Manage custom offers</a>
            {% endif %}
            <a href="{{ url_for('student.selector_browse_projects', id=sel.id) }}" class="btn btn-outline-success student-dashboard-button">Show available projects...</a>
        </div>
    </div>

    {% if sel.is_optional and sel.is_initial_selection %}
        {% set optional_text = config.card_text_optional %}
        {% if optional_text and optional_text|length > 0 %}
            {{ optional_text|markdown|bclean|blinkify|safe }}
        {% elif config.uses_selection %}
            <ul>
                <li style="color: red;"><strong>This project is optional for your degree programme.</strong></li>
                <li>If you wish to participate, add bookmarks to keep track of the projects
                    in which you are interested.</li>
                <li>Drag-and-drop your bookmarks using the drag handle to rank them in order of preference.</li>
                <li>
                    Submit your ranked list when you are happy.
                    {% if has_deadline and not deadline_is_past %}
                        It will be possible to make changes up to {{ deadline_text }}.
                    {% endif %}
                </li>
                <li>If you do not submit a selection by the deadline, we will
                    assume that you do not wish to participate.</li>
            </ul>
        {% endif %}
        {% if config.uses_selection %}
            <ul>
                <li>Some projects may require the project supervisor to confirm that
                    a pre-selection meeting has taken place, or at least been arranged,
                    before the project becomes available.
                </li>
            </ul>
        {% endif %}
    {% else %}
        {% if sel.is_initial_selection %}
            {% set normal_text = config.card_text_normal %}
            {% if normal_text and normal_text|length > 0 %}
                {{ normal_text|markdown|bclean|blinkify|safe }}
            {% elif config.uses_selection %}
                <ul>
                    <li><strong>This project is mandatory for your degree programme.</strong></li>
                    <li>Add bookmarks to keep track of the projects in which you are interested,
                        then drag-and-drop to rank them in order of preference.
                    </li>
                    <li>
                        Submit your ranked list when you are happy.
                        {% if has_deadline and not deadline_is_past %}  {# can assume time has been set from above #}
                            It will be possible to make changes up to {{ deadline_text }}.
                        {% endif %}
                    </li>
                    <li>Some projects may require the project supervisor to confirm that
                        a pre-selection meeting has taken place, or at least been arranged,
                        before the project becomes available.
                    </li>
                </ul>
            {% endif %}
        {% else %}
            {% set noninitial_text = config.card_text_noninitial %}
            {% if noninitial_text and noninitial_text|length > 0 %}
                {{ noninitial_text|markdown|bclean|blinkify|safe }}
            {% else %}
                <ul>
                    <li><strong>If you wish to switch supervisors,
                        please add bookmarks for each project of interest.</strong></li>
                    <li>Drag-and-drop your bookmarks to indicate your order of preference.</li>
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro show_submission_status(config, sel) %}
    {% set is_valid, messages = sel.is_valid_selection %}
    <div class="vertical-top mt-3 mb-3">
        <ul class="list-group w-100" id="P{{ config.id }}-status-list">
            {% for message in messages %}
                <li class="list-group-item {% if is_valid %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
                    {% if not is_valid %}
                        {% call icon_block("exclamation-circle") %}
                            <div>{{ message|safe }}</div>
                        {% endcall %}
                    {% else %}
                        {{ message|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if sel.has_accepted_offer %}
        {% set offer = sel.accepted_offer %}
        {% set project = offer.liveproject %}
        <div class="alert alert-success mt-3 mb-3">
            {% call icon_block("check-circle") %}
                <div><strong>You have accepted a custom offer.</strong></div>
                {% if project is not none %}
                    <div class="mt-1">
                        You have accepted an offer for the project
                        <a class="text-decoration-none" href="{{ url_for('student.selector_view_project', sid=sel.id, pid=offer.liveproject.id, url=url_for('student.dashboard'), text='home dashboard') }}">
                            <strong>{{ project.name }}</strong>
                        </a>
                        supervised by
                        <i class="fas fa-user-circle"></i> {{ project.owner.user.name }}.
                    </div>
                    <div class="mt-1">
                        If you prefer to change your decision, you can decline this project
                        at any point up to the deadline.
                    </div>
                {% else %}
                    <div class="mt-1">
                        We have detected an issue with your selection.
                        Please contact the project convenor.
                    </div>
                {% endif %}
            {% endcall %}
        </div>
    {% else %}
        {% if sel.has_submitted %}
            <div class="alert alert-success mt-3 mb-3">
                {% call icon_block("check-circle") %}
                    <div><strong>You have submitted a valid selection.</strong></div>
                    <div class="mt-1">
                        You may continue to revise and resubmit your list up to the deadline.
                        <a class="text-decoration-none" href="{{ url_for('student.view_selection', sid=sel.id) }}">Show selection...</a>
                    </div>
                    {% if sel.has_sumission_list and sel.submission_time %}
                        <div class="mt-1">
                            Last submission received at <strong>{{ sel.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}</strong>.
                        </div>
                    {% endif %}
                {% endcall %}
            </div>
        {% else %}
            <div class="alert alert-secondary mt-3 mb-3">
                {% call icon_block("info-circle") %}
                    <div><strong>You have not yet submitted your project preferences.</strong></div>
                {% endcall %}
            </div>
        {% endif %}
    {% endif %}
    <div class="d-flex justify-content-end align-items-start w-100">
        {% if sel.has_submission_list %}
            <a class="btn btn-outline-secondary student-dashboard-button" href="{{ url_for('student.clear_submission', sid=sel.id) }}">
                Clear submission
            </a>
        {% endif %}
        <a id="P{{ config.id }}-valid-button"
           class="btn btn-outline-primary {% if not is_valid %}d-none{% endif %} student-dashboard-button"
           href="{{ url_for('student.submit', sid=sel.id) }}">
            {% if sel.has_submission_list %}Resubmit{% else %}Submit{% endif %} selection
        </a>
        <a id="P{{ config.id }}-invalid-button"
           class="btn btn-outline-primary disabled {% if is_valid %}d-none{% endif %} student-dashboard-button">
            {% if sel.has_submission_list %}Resubmit{% else %}Submit{% endif %} selection
        </a>
    </div>
{% endmacro %}


{% macro closed_card(config, sel) %}
    <div class="alert alert-warning mb-3">
        {% call icon_block("info-circle") %}
            <div>
                Project selection for {{ config.select_year_a }}&ndash;{{ config.select_year_b }}
                is now closed.
            </div>
        {% endcall %}
    </div>
    {% if sel.has_submitted %}
        <div class="mt-1">
            {% set f = sel.selections.first() %}
            {% if f.converted_from_bookmark %}
                <ul>
                    <li>
                        You did not submit a valid selection before the deadline, but your bookmark data was
                        used to build an approximate preference list.
                    </li>
                </ul>
            {% else %}
                {% if sel.submission_time %}
                    <ul>
                        <li>
                            Your preferences were received at {{ sel.submission_time.strftime("%a %d %b %Y %H:%M:%S") }}.
                            <a class="text-decoration-none" href="{{ url_for('student.view_selection', sid=sel.id) }}">Show selection...</a>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>Your preferences have been received.</li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        {% if config.selection_open_to_all %}
            <ul>
                <li><strong>This project was available on an opt-in basis</strong></li>
                <li>
                    You did not submit a valid selection before the deadline,
                    so we have assumed
                    that you did not intend to apply.
                </li>
            </ul>
        {% else %}
            <ul>
                <li><strong>You did not submit a valid selection before the deadline.</strong></li>
                <li>You will be allocated a project  after the main matching calculation has been performed.</li>
            </ul>
        {% endif %}
    {% endif %}
    <div class="d-flex justify-content-end mt-2">
        <a href="{{ url_for('student.selector_browse_projects', id=sel.id) }}" class="btn btn-outline-success student-dashboard-button">View project list...</a>
    </div>
{% endmacro %}


{% macro render_bookmarks(config, sel) %}
    <div class="list-group" id="P{{ config.id }}-bookmarks">
        {% for bookmark in sel.ordered_bookmarks %}
        {% set project = bookmark.liveproject %}
            <div id="P{{ config.id }}-{{ project.id }}"
                 class="row vertical-top list-group-item {% if config.uses_selection and (loop.index <= sel.number_choices) %}selected-project{% else %}deselected-project{% endif %}">
                <div class="col-1">
                    <i class="fas fa-bars drag-handle"></i>
                    <span id="ranking" class="badge {% if not config.uses_selection %}bg-secondary{% elif loop.index <= sel.number_choices %}bg-success{% else %}bg-danger{% endif %}">#{{ loop.index }}</span>
                </div>
                <div class="col-3">
                    <a class="text-decoration-none" href="{{ url_for('student.selector_view_project', sid=sel.id, pid=project.id) }}">
                        <strong>{{ project.name }}</strong>
                    </a>
                    {% if not sel.satisfies_recommended(project) %}
                        <div class="alert alert-danger">
                            {% call icon_block("exclamation-triangle") %}
                                <div>This project has recommended modules that are not available on your programme</div>
                            {% endcall %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if project.generic %}
                        <span class="badge bg-info">Generic</span>
                    {% else %}
                        {% if project.owner is not none %}
                            <a class="text-decoration-none" href="mailto:{{ project.owner.user.email }}">
                                {{ project.owner.user.name }}
                            </a>
                        {% else %}
                            <span class="badge bg-danger">Missing</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if config.uses_selection %}
                        {% if not project.is_available(sel) %}
                            {% if project.is_waiting(sel) %}
                                <div class="dropdown student-confirm-button" style="display: inline-block;">
                                    <a class="badge text-decoration-none text-nohover-dark bg-info dropdown-toggle" data-bs-toggle="dropdown" role="button" href="" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-clock"></i>
                                        Meeting confirmation requested
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0">
                                        <a class="dropdown-item d-flex gap-2" href="{{ url_for('student.cancel_confirmation', sid=sel.id, pid=project.id) }}">
                                            Cancel request
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="dropdown student-confirm-button" style="display: inline-block;">
                                    <a class="badge text-decoration-none text-nohover-light bg-danger dropdown-toggle" data-bs-toggle="dropdown" role="button" href="" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Requires meeting confirmation
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0">
                                        <a class="dropdown-item d-flex gap-2" href="{{ url_for('student.request_confirmation', sid=sel.id, pid=project.id) }}">
                                            Request confirmation
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if project.is_confirmed(sel) %}
                                <span class="badge bg-success"><i class="fas fa-check"></i> Available for selection</span>
                                <span class="badge bg-primary"><i class="fas fa-check"></i> Meeting confirmed</span>
                            {% else %}
                                <span class="badge bg-success"><i class="fas fa-check"></i> Available for selection</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="float-end">
                        <a href="{{ url_for('student.remove_bookmark', sid=sel.id, pid=project.id) }}" class="badge bg-secondary text-decoration-none text-white">
                            <i class="fas fa-times"></i> Remove bookmark
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro selection_card(config, sel) %}
    {% set ns = namespace(bgclass = '', borderclass = '', textclass = '') %}
    {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
        {% set ns.bgclass = 'bg-primary' %}
        {% set ns.borderclass = 'border-primary' %}
        {% set ns.textclass = 'text-white' %}
    {% elif config.selector_lifecycle >= config.SELECTOR_LIFECYCLE_READY_MATCHING %} {# implies closed #}
        {% set ns.bgclass = 'bg-secondary' %}
        {% set ns.borderclass = 'border-secondary' %}
        {% set ns.textclass = 'text-white' %}
    {% else %}
        {# no markup required; formerly panel-default #}
    {% endif %}
    <div class="card {{ ns.borderclass }} mt-3 mb-3">
        <div class="card-header {{ ns.bgclass }} {{ ns.textclass }}">
            {% if sub %}
                <strong>Request to switch projects</strong>
            {% else %}
                {% if config.uses_selection %}
                    <strong>Project selection</strong>
                {% else %}
                    <strong>Project list</strong>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-body">
            {% if config.selector_lifecycle == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                {% if sel.is_initial_selection and sel.is_optional %}
                    <div class="alert alert-info">
                        {% call icon_block("info-circle") %}
                            <div><strong>This project is optional.</strong></div>
                            {% if config.uses_selection %}
                                <div class="mt-1">
                                    If you choose not to submit a project selection, we will assume you
                                    don't wish to participate.
                                </div>
                            {% endif %}
                        {% endcall %}
                    </div>
                {% endif %}
                {{ open_card(config, sel) }}
                {% if config.uses_selection %}
                    {% set num_choices = sel.number_choices %}
                    {% set numpl = 's' %}
                    {% if num_choices == 1 %}{% set numpl = '' %}{% endif %}
                    {% if sel.is_initial_selection %}
                        <ul>
                            {% if sel.is_optional %}
                                <li><strong>To apply, select at least {{ num_choices }} project{{ numpl }}.</strong></li>
                            {% else %}
                                <li><strong>Select at least {{ num_choices }} project{{ numpl }}.</strong></li>
                            {% endif %}
                            <li>
                                Although we make every effort,
                                it is not possible to guarantee that you will be assigned
                                your highest-ranked choice.
                            </li>
                        </ul>
                     {% else %}
                        <ul>
                            <li><strong>
                                If you wish to continue with your existing supervisor,
                                there is no need to do anything.
                            </strong> </li>
                            <li>
                                To change supervisor, select at least {{ num_choices }} project{{ numpl }} and ensure
                                your list is
                                submitted before the deadline.
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
                {# render bookmarks #}
                {% if sel.has_bookmarks %}
                    {{ render_bookmarks(config, sel) }}
                {% endif %}
                {% if config.uses_selection %}
                    {{ show_submission_status(config, sel) }}
                {% endif %}
            {% elif config.selection_closed %}
                {{ closed_card(config, sel) }}
            {% else %}
                <div>
                    {% call icon_block("info-circle") %}
                        <div>
                            {% if config.uses_selection %}
                                <strong>Project selection for {{ config.select_year_a }}&ndash;{{ config.select_year_b }} is not yet available.</strong>
                            {% else %}
                                <strong>The project list for {{ config.select_year_a}}&ndash;{{ config.select_year_b }} is not yet available.</strong>
                            {% endif %}
                        </div>
                    {% endcall %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
