{% from "icon_block.html" import icon_block %}

{% macro submission_card(config, sub, n, today) %}
    {% set period = config.get_period(n+1) %}
    {% if period %}
        {% set ns = namespace(bgclass = '', borderclass = '', textclass = '') %}
        {% if n+1 == config.submission_period %}
            {% if period.closed %}
                {% set ns.bgclass = 'bg-light' %}
                {% set ns.borderclass = 'border-secondary' %}
            {% elif period.is_feedback_open %}
                {% set ns.bgclass = 'bg-info' %}
                {% set ns.borderclass = 'border-info' %}
                {% set ns.textclass = 'text-white' %}
            {% elif period.start_date and period.start_date > today %}
                {# no markup required; formerly panel-default #}
            {% else %}
                {# no markup required; formerly bg-success #}
{#                {% set ns.bgclass = 'bg-success' %}#}
{#                {% set ns.borderclass = 'border-success' %}#}
{#                {% set ns.textclass = 'text-white' %}#}
            {% endif %}
        {% else %}
            {# no markup required; formerly panel-default #}
        {% endif %}
        <div class="card {{ ns.borderclass }} mt-3 mb-3">
            <div class="card-header {{ ns.bgclass }} {{ ns.textclass }}">
                {% if period.submission_period == config.submission_period %}
                    <strong>{{ period.display_name|safe }}</strong>
                {% else %}
                    {{ period.display_name|safe }}
                {% endif %}
                {% if period.canvas_enabled %}
                    <div class="small">
                        <a class="text-decoration-none" href="{{ period.canvas_assignment_URL }}">Go to Canvas submission page</a>
                        <i class="text-muted fas fa-external-link"></i>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                {% if period.closed %}
                    <div class="alert alert-secondary mt-1 mb-2">
                        {% call icon_block("info-circle") %}
                            <strong>Activity for this period is now closed.</strong>
                        {% endcall %}
                    </div>
                {% else %}
                    {% if period.is_feedback_open %}
                        <div class="alert alert-info mt-1 mb-2">
                            {% call icon_block("info-circle") %}
                                <div><strong>Marking and feedback for this submission period is now underway.</strong></div>
                            {% endcall %}
                        </div>
                    {% else %}
                        {% if period.submission_period > config.submission_period %}
                            <div class="alert alert-secondary mt-1 mb-2">
                                {% call icon_block("info-circle") %}
                                    <strong>Activity for this period has not yet commenced.</strong>
                                {% endcall %}
                            </div>
                        {% elif period.submission_period == config.submission_period %}
                            {% if period.start_date %}
                                {% if period.start_date > today %}
                                    <div class="alert alert-info mt-1 mb-2">
                                        {% call icon_block("info-circle") %}
                                            <strong>This submission period will begin on {{ period.start_date.strftime("%a %d %b %Y") }}</strong>
                                        {% endcall %}
                                    </div>
                                {% else %}
                                    <div class="alert alert-info mt-1 mb-2">
                                        {% call icon_block("info-circle") %}
                                            <div><strong>This submission period commenced on {{ period.start_date.strftime("%a %d %b %Y") }}</strong></div>
                                            {% if period.hand_in_date %}
                                                <div class="mt-1">
                                                    The hand-in date for this period is <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                                    ({{ period.time_to_hand_in }} from now)
                                                </div>
                                            {% endif %}
                                        {% endcall %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-info mt-1 mb-2">
                                    {% call icon_block("info-circle") %}
                                        <div><strong>Normal project activity is underway.</strong></div>
                                        {% if period.hand_in_date %}
                                            <div class="mt-1">
                                                The hand-in date for this period is <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                                ({{ period.time_to_hand_in }} from now)
                                            </div>
                                        {% endif %}
                                    {% endcall %}
                                </div>
                            {% endif %}
                        {% else %}
                            <span class="badge bg-danger">Error: Submission period lifecycle inconsistent</span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {# show assignments #}
                {% set record = sub.get_assignment(period) %}
                {% if record %}
                    {% set uses_project_hub = record.uses_project_hub %}
                    {% if sub.published and record.project is not none %}
                        <div class="dashboard-subtitle pb-1">Project assignment</div>
                        <div class="row vertical-top">
                            <div class="col-3">
                                {% set supv_roles = record.supervisor_roles %}
                                {% if supv_roles|length > 0 %}
                                    <div class="d-flex flex-column justify-content-start align-content-start">
                                        {% for role in supv_roles %}
                                            <a class="text-decoration-none" href="mailto:{{ role.user.email }}">{{ role.user.name }}</a>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <span class="badge bg-danger text-white">No supervisors assigned</span>
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <div class="d-flex flex-row justify-content-between align-items-start w-100">
                                    <div class="d-flex flex-column justify-content-start align-items-start gap-1">
                                        <strong><a class="text-decoration-none" href="{{ url_for('student.submitter_view_project', sid=sub.id, pid=record.project.id, text='dashboard', url=url_for('student.dashboard')) }}">{{ record.project.name }}</a></strong>
                                        <div>
                                            {% if record.student_feedback_submitted and record.acknowledge_feedback %}
                                                <span class="badge bg-success"><i class="fas fa-check"></i> Your feedback acknowledged</span>
                                            {% endif %}
                                            {% if record.faculty_response_submitted %}
                                                <span class="badge bg-success"><i class="fas fa-check"></i> Supervisor response</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-end align-items-start">
                                        {% if uses_project_hub %}
                                            <div class="btn-group">
                                                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('projecthub.hub', subid=record.id, url=url_for('student.dashboard'), text='home dashboard') }}">Go to project hub</a>
                                        {% endif %}
                                                <div class="btn-group">
                                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                                        Actions
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end">
                                                        {% if uses_project_hub %}
                                                            <a class="dropdown-item d-flex gap-2" href="{{ url_for('projecthub.hub', subid=record.id, url=url_for('student.dashboard'), text='home dashboard') }}"><i class="fab fa-hubspot fa-fw"></i> Project hub...</a>
                                                        {% else %}
                                                            <a class="dropdown-item d-flex gap-2" href="{{ url_for('documents.submitter_documents', sid=record.id, url=url_for('student.dashboard'), text='home dashboard') }}"><i class="fas fa-file fa-fw"></i> Manage documents ({{ record.number_attachments_student }})...</a>
                                                        {% endif %}
                                                        {% if record.has_feedback %}
                                                            <a class="dropdown-item d-flex gap-2" href="{{ url_for('student.view_feedback', id=record.id, preview=1, text='home dashboard', url=url_for('student.dashboard')) }}"><i class="fas fa-search fa-fw"></i> View feedback...</a>
                                                        {% endif %}
                                                        <div role="separator" class="dropdown-divider"></div>
                                                        <a class="dropdown-item d-flex gap-2" href="{{ url_for('student.submitter_browse_projects', id=sub.id) }}"><i class="fas fa-search fa-fw"></i> View project list...</a>
                                                    </div>
                                                </div>
                                        {% if uses_project_hub %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# deal with presentation if this period has one #}
                        {% if period.has_presentation %}
                            {% if period.has_deployed_schedule %}
                                {% set schedule = period.deployed_schedule %}
                                {% set slot = period.get_student_presentation_slot(sub.id) %}
                                <div class="dashboard-subtitle pt-1 pb-1">{{ schedule.event_name }}</div>
                                {% if slot is not none %}
                                    <span class="text-secondary">{{ slot.session.label_as_string }} {{ slot.room.full_name }}</span>
                                    {% for assessor in slot.assessors %}
                                        <span class="badge bg-secondary">{{ assessor.user.name }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">Assessor information missing</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="badge bg-warning text-dark">Not attending</span>
                                {% endif %}
                            {% else %}
                                <div class="dashboard-subtitle mt-3 mb-2">Presentation assessment</div>
                                <p>Schedule not yet available &mdash; details to be announced</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="row vertical-top">
                            <div class="col-12">
                                <div class="dashboard-notification-panel">
                                    <p><strong>To be announced.</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div style="text-align: center; padding-top: 4px; padding-bottom: 4px; background-color: #e9ecef;">No projects assigned</div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="card mt-3 mb-3">
            <div class="card-header"><strong>Submission period #{{ n+1 }}</strong></div>
            <div class="card-body">
                <span class="badge bg-danger">Error: Could not read period record</span>
            </div>
        </div>
    {% endif %}
{% endmacro %}
