{% macro submission_card(config, sub, n, today) %}
    {% set period = config.get_period(n+1) %}
    {% if period %}
        <div class="card">
            <div class="card-header
                {% if n+1 == config.submission_period %}
                    {% if period.closed %}
                        bg-secondary text-white
                    {% elif period.is_feedback_open %}
                        bg-info text-white
                    {% elif period.start_date and period.start_date > today %}
                        {# no markup required; formerly panel-default #}
                    {% else %}
                        bg-success text-white
                    {% endif %}
                {% else %}
                    {# no markup required; formerly panel-default #}
                {% endif %}
            ">
                {% if period.submission_period == config.submission_period %}
                    <strong>{{ period.display_name|safe }}</strong>
                {% else %}
                    {{ period.display_name|safe }}
                {% endif %}
            </div>
            <div class="card-body">
                {% if period.closed %}
                    <p>Activity for this submission period is now closed.</p>
                {% else %}
                    {% if period.is_feedback_open %}
                        <p>Marking and feedback for this submission period is now underway.</p>
                    {% else %}
                        {% if period.submission_period > config.submission_period %}
                            <p>Activity for this period has not yet commenced.</p>
                        {% elif period.submission_period == config.submission_period %}
                            {% if period.start_date and period.start_date > today %}
                                <p>This period will begin on {{ period.start_date.strftime("%a %d %b %Y") }}</p>
                            {% else %}
                                <p>Normal project activity is underway.</p>
                            {% endif %}
                        {% else %}
                            <span class="badge badge-danger">Error: Submission period lifecycle inconsistent</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr class="intro-divider">

                {# show assignments #}
                {% set record = sub.get_assignment(period) %}
                {% if record %}
                    {% if sub.published and record.project is not none %}
                        <div class="dashboard-subtitle" style="padding-bottom: 8px;">Project assignment</div>
                        <div class="row vertical-top">
                            <div class="col-3">
                                <a href="mailto:{{ record.project.owner.user.email }}">{{ record.project.owner.user.name }}</a>
                            </div>
                            <div class="col-5">
                                {{ record.project.name }} (No. {{ record.project.number }})
                                <div>
                                    {% if record.student_feedback_submitted and record.acknowledge_feedback %}
                                        <span class="badge badge-success"><i class="fas fa-check"></i> Your feedback acknowledged</span>
                                    {% endif %}
                                    {% if record.faculty_response_submitted %}
                                        <span class="badge badge-success"><i class="fas fa-check"></i> Supervisor response</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-4">
                                <div style="text-align: right;" class="float-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ url_for('documents.submitter_documents', sid=record.id, url=url_for('student.dashboard'), text='home dashboard') }}"><i class="fas fa-file fa-fw"></i> Manage documents ({{ record.number_attachments_student }})...</a>
                                            {% if record.has_feedback %}
                                                <a class="dropdown-item" href="{{ url_for('student.view_feedback', id=record.id, preview=1, text='home dashboard', url=url_for('student.dashboard')) }}"><i class="fas fa-search fa-fw"></i> View feedback...</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# deal with presentation if this period has one #}
                        {% if period.has_presentation %}
                            {% if period.has_deployed_schedule %}
                                {% set schedule = period.deployed_schedule %}
                                {% set slot = period.get_student_presentation_slot(sub.id) %}
                                <div class="dashboard-subtitle" style="padding-bottom: 8px; padding-top: 12px;">{{ schedule.event_name }}</div>
                                {% if slot is not none %}
                                    <span class="badge badge-primary">{{ slot.date_as_string }}</span>
                                    <span class="badge badge-info">{{ slot.session_type_string }}</span>
                                    <span class="badge badge-info">{{ slot.room_full_name }}</span>
                                    {% for assessor in slot.assessors %}
                                        <span class="badge badge-secondary">{{ assessor.user.name }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">Assessor information missing</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="badge badge-warning">Not attending</span>
                                {% endif %}
                            {% else %}
                                <div class="dashboard-subtitle" style="padding-bottom: 8px; padding-top: 12px;">Presentation assessment</div>
                                <p>Schedule not yet available &mdash; details to be announced</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="row vertical-top">
                            <div class="col-12">
                                <div class="dashboard-notification-panel">
                                    <p><strong>To be announced.</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div style="text-align: center; padding-top: 4px; padding-bottom: 4px; background-color: #e9ecef;">No projects assigned</div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="card mt-3 mb-3">
            <div class="card-header"><strong>Submission period #{{ n+1 }}</strong></div>
            <div class="card-body">
                <span class="badge badge-danger">Error: Could not read period record</span>
            </div>
        </div>
    {% endif %}
{% endmacro %}
