{% extends "base_app.html" %}

{% block scripts %}
    {{ super() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js", "AMSmath.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                displayMath: [ ['$$','$$'], ["\[","\]"] ],
                processEscapes: true
            },
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            {% if text and url %}
                <div class="top-return-link">
                    <a href="{{ url }}">
                        <i class="fa fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}

            {% if record.supervisor_submitted %}
                <div class="panel panel-default">
                    <div class="panel-heading">Supervisor feedback on project and marked report</div>
                    <div class="panel-body">
                        <span class="dashboard-subtitle">Positive aspects</span>
                        {{ record.supervisor_positive|dealingwithdollars|markdown|bclean|blinkify|safe }}
                        <hr class="intro-divider">
                        <span class="dashboard-subtitle">Negative aspects</span>
                        {{ record.supervisor_negative|dealingwithdollars|markdown|bclean|blinkify|safe }}
                    </div>
                </div>
            {% else %}
                <div class="well">
                    No supervisor feedback has been recorded.
                </div>
            {% endif %}

            {% if record.marker_submitted or (record.marker_positive or record.marker_negative) and preview %}
                <div class="panel panel-default">
                    <div class="panel-heading">Marker feedback on marked report</div>
                    <div class="panel-body">
                        <span class="dashboard-subtitle">Positive aspects</span>
                        {{ record.marker_positive|dealingwithdollars|markdown|bclean|blinkify|safe }}
                        <hr class="intro-divider">
                        <span class="dashboard-subtitle">Negative aspects</span>
                        {{ record.marker_negative|dealingwithdollars|markdown|bclean|blinkify|safe }}
                    </div>
                </div>
            {% else %}
                <div class="well">
                    No marker feedback has been recorded.
                </div>
            {% endif %}

            {% if record.student_feedback_submitted or (record.student_feedback and preview) %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        My feedback
                        <div class="pull-right">
                            {% if record.acknowledge_feedback %}
                                <span class="label label-success">Acknowledged</span>
                            {% else %}
                                <span class="label label-default">Not yet acknowledged</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ record.student_feedback|dealingwithdollars|markdown|bclean|blinkify|safe }}
                    </div>
                    {% if record.faculty_response_submitted %}
                        <div class="panel-footer">
                            {{ record.faculty_response|dealingwithdollars|markdown|bclean|blinkify|safe }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        My feedback
                    </div>
                    <div class="panel-body">
                        <span class="small">You have not yet entered any feedback.</span>
                    </div>
                </div>
            {% endif %}

            {% if text and url %}
                <div>
                    <a href="{{ url }}">
                        <i class="fa fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}