{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit preferred degree programmes for project <strong>{{ data.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if data and data.programmes and programmes %}
                <h4>
                {% for programme in programmes %}
                    {% if programme in data.programmes %}
                        <a class="btn btn-success btn-sm selection-label" href="{{ url_for('faculty.remove_programme', projectid=data.id, progid=programme.id) }}"><i class="fa fa-times"></i> {{ programme.name }} {{ programme.degree_type.name }}</a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No current programmes</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            {% if data and programmes %}
                <h4>
                {% for programme in programmes %}
                    {% if programme not in data.programmes %}
                        <a class="btn btn-info selection-label" href="{{ url_for('faculty.add_programme', projectid=data.id, progid=programme.id) }}"><i class="fa fa-plus"></i> {{ programme.name }} {{ programme.degree_type.name }}</a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No available programmes</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url_for('faculty.edit_my_projects') }}">
        <i class="fa fa-backward"></i> Return to project list
    </a>
{% endblock %}
