{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title %}
    Faculty dashboard
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

            {% if enrollments %}

                {% for config, live_projects in enrollments %}

                    {% set pclass = config.project_class %}
                    <div class="well">
                        <p><span class="dashboard-project-title">{{ pclass.name }} {{ config.year }}</span></p>
                        <p><span>
                            Convenor:
                            <a class="btn btn-link" href="mailto:{{ pclass.convenor.email }}">
                                {{ pclass.convenor.build_name() }}
                            </a>
                        </span></p>

                        <div class="panel
                            {% if config.open %}
                                panel-success
                            {% elif config.closed %}
                                panel-warning
                            {% elif config.requests_issued and current_user.faculty_data in config.golive_required %}
                                panel-primary
                            {% else %}
                                panel-info
                            {% endif %}
                            ">

                            <div class="panel-heading">
                                {% if config.open %}
                                    <strong>Status</strong>
                                    <div class="pull-right">
                                        <span class="label label-success">Student choices open</span>
                                        {% if config.live_deadline %}
                                            <span class="label label-success">Selection closes <strong>{{ config.live_deadline.strftime("%a %d %b (%Y)") }}</strong></span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    Status
                                    <div class="pull-right">
                                        <span class="label label-default">Student choices not open</span>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="panel-body">

                                {# show confirmation request if one is active #}
                                {% if config.project_class.require_confirm and config.requests_issued and current_user.faculty_data in config.golive_required %}
                                    <div class="panel panel-danger">
                                        <div class="panel-heading"><strong>Confirmation of project descriptions</strong></div>
                                        <div class="panel-body">
                                            <p>Please review your projects to ensure the descriptions are up-to-date,
                                            and those you wish to offer next year are active and attached to
                                            the correct project classes.</p>
                                            {% if config.request_deadline %}
                                                <p>The project convenor has set a deadline of
                                                    <strong>{{ config.request_deadline.strftime("%a %d %b (%Y)") }}</strong>, which is
                                                    <strong>{{ config.time_to_request_deadline }} from now</strong>.
                                                </p>
                                                <p>After the deadline, projects will be finalized and
                                                    made avaliable to the students for selection.
                                                </p>
                                            {% endif %}
                                            <a href="{{ url_for('faculty.confirm_pclass', id=pclass.id) }}" class="btn btn-danger">Confirm</a>
                                        </div>
                                    </div>
                                {% endif %}

                                {# show basic details about this project #}
                                {% set nproj = current_user.faculty_data.projects_offered(pclass) %}
                                {% if nproj == 1 %}
                                    {% set plural = '' %}
                                {% else %}
                                    {% set plural = 's' %}
                                {% endif %}
                                <div class="row vertical-align">
                                    <div class="col-xs-9">
                                        {% if nproj == 0 %}
                                        <div class="has-error">
                                        <div class="help-block">
                                        <strong>
                                        {% endif %}
                                        {{ nproj }} active project{{ plural }} attached to this project class.
                                        {% if nproj == 0 %}
                                        </strong>
                                        </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="pull-right">
                                            <a href="{{ url_for('faculty.edit_my_projects') }}" class="btn btn-default">Edit my projects</a>
                                        </span>
                                    </div>
                                </div>

                                {# show details about projects on the live system #}
                                {% set number_live_projects = live_projects.count() %}
                                {% if config.open and live_projects.count() > 0 %}
                                    <hr class="intro-divider">
                                    <p>You have <strong>{{ number_live_projects }}</strong> projects on the live system</p>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Bookmarks</th>
                                                <th>Page views</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for project in live_projects %}
                                                <tr>
                                                    <td>{{ project.name }}</td>
                                                    <td>{{ project.bookmarked_students.count() }}</td>
                                                    <td>{{ project.page_views }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}

        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}
