{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "chosen.html" import import_chosen %}

{% block scripts %}
    {{ super() }}
    {{ import_chosen() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#group').chosen();
            $('#owner').chosen();
            $('#project_classes').chosen({
                placeholder_text_multiple: 'Select one or more project classes...'
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if project %}
        {% if url is not defined %}{% set url = none %}{% endif %}
        {% if text is not defined %}{% set text = none %}{% endif %}
        {% if pclass_id is defined %}
            <form action="{{ url_for('convenor.edit_project', id=project.id, pclass_id=pclass_id, url=url, text=text) }}" method="POST" name="project_form">
        {% else %}
            <form action="{{ url_for('faculty.edit_project', id=project.id, url=url, text=text) }}" method="POST" name="project_form">
        {% endif %}
    {% else %}
        {% if pclass_id is defined %}
            <form action="{{ url_for('convenor.add_project', pclass_id=pclass_id) }}" method="POST" name="project_form">
        {% else %}
            <form action="{{ url_for('faculty.add_project') }}" method="POST" name="project_form">
        {% endif %}
    {% endif %}

        {{ project_form.hidden_tag() }}

{#        {{ wtf.form_errors(project_form) }}#}

        {{ wtf.render_field(project_form.name) }}
        {{ wtf.render_field(project_form.keywords) }}
        {{ wtf.render_field(project_form.group) }}

        {% if project_form.owner %}
            {{ wtf.render_field(project_form.owner) }}
        {% endif %}

        {{ wtf.render_field(project_form.project_classes) }}

        <div class="card mt-3 mb-3 card-body bg-well">
            {{ wtf.render_field(project_form.meeting_reqd) }}
            {{ wtf.render_field(project_form.enforce_capacity) }}
            {{ wtf.render_field(project_form.dont_clash_presentations) }}
            <div class="form-group-heading mt-2">Should the project page include popularity information?</div>
            <div class="form-text text-muted mb-3">
                This information is intended to help students gauge whether a project is likely to be
                oversubscribed.
            </div>
            {{ wtf.render_field(project_form.show_popularity) }}
            {{ wtf.render_field(project_form.show_bookmarks) }}
            {{ wtf.render_field(project_form.show_selections) }}
        </div>

        {{ wtf.render_field(project_form.submit, button_map={'submit': 'primary'}) }}
        {% if project_form.save_and_exit %}
            {{ wtf.render_field(project_form.save_and_exit, button_map={'save_and_exit': 'secondary'}) }}
        {% endif %}
        {{ wtf.render_field(project_form.save_and_preview, button_map={'save_and_preview': 'secondary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(project) }}
    {{ super() }}
{% endblock %}
