{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "icon_block.html" import icon_block %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#descriptions-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { 'url': $SCRIPT_ROOT + '/faculty/descriptions_ajax/{{ project.id }}{% if create %}?create=1{% endif %}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'label' },
                    { data: 'pclasses' },
                    { data: 'team' },
                    { data: 'capacity' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Edit project variants
{% endblock %}

{% block bodyblock %}
    <div class="top-return-link">
        <a href="{{ url_for('faculty.edit_projects') }}">
            <i class="fas fa-backward"></i> Return to project list
        </a>
    </div>

   <div class="card mt-3 mb-3">
        <div class="card-header bg-primary text-white">Edit variants for <strong>{{ project.name }}</strong></div>
        <div class="card-body">
            <div class="card card-body bg-well mt-1 mb-3">
                {% call icon_block("info-circle") %}
                    <div>
                        Variants are different &ldquo;flavours&rdquo; of the same project that can be offered to
                        students depending on their programme. Typical examples are <strong>MPhys</strong>
                        and <strong>BSc (Hons)</strong> versions of the same project.
                        The same variant can be offered to students belonging to multiple programmes.
                    </div>
                    <div class="mt-1">
                        There is no need to generate a separate variant for each programme unless you wish to do so.
                    </div>
                {% endcall %}
            </div>
            {% if missing_aims and missing_aims|length > 0 %}
                {% set num_missing = missing_aims|length %}
                {% set pl = '' if num_missing == 1 else 's' %}
                {% set isare = 'is' if num_missing == 1 else 'are'  %}
                <div class="alert alert-danger mt-1 mb-3">
                    {% call icon_block("exclamation-circle") %}
                        <strong>The following description{{ pl }} {{ isare }} missing a statement of aims:</strong>
                        <ul>
                            {% for desc in missing_aims %}
                                <li>{{ desc.label }}</li>
                            {% endfor %}
                        </ul>
                        To help improve our support for robust project marking,
                        please consider providing a suitable statement for these descriptions.
                        You can do so using the &ldquo;Settings...&rdquo; option available from the
                        drop-down actions menu for each variant.
                    {% endcall %}
                </div>
            {% endif %}
            <table id="descriptions-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="20%"> Variant</th>
                    <th width="25%"> Active for</th>
                    <th width="25%"> Supervision team</th>
                    <th width="15%"> Capacity</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
            <div style="text-align: center;">
                <a href="{{ url_for('faculty.add_description', pid=project.id, create=create) }}" class="btn btn-secondary btn-lg">
                    <i class="fas fa-plus"></i>
                    Add new variant
                </a>
            </div>
        </div>
    </div>

    {% if create %}
        <a href="{{ url_for('faculty.attach_assessors', id=project.id, create=1) }}" class="btn btn-primary">
            Next: Attach assessors
        </a>
        <a href="{{ url_for('faculty.edit_projects') }}" class="btn btn-secondary">
            Save and exit
        </a>
        <a href="{{ url_for('faculty.project_preview', id=project.id, text='project list', url=url_for('faculty.edit_projects')) }}" class="btn btn-secondary">
            Save and preview
        </a>
    {% else %}
        <a href="{{ url_for('faculty.edit_projects') }}">
            <i class="fas fa-backward"></i> Return to project list
        </a>
    {% endif %}
{% endblock %}
