{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if desc %}
        Edit description <strong>{{ desc.label }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if desc %}
        {% if pclass_id is defined %}
            <form action="{{ url_for('convenor.edit_description', did=desc.id, pclass_id=pclass_id, create=create) }}" method="POST" name="form">
        {% else %}
            <form action="{{ url_for('faculty.edit_description', did=desc.id, create=create) }}" method="POST" name="form">
        {% endif %}
    {% else %}
        {% if pclass_id is defined %}
            <form action="{{ url_for('convenor.add_description', pid=project.id, pclass_id=pclass_id, create=create) }}" method="POST" name="form">
        {% else %}
            <form action="{{ url_for('faculty.add_description', pid=project.id, create=create) }}" method="POST" name="form">
        {% endif %}
    {% endif %}

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {{ wtf.render_field(form.label) }}
        {{ wtf.render_field(form.capacity) }}

        <div class="card mt-3 mb-3 card-body bg-well {% if form.project_classes.errors %}has-error{% endif %}">
            <p>Select the project classes for which this description should be made available</p>
            {% for widget in form.project_classes %}
                {{ wtf.render_field(widget) }}
            {% else %}
                <div class="has-error">
                    <p class="help-block">All available project classes have already been assigned</p>
                </div>
            {% endfor %}
            {% if form.project_classes.errors %}
                {% for error in form.project_classes.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well {% if form.team.errors %}has-error{% endif %}">
            <p>Who will be part of the supervisory team?</p>
            {% for widget in form.team %}
                {{ wtf.render_field(widget) }}
            {% else %}
                <span class="badge badge-danger">No supervisory roles currently available</span>
            {% endfor %}
            {% if form.team.errors %}
                {% for error in form.team.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <hr class="intro-divider">
        {{ wtf.render_field(form.aims) }}
        {{ wtf.render_field(form.description) }}

        <hr class="intro-divider">
        {{ wtf.render_field(form.review_only) }}
<div class="help-block">
    <p>Projects marked as literature reviews are marked in the same way as conventional projects.
        An outstanding original literature review should attract the same credit as any other
        outstanding project.
        However, it may be more challenging for students to attain the required level.
        Note that marks for literature reviews are <strong>not capped</strong>
        as a matter of principle.</p>

    <p>This setting is visible to students in order to help them gauge their likelihood of
        success with the project.</p>
</div>

<hr class="intro-divider">
        {{ wtf.render_field(form.reading) }}

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(desc) }}
{% endblock %}
