{% macro project_metadata(project) %}
    {{ project.selections_label()|safe }}
    {{ project.bookmarks_label()|safe }}
    {{ project.views_label()|safe }}

    {% if project.last_view %}
        <span class="label label-default">last view {{ project.last_view.strftime("%a %d %b %Y %H:%M:%S") }}</span>
    {% endif %}

    {% set R = project.popularity_rank %}
    {% if R is not none %}
        {% set rank, total = R %}
        <span class="label label-success">Popularity {{ rank }}/{{ total }}</span>
    {% endif %}

    {% set R = project.selections_rank %}
    {% if R is not none %}
        {% set rank, total = R %}
        <span class="label label-primary">Selections {{ rank }}/{{ total }}</span>
    {% endif %}

    {% set R = project.bookmarks_rank %}
    {% if R is not none %}
        {% set rank, total = R %}
        <span class="label label-info">Bookmarks {{ rank }}/{{ total }}</span>
    {% endif %}

    {% set R = project.views_rank %}
    {% if R is not none %}
        {% set rank, total = R %}
        <span class="label label-info">Views {{ rank }}/{{ total }}</span>
    {% endif %}
{% endmacro %}
