{% extends "base_app.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Set availability for {{ assessment.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if url and text %}
                <div class="top-return-link">
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> {{ text }}
                    </a>
                </div>
            {% endif %}

            <div class="card border-primary mt-3 mb-3">
                <div class="card-header bg-primary text-white">
                    Set availability for assessment event <strong>{{ assessment.name }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="float-end">
                                <a class="btn btn-secondary" href="{{ url_for('faculty.session_all_available', sess_id=assessment.id) }}"><i class="fas fa-check"></i> Set all Available</a>
                                <a class="btn btn-secondary" href="{{ url_for('faculty.session_all_unavailable', sess_id=assessment.id) }}"><i class="fas fa-times"></i> Set all Not available</a>
                            </div>
                        </div>
                    </div>
                    <hr class="intro-divider">
                    <div class="row vertical-top event-table">
                        <div class="col-4"><strong>Date</strong></div>
                        <div class="col-1"><strong>Session</strong></div>
                        <div class="col-7"></div>
                    </div>

                    <form action="{{ url_for('faculty.set_availability', id=assessment.id, url=url, text=text) }}" method="POST" name="availability_form">
                        {{ form.hidden_tag() }}
                        {% for session in assessment.ordered_sessions %}
                            <div class="row vertical-align event-table">
                                <div class="col-4">{{ session.date.strftime("%a %d %b %Y") }}</div>
                                <div class="col-1">{{ session.session_type_label|safe }}</div>
                                <div class="col-7">
                                    <div class="float-end">
                                    {% if session.faculty_available(current_user.id) %}
                                        <a class="btn btn-success btn-sm btn-table-block"><i class="fas fa-check"></i> Available</a>
                                        <a href="{{ url_for('faculty.session_ifneeded', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block">If needed</a>
                                        <a href="{{ url_for('faculty.session_unavailable', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block"><i class="fas fa-times"></i> Not available</a>
                                    {% elif session.faculty_ifneeded(current_user.id) %}
                                        <a href="{{ url_for('faculty.session_available', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block"><i class="fas fa-check"></i> Available</a>
                                        <a class="btn btn-warning btn-sm btn-table-block">If needed</a>
                                        <a href="{{ url_for('faculty.session_unavailable', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block"><i class="fas fa-times"></i> Not available</a>
                                    {% else %}
                                        <a href="{{ url_for('faculty.session_available', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block"><i class="fas fa-check"></i> Available</a>
                                        <a href="{{ url_for('faculty.session_ifneeded', sess_id=session.id) }}" class="btn btn-outline-secondary btn-sm btn-table-block">If needed</a>
                                        <a class="btn btn-danger btn-sm btn-table-block"><i class="fas fa-times"></i> Not available</a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <hr class="intro-divider">
                        {{ wtf.render_field(form.comment) }}
                        {% if form.update %}
                            {{ wtf.render_field(form.update, button_map={'update': 'secondary'}) }}
                        {% endif %}
                        {% if form.confirm %}
                            <hr class="intro-divider">
                            <p>Please confirm your responses when you are finished. It is still possible to make changes up to the deadline.</p>
                            {{ wtf.render_field(form.confirm, button_map={'confirm': 'primary'}) }}
                        {% endif %}
                    </form>
                </div>
            </div>

            {% if url and text %}
                <div>
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> {{ text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
