{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    Settings
{% endblock %}

{% block formtitle %}
    Edit my settings
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('faculty.settings') }}" method="POST" name="settings_form">

    {{ settings_form.hidden_tag() }}

{#        {{ wtf.form_errors(settings_form) }}#}

    <div class="well">
        {{ wtf.form_field(settings_form.username) }}
        {{ wtf.form_field(settings_form.first_name) }}
        {{ wtf.form_field(settings_form.last_name) }}

        {{ wtf.form_field(settings_form.office) }}
        {{ wtf.form_field(settings_form.theme) }}
    </div>

    <div class="well">
        <p>Titles</p>
        {{ wtf.form_field(settings_form.academic_title) }}
        {{ wtf.form_field(settings_form.use_academic_title) }}
    </div>

    <div class="well">
        <p>Default settings for new projects</p>
        {{ wtf.form_field(settings_form.sign_off_students) }}
        {{ wtf.form_field(settings_form.project_capacity) }}
        {{ wtf.form_field(settings_form.enforce_capacity) }}
        {{ wtf.form_field(settings_form.show_popularity) }}
        {{ wtf.form_field(settings_form.dont_clash_presentations) }}
    </div>

    {{ wtf.form_field(settings_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
