{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    Settings
{% endblock %}

{% block formtitle %}
    Edit my settings
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('faculty.settings') }}" method="POST" name="settings_form">

    {{ settings_form.hidden_tag() }}

{#        {{ wtf.form_errors(settings_form) }}#}

    <div class="card m-3 card-body">
        {{ wtf.render_field(settings_form.username) }}
        {{ wtf.render_field(settings_form.first_name) }}
        {{ wtf.render_field(settings_form.last_name) }}

        {{ wtf.render_field(settings_form.office) }}
        {{ wtf.render_field(settings_form.theme) }}
    </div>

    <div class="card m-3 card-body">
        {{ wtf.render_field(settings_form.default_license) }}
    </div>

    <div class="card m-3 card-body">
        <p>Titles</p>
        {{ wtf.render_field(settings_form.academic_title) }}
        {{ wtf.render_field(settings_form.use_academic_title) }}
    </div>

    <div class="card m-3 card-body">
        <p>Email notifications</p>
        {{ wtf.render_field(settings_form.group_summaries) }}
        {{ wtf.render_field(settings_form.summary_frequency) }}
    </div>

    <div class="card m-3 card-body">
        <p>Default settings for new projects</p>
        {{ wtf.render_field(settings_form.sign_off_students) }}
        {{ wtf.render_field(settings_form.project_capacity) }}
        {{ wtf.render_field(settings_form.enforce_capacity) }}
        {{ wtf.render_field(settings_form.show_popularity) }}
        {{ wtf.render_field(settings_form.dont_clash_presentations) }}
    </div>

    {% if settings_form.mask_roles %}
        <div class="card m-3 card-body">
            <p>Temporarily mask roles</p>
            {% for widget in settings_form.mask_roles %}
                {{ wtf.render_field(widget) }}
            {% else %}
                <span class="badge badge-danger">No roles currently available</span>
            {% endfor %}
            {% if settings_form.mask_roles.errors %}
                {% for error in settings_form.mask_roles.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {{ wtf.render_field(settings_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
