{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "icon_block.html" import icon_block %}

{% block title %}
    Show enrolments
{% endblock %}

{% block bodyblock %}
    <div class="row vertical-top">
        <div class="col-2"></div>
        <div class="col-8">
            {% if url %}
                <div class="top-return-link">
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to previous page
                    </a>
                </div>
            {% endif %}
            {% if enrolment_records|length > 0 %}
                {% if unenrolled_pclasses|length > 0 %}
                    <div class="alert alert-info">
                        {% call icon_block("info-circle") %}
                            <div><strong>You are not currently enrolled for the following project classes.</strong></div>
                            <div class="mt-1">
                                If you believe you should be enrolled for one or more of these,
                                please contact the appropriate convenor.
                            </div>
                            <ul class="mt-1">
                                {% for pclass in unenrolled_pclasses %}
                                    <li>
                                        {{ pclass.name }} &ndash; convenor
                                        <a class="text-decoration-none link-primary"
                                           href="mailto:{{ pclass.convenor_email }}">{{ pclass.convenor_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endcall %}
                    </div>
                {% endif %}
                {% for record in enrolment_records %}
                    <div class="card card-body border-info mt-3 mb-3 bg-well">
                        {% set pclass = record.pclass %}
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="dashboard-subtitle">
                                {{ pclass.name }}
                            </div>
                            <div class="text-secondary">
                                Convenor:
                                <a class="text-decoration-none" href="mailto:{{ pclass.convenor.user.email }}">{{ pclass.convenor.user.name }}</a>
                            </div>
                        </div>
                        <hr class="intro-divider mb-2">
                        <div class="row vertical-top mb-2">
                            <div class="col-3 fw-semibold text-secondary">
                                Supervision
                            </div>
                            <div class="col-3 fw-semibold text-secondary">
                                Marking
                            </div>
                            <div class="col-3 fw-semibold text-secondary">
                                Moderation
                            </div>
                            <div class="col-3 fw-semibold text-secondary">
                                Presentations
                            </div>
                        </div>
                        <div class="row vertical-top">
                            <div class="col-3">
                                {% if record.pclass.uses_supervisor %}
                                    {% if record.supervisor_state == record.SUPERVISOR_ENROLLED  %}
                                        <span class="text-success"><i class="fas fa-check-circle"></i> Enrolled</span>
                                    {% elif record.supervisor_state == record.SUPERVISOR_SABBATICAL %}
                                        <span class="text-secondary"><i class="fas fa-stop-circle"></i> Sabbatical/Buyout</span>
                                        {% if record.supervisor_reenroll is not none %}
                                            <span class="text-body-secondary">(ends {{ record.supervisor_reenroll }})</span>
                                        {% else %}
                                            <span class="text-body-secondary">(no end date)</span>
                                        {% endif %}
                                    {% elif record.supervisor_state == record.SUPERVISOR_EXEMPT %}
                                        <span class="text-secondary"><i class="fas fa-times-circle"></i> Exempt</span>
                                    {% else %}
                                        <span class="text-danger"><i
                                                class="fas fa-exclamation-triangle"></i> Error</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-body-secondary"><i class="fas fa-ban"></i> Not used</span>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if record.pclass.uses_marker %}
                                    {% if record.marker_state == record.MARKER_ENROLLED %}
                                        <span class="text-success"><i class="fas fa-check-circle"></i> Enrolled</span>
                                    {% elif record.marker_state == record.MARKER_SABBATICAL %}
                                        <span class="text-secondary"><i class="fas fa-stop-circle"></i> Sabbatical/Buyout</span>
                                        {% if record.marker_reenroll is not none %}
                                            <span class="text-body-secondary">(ends {{ record.marker_reenroll }})</span>
                                        {% else %}
                                            <span class="text-body-secondary">(no end date)</span>
                                        {% endif %}
                                    {% elif record.marker_state == record.MARKER_EXEMPT %}
                                        <span class="text-secondary"><i class="fas fa-times-circle"></i> Exempt</span>
                                    {% else %}
                                        <span class="text-danger"><i
                                                class="fas fa-exclamation-triangle"></i> Error</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-body-secondary"><i class="fas fa-ban"></i> Not used</span>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if record.pclass.uses_moderator %}
                                    {% if record.moderator_state == record.MODERATOR_ENROLLED %}
                                        <span class="text-success"><i class="fas fa-check-circle"></i> Enrolled</span>
                                    {% elif record.moderator_state == record.MODERATOR_SABBATICAL %}
                                        <span class="text-secondary"><i class="fas fa-stop-circle"></i> Sabbatical/Buyout</span>
                                        {% if record.moderator_reenroll is not none %}
                                            <span class="text-body-secondary">(ends {{ record.moderator_reenroll }})</span>
                                        {% else %}
                                            <span class="text-body-secondary">(no end date)</span>
                                        {% endif %}
                                    {% elif record.moderator_state == record.MODERATOR_EXEMPT %}
                                        <span class="text-secondary"><i class="fas fa-times-circle"></i> Exempt</span>
                                    {% else %}
                                        <span class="text-danger"><i
                                                class="fas fa-exclamation-triangle"></i> Error</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-body-secondary"><i class="fas fa-ban"></i> Not used</span>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if record.pclass.uses_presentations %}
                                    {% if record.presentations_state == record.PRESENTATIONS_ENROLLED %}
                                        <span class="text-success"><i class="fas fa-check-circle"></i> Enrolled</span>
                                    {% elif record.presentations_state == record.PRESENTATIONS_SABBATICAL %}
                                        <span class="text-secondary"><i class="fas fa-stop-circle"></i> Sabbatical/Buyout</span>
                                        {% if record.presentations_reenroll is not none %}
                                            <span class="text-body-secondary">(ends {{ record.presentations_reenroll }})</span>
                                        {% else %}
                                            <span class="text-body-secondary">(no end date)</span>
                                        {% endif %}
                                    {% elif record.presentations_state == record.PRESENTATIONS_EXEMPT %}
                                        <span class="text-secondary"><i class="fas fa-times-circle"></i> Exempt</span>
                                    {% else %}
                                        <span class="text-danger"><i
                                                class="fas fa-exclamation-triangle"></i> Error</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-body-secondary"><i class="fas fa-ban"></i> Not used</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    {% call icon_block("info-circle") %}
                        <div><strong>You are not currently enrolled for any project classes.</strong></div>
                        <div class="mt-1">
                            If you believe you should be enrolled for any of these project types,
                            please contact the appropriate convenor.
                        </div>
                        {% if unenrolled_pclasses|length > 0 %}
                            <div class="mt-2">
                                The available classes are:
                            </div>
                            <ul class="mt-1">
                                {% for pclass in unenrolled_pclasses %}
                                    <li>
                                        {{ pclass.name }} &ndash;
                                        <a class="text-decoration-none"
                                           href="mailto:{{ pclass.convenor_email }}">{{ pclass.convenor_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endcall %}
                </div>
            {% endif %}

            {% if url %}
                <a class="text-decoration-none" href="{{ url }}">
                    <i class="fas fa-backward"></i> Return to previous page
                </a>
            {% endif %}
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
