{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "icon_block.html" import icon_block %}

{% block title %}
    Show workload
{% endblock %}

{% block formtitle %}
    Show my current workload limits
{% endblock %}

{% block form_content %}
    <div class="alert alert-info mb-2">
        {% call icon_block("info-circle") %}
            <div>Most users will be marked <strong>Default</strong>.</div>
            <div class="mt-1">
                Users who have significant CATS commitments elsewhere can have their project CATS
                capped, if approved by the head of department. If you need your CATS to be capped
                in this way, please contact a system administrator.
            </div>
        {% endcall %}
    </div>

    <div class="row vertical-top">
        <div class="col-3">
            Supervision
        </div>
        <div class="col-3">
            Marking
        </div>
        <div class="col-3">
            Moderation
        </div>
        <div class="col-3">
            Presentation assessment
        </div>
    </div>
    <div class="row vertical-top">
        <div class="col-3">
            {% if data.CATS_supervision is none or data.CATS_supervision == 0 %}
                <span class="badge bg-secondary">Default</span>
            {% else %}
                <span class="badge bg-info text-dark">{{ data.CATS_supervision }} CATS</span>
            {% endif %}
        </div>
        <div class="col-3">
            {% if data.CATS_marking is none or data.CATS_marking == 0 %}
                <span class="badge bg-secondary">Default</span>
            {% else %}
                <span class="badge bg-info text-dark">{{ data.CATS_marking }} CATS</span>
            {% endif %}
        </div>
        <div class="col-3">
            {% if data.CATS_moderation is none or data.CATS_moderation == 0 %}
                <span class="badge bg-secondary">Default</span>
            {% else %}
                <span class="badge bg-info text-dark">{{ data.CATS_moderation }} CATS</span>
            {% endif %}
        </div>
        <div class="col-3">
            {% if data.CATS_presentation is none or data.CATS_presentation == 0 %}
                <span class="badge bg-secondary">Default</span>
            {% else %}
                <span class="badge bg-info text-dark">{{ data.CATS_presentation }} CATS</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if url %}
        <a class="text-decoration-none" href="{{ url }}">
            <i class="fas fa-backward"></i> Return to previous page
        </a>
    {% endif %}
{% endblock %}
