<p>Dear {{ user.first_name }}</p>

<p><strong>This email is sent from an automated address. Please don't reply to it directly, because your email won't reach us.</strong></p>

<p>Thank you for your efforts in preparing project descriptions and accommodating student meetings over the last term. We now have a draft of the student project allocation for next academic year, {{ attempt.year+1 }}-{{ attempt.year+2 }}.</p>

<p>At this stage you have not been allocated any projects to supervise next year. However, not all students have yet been allocated to projects because the necessary information is unavailable. This includes students who decide to transfer from MPhys to BSc, together with any students who are moved or withdrawn by the PAB.</p>

<p>A final, definitive list of students who require supervisors may not be available until early September. At that point, or earlier, we may contact you to discuss supervising students as they become known to us. Thanks very much for your patience during this process.</p>

<p>Best wishes<br>
the project convenors
</p>
