<p>Dear {{ user.first_name }}</p>

<p><strong>This email is sent from an automated address. Please don't reply to it directly, because your email won't reach us.</strong></p>

<p>Thank you for your efforts in preparing project descriptions and accommodating student meetings over the last term. We now have a draft of the student project allocation for MPhys final-year projects in the next academic year, {{ attempt.year+1 }}-{{ attempt.year+2 }}. At this stage you have not been asked to supervise any of these.</p>

<p>Allocations for BSc final-year projects (and Mathematical Physics Projects if you take part in these) will be done later in the year, when progression outcomes are known more accurately. We will be in touch again to let you know about these allocations when they are available.</p>

<p>A final, definitive list of students who require supervisors may not be available until early September. Thanks very much for your patience during this process.</p>

<p>Best wishes<br>
the project convenors
</p>
