<p>Dear {{ user.first_name }}</p>

<p><strong>This email is sent from an automated address. Please don't reply to it directly, because your email won't reach us.</strong> If you have questions, please contact the projects convenor: <a href="mailto:{{ pclass.convenor_email }}">{{ pclass.convenor.user.name }}</a></p>

{% set text = pclass.email_text_draft_match_preamble -%}
{%- if text is not none and text|length > 0 -%}
<p>{{ text }}</p>
{%- else -%}
    <p>You are receiving this email because you are enrolled for a {{ config.name }} project. Please let us know as soon
        as possible if you believe this is not correct.</p>
{%- endif %}

{% if number == 1 -%}
    <p>We have now reached a provisional allocation of projects. You have been allocated the following project:</p>
{% elif number > 1 -%}
    <p>We have now reached a provisional allocation of projects. You have been allocated the following projects:</p>
{% endif -%}
<ol>
{% for item in matches -%}
{%- set supervisors = item.supervisor_roles -%}
{%- set supervisor_names = [] -%}
{%- for u in supervisors -%}{%- do supervisor_names.append('<a href="mailto:' + u.email + '">' + u.name + '</a>') -%}{%- endfor -%}
{% if number > 1 -%}
{%- set period = pclass.get_period(item.submission_period) -%}
    <li>{{ period.display_name(config.select_year_a) }}: <strong>{{ item.project.name }}</strong> (supervised
        by {{ supervisor_names|join(", ")|safe }})
    </li>
{%- else -%}
    <li><strong>{{ item.project.name }}</strong> (supervised by {{ supervisor_names|join(", ")|safe }})</li>{%- endif %}
{%- endfor %}
</ol>

<p>If you believe there has been an error in the allocation, please contact the convenor as soon as possible.</p>

<p>Best wishes<br>
<a href="mailto:{{ pclass.convenor_email }}">{{ pclass.convenor.user.name }}</a> (the project convenor)
</p>
