<p>Dear {{ user.first_name }}</p>

<p><strong>This email is sent from an automated address. Please don't reply to it directly, because your email won't
    reach us.</strong></p>

<p>Thank you for your efforts in preparing project descriptions and accommodating student meetings over the last
    semester.
    We now have a draft of the student project allocation.</p>

<p>This notification includes information only about the following project types:</p>
<ul>
    {% for config in attempt.config_members %}
        <li>{{ config.project_class.name }}</li>
    {%- endfor %}
</ul>
<p>If you are involved in supervising other types of project, these will be advised separately.</p>

<p>At this stage you have not been allocated any projects to supervise next year. However, as usual, a small number of
    students have not yet been allocated projects because their progression outcomes only recently became known.</p>
<p>These situations will hopefully be resolved shortly, and as part of this
    process we may contact you to discuss the possibility of supervising a student. Please bear with us as we work
    through these cases.</p>

<p>Best wishes<br>
    the project convenors
</p>
