{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit enrollment details for <i class="fa fa-user"></i> <strong>{{ record.owner.user.name }}</strong>
    and <strong>{{ record.pclass.name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('manage_users.edit_enrollment', id=record.id, url=url) }}" method="POST" name="form">

    {{ form.hidden_tag() }}

    {% if record.pclass.uses_supervisor %}
        <div class="well">
            <p><strong>Role: Supervisor</strong></p>
            {{ wtf.form_field(form.supervisor_state) }}
            {{ wtf.form_field(form.supervisor_reenroll) }}
            {{ wtf.form_field(form.supervisor_comment) }}
        </div>
    {% endif %}

    {% if record.pclass.uses_marker %}
        <div class="well">
            <p><strong>Role: 2nd marker</strong></p>
            {{ wtf.form_field(form.marker_state) }}
            {{ wtf.form_field(form.marker_reenroll) }}
            {{ wtf.form_field(form.marker_comment) }}
        </div>
    {% endif %}

    {% if record.pclass.uses_presentations %}
        <div class="well">
            <p><strong>Role: Presentation assessor</strong></p>
            {{ wtf.form_field(form.presentations_state) }}
            {{ wtf.form_field(form.presentations_reenroll) }}
            {{ wtf.form_field(form.presentations_comment) }}
        </div>
    {% endif %}

    {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(record) }}
{% endblock %}
