{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit research group affiliations for <i class="fas fa-user"></i> <strong>{{ user.name_and_username }}</strong>
{% endblock %}

{% block form_content %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            {% if data and data.affiliations and research_groups %}
                <h4>
                {% for group in research_groups %}
                    {% if group in data.affiliations %}
                        {% set style = group.make_CSS_style() %}
                        <a class="btn {% if style %}btn-secondary{% else %}btn-success{% endif %} selection-label"
                           {% if style %}style="{{ style }}"{% endif %}
                           href="{{ url_for('manage_users.remove_affiliation', userid=user.id, groupid=group.id) }}">
                            <i class="fas fa-times"></i> {{ group.name }}
                        </a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No current affiliations</p>
            {% endif %}
        </div>
        <div class="card-footer">
            {% if data and research_groups %}
                <h4>
                {% for group in research_groups %}
                    {% if group not in data.affiliations %}
                        <a class="btn btn-secondary selection-label" href="{{ url_for('manage_users.add_affiliation', userid=user.id, groupid=group.id) }}"><i class="fas fa-plus"></i> {{ group.name }}</a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No available affiliations</p>
            {% endif %}
        </div>
    </div>

    {% if create %}
        <a href="{{ url_for('manage_users.edit_enrollments', id=user.id, create=1, pane=pane) }}" class="btn btn-primary">
            Next: Project enrolments
        </a>
        {% if pane is none or pane == 'accounts' %}
            <a href="{{ url_for('manage_users.edit_users') }}" class="btn btn-secondary">
                Save and exit
            </a>
        {% elif pane == 'faculty' %}
            <a href="{{ url_for('manage_users.edit_users_faculty') }}" class="btn btn-secondary">
                Save and exit
            </a>
        {% elif pane == 'students' %}
            <a href="{{ url_for('manage_users.edit_users_students') }}" class="btn btn-secondary">
                Save and exit
            </a>
        {% else %}
            <span class="badge bg-danger">Unknown user dashboard pane '{{ pane }}'</span>
        {% endif %}
    {% else %}
        {% if pane is none or pane == 'accounts' %}
            <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users') }}">
                <i class="fas fa-backward"></i> Return to user accounts
            </a>
        {% elif pane == 'faculty' %}
            <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users_faculty') }}">
                <i class="fas fa-backward"></i> Return to faculty accounts
            </a>
        {% elif pane == 'students' %}
            <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users_students') }}">
                <i class="fas fa-backward"></i> Return to student accounts
            </a>
        {% else %}
            <span class="badge bg-danger">Unknown user dashboard pane '{{ pane }}'</span>
        {% endif %}
    {% endif %}
{% endblock %}
