<p>Dear {{ marker.user.first_name }}</p>

<p><strong>This email is automated. Please do not reply to it directly, because email to the sending address is not monitored.</strong></p>

<p>You have been assigned as second marker for a {{ pclass.abbreviation }} student (candidate number {{ student.exam_number }}).</p>

<p>Title: {{ project.name }}
<br>Supervisor: {{ supervisor.user.name }} <{{ supervisor.user.email }}></p>

<p>Note that the project title may well be different from the title of the submitted report.</p>

{% if project.aims and project.aims|length > 0 -%}
<p>The supervisor has given the following statement of aims, which you may wish to bear in mind when forming your opinion of the report.</p>

<p><strong>AIMS:</strong>
<br>{{ project.aims }}</p>
{% endif -%}

{% if project.review_only -%}
<p>Please be aware that the project supervisor has marked this project as "review only", which usually means that the project is a literature review and does not contain a component of original work.</p>

<p>The marks for "review only" projects are <strong>not</strong> capped, and a very good review (for example, synthesizing a subject area which has not yet been reviewed in the literature) should attract the same credit as any other good report.</p>
{% endif -%}

<p>Please download the report using the link at the bottom of this email. The download will begin immediately if you are logged in to <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a>. If not, you will be redirected to a login page and the download will begin automatically once you log in.</p>

<p>Alternatively, you can download the report from your dashboard at <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a>. The convenor has requested that marking and feedback be completed by the end of {{ deadline.strftime("%a %d %b %Y") }}.</p>

<p>When you have formed your opinion of the report, please complete the online marking form at <a href="https://universityofsussex.eu.qualtrics.com/jfe/form/SV_5uQzNFDX6GEFBzw">this URL</a>. Full instructions and further guidance are included in the form.</p>

<p>If you have been assigned further projects to mark, they will be delivered in separate emails to help with identifying the required marking materials via search.</p>

<p>If you have any questions, please direct these to the project convenor: {{ config.convenor_name }} (<a href="mailto::{{ config.convenor_email }}">{{ config.convenor_email }}</a>).

<p><strong>ATTACHMENT MANIFEST</strong></p>
{% for attached, manifest_entry, description in attached_documents %}
<p>{{ loop.index }}. {{ manifest_entry }}
{%- if description and description|length > 0 %}
<ul style="line-height: 100%"><li>{{ description }}</li></ul>
{%- endif -%}
{%- if not attached %}
<ul style="line-height: 100%"><li>Please download using the link provided.</li></ul>
{%- endif %}
</p>
{%- else -%}
<em>No documents attached</em>
{% endfor -%}
