<p>Dear {{ marker.user.first_name }}</p>

<p><strong>This email is automated. Please do not reply to it directly, because email to the sending address is not monitored.</strong> If you have any questions, please direct these to the project convenor: <a href="mailto:{{ config.convenor_email }}">{{ config.convenor_name }}</a>.</p>

<p>You have been assigned as second marker for a {{ pclass.abbreviation }} student (candidate number {{ student.exam_number }}).</p>

<p>Title: {{ project.name }}
<br>Supervisor: <a href="mailto:{{ supervisor.user.email }}">{{ supervisor.user.name }}</a></p>

<p>Note that the project title may well be different from the title of the submitted report.</p>

{% if project.aims and project.aims|length > 0 -%}
<p>The supervisor has given the following statement of aims, which you may wish to bear in mind when forming your opinion of the report.</p>

<p><strong>AIMS:</strong>
<br>{{ project.aims }}</p>
{% endif -%}

{% if project.review_only -%}
<p>Please be aware that the project supervisor has marked this project as "review only", which usually means that the project is a literature review and does not contain a component of original work.</p>

<p>The marks for "review only" projects are <strong>not</strong> capped, and a very good review (for example, synthesizing a subject area which has not yet been reviewed in the literature) should attract the same credit as any other good report.</p>
{% endif -%}

<p>Please download the report and the supporting marking materials using the links at the bottom of this email. If you are currently logged in to <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a> then your download will start immediately; otherwise, you will be prompted to login and your download should begin immediately after. You can also download these documents from your project dashboard on <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a>.</p>

<p>The convenor ({{ config.convenor_name}}) has requested that marking and feedback be completed as soon as possible, and no later than noon on Tuesday June 1st 2021. You may need to take part in the next stage (agreeing a final mark and moderation), so please let her know if you going to be away the week commencing May 31st.</p>

<p>If you are supervising other projects, and/or have projects to examine, those will be covered in separate emails from this account.</p>

<p>There are four criteria against which you are asked to grade the report:</p>
<ol style="line-height: 100%">
    <li>Basic Structure and Presentation (10%). Please grade this aspect before properly reading the report (the relevant questions can be answered just by flicking through it.</li>
    <li>Scientific Presentation (30%)</li>
    <li>Scientific Investigation (30%)</li>
    <li>Results and their Significance (30%)</li>
</ol>

<p>Please record your grades for those criteria, your justification of those grades, and your feedback for the student and external examiners using the Qualtrics form linked <a href="https://docs.google.com/document/d/1NWuG2HWoU85_tNpy_wzKOCOdiBk0mgzHSGDfLzniHAs/edit?usp=sharing">here</a>.</p>

<p>You will need to be able to access the Sussex University institutional Google account to open that link.</p>

<p>The page also includes links to instructions, and to a Google Docs version of the Qualtrics form. You can use copies of the Google Docs version to draft your answers for this and other students you are examining. This option was added after feedback from faculty last year.</p>

<p>There is an equivalent Qualtrics form for the supervisor.</p>

<p><strong>ATTACHMENT MANIFEST</strong></p>
{% for attached, manifest_entry, description in attached_documents %}
<p>{{ loop.index }}. {{ manifest_entry }}
{%- if description and description|length > 0 %}
<ul style="line-height: 100%"><li>{{ description }}</li></ul>
{%- endif -%}
{%- if not attached %}
<ul style="line-height: 100%"><li>Please download using the link provided.</li></ul>
{%- endif %}
</p>
{%- else -%}
<em>No documents attached</em>
{% endfor -%}
