<p>Dear {{ supervisor.user.first_name }}</p>

<p><strong>This email is automated. Please do not reply to it directly, because email to the sending address is not monitored.</strong> If you have any questions, please direct these to the project convenor: <a href="mailto:{{ config.convenor_email }}">{{ config.convenor_name }}</a>.</p>

<p>Please find attached the marking materials for your {{ pclass.abbreviation }} student {{ student.user.first_name }} {{ student.user.last_name }} (candidate number {{ student.exam_number }}). You should ensure that only the candidate number is used to identify this project if you need to discuss an agreed mark with the examiner (second marker).</p>

<p>Title: {{ project.name }}
{% if marker -%}
<br>Marker: <a href="mailto:{{ marker.user.email }}">{{ marker.user.name }}</a>
{%- else -%}
<br>Marker: no marker has yet been assigned
{%- endif %}
</p>

{% if project.aims is none or (project.aims is not none and project.aims|length == 0) -%}
<p><strong>Note</strong>: You have not yet specified aims for this project. Please consider doing so, since an explicit statement of aims can assist the examiner considerably when marking the project report.</p>
{% endif -%}

{% if project.review_only -%}
<p>You have marked this project as "review only". Please be aware that the marks for such projects are <strong>not</strong> capped, and a very good review (for example, synthesizing a subject area which has not yet
been reviewed in the literature) should attract the same credit as any other good report.</p>
{% endif -%}

<p>Please download the report and the supporting marking materials using the links at the bottom of this email. If you are currently logged in to <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a> then your download will start immediately; otherwise, you will be prompted to login and your download should begin immediately after. You can also download these documents from your project dashboard on <a href="https://mpsprojects.sussex.ac.uk">mpsprojects.sussex.ac.uk</a>.</p>

<p>The convenor ({{ config.convenor_name}}) has requested that marking and feedback be completed as soon as possible, and no later than 4pm on Friday 28th 2021. You may need to take part in the next stage (agreeing a final mark and moderation), so please let her know if you going to be away the week commencing May 31st.</p>

<p>If you are supervising other projects, and/or have projects to examine, those will be covered in separate emails from this account.</p>

<p>The marking materials (see manifest below) include a similarity report. Please be aware that the report is intended to help you to establish if there is a concern regarding academic misconduct that needs to be investigated. A concern regarding academic misconduct should be raised based on your academic judgement and not on the similarity score alone. Please refer to the FAQs for markers <a href="http://www.sussex.ac.uk/adqe/standards/examsandassessment/esubmission">provided by ADQE</a>.</p>

<p>There are four, equally weighted, criteria against which you are asked to grade the report:</p>
<ol style="line-height: 100%">
    <li>Understanding of Scientific Principles</li>
    <li>Conscientiousness and Time Management</li>
    <li>Technical Skills</li>
    <li>Student's Contribution (in terms of Initiative & Originality)</li>
</ol>

<p>Please record your grades for those criteria, your justification of those grades, and your feedback for the student and external examiners using the Qualtrics form linked <a href="https://docs.google.com/document/d/1NWuG2HWoU85_tNpy_wzKOCOdiBk0mgzHSGDfLzniHAs/edit?usp=sharing">here</a>.</p>

<p>You will need to be able to access the Sussex University institutional Google account to open that link.</p>

<p>The page also includes links to instructions, and to a Google Docs version of the Qualtrics form. You can use copies of the Google Docs version to draft your answers for this and other students you are supervising. This option was added after feedback from faculty last year.</p>

<p>There is an equivalent Qualtrics form for the examiner.</p>

<p><strong>ATTACHMENT MANIFEST</strong></p>
{% for attached, manifest_entry, description in attached_documents %}
<p>{{ loop.index }}. {{ manifest_entry }}
{%- if description and description|length > 0 %}
<ul style="line-height: 100%"><li>{{ description }}</li></ul>
{%- endif -%}
{%- if not attached %}
<ul style="line-height: 100%"><li>Please download using the link provided.</li></ul>
{%- endif %}
</p>
{%- else -%}
<em>No documents attached</em>
{% endfor -%}
