<p>Dear {{ user.first_name }}</p>

<p><strong>Note: Project selection deadline is {{ deadline.strftime("%a %d %b %Y") }}</strong></p>

<p><strong>This email is automated. Please do not reply to it directly, because email to the sending address is not monitored.</strong></p>

{% if student.is_optional %}
<p>You are receiving this email because we believe you are eligible to apply for a Sussex <a href="https://www.sussex.ac.uk/study/undergraduate/undergraduate-research/junior-research-associates">Junior Research Associate</a> award for summer 2023. If you do not wish to apply, then you need take no action and can safely ignore this email.</p>
{% endif %}

<p>The list of projects has now been published, and can be inspected by logging in to our web platform: <a href="https://mpsprojects.sussex.ac.uk">https://mpsprojects.sussex.ac.uk</a>. Please note that the list is intended <em>as a basis for discussion</em> with prospective supervisors. You are not limited to proposing projects on the list, although they do give you an idea of the subject areas each faculty member is prepared to supervise.</p>

<p>If a faculty member does not appear on the list, this is an <em>indication</em> that they are not actively looking to recruit a JRA student this year, but should <strong>not</strong> be taken to mean definitively that they will not be willing to supervise you. You should feel free to contact individual faculty members to check their availability.</p>

<p>If you have used the mpsprojects.sussex.ac.uk platform before, log in with your Sussex email address and existing password. If not, an account has been set up for you using your Sussex email address and a random password that is not known to anyone. Use the <em>Forgot password?</em> link to reset your password, and then log into the website in the usual way. If you experience log-in difficulties then please contact <a href="mailto:D.Seery@sussex.ac.uk">David Seery</a>.</p>

<p>To view the project list, log in to your account and scroll to find the box labelled <em>{{ pclass.name }}</em> on your dashboard. Now click the green button labelled <em>Show available projects</em>. You can search the list by entering keywords or phrases in the search box in the top-right, or by applying filters for keywords and research groups in the box labelled <em>Filters</em>.</p>

<p>Each project has a description, and a number of key facts that detail recommended modules, supervision arrangements and subject information. If you have not taken the recommended modules then you can still apply for the project, but you should make arrangements to discuss with the supervisor beforehand. Some project descriptions may include popularity indicators. You can use these to get some sense of how many other students are interested in a project, and therefore whether it is likely to be oversubscribed. The popularity indicators may not be available until enough data has been collected.</p>

<p>For JRA projects, you need to <strong>apply separately through the <a href="http://www.sussex.ac.uk/suro/">Sussex Undergradute Research Office</a></strong>. There is no need to submit a ranked list of projects on the mpsprojects.sussex.ac.uk website; the project list there is purely for information only. Please note that you need to make contact with a prospective supervisor before submitting an application. You are advised to do this as early as possible, because putting together a compelling JRA application can take some time.</p>

<p>If you have questions or encounter difficulties, please contact <a href="mailto:D.Seery@sussex.ac.uk">David Seery</a> who acts as an unofficial contact for the JRA scheme within Physics & Astronomy.</p>

<p>The MPS JRA team.</p>
