<p>Dear {{ user.first_name }}</p>

<p><strong style="color: red;">Note: Deadline to receive your ranked list of preferences is {{ deadline.strftime("%a %d %b %Y") }}</strong></p>

<p><strong>This email is automated. Please do not reply to it directly, because email to the sending address is not monitored.</strong></p>

{% if student.is_optional %}
<p>According to our records, you are enrolled on an MPhys programme and therefore will carry out your final year project in Y4.</p>
<p>However, we ask Y2 MPhys students to view the BSc project list and submit a ranked list of preferences, just in case you need to transfer to the BSc programme. It is now time for BSc students to select their final year project, so we are also inviting you to view the project list.</p>
<p>If you remain on an MPhys programme then these preferences will not be used: we will invite you to select projects from the MPhys list around the Spring Term of Y3. Some similar projects are offered for both MPhys and BSc, but there are also more advanced MPhys-only projects from which you may wish to choose. However, you can use this as an opportunity to see what sort of projects are being offered.</p>
{% else %}
<p>According to our records, you are enrolled on a BSc programme and will carry out your final year project next year in Y3. It is now time to select your project, so we are inviting you to view the project list and submit a <strong>ranked list of your top {{ pclass.initial_choices }} preferences.</strong></p>
{% endif %}

<p>To view the list, you need to log into the projects web portal at <a href="https://mpsprojects.sussex.ac.uk">https://mpsprojects.sussex.ac.uk</a>.</p>

<p>If you have used the <a href="https://mpsprojects.sussex.ac.uk">mpsprojects</a> website before, log in with your Sussex email address and existing password. If not, an account has been set up for you using your Sussex email address and a random password that is not known to anyone. Use the <em>Forgot password?</em> link to reset your password, and then log into the website. If you experience log-in difficulties then please contact the site maintainer <a href="mailto:D.Seery@sussex.ac.uk">David Seery</a>.</p>

<p>Once you have logged in, find the box labelled <em>{{ pclass.name }}</em> on your dashboard. Now click the green button labelled <em>Show available projects</em>. You can search the list by entering keywords or phrases in the search box in the top-right, or by applying filters for keywords and research groups in the box labelled <em>Filters</em>.</p>

<p>Each project has a description, and a number of key facts that detail recommended modules, supervision arrangements and subject information. If you have not taken the recommended modules then you can still apply for the project, but you should make arrangements to discuss with the supervisor beforehand. Some project descriptions may include popularity indicators. You can use these to get some sense of how many other students are interested in a project, and therefore whether it is likely to be oversubscribed. The popularity indicators may not be available until enough data has been collected.</p>

<p>Use the <em>bookmark</em> function to keep track of projects in which you are interested. Bookmarked projects appear on your dashboard for quick access, and you can drag-and-drop individual bookmarks to arrange them in order of preference. Once you have bookmarked enough projects you can submit your ranked list. You can do this as many times as you like before the selection deadline. We are asking you to select at least {{ student.number_choices }} projects to help us find a good match for everyone.</p>

<p>The deadline to receive your ranked list is <strong>{{ deadline.strftime("%a %d %b %Y") }}</strong>.</p>

<p>Some projects require more background than others. In these cases the project supervisor may require you to obtain a signoff before allowing you to submit a selection containing the project. To request a sign-off, use the 'Request confirmation' button.</p>
<p><strong>It is then your responsibility to set up a meeting with the project supervisor to obtain their confirmation.</strong> Supervisor email addresses can be obtained from the project list.

<p>If you have questions or encounter difficulties, please contact the project convenor.</p>

<p><a href="mailto:{{ pclass.convenor.user.email }}">{{ pclass.convenor.user.first_name }} {{ pclass.convenor.user.last_name }}</a> – project convenor</p>
