{# New-ticket wrapper for the convenor surface: inherits the convenor pclass chrome
   (breadcrumb, lifecycle chip, metrics, dashboard pills). The route supplies pane='tickets',
   pclass, config, convenor_data. #}
{% extends "convenor/dashboard/pclass_base.html" %}

{% block title %}
    New ticket
{% endblock %}

{% block bodyblock %}
    {% include "tickets/_compose_body.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "tickets/_compose_scripts.html" %}
{% endblock %}
