{% extends "base_project.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block bodyblock %}
    {% if text and url %}
        <div class="top-return-link">
            <a href="{{ url }}">
                <i class="fas fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="h3 mt-2 mb-3">{{ article.title }}</div>
            {% if article.creation_timestamp %}
                <div class="text-muted">
                    <small><p>Created by <i class="fas fa-user"></i> {{ article.created_by.name }} {{ article.creation_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</p></small>
                </div>
            {% endif %}
            {% if article.last_edit_timestamp %}
                <div class="text-muted">
                    <small><p>Last edit by <i class="fas fa-user"></i> {{ article.last_edited_by.name }} {{ article.last_edit_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</p></small>
                </div>
            {% endif %}
            {% if article.published and article.publication_timestamp %}
                <div class="text-muted">
                    <small><p>Published at {{ article.publication_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}</p></small>
                </div>
            {% endif %}
            <hr class="intro-divider">
            {{ article.article|bclean|blinkify|safe }}
            <hr class="intro-divider">
        </div>
        <div class="col-2"></div>
    </div>

    {% if text and url %}
        <div>
            <a href="{{ url }}">
                <i class="fas fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}
{% endblock %}
