{% extends "admin/backup_dashboard/nav.html" %}

{% from "datatables.html" import import_datatables %}

{% if type_filter is not defined or type_filter is none %}
{% set type_filter = 'all' %}
{% endif %}

{% block scripts %}
    {{ super() }}
    {{ import_datatables() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#manage-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftrip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                serverSide: true, processing: true,
                ajax: {
                    url: $SCRIPT_ROOT + '/admin/manage_backups_ajax?type_filter={{ type_filter }}',
                    type: 'POST',
                    data: function (args) {
                        return {"args": JSON.stringify(args)};
                    }
                },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-bs-toggle="tooltip"]'}); },
                columns: [
                    { data: 'date',
                      orderable: true,
                      searchable: true },
                    { data: 'initiated',
                      orderable: true,
                      searchable: true},
                    { data: 'type',
                      orderable: true,
                      searchable: false},
                    { data: 'description',
                      orderable: false,
                      searchable: false},
                    { data: 'filename',
                      orderable: true,
                      searchable: true},
                    { data: 'db_size',
                      orderable: true,
                      searchable: false},
                    { data: 'archive_size',
                      orderable: true,
                      searachable: false},
                    { data: 'menu',
                      orderable: false,
                      searchable: false}
                ],
                deferRender: true,
                order: [[0,'desc']]
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="m-3">
        <form action="{{ url_for('admin.manage_backups') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="row vertical-bottom">
                <div class="col-2">
                    {{ wtf.render_field(form.weeks) }}
                </div>
                <div class="col-2 grouped-button-pad">
                    {{ wtf.render_field(form.delete_age, button_map={'delete_age': 'warning'}) }}
                </div>
                <div class="col-8 grouped-button-pad">
                    <div class="float-end">
                        <a href="{{ url_for('admin.confirm_delete_all_backups') }}" class="btn btn-danger">Delete all</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Manage backups</div>
        <div class="card-body">
            <div class="card mt-3 mb-3 card-body bg-well">
                <div class="row">
                    <div class="col-12">
                        <p>Filter by type</p>
                        <a href="{{ url_for('admin.manage_backups', type_filter='all') }}"
                           class="btn btn-sm filter-btn {% if type_filter is none or type_filter=='all' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            All
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='scheduled') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='scheduled' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Scheduled backup
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='rollover') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='rollover' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Rollover restore point
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='golive') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='golive' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Go Live restore point
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='close') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='close' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Close feedback restore point
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='confirm') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='confirm' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Issue confirmation requests restore point
                        </a>
                        <a href="{{ url_for('admin.manage_backups', type_filter='batch') }}"
                           class="btn btn-sm filter-btn {% if type_filter=='batch' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Batch user import restore point
                        </a>
                    </div>
                </div>
            </div>
            <table id="manage-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="15%"> Date</th>
                    <th width="10%"> Initiated by</th>
                    <th width="10%"> Type</th>
                    <th width="19%"> Description</th>
                    <th width="15%"> Filename</th>
                    <th width="8%"> SQL file</th>
                    <th width="8%"> Archive</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
