{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Manage backups
{% endblock %}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        <li {% if pane == 'overview' %}class="active"{% endif %}><a href="{{ url_for('admin.backups_overview') }}">
            Overview
        </a></li>
        <li {% if pane == 'view' %}class="active"{% endif %}><a href="{{ url_for('admin.manage_backups') }}">
            View backups
            {% if backup_count is defined %}
                <span class="badge">{{ backup_count }}</span>
            {% endif %}
        </a></li>
    </ul>
{% endblock %}
