{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Manage backups
{% endblock %}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if pane == 'overview' %}active{% endif %}" href="{{ url_for('admin.backups_overview') }}">
                Overview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane == 'view' %}active{% endif %}" href="{{ url_for('admin.manage_backups') }}">
                View backups
                {% if backup_count is defined %}
                    <span class="badge badge-light badge-pill">{{ backup_count }}</span>
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock %}
