{% extends "admin/matching/nav.html" %}

{% from "select2.html" import import_select2 %}

{% block scripts %}
    {{ super() }}
    {{ import_select2() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#pclasses_to_include').select2({
                theme: 'bootstrap-5',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                placeholder: 'Select one or more project classes...'
            })
            $('#include_matches').select2({
                theme: 'bootstrap-5',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2-small',
                placeholder: 'Select one or more existing matchings...'
            })
        });
    </script>
{% endblock %}

{% block title %}
    Create new match
{% endblock %}

{% set have_base = base_match is defined and base_match is not none %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-primary mt-3 mb-3">
                <div class="card-header bg-primary text-white">
                    {% if have_base %}
                        Create new match based on <strong>{{ base_match.name }}</strong>
                    {% else %}
                        Create new match
                    {% endif %}
                </div>
                <div class="card-body">
                    <form action="{{ url_for('admin.create_match', base_id=base_match.id if have_base else none) }}" method="POST" name="match_form">
                        {{ form.hidden_tag() }}

                        {{ wtf.render_field(form.name) }}

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Workload guidance (does not account for constraints)</div>
                            <div class="row">
                                <div class="col-4">
                                    <strong>Supervision CATS</strong>: {{ data['supervision_CATS'] }}
                                </div>
                                <div class="col-4">
                                    <strong>#Supervisors</strong>: {{ data['supervision_faculty'] }}
                                </div>
                                <div class="col-4">
                                    <strong>Mean workload</strong>: {{ data['supervision_workload']|round(precision=0) }} CATS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <strong>Marking CATS</strong>: {{ data['marking_CATS'] }}
                                </div>
                                <div class="col-4">
                                    <strong>#Markers</strong>: {{ data['marking_faculty'] }}
                                </div>
                                <div class="col-4">
                                    <strong>Mean workload</strong>: {{ data['marking_workload']|round(precision=0) }} CATS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <strong>Moderation CATS</strong>: {{ data['moderation_CATS'] }}
                                </div>
                                <div class="col-4">
                                    <strong>#Moderators</strong>: {{ data['moderation_faculty'] }}
                                </div>
                                <div class="col-4">
                                    <strong>Mean workload</strong>: {{ data['moderation_workload']|round(precision=0) }} CATS
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well {% if form.pclasses_to_include.errors %}has-error{% endif %}">
                            {% if form.include_only_submitted is defined %}
                                <div class="mb-2">{{ wtf.render_field(form.include_only_submitted) }}</div>
                            {% endif %}
                            {{ wtf.render_field(form.pclasses_to_include) }}
                            {% if have_base %}
                                <div class="form-text text-muted mt-3 mb-3">
                                    {% for pcl in base_match.config_members -%}
                                        {% if loop.index > 1 %}, {% endif %}<strong>{{ pcl.name }}</strong>
                                    {%- endfor %}
                                    included from base "<strong>{{ base_match.name }}</strong>"
                                </div>
                            {% endif %}
                            {% if form.base_bias is defined %}
                                {{ wtf.render_field(form.base_bias) }}
                            {% endif %}
                            {% if form.force_base is defined %}
                                {{ wtf.render_field(form.force_base) }}
                            {% endif %}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Limits</div>
                            <div class="mb-2">
                                {{ wtf.render_field(form.ignore_per_faculty_limits) }}
                            </div>
                            {{ wtf.render_field(form.supervising_limit) }}
                            {{ wtf.render_field(form.marking_limit) }}
                            {{ wtf.render_field(form.max_marking_multiplicity) }}
                            {{ wtf.render_field(form.years_memory) }}
                            {{ wtf.render_field(form.include_matches) }}
                            {% if have_base and base_match.include_matches.first() is not none %}
                                <p>
                                    {% for match in base_match.include_matches -%}
                                        {% if loop.index > 1 %}, {% endif %}<strong>{{ match.name }}</strong>
                                    {%- endfor %}
                                    included from base "<strong>{{ base_match.name }}</strong>"
                                </p>
                            {% endif %}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Matching parameters</div>
                            <div class="mb-2">
                                {{ wtf.render_field(form.ignore_programme_prefs) }}
                            </div>
                            {{ wtf.render_field(form.programme_bias) }}
                            {{ wtf.render_field(form.bookmark_bias) }}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Biasing parameters</div>
                            {{ wtf.render_field(form.levelling_bias) }}
                            {{ wtf.render_field(form.intra_group_tension) }}
                            {{ wtf.render_field(form.supervising_pressure) }}
                            {{ wtf.render_field(form.marking_pressure) }}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Violation penalties</div>
                            {{ wtf.render_field(form.CATS_violation_penalty) }}
                            {{ wtf.render_field(form.no_assignment_penalty) }}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            <div class="form-group-heading">Convenor hints</div>
                            {{ wtf.render_field(form.use_hints) }}
                            {{ wtf.render_field(form.require_to_encourage) }}
                            {{ wtf.render_field(form.forbid_to_discourage) }}
                            <hr class="intro-divider">
                            {{ wtf.render_field(form.encourage_bias) }}
                            {{ wtf.render_field(form.discourage_bias) }}
                            {{ wtf.render_field(form.strong_encourage_bias) }}
                            {{ wtf.render_field(form.strong_discourage_bias) }}
                        </div>

                        <div class="card mt-3 mb-3 card-body bg-well">
                            {{ wtf.render_field(form.solver) }}
                        </div>

                        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
                        {{ wtf.render_field(form.offline, button_map={'offline': 'secondary'}) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
