{% extends "admin/matching/nav.html" %}

{% block title %}
    Create new match
{% endblock %}

{% set have_base = base_match is defined and base_match is not none %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary panel-primary-bg">
                <div class="panel-heading">
                    {% if have_base %}
                        Create new match based on <strong>{{ base_match.name }}</strong>
                    {% else %}
                        Create new match
                    {% endif %}
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('admin.create_match', base_id=base_match.id if have_base else none) }}" method="POST" name="match_form">
                        {{ form.hidden_tag() }}

                        {{ wtf.form_field(form.name) }}

                        <div class="well">
                            <p>Workload guidance (does not account for constraints)</p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Supervising CATS</strong>: {{ supervising_CATS }}
                                </div>
                                <div class="col-xs-4">
                                    <strong>Available supervisors</strong>: {{ num_supervisors }}
                                </div>
                                <div class="col-xs-4">
                                    <strong>Mean workload</strong>: {{ (supervising_CATS/num_supervisors)|round(precision=0) }} CATS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Marking CATS</strong>: {{ marking_CATS }}
                                </div>
                                <div class="col-xs-4">
                                    <strong>Available assessors</strong>: {{ num_markers }}
                                </div>
                                <div class="col-xs-4">
                                    <strong>Mean workload</strong>: {{ (marking_CATS/num_markers)|round(precision=0) }} CATS
                                </div>
                            </div>
                        </div>

                        <div class="well {% if form.pclasses_to_include.errors %}has-error{% endif %}">
                            {{ wtf.form_field(form.include_only_submitted) }}
                            <p>Select project classes to include in this match</p>
                            {% if have_base %}
                                <p>
                                    {% for pcl in base_match.config_members -%}
                                        {% if loop.index > 1 %}, {% endif %}<strong>{{ pcl.name }}</strong>
                                    {%- endfor %}
                                    included from base "<strong>{{ base_match.name }}</strong>"
                                </p>
                            {% endif %}
                            {% for widget in form.pclasses_to_include %}
                                {{ wtf.form_field(widget) }}
                            {% else %}
                                <span class="label label-danger">No project classes currently available</span>
                            {% endfor %}
                            {% if form.pclasses_to_include.errors %}
                                {% for error in form.pclasses_to_include.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="well">
                            <p>Limits</p>
                            {{ wtf.form_field(form.ignore_per_faculty_limits) }}
                            {{ wtf.form_field(form.supervising_limit) }}
                            {{ wtf.form_field(form.marking_limit) }}
                            {{ wtf.form_field(form.max_marking_multiplicity) }}
                            {{ wtf.form_field(form.years_memory) }}
                            {{ wtf.form_field(form.include_matches) }}
                            {% if have_base and base_match.include_matches.first() is not none %}
                                <p>
                                    {% for match in base_match.include_matches -%}
                                        {% if loop.index > 1 %}, {% endif %}<strong>{{ match.name }}</strong>
                                    {%- endfor %}
                                    included from base "<strong>{{ base_match.name }}</strong>"
                                </p>
                            {% endif %}
                        </div>

                        <div class="well">
                            <p>Optimization settings</p>
                            {{ wtf.form_field(form.ignore_programme_prefs) }}
                            {{ wtf.form_field(form.programme_bias) }}
                            {{ wtf.form_field(form.levelling_bias) }}
                            {{ wtf.form_field(form.intra_group_tension) }}
                            {{ wtf.form_field(form.bookmark_bias) }}
                            <hr class="intro-divider">
                            {{ wtf.form_field(form.solver) }}
                        </div>

                        <div class="well">
                            <p>Convenor hints</p>
                            {{ wtf.form_field(form.use_hints) }}
                            {{ wtf.form_field(form.encourage_bias) }}
                            {{ wtf.form_field(form.discourage_bias) }}
                            {{ wtf.form_field(form.strong_encourage_bias) }}
                            {{ wtf.form_field(form.strong_discourage_bias) }}
                        </div>

                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                        {{ wtf.form_field(form.offline, button_map={'offline': 'default'}) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
