{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block pillblock %}
    {% set match_count = info %}
    <ul class="nav nav-pills dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if pane == 'manage' %}active{% endif %}"
               href="{{ url_for('admin.manage_matching') }}">
                Manage matches
                {% if match_count is defined %}
                    <span class="badge bg-light text-dark rounded-pill">{{ match_count }}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane == 'create' %}active{% endif %}"
               href="{{ url_for('admin.create_match', year=year) }}">
                Create new match
            </a>
        </li>
    </ul>
{% endblock %}
