{% from "swatch.html" import small_swatch, medium_swatch %}

{% macro student_offcanvas(sel, emails, attempt_id=none) %}
    {% set config = sel.config %}
    <a class="text-muted text-decoration-none small" role="button" data-bs-toggle="offcanvas" href="#edit_{{ sel.id }}"
       aria-controls="edit_{{ sel.id }}">Show details <i class="fas fa-chevron-right"></i></a>
    <div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="edit_{{ sel.id }}"
         aria-labelledby="editLabel_{{ sel.id }}">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="editLabel_{{ sel.id }}">
                <a class="text-decoration-none"
                   href="mailto:{{ sel.student.user.email }}">{{ sel.student.user.name }}</a>
            </h5>
        </div>
        <div class="offcanvas-body">
            {% if not sel.convert_to_submitter and attempt_id is not none %}
                <div class="text-danger">
                    Conversion of this student is disabled.
                    <a class="text-decoration-none"
                       href="{{ url_for('admin.delete_match_record', attempt_id=attempt_id, selector_id=sel.id) }}">
                        Delete...
                    </a>
                </div>
            {% endif %}
            {% set swatch_colour = config.project_class.make_CSS_style() %}
            <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                {{ medium_swatch(swatch_colour) }}
                <span class="text-secondary">{{ config.name }}</span>
                <span>
                    <i class="fas fa-user-circle me-1"></i>
                    <a class="text-decoration-none"
                       href="mailto:{{ config.convenor_email }}">{{ config.convenor_name }}</a>
                </span>
            </div>
            {% if sel.has_submission_list %}
                <div class="mt-3 card border-primary">
                    <div class="card-header">Ranked selection</div>
                    {% set list = sel.ordered_selections %}
                    <div class="card-body">
                        <div class="row small">
                            <div class="col-1"><strong>Rank</strong></div>
                            <div class="col-6"><strong>Project</strong></div>
                            <div class="col-4"><strong>Owner</strong></div>
                            <div class="col-1"><strong>Actions</strong></div>
                        </div>
                        <hr>
                        {% for item in list %}
                            {% set project = item.liveproject %}
                            <div class="row small">
                                <div class="col-1"><strong>#{{ item.rank }}</strong></div>
                                <div class="col-6">
                                    {% if attempt_id is not none %}
                                        <a class="text-decoration-none"
                                           href="{{ url_for('faculty.live_project', pid=project.id, text='student match inspector', url=url_for('admin.match_student_view', id=attempt_id, text=text, url=url)) }}">{{ item.format_project()|safe }}</a>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{{ url_for('faculty.live_project', pid=project.id) }}">{{ item.format_project()|safe }}</a>
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    {% if project.generic or project.owner is none %}
                                        generic
                                    {% else %}
                                        <i class="fas fa-user-circle me-1"></i>
                                        <a class="text-decoration-none"
                                           href="mailto:{{ project.owner.user.email }}">{{ project.owner.user.name }}</a>
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-xs {% if item.has_hint %}btn-danger{% else %}btn-outline-secondary{% endif %} dropdown-toggle"
                                            data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">
                                        Hint
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end small">
                                        {% set menu_items = item.menu_order %}
                                        {% for mi in menu_items %}
                                            {% if mi is string %}
                                                <div role="separator" class="dropdown-divider"></div>
                                                <div class="dropdown-header">{{ mi }}</div>
                                            {% elif mi is number %}
                                                {% set disabled = (mi == item.hint) %}
                                                <a class="dropdown-item d-flex gap-2 small {% if disabled %}disabled{% endif %}"
                                                   {% if not disabled %}href="{{ url_for('convenor.set_hint', id=item.id, hint=mi) }}"{% endif %}>
                                                    {{ item.menu_item(mi)|safe }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="mt-3">
                            {% if attempt_id is not none %}
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{{ url_for('convenor.selector_choices', id=sel.id, text='student match inspector', url=url_for('admin.match_student_view', id=attempt_id, text=text, url=url)) }}">Edit
                                    selection...</a>
                            {% else %}
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{{ url_for('convenor.selector_choices', id=sel.id) }}">Edit selection...</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if emails and emails|length > 0 %}
                <div class="mt-3 card border-secondary">
                    <div class="card-header">Recent emails</div>
                    <div class="card-body">
                        <div class="row small">
                            <div class="col-3"><strong>Date</strong></div>
                            <div class="col-9"><strong>Subject</strong></div>
                        </div>
                        <hr>
                        {% for item in emails %}
                            <div class="row small">
                                <div class="col-3">{{ item.send_date.strftime("%a %d %b %Y %H:%M:%S") }}</div>
                                <div class="col-9">
                                    {% if attempt_id is not none %}
                                        <a class="text-decoration-none"
                                           href="{{ url_for('admin.display_email', id=item.id, text='student match inspector', url=url_for('admin.match_student_view', id=attempt_id, text=text, url=url)) }}">{{ item.subject }}</a>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{{ url_for('admin.display_email', id=item.id) }}">{{ item.subject }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
