html {
    padding-bottom: 4rem;
}

p.copyright {
    margin: 15px 0 0;
}

.footer-bar {
    padding-left: 50px
}

.selection-label {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.services-btn {
    /*margin-top: 8px;*/
    /*margin-bottom: 8px;*/
}

.match-assign-button {
    display: inline-block;
}

.schedule-assign-button {
    display: inline-block;
}

.rank-hint-button {
    display: inline-block;
}

.assignment-label {
    display: inline-block;
}

.project-status-button {
    display: inline-block;
}

.btn-table-block {
    margin-bottom: 5px;
}

.student-dashboard-button {
    margin-bottom: 8px;
}

.dashboard-nav {
    margin-bottom: 10px;
}

.top-return-link {
    padding-bottom: 16px;
}

.batch-name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
}

.dashboard-project-title {
    font-size: 32px;
    font-weight: lighter;
}

.timeline-title {
    font-size: 32px;
    font-weight: lighter;
}

.document-group-title {
    font-size: 26px;
    font-weight: lighter;
}

.dashboard-subtitle {
    font-size: 22px;
    font-weight: lighter;
}

.dashboard-button {
    margin-top: 8px;
}

.filter-title {
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.skill-group-heading {
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
}

.skills-filter-container {
}

.skills-filter-container + .skills-filter-container {
    margin-top: 12px;
}

.personnel-container {
}

.personnel-container + .personnel-container {
    margin-top: 8px;
}

.outstanding-confirm-group {
}

.outstanding-confirm-group + .outstanding-confirm-group {
    margin-top: 12px;
}

.outstanding-confirm-row {
}

.outstanding-confirm-row + .outstanding-confirm-row {
    margin-top: 4px;
}

.filter-btn {
    margin-bottom: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-top {
    display: flex;
    align-items: start;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.final-selection-table {
    margin-bottom: 1%;
}

.bookmark-table {
    margin-bottom: 1%;
}

.hints-table {
    margin-bottom: 1%;
}

.offers-table {
    margin-bottom: 1%;
}

.fac-project-table {
    margin-bottom: 1%;
}

.root-dashboard-table {
    margin-bottom: 1%;
}

.confirmation-table {
    margin-bottom: 1%;
}

.capacity-table {
    margin-bottom: 1%;
}

.marker-table {
    margin-bottom: 1%;
}

.event-table {
    margin-bottom: 1%;
}

.top-row-button {
    margin-bottom: 10px;
}

.faculty-confirm-button {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

.faculty-confirm-area {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
}

.student-confirm-button {
    display: inline-block;
    /*margin-top: 5px;*/
    /*margin-right: 5px;*/
}

.table-button {
    margin: 2px;
}

.drag-handle {
    padding-right: 5px;
}

.validity-label {
    display: inline-block;
    font-size: 100%;
}

.email-display {
    word-break: normal;
}

.grouped-button-pad {
    padding-bottom: 15px;
}

.grouped-button-margin {
    margin-bottom: 2px;
}

.color-card {
    position: relative;
    width: 25%;
    margin: 0 0 1.5em;
    padding: 0 0.75em;
    overflow: hidden;
    float: left
}

.color-card .color-swatch {
    position: relative;
    width: 100%;
    padding-bottom: 54%;
    cursor: pointer
}

.color-card .color-swatch div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.color-card .color-data {
    padding: 0.75em 1em 0.375em;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.color-card .color-data h4 {
    height: 22px;
    margin-bottom: 0.375em
}

.notify-bar {
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: darkslategrey;
    color: #c0a16b;
    text-align: center;
}

.error-block .error-message {
    color: #e9322d;
    margin-bottom: 0.5rem;
}
