.form-control {
    background-color: darkgray!important;
}

.panel-primary-bg {
}

a.label {
    text-decoration: none!important;
}

.well {
    background-color: #262626 !important;
}

.selected-project {
    /*border-width: 3px;*/
    margin: 3px;
}

.deselected-project {
    background-color: #4a2525;
    /*border-width: 3px;*/
    margin: 3px;
}

.dashboard-notification-panel {
    text-align: left;
    padding: 4px;
    background-color: #1a1a1d;
}

.bg-well {
}
