.form-control {
    background-color: darkgray!important;
}

.panel-primary-bg {
}

a.label {
    text-decoration: none!important;
}

.well {
    background-color: #262626 !important;
}

.selected-project {
    background-color: #2c492c;
    /*border-width: 3px;*/
    margin: 3px;
}

.deselected-project {
    background-color: #4a2525;
    /*border-width: 3px;*/
    margin: 3px;
}
