.panel-primary-bg {
    background-color: #eeeadc;
}

.selected-project {
    background-color: #dff0d8;
    /*border-width: 3px;*/
    margin: 3px;
}

.deselected-project {
    background-color: #f2dede;
    /*border-width: 3px;*/
    margin: 3px;
}

.dashboard-notification-panel {
    text-align: left;
    padding: 4px;
    background-color: #e9ecef;
}
