.panel-primary-bg {
}

a.label {
    text-decoration: none!important;
}

.selected-project {
    /*border-width: 3px;*/
    margin: 3px;
}

.deselected-project {
    background-color: #e3e3e3;
    /*border-width: 3px;*/
    margin: 3px;
}

.dashboard-notification-panel {
    text-align: left;
    padding: 4px;
    background-color: #e9ecef;
}

.bg-well {
}
