body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

p.copyright {
    margin: 15px 0 0;
}

.panel-primary-bg {
    background-color: #eeeadc;
}

.footer-bar {
    padding-left: 50px
}

.topnav {
    font-size: 14px;
}

.main-content {
    margin-top: 40px;
    margin-bottom: 65px;
}

.selection-label {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.btn-table-block {
    margin-top: 5px;
}

.dashboard-nav {
    margin-bottom: 10px;
}

.dashboard-project-title {
    font-size: 32px;
    font-weight: lighter;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-top {
    display: flex;
    align-items: start;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.bookmark-table {
    border-collapse: collapse;
    border-width: 0px;
}

.final-selection-table {
    margin-bottom: 1%;
}

.fac-project-table {
    margin-bottom: 1%;
}

.table-button {
    margin: 1px;
}

.drag-handle {
    padding-right: 5%;
}

.validity-label {
    display: inline-block;
    font-size: 100%;
}

.email-display {
    word-break: break-all;
}

.log-button-pad {
    padding-bottom: 15px;
}

.color-card {
    position: relative;
    width: 25%;
    margin: 0 0 1.5em;
    padding: 0 0.75em;
    overflow: hidden;
    float: left
}

.color-card .color-swatch {
    position: relative;
    width: 100%;
    padding-bottom: 54%;
    cursor: pointer
}

.color-card .color-swatch div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.color-card .color-data {
    padding: 0.75em 1em 0.375em;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.color-card .color-data h4 {
    height: 22px;
    margin-bottom: 0.375em
}
