body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

p.copyright {
    margin: 15px 0 0;
}

.panel-primary-bg {
}

.footer-bar {
    padding-left: 50px
}

.topnav {
    font-size: 14px;
}

.main-content {
    margin-top: 48px;
    margin-bottom: 65px;
}

.selection-label {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.match-assign-button {
    display: inline-block;
}

.rank-hint-button {
    display: inline-block;
}

.assignment-label {
    display: inline-block;
}

.btn-table-block {
    margin-top: 5px;
}

.dashboard-nav {
    margin-bottom: 10px;
}

.top-return-link {
    padding-bottom: 16px;
}

.dashboard-project-title {
    font-size: 32px;
    font-weight: lighter;
}

.dashboard-subtitle {
    font-size: 22px;
    font-weight: lighter;
}

.dashboard-button {
    margin-top: 8px;
}

.filter-title {
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

.filter-btn {
    margin-bottom: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-top {
    display: flex;
    align-items: start;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.final-selection-table {
    margin-bottom: 1%;
}

.bookmark-table {
    margin-bottom: 1%;
}

.hints-table {
    margin-bottom: 1%;
}

.fac-project-table {
    margin-bottom: 1%;
}

.root-dashboard-table {
    margin-bottom: 1%;
}

.confirmation-table {
    margin-bottom: 1%;
}

.capacity-table {
    margin-bottom: 1%;
}

.marker-table {
    margin-bottom: 1%;
}

.event-table {
    margin-bottom: 1%;
}

.selected-project {
    background-color: #dff0d8;
    /*border-width: 3px;*/
    margin: 3px;
}

.deselected-project {
    background-color: #f2dede;
    /*border-width: 3px;*/
    margin: 3px;
}

.top-row-button {
    margin-bottom: 10px;
}

.table-button {
    margin: 1px;
}

.drag-handle {
    padding-right: 5%;
}

.validity-label {
    display: inline-block;
    font-size: 100%;
}

.email-display {
    word-break: break-all;
}

.grouped-button-pad {
    padding-bottom: 15px;
}

.grouped-button-margin {
    margin-bottom: 2px;
}

.color-card {
    position: relative;
    width: 25%;
    margin: 0 0 1.5em;
    padding: 0 0.75em;
    overflow: hidden;
    float: left
}

.color-card .color-swatch {
    position: relative;
    width: 100%;
    padding-bottom: 54%;
    cursor: pointer
}

.color-card .color-swatch div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.color-card .color-data {
    padding: 0.75em 1em 0.375em;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.color-card .color-data h4 {
    height: 22px;
    margin-bottom: 0.375em
}
