{% from "icon_block.html" import icon_block %}

{% macro project_approver_panel(data) %}
    {% set queued = data['approval_project_queued'] %}
    {% set rejected = data['approval_project_rejected'] %}

    {% set pl = 's' %}{% if queued == 1 %}{% set pl = '' %}{% endif  %}
    {% set anti_pl = '' %}{% if queued == 1 %}{% set anti_pl = 's' %}{% endif %}
    {% if queued == 0 %}
        <div class="alert alert-success mb-3">
            {% call icon_block("check-circle") %}
                <div>No project descriptions currently require validation.</div>
            {% endcall %}
        </div>
    {% else %}
        <div class="alert alert-primary mb-3">
            {% call icon_block("info-circle") %}
                <div><strong>{{ queued }} project description{{ pl }} require{{ anti_pl }} validation.</strong></div>
                <div class="mt-2">
                    <a href="{{ url_for('project_approver.validate') }}" class="btn btn-sm btn-outline-secondary">
                        Approve projects
                    </a>
                </div>
            {% endcall %}
        </div>
    {% endif %}

    {% if rejected > 0 %}
        {% set pl = 's' %}{% if rejected == 1 %}{% set pl = '' %}{% endif  %}
        {% set have_has = 'have' %}{% if rejected == 1 %}{% set have_has = 'has' %}{% endif %}
        <div class="alert alert-primary mb-3">
            {% call icon_block("info-circle") %}
                <div><strong>{{ rejected }} project description{{ pl }} {{ have_has }} been rejected.</strong></div>
                <div class="mt-2">
                    <a href="{{ url_for('project_approver.rejected') }}" class="btn btn-sm btn-outline-secondary">
                        Review projects
                    </a>
                </div>
            {% endcall %}
        </div>
    {% endif %}
{% endmacro %}
