{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit comment
{% endblock %}

{% block formtitle %}
    Edit comment
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('project_approver.edit_comment', id=comment.id, url=url) }}" method="POST" name="edit_form">

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {{ wtf.form_field(form.comment) }}
        {% if current_user.has_role('project_approver') %}
            {{ wtf.form_field(form.limit_visibility) }}
        {% endif %}
        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
