{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title|safe }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-danger mt-3 mb-3">
                <div class="card-header bg-danger text-white"><strong>{{ panel_title|safe }}</strong></div>
                <div class="card-body">
                    <div class="row vertical-bottom">
                        <div class="col-12">
                            {{ message|safe }}
                        </div>
                    </div>
                    <div class="row vertical-bottom">
                        <div class="col-12">
                            <div class="float-end">
                                <a href="{{ action_url }}" class="btn btn-danger">{{ submit_label }}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
