{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if type %}
        <form action="{{ url_for('admin.edit_degree_type', id=type.id) }}" method="POST" name="type_form">
    {% else %}
        <form action="{{ url_for('admin.add_degree_type') }}" method="POST" name="type_form">
    {% endif %}

        {{ type_form.hidden_tag() }}

        {{ edit_data(type) }}

{#        {{ wtf.form_errors(type_form) }}#}

        {{ wtf.form_field(type_form.name) }}

        {{ wtf.form_field(type_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
