{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit enrollments for <i class="fa fa-user"></i> <strong>{{ user.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if data and data.enrollments and project_classes %}
                <h4>
                <div style="display: flex; flex-wrap: wrap;">
                    {% for pclass in project_classes %}
                        {% if data.is_enrolled(pclass) %}
                            {% set style = pclass.make_CSS_style() %}
                            <div class="dropdown">
                                <button class="btn {% if style %}btn-default{% else %}btn-success{% endif %} selection-label dropdown-toggle"
                                        {% if style %}style="{{ style }}"{% endif %}
                                        type="button" data-toggle="dropdown">
                                    {{ pclass.name }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url_for('admin.remove_enrollment', userid=user.id, pclassid=pclass.id) }}">
                                            <i class="fa fa-trash"></i> Remove enrollment
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('admin.edit_enrollment', id=data.get_enrollment_record(pclass).id, returnid=0) }}">
                                            <i class="fa fa-cogs"></i> Edit enrollment
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                </h4>
            {% else %}
                <p>No current enrollments</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            {% if data and project_classes %}
                <h4>
                {% for pclass in project_classes %}
                    {% if not data.is_enrolled(pclass) %}
                        <a class="btn btn-default selection-label"
                           href="{{ url_for('admin.add_enrollment', userid=user.id, pclassid=pclass.id) }}">
                            <i class="fa fa-plus"></i> {{ pclass.name }}
                        </a>
                    {% endif %}
                {% endfor %}
                </h4>
            {% else %}
                <p>No available project classes</p>
            {% endif %}
        </div>
    </div>

    {% if create %}
        <a href="{{ url_for('admin.edit_users') }}" class="btn btn-primary">
            Finish and save
        </a>
    {% else %}
        {% if pane is none or pane == 'accounts' %}
            <a href="{{ url_for('admin.edit_users') }}">
                <i class="fa fa-backward"></i> Return to user accounts
            </a>
        {% elif pane == 'faculty' %}
            <a href="{{ url_for('admin.edit_users_faculty') }}">
                <i class="fa fa-backward"></i> Return to faculty accounts
            </a>
        {% elif pane == 'students' %}
            <a href="{{ url_for('admin.edit_users_students') }}">
                <i class="fa fa-backward"></i> Return to student accounts
            </a>
        {% else  %}
            <span class="label label-danger">Unknown user dashboard pane '{{ pane }}'</span>
        {% endif %}
    {% endif %}
{% endblock %}
