{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import edit_data %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit enrollment details for <strong>{{ record.owner.user.name }}</strong>
    and <strong>{{ record.pclass.name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('admin.edit_enrollment', id=record.id, returnid=returnid) }}" method="POST" name="form">

    {{ form.hidden_tag() }}

    <div class="well">
        <p><strong>Role: Supervisor</strong></p>
        {{ wtf.form_field(form.supervisor_state) }}
        {{ wtf.form_field(form.supervisor_reenroll) }}
        {{ wtf.form_field(form.supervisor_comment) }}
    </div>

    <div class="well">
        <p><strong>Role: 2nd marker</strong></p>
        {{ wtf.form_field(form.marker_state) }}
        {{ wtf.form_field(form.marker_reenroll) }}
        {{ wtf.form_field(form.marker_comment) }}
    </div>

    {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(record) }}
{% endblock %}
