{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data, colour_field %}

{% extends "security/index.html" %}

{% block scripts %}
    {{ super() }}

    {% assets filters="cssmin", output="gen/bootstrap-colorpicker-min.css", "css/bootstrap-colorpicker.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/bootstrap-colorpicker-min.js", "js/bootstrap-colorpicker.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $(function () {
            $('#colour-group').colorpicker({
                format: 'hex',
                useAlpha: false
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if group %}
        <form action="{{ url_for('admin.edit_group', id=group.id) }}" method="POST" name="group_form">
    {% else %}
        <form action="{{ url_for('admin.add_group') }}" method="POST" name="group_form">
    {% endif %}

        {{ group_form.hidden_tag() }}

{#        {{ wtf.form_errors(group_form) }}#}

        {{ wtf.form_field(group_form.abbreviation) }}
        {{ wtf.form_field(group_form.name) }}

        {{ colour_field(group_form.colour, 'colour-group') }}

        {{ wtf.form_field(group_form.website) }}

        {{ wtf.form_field(group_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(group) }}
{% endblock %}