{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data, colour_field %}

{% block scripts %}
    {{ super() }}
    {% assets filters="cssmin", output="gen/bootstrap-colorpicker-min.css", "css/bootstrap-colorpicker.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/bootstrap-colorpicker-min.js", "js/bootstrap-colorpicker.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $(function () {
            $('#colour-group').colorpicker({
                format: 'hex',
                useAlpha: false
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if pclass %}
        Edit properties for project class <strong>{{ pclass.name }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if pclass %}
        <form action="{{ url_for('admin.edit_pclass', id=pclass.id) }}" method="POST" name="pclass_form">
    {% else %}
        <form action="{{ url_for('admin.add_pclass') }}" method="POST" name="pclass_form">
    {% endif %}

        {{ pclass_form.hidden_tag() }}

{#        {{ wtf.form_errors(pclass_form) }}#}

        <div class="card mt-3 mb-3 card-body bg-well">
            {{ wtf.render_field(pclass_form.name) }}
            {{ wtf.render_field(pclass_form.abbreviation) }}

            {{ colour_field(pclass_form.colour, 'colour-group') }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Personnel</p>
            {{ wtf.render_field(pclass_form.convenor) }}
            {{ wtf.render_field(pclass_form.coconvenors) }}
            {{ wtf.render_field(pclass_form.office_contacts) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Configuration</p>
            {{ wtf.render_field(pclass_form.start_level) }}
            {{ wtf.render_field(pclass_form.extent) }}

            <p>Staff requirements</p>
            {{ wtf.render_field(pclass_form.uses_supervisor) }}
            {{ wtf.render_field(pclass_form.uses_marker) }}
            {{ wtf.render_field(pclass_form.uses_presentations) }}
            <hr class="intro-divider">
            {{ wtf.render_field(pclass_form.reenroll_supervisors_early) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Options</p>
            {{ wtf.render_field(pclass_form.require_confirm) }}
            {{ wtf.render_field(pclass_form.supervisor_carryover) }}
            {{ wtf.render_field(pclass_form.include_available) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Automated matching</p>
            {{ wtf.render_field(pclass_form.do_matching) }}
            {{ wtf.render_field(pclass_form.number_assessors) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well {% if pclass_form.programmes.errors %}has-error{% endif %}">
            <p>Select degree programmes to which this project class applies</p>
            {% for widget in pclass_form.programmes %}
                {{ wtf.render_field(widget) }}
            {% endfor %}
            {% if pclass_form.programmes.errors %}
                {% for error in pclass_form.programmes.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <hr class="intro-divider">
            {% if pclass_form.selection_open_to_all.description %}
                <div>{{ pclass_form.selection_open_to_all.description }}</div>
            {% endif %}
            <div class="checkbox">
                <label>
                    {{ pclass_form.selection_open_to_all()|safe }} {{ pclass_form.selection_open_to_all.label.text|safe }}
                </label>
            </div>
            <p>Auto enroll students as selectors in which years?</p>
            {{ wtf.render_field(pclass_form.auto_enroll_years) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Student selections</p>
            {{ wtf.render_field(pclass_form.initial_choices) }}
            {{ wtf.render_field(pclass_form.switch_choices) }}
            {{ wtf.render_field(pclass_form.faculty_maximum) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Workload model support</p>
            {{ wtf.render_field(pclass_form.CATS_supervision) }}
            {{ wtf.render_field(pclass_form.CATS_marking) }}
            {{ wtf.render_field(pclass_form.CATS_presentation) }}
        </div>

        <div class="card mt-3 mb-3 card-body bg-well">
            <p>Popularity data</p>
            {{ wtf.render_field(pclass_form.keep_hourly_popularity) }}
            {{ wtf.render_field(pclass_form.keep_daily_popularity) }}
        </div>

        {{ wtf.render_field(pclass_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(pclass) }}
{% endblock %}
