{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block scripts %}
    {{ super() }}
    {% assets filters="cssmin", output="gen/bootstrap-colorpicker-min.css", "css/bootstrap-colorpicker.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/bootstrap-colorpicker-min.js", "js/bootstrap-colorpicker.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}
    Customize messages for project class
{% endblock %}

{% block formtitle %}
    {% if pclass %}
        Customize messages for project class <strong>{{ pclass.name }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('admin.edit_pclass_text', id=pclass.id) }}" method="POST" name="customize_text_form">

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(pclass_form) }}#}

        <div class="card m-3 card-body bg-light">
            <strong>Text displayed on student selector cards</strong>
            <p>
                You can optionally override the text that is displayed on the student dashboard during
                project selection. If you do not provide an override, a default wording will be used.
            </p>
            <hr class="intro-divider">
            {{ wtf.render_field(form.card_text_normal) }}
            {{ wtf.render_field(form.card_text_optional) }}
            {{ wtf.render_field(form.card_text_noninitial) }}
        </div>

        <div class="card m-3 card-body bg-light">
            <strong>Preamble for email notification of project matching</strong>
            <p>
                You can optionally override the text used in the email preamble.
                If you do not provide an override, default wording will be used.
            </p>
            <hr class="intro-divider">
            {{ wtf.render_field(form.email_text_draft_match_preamble) }}
            {{ wtf.render_field(form.email_text_final_match_preamble) }}
        </div>

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(pclass) }}
{% endblock %}
