{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "tinymce.html" import import_tinymce %}
{% from "select2.html" import import_select2 %}

{% block scripts %}
    {{ super() }}
    {{ import_tinymce() }}
    {{ import_select2() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#project_classes').select2({
                theme: 'bootstrap-5',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                placeholder: 'Leave blank to broadcast to all users'
            });
            tinymce.init({
              selector: '#body-editor',
              plugins: 'lists advlist autolink autosave codesample emoticons fullscreen hr link paste charmap wordcount',
              toolbar: 'undo redo | styles removeformat | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | hr link codesample emoticons charmap | restoredraft paste pastetext | fullscreen',
              menubar: 'false'
            });
        });
    </script>
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if message %}
        {% if message.title and message.title|length > 0 %}
            Edit message <strong>{{ message.title }}</strong>
        {% else %}
            {{ title }}
        {% endif %}
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if message %}
        <form action="{{ url_for('admin.edit_message', id=message.id) }}" method="POST" name="message_form">
    {% else %}
        <form action="{{ url_for('admin.add_message') }}" method="POST" name="message_form">
    {% endif %}

        {{ form.hidden_tag() }}

        {{ wtf.render_field(form.show_students) }}
        {{ wtf.render_field(form.show_faculty) }}

        {{ wtf.render_field(form.project_classes) }}

        {% if form.show_login %}
            {{ wtf.render_field(form.show_login) }}
        {% endif %}

        {{ wtf.render_field(form.dismissible) }}

        <hr class="intro-divider">

        {{ wtf.render_field(form.title) }}
        {{ wtf.render_field(form.body, id='body-editor') }}

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
