{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Edit data for student <i class="fa fa-user"></i> {{ user.build_name_and_username() }}
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('admin.edit_student', id=student.id) }}" method="POST" name="student_form">

    {{ student_form.hidden_tag() }}

{#        {{ wtf.form_errors(student_form) }}#}

    {{ wtf.form_field(student_form.exam_number) }}
    {{ wtf.form_field(student_form.cohort) }}
    {{ wtf.form_field(student_form.programme) }}

    {{ wtf.form_field(student_form.submit) }}

    </form>
{% endblock %}
