{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block scripts %}
    {{ super() }}

    {% assets filters="cssutils", output="gen/component-chosen.min.css", "css/component-chosen.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/chosen.jquery.min.js", "js/chosen.jquery.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#owner').chosen();
            $('#task').chosen();
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if task and task.name %}
        Edit task <strong>{{ task.name }}</strong>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if task %}
        {% if form.every %}
            <form action="{{ url_for('admin.edit_interval_task', id=task.id) }}" method="POST" name="edit_scheduled_task_form">
        {% else %}
            <form action="{{ url_for('admin.edit_crontab_task', id=task.id) }}" method="POST" name="edit_scheduled_task_form">
        {% endif %}
    {% else %}
        {% if form.every %}
            <form action="{{ url_for('admin.add_interval_task') }}" method="POST" name="edit_scheduled_task_form">
        {% else %}
            <form action="{{ url_for('admin.add_crontab_task') }}" method="POST" name="edit_scheduled_task_form">
        {% endif %}
    {% endif %}

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {{ wtf.render_field(form.name) }}
        {{ wtf.render_field(form.owner) }}
        {{ wtf.render_field(form.task) }}
        {{ wtf.render_field(form.queue) }}
        {{ wtf.render_field(form.arguments) }}
        {{ wtf.render_field(form.keyword_arguments) }}
        {{ wtf.render_field(form.expires) }}

        {% if form.every %}
            <div class="card mt-3 mb-3 card-body bg-well">
                <p>Frequency</p>
                {{ wtf.render_field(form.every) }}
                {{ wtf.render_field(form.period) }}
            </div>
        {% else %}
            <div class="card mt-3 mb-3 card-body bg-well">
                <p>Crontab specification</p>
                {{ wtf.render_field(form.minute) }}
                {{ wtf.render_field(form.hour) }}
                {{ wtf.render_field(form.day_of_week) }}
                {{ wtf.render_field(form.day_of_month) }}
                {{ wtf.render_field(form.month_of_year) }}
            </div>
        {% endif %}

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
