{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/r-2.2.1/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/r-2.2.1/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[class~="sortable-pageable"]').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });
        });
    </script>
{% endblock %}

{% block title %}
    Edit project classes
{% endblock %}

{% block bodyblock %}
    {% if classes %}
        <div class="panel panel-primary">
            <div class="panel-heading">Edit project classes</div>
            <div class="panel-body">
            <table class="table table-striped table-bordered sortable-pageable">
                <thead>
                <tr>
                    <th width="19%"> Name</th>
                    <th width="5%"> Status</th>
                    <th width="8%"> Runs in year</th>
                    <th width="8%"> Submissions per year</th>
                    <th width="15%"> Convenor</th>
                    <th width="30%"> Degree programmes</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for class in classes %}
                    <tr>
                        <td> {{ class.name }} ({{ class.abbreviation }}) </td>
                        <td>
                            {% if class.active %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </td>
                        <td> {{ class.year }} </td>
                        <td> {{ class.submissions }} </td>
                        <td> {{ class.convenor.first_name }} {{ class.convenor.last_name }} <a href="mailto:{{ class.convenor.email }}">{{ class.convenor.email }}</a></td>
                        <td>
                            {% for programme in class.programmes %}
                                <span class="label label-default">{{ programme.name }} {{ programme.degree_type.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-success btn-sm btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url_for('admin.edit_project_class', id=class.id) }}">
                                            <i class="fa fa-pencil"></i> Edit project class
                                        </a>
                                    </li>

                                    <li>
                                    {% if class.active %}
                                        <a href="{{ url_for('admin.make_project_class_inactive', id=class.id) }}">
                                            Make inactive
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('admin.make_project_class_active', id=class.id) }}">
                                            Make active
                                        </a>
                                    {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div style="text-align: center;">
    {% else %}
        <div style="text-align: center;">
        <h3> No project classes currently registered. </h3>
        <hr class="intro-divider">
    {% endif %}
    <a href="{{ url_for('admin.add_project_class') }}" class="btn btn-default btn-lg">
        <i class="fa fa-plus"></i>
        Add new project class
    </a>
    </div>
{% endblock %}
