{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data, colour_field %}

{% block scripts %}
    {{ super() }}

    {% assets filters="cssmin", output="gen/bootstrap-colorpicker-min.css", "css/bootstrap-colorpicker.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/bootstrap-colorpicker-min.js", "js/bootstrap-colorpicker.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $(function () {
            $('#colour-group').colorpicker({
                format: 'hex',
                useAlpha: false
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ title }}
{% endblock %}

{% block form_content %}
    {% if role %}
        <form action="{{ url_for('admin.edit_supervisor', id=role.id) }}" method="POST" name="supervisor_form">
    {% else %}
        <form action="{{ url_for('admin.add_supervisor') }}" method="POST" name="supervisor_form">
    {% endif %}

        {{ supervisor_form.hidden_tag() }}

{#        {{ wtf.form_errors(supervisor_form) }}#}

        {{ wtf.render_field(supervisor_form.name) }}
        {{ wtf.render_field(supervisor_form.abbreviation) }}
        {{ colour_field(supervisor_form.colour, 'colour-group') }}

        {{ wtf.render_field(supervisor_form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(role) }}
    {{ super() }}
{% endblock %}