{% import "bootstrap/form.html" as wtf %}

{% extends "base_app.html" %}

{% block scripts %}
    {{ super() }}
    {# jQuery is already loaded by flask-bootstrap, so we only need the datatables files #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.css""/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#email-log').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],  stateSave: true,
                serverSide: true,
                ajax: { url: $SCRIPT_ROOT + '/admin/email_log_ajax',
                        type: 'POST',
                        data: function (args) { return { "args": JSON.stringify(args) }; } },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'recipient',
                      orderable: true,
                      searchable: true },
                    { data: 'address',
                      orderable: true,
                      searchable: true },
                    { data: 'date',
                      orderable: true,
                      searchable: false },
                    { data: 'subject',
                      orderable: true,
                      searchable: true },
                    { data: 'menu',
                      orderable: false,
                      searchable: false }
                ],
                order: [[2, 'desc']]
            });
        });
    </script>
{% endblock %}

{% block title %}
    Email log
{% endblock %}

{% block bodyblock %}
    {% if current_user.has_role('root') %}
        <form action="{{ url_for('admin.email_log') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="row vertical-bottom">
                <div class="col-2">
                    {{ wtf.render_field(form.weeks) }}
                </div>
                <div class="col-2 grouped-button-pad">
                    {{ wtf.render_field(form.delete_age, button_map={'delete_age': 'warning'}) }}
                </div>
                <div class="col-8 grouped-button-pad">
                    <div class="float-right">
                        <a href="{{ url_for('admin.confirm_delete_all_emails') }}" class="btn btn-danger">Delete all</a>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <div class="card m-3">
        <div class="card-header bg-primary text-white">Email log</div>
        <div class="card-body">
        <table id="email-log" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="20%"> Recipients</th>
                <th width="20%"> Email addresses</th>
                <th width="15%"> Send date</th>
                <th width="30%"> Subject</th>
                <th width="15%"> Actions</th>
            </tr>
            </thead>
        </table>
        </div>
    </div>
{% endblock %}
