{% extends "base_app.html" %}

{% from "datatables.html" import import_datatables, bootstrap_spinner %}

{% block scripts %}
    {{ super() }}
    {{ import_datatables() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#scheduled-emails').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftipr',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],  stateSave: true,
                serverSide: true, processing: true,
                language: {{ bootstrap_spinner() }},
                ajax: { url: $SCRIPT_ROOT + '/admin/scheduled_email_ajax',
                        type: 'POST',
                        data: function (args) { return { "args": JSON.stringify(args) }; } },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'recipient',
                      orderable: true,
                      searchable: true },
                    { data: 'timestamp',
                      orderable: true,
                      searchable: true },
                    { data: 'type',
                      orderable: true,
                      searchable: false },
                    { data: 'details',
                      orderable: false,
                      searchable: false },
                    { data: 'menu',
                      orderable: false,
                      searchable: false }
                ],
                order: [[0, 'asc']]
            });
        });
    </script>
{% endblock %}

{% block title %}
    Email log
{% endblock %}

{% block bodyblock %}
    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Email log</div>
        <div class="card-body">
        <table id="scheduled-emails" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="15%"> Recipient</th>
                <th width="15%"> Timestamp</th>
                <th width="15%"> Type</th>
                <th width="40%"> Details</th>
                <th width="15%"> Actions</th>
            </tr>
            </thead>
        </table>
        </div>
    </div>
{% endblock %}
