{{ import_datatables() }}

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function () {
        $('#email-templates').DataTable({
            responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
            serverSide: true,
            ajax: {
                'url': $SCRIPT_ROOT + "{{ AJAX_endpoint }}",
                'type': 'POST',
                'data': function (args) {
                    return {"args": JSON.stringify(args)};
                }
            },
            "fnDrawCallback": function () {
                $('body').tooltip({selector: '[data-bs-toggle="tooltip"]'});
                $('body').popover({selector: '[data-bs-toggle="popover"]', html: true, trigger: 'focus'});
            },
            columns: [
                {
                    data: 'type',
                    orderable: true,
                    searchable: false
                },
                {
                    data: 'subject',
                    orderable: true,
                    searchable: true
                },
                {
                    data: 'version',
                    orderable: true,
                    searchable: false
                },
                {
                    data: 'status',
                    orderable: true,
                    searchable: false
                },
                {
                    data: 'comment',
                    orderable: true,
                    searchable: true
                },
                {
                    data: 'menu',
                    orderable: false,
                    searchable: false
                }
            ]
        });
    });
</script>
