{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}
{% from "select2.html" import import_select2 %}
{% from "swatch.html" import small_swatch %}
{% from "labels.html" import simple_label %}
{% from "icon_block.html" import icon_block %}

{% block scripts %}
    {{ super() }}
    {#    {{ import_tinymce() }}#}
    {{ import_select2() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#labels').select2({
                theme: 'bootstrap-5',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                tags: true,
                tokenSeparators: [',', ' '],
                placeholder: 'Add labels...'
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {% if email_template %}
        Edit email template &ndash;
        <strong>{{ email_template.type_name if email_template.type_name is defined else email_template.subject }}</strong>
        <span class="badge bg-light text-dark"><i class="fas fa-hashtag"></i> {{ email_template.version }}</span>
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if email_template %}
        <form action="{{ action_url }}" method="POST" name="email_template_form">
    {% endif %}

{{ form.hidden_tag() }}

{% if email_template %}
    <div class="d-flex flex-column justify-content-start align-items-start gap-3">
        <div class="d-flex flex-row justify-content-start align-items-center gap-2">
            <span class="ms-1 text-primary  text-uppercase fs-3">{{ email_template.type_name if email_template.type_name is defined else email_template.type }}</span>
            <span class="fs-5 mb-1"><span class="badge bg-primary"><i
                    class="fas fa-hashtag"></i> {{ email_template.version }}</span></span>
        </div>
        {% if email_template.tenant_id is none and email_template.pclass_id is none %}
            <div class="alert alert-danger mt-2 mb-2 w-100">
                {% call icon_block("info-circle") %}
                    <strong>This template is a global fallback.</strong>
                {% endcall %}
            </div>
        {% elif email_template.pclass_id is not none %}
            <div class="alert alert-info mt-2 mb-2 w-100">
                {% call icon_block("project-diagram") %}
                    <div>
                        <strong>
                            This template is an override
                        </strong>
                        for project class
                        <div class="d-flex flex-row justify-content-start align-items-center gap-1">
                            {% set style = email_template.pclass.make_CSS_style() %}
                            {{ small_swatch(style) }}
                            <span class="fw-semibold">{{ email_template.pclass.name }}</span>
                        </div>
                    </div>
                {% endcall %}
            </div>
        {% elif email_template.tenant_id is not none %}
            <div class="alert alert-info mt-2 mb-2 w-100">
                {% call icon_block("building") %}
                    <div>
                        <strong>This template is an override</strong>
                        for tenant
                        {{ simple_label(email_template.tenant.make_label(email_template.tenant.name)) }}
                    </div>
                {% endcall %}
            </div>
        {% endif %}
        {% if email_template.last_used %}
            <div class="text-body-secondary small">
                <i class="fas fa-clock me-1"></i>Last
                used: {{ email_template.last_used.strftime('%a %d %b %Y %H:%M') }}
            </div>
        {% endif %}
    </div>
{% endif %}

<div class="card mt-3 mb-3">
    <div class="card-body bg-well">
        <div>
            {{ wtf.render_field(form.subject) }}
        </div>
        <div class="mt-2">
            {{ wtf.render_field(form.html_body) }}
        </div>
    </div>
</div>

<div class="card mt-3 mb-3 card-body bg-well">
    <div>
        {{ wtf.render_field(form.comment, id='comment') }}
    </div>
    <div class="mt-2">
        {{ wtf.render_field(form.labels, id='labels') }}
    </div>
</div>

{{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

</form>

    {% if email_template %}
        {{ edit_data(email_template) }}
    {% endif %}
{% endblock %}
