{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    {{ formtitle|safe }}
{% endblock %}

{% block form_content %}
    {% if template %}
        <form action="{{ url_for('convenor.edit_unit_event_template', template_id=template.id, url=url) }}"
              method="POST"
              name="edit_form">
    {% else %}
        <form action="{{ url_for('convenor.add_unit_event_template', unit_id=unit.id, url=url) }}" method="POST"
              name="add_form">
    {% endif %}

{{ form.hidden_tag() }}

{{ wtf.render_field(form.name) }}
{{ wtf.render_field(form.target_role) }}
{{ wtf.render_field(form.type) }}
{{ wtf.render_field(form.monitor_attendance) }}

<div class="mt-4">
    {% if template %}
        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
    {% else %}
        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
    {% endif %}
</div>

</form>
{% endblock %}
