{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% set label = 'attachement' %}
{% if attachment is not defined %}
    {% set label = 'report' %}
{% endif %}

{% block title %}
    Edit {{ label }} for {{ record.student_identifier }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary panel-primary-bg">
                <div class="panel-heading">
                    Edit {{ label }} <strong>{{ asset.target_name if asset.target_name else asset.filename }}</strong>
                    for <i class="fa fa-user"></i> <strong>{{ record.student_identifier }}</strong> {{ record.period.display_name }}
                </div>
                <div class="panel-body">
                    <form action="{{ action_url }}" method="POST" enctype="multipart/form-data" name="attachment_form">
                        {{ form.hidden_tag() }}

                        {% if form.description is defined %}
                            {{ wtf.form_field(form.description) }}
                        {% endif %}
                        {% if form.target_name is defined %}
                            {{ wtf.form_field(form.target_name) }}
                        {% endif %}
                        {{ wtf.form_field(form.license) }}
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
