{% extends "base_app.html" %}

{% from "macros.html" import on_click_selector_field %}
{% from "icon_block.html" import icon_block %}
{% from "labels.html" import simple_label, unformatted_label %}

{% block title %}
    Manage documents for {{ record.student_identifier['label']|safe }}
{% endblock %}

{% macro asset_line(asset, attachment, label=none, download_url=none, delete_url=none, edit_url=none, acl_url=none,
                    log_url=none, deletable=false, allow_student=false, is_editable=none, admin_rights=false) %}
    {% set has_access = asset.has_access(current_user.id) %}
    <tr>
        <td style="word-wrap: break-word;">
            <div>
                {% if label %}
                    <div class="d-flex w-100 align-items-start justify-content-start">
                        <i class="fas fa-file-alt me-2 mt-1 text-muted"></i>
                        <span class="text-muted">{{ label }}</span>
                    </div>
                {% endif %}
                {% if has_access and download_url is not none %}
                    {% if asset.target_name %}
                        <strong><a class="text-decoration-none" href="{{ download_url }}">{{ asset.target_name }}</a></strong>
                    {% else %}
                        <strong><a class="text-decoration-none" href="{{ download_url }}">{{ asset.unique_name }}</a></strong>
                    {% endif %}
                {% else %}
                    {% if asset.target_name %}
                        <strong>{{ asset.target_name }}</strong>
                    {% else %}
                        <strong>{{ asset.unique_name }}</strong>
                    {% endif %}
                {% endif %}
            </div>
            {% if attachment and attachment.type is defined and attachment.type is not none %}
                <div class="mt-1">
                    <strong>{{ attachment.type_label() }}</strong>
                </div>
            {% endif %}
            {% if attachment and attachment.description is defined and attachment.description|length > 0 %}
                <div class="mt-1 small text-muted">
                    <i class="fas fa-paperclip"></i> {{ attachment.description }}
                </div>
            {% endif %}
            {% if admin_rights %}
                <div>
                    {% if attachment and attachment.publish_to_students is defined and attachment.publish_to_students %}
                        <span class="badge bg-info"><i class="fas fa-eye"></i> Publish</span>
                    {% endif %}
                    {% if attachment and attachment.include_marker_emails is defined and attachment.include_marker_emails %}
                        <span class="badge bg-info"><i class="fas fa-envelope"></i> Marker</span>
                    {% endif %}
                    {% if attachment and attachment.include_supervisor_emails is defined and attachment.include_supervisor_emails %}
                        <span class="badge bg-info"><i class="fas fa-envelope"></i> Supervisor</span>
                    {% endif %}
                </div>
            {% endif %}
        </td>
        <td>
            <div>
                <span class="text-primary">{{ asset.human_file_size }}</span>
                {% if admin_rights %}
                    <span class="text-muted">|</span>
                    <i class="fas fa-cloud text-muted small"></i> <span class="text-muted small">Downloads: <strong>{{ asset.number_downloads }}</strong></span>
                {% endif %}
            </div>
            <div class="text-muted small mt-1">
                {% if asset.timestamp %}
                    <div>
                        {{ asset.verb_label }} on {{ asset.timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                    </div>
                {% endif %}
                {% if asset.uploaded_by is defined and asset.uploaded_by %}
                    <div>
                        {{ asset.verb_label }} by <i class="fas fa-user-circle"></i> {{ asset.uploaded_by.name }}
                    </div>
                {% endif %}
            </div>
        </td>
        <td>
            {% if asset.license %}
                {{ simple_label(asset.license.make_label()) }}
                <span class="badge bg-info">{{ asset.license.version }}</span>
            {% else %}
                <strong>Unset</strong>
            {% endif %}
        </td>
        <td>
            <div style="text-align: right;" class="float-end">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm full-width-button dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end">
                        {% if is_editable is none %}
                            {% set editable = false %}
                        {% else %}
                            {% set editable = is_editable(asset=asset, allow_student=allow_student) %}
                        {% endif %}
                        {% if has_access or editable or deletable %}
                            {% if editable %}
                                {% if edit_url is not none %}
                                    <a class="dropdown-item d-flex gap-2" href="{{ edit_url }}"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
                                {% else %}
                                    <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
                                {% endif %}
                            {% endif %}
                            {% if has_access %}
                                {% if download_url is not none %}
                                    <a class="dropdown-item d-flex gap-2" href="{{ download_url }}"><i class="fas fa-cloud-download-alt fa-fw"></i> Download</a>
                                {% else %}
                                    <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-cloud-download-alt fa-fw"></i> Download</a>
                                {% endif %}
                            {% endif %}
                            {% if admin_rights %}
                                {% if acl_url is not none %}
                                    <a class="dropdown-item d-flex gap-2" href="{{ acl_url }}"><i class="fas fa-check-square fa-fw"></i> Access control...</a>
                                {% else %}
                                    <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-check-square fa-fw"></i> Access control...</a>
                                {% endif %}
                                {% if log_url is not none %}
                                    <a class="dropdown-item d-flex gap-2" href="{{ log_url }}"><i class="fas fa-address-book fa-fw"></i> Download log...</a>
                                {% else %}
                                    <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-address-book fa-fw"></i> Download log...</a>
                                {% endif %}
                            {% endif %}
                            {% if deletable %}
                                {% if delete_url is not none %}
                                    <a class="dropdown-item d-flex gap-2" href="{{ delete_url }}"><i class="fas fa-trash fa-fw"></i> Remove</a>
                                {% else %}
                                    <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-trash fa-fw"></i> Remove</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item d-flex gap-2 disabled"><i class="fas fa-times fa-fw"></i> No access</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endmacro %}

{% block bodyblock %}
    {% set admin_rights = is_root or is_admin or is_convenor %}
    {% if url and text %}
        <div class="top-return-link">
            <a class="text-decoration-none" href="{{ url }}">
                <i class="fas fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    {% if form.selector is defined %}
        <form action="{{ url_for('documents.submitter_documents', sub_id=submitter.id, url=url, text=text) }}" method="POST" name="selector_form">
            {{ form.hidden_tag() }}
            <span class="form-text"><strong>Select submission period to review</strong></span>
            {{ on_click_selector_field(form.selector) }}
        </form>
    {% endif %}

    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Manage documents for <i class="fas fa-user-circle"></i> <strong>{{ unformatted_label(record.student_identifier) }}</strong> {{ record.period.display_name }}</div>
        <div class="card-body">
            {% if admin_rights %}
                {% if period.closed %}
                    <div class="alert alert-danger">
                        {% call icon_block("exclamation-circle") %}
                            <div>
                                <strong>
                                    You are viewing documents for the submission period "{{ record.period.display_name }}",
                                    for which feedback has already been closed. Please make edits only with great care.
                                </strong>
                            </div>
                            <div class="mt-1">
                                The uploaded documents form part of the audit record for this
                                project submission.
                            </div>
                        {% endcall %}
                    </div>
                {% endif %}
                {% set validation_messages = record.validate_documents %}
                {% if validation_messages is not none and validation_messages|length > 0 %}
                    <ul class="list-group">
                        {% for msg in validation_messages %}
                            <li class="list-group-item list-group-item-warning">
                                {% call icon_block("exclamation-circle") %}
                                    {{ msg }}
                                {% endcall %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {# PERIOD ATTACHMENTS #}
            {% if period.attachments.first() %}
                <div class="card mt-3 mb-3 card-body bg-well">
                    <span class="document-group-title mb-2">Documents provided by the convenor</span>
                    {% if is_student %}
                        <div class="mt-1 mb-1">
                            {% call icon_block("info-circle") %}
                                <div>
                                    <div><strong>The following documents have been provided by the convenor.</strong></div>
                                    <div class="mt-1">
                                        They may include mark schemes
                                        or other general information. Please ensure that you review them carefully.
                                    </div>
                                </div>
                            {% endcall %}
                        </div>
                    {% endif %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attachment in period.attachments %}
                                {% set asset = attachment.attachment %}
                                {# students can only see assets that are published to them #}
                                {% if not is_student or attachment.publish_to_students %}
                                    {{ asset_line(asset, attachment,
                                                  download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                                  delete_url=url_for('convenor.delete_period_attachment', aid=attachment.id, url=url, text=text),
                                                  edit_url=url_for('convenor.edit_period_attachment', aid=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  acl_url=url_for('documents.attachment_acl', attach_type=0, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  log_url=url_for('documents.attachment_download_log', attach_type=0, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  deletable=deletable, allow_student=false,
                                                  is_editable=is_editable, admin_rights=admin_rights) }}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {# REPORT #}
            <div class="card mt-3 mb-3 card-body bg-well">
                <span class="document-group-title mb-2">Report</span>
                {% if record.report %}
                    {% set asset = record.report %}
                    {% set passet = record.processed_report %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ asset_line(asset, none, label='Uploaded report',
                                          download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                          delete_url=url_for('documents.delete_submitter_report', sid=record.id, url=url, text=text),
                                          edit_url=url_for('documents.edit_submitter_report', sid=record.id, url=url, text=text),
                                          acl_url=url_for('documents.attachment_acl', attach_type=2, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                          log_url=url_for('documents.attachment_download_log', attach_type=2, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                          deletable=deletable, allow_student=false, is_editable=is_editable, admin_rights=admin_rights) }}
                            {% if passet %}
                                {{ asset_line(passet, none, label='Processed report',
                                              download_url=url_for('admin.download_generated_asset', asset_id=passet.id),
                                              acl_url=url_for('documents.attachment_acl', attach_type=3, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                              log_url=url_for('documents.attachment_download_log', attach_type=3, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                              deletable=false, allow_student=false, is_editable=none, admin_rights=admin_rights) }}
                            {% else %}
                                <tr>
                                    <td>
                                        {% if record.celery_started %}
                                            {% if not record.celery_finished %}
                                                <span class="text-muted">Generation of processed report in progress...</span>
                                            {% else %}
                                                <span class="text-danger">Processed report did not generate</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="text-muted">Waiting to generate processed report...</span>
                                            {% if admin_rights %}
                                                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('documents.generate_processed_report', sid=record.id) }}">Generate</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="mt-1 mb-1">
                        {% call icon_block("info-circle") %}
                            <div><strong>No report has been uploaded for this submission.</strong></div>
                            {% if report_uploadable and record.period.canvas_enabled and record.canvas_submission_available %}
                                <div class="mt-1">
                                    A matching submission has been made to the Canvas assignment for this submission period.
                                    <a href="{{ url_for('documents.pull_report_from_canvas', rid=record.id, url=url) }}" class="link-success text-decoration-none">Pull report from Canvas...</a>
                                </div>
                            {% endif %}
                        {% endcall %}
                    </div>
                    {% if report_uploadable %}
                        <hr class="intro-divider">
                        <div class="d-flex flex-row justify-content-center">
                            <a href="{{ url_for('documents.upload_submitter_report', sid=record.id, url=url, text=text) }}" class="btn btn-secondary btn-lg">
                                <i class="fas fa-plus"></i>
                                Upload report
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {# SUBMISSION ATTACHMENTS #}
            <div class="card mt-3 mb-3 card-body bg-well">
                <span class="document-group-title mb-2">Attachments</span>
                {% if is_faculty or is_office or is_admin %}
                    <div class="mt-1 mb-1">
                        {% call icon_block("info-circle") %}
                            <div>Students can only see attachments that are explicitly published.</div>
                        {% endcall %}
                    </div>
                {% endif %}
                {% if record.attachments.first() %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attachment in record.attachments %}
                                {% set asset = attachment.attachment %}
                                {# students can only see attachments they have uploaded themselves, or which they are able to download #}
                                {# no matter whether the student is on an access control list or not, students can (currently) only view/download #}
                                {# attachments that have EXPLICITLY been published #}
                                {% if (is_student and attachment.publish_to_students) or (not is_student) %}
                                    {% if current_user.id == attachment.uploaded_id or asset.has_access(current_user.id) %}
                                        {{ asset_line(asset, attachment,
                                                      download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                                      delete_url=url_for('documents.delete_submitter_attachment', aid=attachment.id, url=url, text=text),
                                                      edit_url=url_for('documents.edit_submitter_attachment', aid=attachment.id, url=url, text=text),
                                                      acl_url=url_for('documents.attachment_acl', attach_type=1, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                      log_url=url_for('documents.attachment_download_log', attach_type=1, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                      deletable=deletable, allow_student=true, is_editable=is_editable,
                                                      admin_rights=admin_rights) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="mt-1 mb-1">
                        {% call icon_block("info-circle") %}
                            <div>No attachments have been uploaded for this submission.</div>
                        {% endcall %}
                    </div>
                {% endif %}
                {% if attachment_uploadable %}
                    <hr class="into-divider">
                    <div style="text-align: center;">
                        <a href="{{ url_for('documents.upload_submitter_attachment', sid=record.id, url=url, text=text) }}" class="btn btn-secondary btn-lg">
                            <i class="fas fa-plus"></i>
                            Upload new attachment
                        </a>
                    </div>
                {% endif %}
            </div>

            {# FEEDBACK REPORTS #}
            {% if record.feedback_reports.first() %}
                <div class="card mt-3 mb-3 card-body bg-well">
                    <span class="document-group-title mb-2">Feedback reports</span>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="40%">Document</th>
                            <th width="30%">Attributes</th>
                            <th width="15%">License</th>
                            <th width="15%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in record.feedback_reports %}
                            {% set asset = report.asset %}
                            {# students can always view feedback reports #}
                            {% if current_user.id == report.generated_id or asset.has_access(current_user.id) %}
                                {{ asset_line(asset, report,
                                                  download_url=url_for('admin.download_generated_asset', asset_id=asset.id),
                                                  acl_url=url_for('documents.attachment_acl', attach_type=4, attach_id=report.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  log_url=url_for('documents.attachment_download_log', attach_type=4, attach_id=report.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  deletable=false, allow_student=true, is_editable=none, admin_rights=admin_rights) }}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    {% if url and text %}
        <a class="text-decoration-none" href="{{ url }}">
            <i class="fas fa-backward"></i> Return to {{ text }}
        </a>
    {% endif %}
{% endblock %}
