{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Manage documents for {{ record.student_identifier }}
{% endblock %}

{% macro asset_line(asset, attachment, download_url=none, delete_url=none, edit_url=none, acl_url=none, log_url=none,
                    deletable=false, allow_student=false, is_editable=none, admin_rights=false) %}
    {% set has_access = asset.has_access(current_user.id) %}
    <tr>
        <td style="word-wrap: break-word;">
            <div>
                {% if has_access and download_url is not none %}
                    {% if asset.target_name %}
                        <strong><a href="{{ download_url }}">{{ asset.target_name }}</a></strong>
                    {% else %}
                        <strong><a href="{{ download_url }}">{{ asset.filename }}</a></strong>
                    {% endif %}
                {% else %}
                    {% if asset.target_name %}
                        <strong>{{ asset.target_name }}</strong>
                    {% else %}
                        <strong>{{ asset.filename }}</strong>
                    {% endif %}
                {% endif %}
            </div>
            {% if attachment and attachment.description and attachment.description|length > 0 %}
                <div style="padding-top: 3px;">
                    {{ attachment.description }}
                </div>
            {% endif %}
        </td>
        <td>
            <div>
                {% if asset.timestamp %}
                    uploaded at {{ asset.timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                {% endif %}
                {% if asset.uploaded_by %}
                    <i class="fa fa-user"></i> {{ asset.uploaded_by.name }}
                {% endif %}
            </div>
            {% if admin_rights %}
                <div>
                    <span class="badge badge-secondary">Downloads: {{ asset.number_downloads }}</span>
                </div>
            {% endif %}
        </td>
        <td>
            {% if asset.license %}
                {{ asset.license.make_label()|safe }}
                <span class="badge badge-info">{{ asset.license.version }}</span>
            {% else %}
                <strong>Unset</strong>
            {% endif %}
        </td>
        <td>
            <div style="text-align: right;" class="float-right">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if is_editable is none %}
                            {% set editable = false %}
                        {% else %}
                            {% set editable = is_editable(asset=asset, allow_student=allow_student) %}
                        {% endif %}
                        {% if has_access or editable or deletable %}
                            {% if editable %}
                                {% if edit_url is not none %}
                                    <a class="dropdown-item" href="{{ edit_url }}"><i class="fa fa-pencil"></i> Edit</a>
                                {% else %}
                                    <a class="dropdown-item disabled"><i class="fa fa-pencil"></i> Edit</a>
                                {% endif %}
                            {% endif %}
                            {% if has_access %}
                                {% if download_url is not none %}
                                    <a class="dropdown-item" href="{{ download_url }}"><i class="fa fa-cloud-download"></i> Download</a>
                                {% else %}
                                    <a class="dropdown-item disabled"><i class="fa fa-cloud-download"></i> Download</a>
                                {% endif %}
                            {% endif %}
                            {% if admin_rights %}
                                {% if acl_url is not none %}
                                    <a class="dropdown-item" href="{{ acl_url }}"><i class="fa fa-check-square"></i> Access control...</a>
                                {% else %}
                                    <a class="dropdown-item disabled"><i class="fa fa-check-square"></i> Access control...</a>
                                {% endif %}
                                {% if log_url is not none %}
                                    <a class="dropdown-item" href="{{ log_url }}"><i class="fa fa-address-book"></i> Download log...</a>
                                {% else %}
                                    <a class="dropdown-item disabled"><i class="fa fa-address-book"></i> Download log...</a>
                                {% endif %}
                            {% endif %}
                            {% if deletable %}
                                {% if delete_url is not none %}
                                    <a class="dropdown-item" href="{{ delete_url }}"><i class="fa fa-trash"></i> Remove</a>
                                {% else %}
                                    <a class="dropdown-item disabled"><i class="fa fa-trash"></i> Remove</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <li><a class="disabled"><i class="fa fa-times"></i> No access</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </td>
    </tr>
{% endmacro %}

{% block bodyblock %}
    {% set admin_rights = is_root or is_admin or is_convenor %}
    {% if url and text %}
        <div class="top-return-link">
            <a href="{{ url }}">
                <i class="fa fa-backward"></i> Return to {{ text }}
            </a>
        </div>
    {% endif %}

    <div class="card m-3">
        <div class="card-header bg-primary text-white">Manage documents for <i class="fa fa-user"></i> <strong>{{ record.student_identifier }}</strong> {{ record.period.display_name }}</div>
        <div class="card-body">
            {% if admin_rights %}
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        {% if period.closed %}
                            <div class="alert alert-danger">
                                You are viewing documents for the submission period "{{ record.period.display_name }}",
                                for which feedback
                                has already been closed. The uploaded documents form part of the audit record for this
                                project submission. <strong>When making edits, please proceed with care.</strong>
                            </div>
                        {% endif %}

                        {% set validation_messages = record.validate %}
                        {% if validation_messages is not none and validation_messages|length > 0 %}
                            <ul class="list-group">
                                {% for msg in validation_messages %}
                                    <li class="list-group-item list-group-item-warning">{{ msg }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div>
            {% endif %}

            {# PERIOD ATTACHMENTS #}
            {% if period.attachments.first() %}
                <div class="card m-3 card-body">
                    <div><span class="document-group-title">Documents provided by the convenor</span></div>
                    {% if is_student %}
                        <div>The following documents have been provided by the convenor and may include mark schemes
                        or other general information. Please ensure that you review them.</div>
                    {% endif %}
                    <hr class="intro-divider">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attachment in period.attachments %}
                                {% set asset = attachment.attachment %}
                                {# students can only see assets that are published to them #}
                                {% if not is_student or attachment.publish_to_students %}
                                    {{ asset_line(asset, attachment,
                                                  download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                                  delete_url=url_for('convenor.delete_period_attachment', aid=attachment.id),
                                                  edit_url=url_for('convenor.edit_period_attachment', aid=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  acl_url=url_for('documents.attachment_acl', attach_type=0, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  log_url=url_for('documents.attachment_download_log', attach_type=0, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  deletable=deletable, allow_student=false,
                                                  is_editable=is_editable, admin_rights=admin_rights) }}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {# REPORT #}
            <div class="card m-3 card-body">
                <span class="document-group-title">Report</span>
                <hr class="intro-divider">
                {% if record.report %}
                    {% set asset = record.report %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ asset_line(asset, none,
                                          download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                          delete_url=url_for('documents.delete_submitter_report', sid=record.id),
                                          edit_url=url_for('documents.edit_submitter_report', sid=record.id, url=url, text=text),
                                          acl_url=url_for('documents.attachment_acl', attach_type=2, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                          log_url=url_for('documents.attachment_download_log', attach_type=2, attach_id=record.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                          deletable=deletable, allow_student=false, is_editable=is_editable,
                                          admin_rights=admin_rights) }}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No report has been uploaded for this submission.</strong>
                    {% if report_uploadable %}
                        <hr class="into-divider">
                        <div style="text-align: center;">
                            <a href="{{ url_for('documents.upload_submitter_report', sid=record.id, url=url, text=text) }}" class="btn btn-secondary btn-lg">
                                <i class="fa fa-plus"></i>
                                Upload report
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {# SUBMISSION ATTACHMENTS #}
            <div class="card m-3 card-body">
                <span class="document-group-title">Attachments</span>
                <hr class="intro-divider">
                {% if record.attachments.first() %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%">Document</th>
                                <th width="30%">Attributes</th>
                                <th width="15%">License</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attachment in record.attachments %}
                                {% set asset = attachment.attachment %}
                                {# students can only see attachments they have uploaded themselves, #}
                                {# or which they are able to download #}
                                {% if not is_student or (current_user.id == attachment.uploaded_id or asset.has_access(current_user.id))%}
                                    {{ asset_line(asset, attachment,
                                                  download_url=url_for('admin.download_submitted_asset', asset_id=asset.id),
                                                  delete_url=url_for('documents.delete_submitter_attachment', aid=attachment.id),
                                                  edit_url=url_for('documents.edit_submitter_attachment', aid=attachment.id, url=url, text=text),
                                                  acl_url=url_for('documents.attachment_acl', attach_type=1, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  log_url=url_for('documents.attachment_download_log', attach_type=1, attach_id=attachment.id, url=url_for('documents.submitter_documents', sid=record.id, url=url, text=text), text='document manager'),
                                                  deletable=deletable, allow_student=true, is_editable=is_editable,
                                                  admin_rights=admin_rights) }}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No attachments have been uploaded for this submission.</strong>
                {% endif %}
                {% if attachment_uploadable %}
                    <hr class="into-divider">
                    <div style="text-align: center;">
                        <a href="{{ url_for('documents.upload_submitter_attachment', sid=record.id, url=url, text=text) }}" class="btn btn-secondary btn-lg">
                            <i class="fa fa-plus"></i>
                            Upload new attachment
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if url and text %}
        <a href="{{ url }}">
            <i class="fa fa-backward"></i> Return to {{ text }}
        </a>
    {% endif %}
{% endblock %}
