{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "labels.html" import unformatted_label %}

{% block title %}
    Upload report for {{ record.student_identifier['label']|safe }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-primary mt-3 mb-3">
                <div class="card-header bg-primary text-white">
                    Upload report for <i class="fas fa-user-circle"></i> <strong>{{ unformatted_label(record.student_identifier) }}</strong> {{ record.period.display_name }}
                </div>
                <div class="card-body">
                    <form action="{{ url_for('documents.upload_submitter_report', sid=record.id, url=url, text=text) }}" method="POST" enctype="multipart/form-data" name="report_form">
                        {{ form.hidden_tag() }}

                        <label class="btn btn-secondary" for="file-selector">
                            <input id="file-selector" type="file" name="report" style="display: none;"
                                   onchange="$('#filename-data').html(this.files[0].name); $('#target_name').val(this.files[0].name);">
                            Select file...
                        </label>
                        <span class="badge bg-info" id="filename-data" style="height: 24px;"></span>

                        <hr class="intro-divider">
                        {{ wtf.render_field(form.license) }}
                        {{ wtf.render_field(form.target_name) }}
                        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('documents.submitter_documents', sid=record.id, url=url, text=text) }}">
                    <i class="fas fa-backward"></i> Return to document manager for <i class="fas fa-user-circle"></i> {{ unformatted_label(record.student_identifier) }}
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
