{% extends "security/index.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Upload new attachment for {{ record.student_identifier }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary panel-primary-bg">
                <div class="panel-heading">
                    Upload new attachment for <i class="fa fa-user"></i> <strong>{{ record.student_identifier }}</strong> {{ record.period.display_name }}
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('documents.upload_submitter_attachment', sid=record.id, url=url, text=text) }}" method="POST" enctype="multipart/form-data" name="attachment_form">
                        {{ form.hidden_tag() }}

                        <label class="btn btn-default" for="file-selector">
                            <input id="file-selector" type="file" name="attachment" style="display: none;"
                                   onchange="$('#filename-data').html(this.files[0].name)">
                            Select file...
                        </label>
                        <span class="label label-info" id="filename-data"></span>

                        <hr class="intro-divider">
                        {{ wtf.form_field(form.description) }}
                        {{ wtf.form_field(form.license) }}
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>

            <div>
                <a href="{{ url_for('documents.submitter_documents', sid=record.id, url=url, text=text) }}">
                    <i class="fa fa-backward"></i> Return to document manager for <i class="fa fa-user"></i> {{ record.student_identifier }}
                </a>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
