{% extends "security/index.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Upload report for {{ record.student_identifier }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card m-3">
                <div class="card-header bg-primary text-white">
                    Upload report for <i class="fa fa-user"></i> <strong>{{ record.student_identifier }}</strong> {{ record.period.display_name }}
                </div>
                <div class="card-body">
                    <form action="{{ url_for('documents.upload_submitter_report', sid=record.id, url=url, text=text) }}" method="POST" enctype="multipart/form-data" name="report_form">
                        {{ form.hidden_tag() }}

                        <label class="btn btn-secondary" for="file-selector">
                            <input id="file-selector" type="file" name="report" style="display: none;"
                                   onchange="$('#filename-data').html(this.files[0].name); $('#target_name').val(this.files[0].name);">
                            Select file...
                        </label>
                        <span class="badge badge-info" id="filename-data" style="height: 24px;"></span>

                        <hr class="intro-divider">
                        {{ wtf.render_field(form.license) }}
                        {{ wtf.render_field(form.target_name) }}
                        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>

            <div>
                <a href="{{ url_for('documents.submitter_documents', sid=record.id, url=url, text=text) }}">
                    <i class="fa fa-backward"></i> Return to document manager for <i class="fa fa-user"></i> {{ record.student_identifier }}
                </a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
