{% extends "security/index.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import on_click_selector_field %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Attach modules to degree programme <strong>{{ prog.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if prog and prog.modules %}
                <h4>
                {% for module in prog.ordered_modules %}
                    <a class="btn btn-default selection-label"
                       href="{{ url_for('admin.detach_module', prog_id=prog.id, mod_id=module.id) }}">
                        <i class="fa fa-times"></i> {{ module.text_label }}
                    </a>
                {% endfor %}
                </h4>
            {% else %}
                <p>No modules currently attached</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            <form action="{{ url_for('admin.attach_modules', id=prog.id) }}" method="POST" name="module-selector-form">
                {{ form.hidden_tag() }}
                {{ on_click_selector_field(form.selector, false) }}
            </form>
            {% if prog and modules %}
                <h4>
                    {% for module in modules %}
                        {% if module not in prog.modules %}
                            <a class="btn btn-default selection-label"
                               href="{{ url_for('admin.attach_module', prog_id=prog.id, mod_id=module.id) }}">
                                <i class="fa fa-plus"></i> {{ module.text_label }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </h4>
            {% else %}
                <p>No modules currently defined</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url_for('admin.edit_degree_programmes', id=pclass_id) }}">
        <i class="fa fa-backward"></i> Return to degree programme list
    </a>
{% endblock %}
