{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import on_click_selector_field %}

{% block title %}
    {{ title }}
{% endblock %}

{% block formtitle %}
    Attach modules to degree programme <strong>{{ prog.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            {% if prog and prog.modules and levels %}
                <h4>
                    {% set ns = namespace(count=0) %}
                    {% for level in levels %}
                        {% if prog.number_level_modules(level.id) > 0 %}
                            <div {% if ns.count > 0 %}style="padding-top: 15px;"{% endif %}>
                                <span style="font-weight: lighter; margin-bottom: 2px;">{{ level.name }}</span>
                            </div>
                            {% set ns.count = ns.count + 1 %}
                            {% for module in prog.get_level_modules(level.id) %}
                                <a class="btn btn-secondary selection-label"
                                   {% if module.level is not none %}
                                     style="{{ module.level.make_CSS_style() }}"
                                   {% endif %}
                                   href="{{ url_for('admin.detach_module', prog_id=prog.id, mod_id=module.id, level_id=level_id) }}">
                                    <i class="fas fa-times"></i> {{ module.text_label }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </h4>
            {% else %}
                <p>No modules currently attached</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <form action="{{ url_for('admin.attach_modules', id=prog.id) }}" method="POST" name="module-selector-form">
                {{ form.hidden_tag() }}
                {{ on_click_selector_field(form.selector, false) }}
            </form>
            {% if prog and modules %}
                <h4>
                    {% for module in modules %}
                        {% if module not in prog.modules %}
                            <a class="btn btn-secondary selection-label"
                               href="{{ url_for('admin.attach_module', prog_id=prog.id, mod_id=module.id, level_id=level_id) }}">
                                <i class="fas fa-plus"></i> {{ module.text_label }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </h4>
            {% else %}
                <p>No modules currently defined</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url_for('admin.edit_degree_programmes', id=pclass_id) }}">
        <i class="fas fa-backward"></i> Return to degree programme list
    </a>
{% endblock %}
