{% extends "convenor/dashboard/live_nav.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#add-liveproject-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftipr',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                serverSide: true, processing: true,
                language: {{ bootstrap_spinner() }},
                ajax: { url: $SCRIPT_ROOT + '/convenor/attach_liveproject_ajax/{{ pclass.id }}',
                        type: 'POST',
                        data: function (args) { return { "args": JSON.stringify(args) }; }},
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-bs-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name',
                      searchable: true,
                      orderable: true },
                    { data: 'owner',
                      searchable: true,
                      orderable: true },
                    { data: 'status',
                      searchable: false,
                      orderable: false },
                    { data: 'meeting',
                      searchable: false,
                      orderable: false },
                    { data: 'group',
                      searchable: false,
                      orderable: false },
                    { data: 'prefer',
                      searchable: false,
                      orderable: false },
                    { data: 'skills',
                      searchable: false,
                      orderable: false },
                    { data: 'menu',
                      searchable: false,
                      orderable: false}
                ],
                order: [[0, 'asc']]
            });

            {% if current_user.has_role('admin') or current_user.has_role('root') %}
                $('#other-pclasses-table').DataTable({
                    responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftipr',
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                    serverSide: true, processing: true,
                    language: {{ bootstrap_spinner() }},
                    ajax: { url: $SCRIPT_ROOT + '/convenor/attach_liveproject_other_ajax/{{ pclass.id }}',
                            type: 'POST',
                            data: function (args) { return { "args": JSON.stringify(args) }; }},
                    "fnDrawCallback": function () { $('body').tooltip({selector: '[data-bs-toggle="tooltip"]'}); },
                    columns: [
                        { data: 'name',
                          searchable: true,
                          orderable: true },
                        { data: 'owner',
                          searchable: true,
                          orderable: true },
                        { data: 'status',
                          searchable: false,
                          orderable: false },
                        { data: 'pclasses',
                          searchable: false,
                          orderable: false },
                        { data: 'meeting',
                          searchable: false,
                          orderable: false },
                        { data: 'group',
                          searchable: false,
                          orderable: false },
                        { data: 'prefer',
                          searchable: false,
                          orderable: false },
                        { data: 'skills',
                          searchable: false,
                          orderable: false },
                        { data: 'menu',
                          searchable: false,
                          orderable: false}
                    ],
                    order: [[0, 'asc']]
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Projects available to be attached to <strong>{{ pclass.name }}
            {{ config.select_year_a }}&ndash;{{ config.select_year_b }}</strong></div>
        <div class="card-body">
            <table id="add-liveproject-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="15%"> Name</th>
                    <th width="12%"> Owner</th>
                    <th width="8%"> Status</th>
                    <th width="8%"> Meeting required?</th>
                    <th width="8%"> Affiliation</th>
                    <th width="15%"> Prefer degree programmes</th>
                    <th width="20%"> Transferable skills</th>
                    <th width="14%"> Actions</th>
                </tr>
                </thead>
           </table>
        </div>
    </div>

    {% if current_user.has_role('admin') or current_user.has_role('admin') %}
        <div class="card border-primary mt-3 mb-3">
            <div class="card-header bg-primary text-white">Projects attached to other project classes</div>
            <div class="card-body">
                <table id="other-pclasses-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                    <th width="13%"> Name</th>
                    <th width="12%"> Owner</th>
                    <th width="8%"> Status</th>
                    <th width="12%"> Available for</th>
                    <th width="8%"> Meeting required?</th>
                    <th width="8%"> Affiliation</th>
                    <th width="12%"> Prefer degree programmes</th>
                    <th width="15%"> Transferable skills</th>
                    <th width="14%"> Actions</th>
                    </tr>
                    </thead>
               </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
