{% extends "convenor/dashboard/live_nav.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#add-liveproject-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/attach_liveproject_ajax/{{ pclass.id }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name' },
                    { data: 'owner',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                    } },
                    { data: 'status' },
                    { data: 'meeting' },
                    { data: 'group' },
                    { data: 'prefer' },
                    { data: 'skills' },
                    { data: 'menu' }
                ],
                deferRender: true
            });

            {% if current_user.has_role('admin') or current_user.has_role('root') %}
                $('#other-pclasses-table').DataTable({
                    responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                    ajax: { url: $SCRIPT_ROOT + '/convenor/attach_liveproject_other_ajax/{{ pclass.id }}', dataSrc: '' },
                    "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                        { data: 'name' },
                        { data: 'owner',
                          render: {
                            _: 'display',
                            sort: 'sortvalue',
                            type: 'sortvalue'
                        } },
                        { data: 'status' },
                        { data: 'pclasses' },
                        { data: 'meeting' },
                        { data: 'group' },
                        { data: 'prefer' },
                        { data: 'skills' },
                        { data: 'menu' }
                    ],
                    deferRender: true
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="card m-3 bg-primary text-white bg-primary text-white-bg">
        <div class="card-header">Projects available to be attached to <strong>{{ pclass.name }}
            {{ config.year+1 }}&ndash;{{ config.year+2 }}</strong></div>
        <div class="card-body">
            <table id="add-liveproject-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="15%"> Name</th>
                    <th width="12%"> Owner</th>
                    <th width="8%"> Status</th>
                    <th width="8%"> Meeting required?</th>
                    <th width="8%"> Affiliation</th>
                    <th width="15%"> Prefer degree programmes</th>
                    <th width="20%"> Transferable skills</th>
                    <th width="14%"> Actions</th>
                </tr>
                </thead>
           </table>
        </div>
    </div>

    {% if current_user.has_role('admin') or current_user.has_role('admin') %}
        <div class="card m-3 bg-primary text-white bg-primary text-white-bg">
            <div class="card-header">Projects attached to other project classes</div>
            <div class="card-body">
                <table id="other-pclasses-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                    <th width="13%"> Name</th>
                    <th width="12%"> Owner</th>
                    <th width="8%"> Status</th>
                    <th width="12%"> Available for</th>
                    <th width="8%"> Meeting required?</th>
                    <th width="8%"> Affiliation</th>
                    <th width="12%"> Prefer degree programmes</th>
                    <th width="15%"> Transferable skills</th>
                    <th width="14%"> Actions</th>
                    </tr>
                    </thead>
               </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
