{% extends "convenor/dashboard/overview_nav.html" %}

{% from "convenor/dashboard/overview_cards/capacity_card.html" import capacity_card %}
{% from "icon_block.html" import icon_block %}

{% set state = config.selector_lifecycle %}
{% set enable_capacity = false %}
{% if state <= config.SELECTOR_LIFECYCLE_READY_GOLIVE %}{% set enable_capacity = true %}{% endif %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if enable_capacity %}
                {% if pclass.publish %}
                    {# CAPACITY #}
                    {% set sel_count = convenor_data['selectors'] %}
                    {{ capacity_card(capacity_data, sel_count) }}
                {% else %}
                    <div class="alert alert-danger mt-1 mb-2">
                        {% call icon_block("exclamation-triangle") %}
                            <strong>This project class is not published, so its administration options are limited.</strong>
                        {% endcall %}
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info mt-1 mb-2">
                    {% call icon_block("info-circle") %}
                        <div><strong>Capacity data is not available.</strong></div>
                        <div class="mt-1">
                            At this point in the project lifecycle, capacity data cannot be inspected.
                            It is available for viewing before Go Live.
                        </div>
                    {% endcall %}
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
