{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import edit_data %}

{% block title %}
    Edit custom CATS limits for {{ user.name }}
{% endblock %}

{% block formtitle %}
    Edit custom CATS limits for <i class="fas fa-user-circle"></i> <strong>{{ user.name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.custom_CATS_limits', record_id=record.id) }}" method="POST" name="CATS_form">

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        <div class="row vertical-top">
            <div class="col-6">
                {{ wtf.render_field(form.CATS_supervision) }}
            </div>
            <div class="col-6">
                {{ wtf.render_field(form.CATS_marking) }}
            </div>
        </div>
        <div class="row vertical-top">
            <div class="col-6">
                {{ wtf.render_field(form.CATS_moderation) }}
            </div>
            <div class="col-6">
                {{ wtf.render_field(form.CATS_presentation) }}
            </div>
        </div>

        <div class="mt-4">
            {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %}

{% block footer %}
    {{ edit_data(record) }}
    {{ super() }}
{% endblock %}