{% extends "convenor/dashboard/pclass_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit markers per submission
{% endblock %}

{% block formtitle %}
    Edit markers per submission for <strong>{{ record.display_name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.edit_period_markers', pid=record.id) }}" method="POST" name="edit_form">

        {{ form.hidden_tag() }}

        {{ wtf.render_field(form.number_markers) }}
        {{ wtf.render_field(form.uses_supervision_grade) }}

        <div class="mt-4">
            {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %}
