{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import date_field %}
{% from "datepicker.html" import import_datepicker %}

{% block scripts %}
    {{ super() }}
    {{ import_datepicker() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                allowInputToggle: true,
                sideBySide: true
            });

            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY',
                allowInputToggle: true,
                sideBySide: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Edit submission period
{% endblock %}

{% block formtitle %}
    Edit submission period <strong>{{ record.display_name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.edit_period_record', pid=record.id) }}" method="POST" name="edit_form">

        {{ form.hidden_tag() }}

{#        {{ wtf.form_errors(form) }}#}

        {{ wtf.render_field(form.name) }}
        <div class="row vertical-top">
            <div class="col-6">
                {{ wtf.render_field(form.number_markers) }}
            </div>
            <div class="col-6">
                {{ wtf.render_field(form.number_moderators) }}
            </div>
        </div>
        {{ date_field(form.start_date, 'datetimepicker1') }}
        {{ date_field(form.hand_in_date, 'datetimepicker2') }}
        <hr class="intro-divider">

        {% if config.main_config.enable_canvas_sync %}
            <p class="form-group-heading mt-2">Canvas integration</p>
            {{ wtf.render_field(form.canvas_module_id) }}
            {{ wtf.render_field(form.canvas_assignment_id) }}
            <hr class="intro-divider">
        {% endif %}

        <div class="mt-2">
            {{ wtf.render_field(form.collect_project_feedback) }}
        </div>

        <div class="mt-4">
            {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %}
