{% extends "convenor/dashboard/pclass_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit AI grading rubric
{% endblock %}

{% block formtitle %}
    Edit AI grading rubric for <strong>{{ config.name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.edit_config_ai_rubric', pid=config.id) }}" method="POST" name="edit_form">

        {{ form.hidden_tag() }}

        {{ wtf.render_field(form.grading_rubric) }}

        <div class="mt-4">
            {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %}
