{% extends "convenor/dashboard/pclass_form.html" %}

{% import "bootstrap/form.html" as wtf %}
{% from "macros.html" import date_field %}
{% from "datepicker.html" import import_datepicker %}

{% block scripts %}
    {{ super() }}
    {{ import_datepicker() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                allowInputToggle: true,
                sideBySide: true
            });

            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY',
                allowInputToggle: true,
                sideBySide: true
            });
        });
    </script>
{% endblock %}

{% block title %}
    Edit dates &amp; deadlines
{% endblock %}

{% block formtitle %}
    Edit dates &amp; deadlines for <strong>{{ record.display_name }}</strong>
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.edit_period_dates', pid=record.id) }}" method="POST" name="edit_form">

        {{ form.hidden_tag() }}

        {{ wtf.render_field(form.name) }}

        <p class="form-group-heading mt-2">Dates &amp; deadlines</p>
        {{ date_field(form.start_date, 'datetimepicker1') }}
        {{ date_field(form.hand_in_date, 'datetimepicker2') }}

        <div class="mt-4">
            {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %}
