{% extends "convenor/dashboard/submitter_nav.html" %}

{% if cohort_filter is none %}{% set cohort_filter = 'all' %}{% endif %}
{% if prog_filter is none %}{% set prog_filter = 'all' %}{% endif %}
{% if year_filter is none %}{% set year_filter = 'all' %}{% endif %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#add-submitters-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/enroll_submitters_ajax/{{ pclass.id }}?cohort_filter={{ cohort_filter }}&year_filter={{ year_filter }}&prog_filter={{ prog_filter }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name',
                      render: {
                        _: 'display',
                        sort: 'sortstring'
                      } },
                    { data: 'programme' },
                    { data: 'cohort',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                      } },
                    { data: 'acadyear',
                      render: {
                        _: 'display',
                        sort: 'sortvalue',
                        type: 'sortvalue'
                      } },
                    { data: 'actions' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    {% if config.selection_closed %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="alert alert-danger">
                    <p>Student selections have already closed for the current academic year.</p>
                    <p>It is no longer possible to manually enroll selectors for this project class</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    {% endif %}

    <div class="card m-3 bg-primary text-white bg-primary text-white-bg">
        <div class="card-header">Students available to be enrolled as <strong>submitters</strong> for <strong>{{ pclass.name }}</strong></div>
        <div class="card-body">
            <div class="card m-3 card-body">
                {% set needs_rule = false %}
                {% set has_cohorts = (cohorts and cohorts is not none and cohorts|length > 1) %}
                {% set has_years = (years and years is not none and years|length > 1) %}
                {% if has_cohorts or has_years %}
                    {% set needs_rule = true %}
                    <div class="row">
                        {% if has_cohorts %}
                            {% if has_years %}
                                <div class="col-6">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                                <p>Filter by cohort</p>
                                <a class="btn btn-sm filter-btn {% if cohort_filter is none or cohort_filter == 'all' %}btn-primary{% else %}btn-secondary{% endif %}"
                                    href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter='all', year_filter=year_filter, prog_filter=prog_filter) }}">
                                    All
                                </a>
                                {% for cohort in cohorts %}
                                    <a class="btn btn-sm filter-btn {% if cohort_filter == cohort|string %}btn-primary{% else %}btn-secondary{% endif %}"
                                        href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter=cohort, year_filter=year_filter, prog_filter=prog_filter) }}">
                                        {{ cohort }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if has_years %}
                            {% if has_cohorts %}
                                <div class="col-6">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                                <p>Filter by academic year</p>
                                <a class="btn btn-sm filter-btn {% if year_filter is none or year_filter == 'all' %}btn-primary{% else %}btn-secondary{% endif %}"
                                    href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter=cohort_filter, year_filter='all', prog_filter=prog_filter) }}">
                                    All
                                </a>
                                {% for year in years %}
                                    <a class="btn btn-sm filter-btn {% if year_filter == year|string %}btn-primary{% else %}btn-secondary{% endif %}"
                                        href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter=cohort_filter, year_filter=year, prog_filter=prog_filter) }}">
                                        Y{{ year }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if progs and progs is not none and progs|length > 1 %}
                    {% if needs_rule %}
                        <hr class="intro-divider">
                    {% endif %}
                    {% set needs_rule = true %}
                    <p>Filter by degree programme</p>
                    <a class="btn btn-sm filter-btn {% if prog_filter is none or prog_filter == 'all' %}btn-primary{% else %}btn-secondary{% endif %}"
                        href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter='all') }}">
                        All
                    </a>
                    {% for prog in progs %}
                        <a class="btn btn-sm filter-btn {% if prog_filter == prog.id|string %}btn-primary{% else %}btn-secondary{% endif %}"
                            href="{{ url_for('convenor.enroll_submitters', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog.id) }}">
                            {{ prog.full_name }}
                        </a>
                    {% endfor %}
                {% endif %}

                {% if needs_rule %}
                    <hr class="intro-divider">
                {% endif %}
                <div class="row vertical-align">
                    <div class="col-12">
                        <div class="float-right">
                            <a href="{{ url_for('convenor.enroll_all_submitters', configid=config.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter) }}"
                               class="btn btn-warning">
                                <i class="fa fa-check"></i> Manually enroll all
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <table id="add-submitters-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="25%"> Name</th>
                    <th width="35%"> Programme</th>
                    <th width="15%"> Cohort</th>
                    <th width="10%"> Current year</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
