{% extends "convenor/dashboard/nav.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#faculty-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/faculty_ajax/{{ pclass.id }}{% if filter is not none %}?filter={{ filter }}{% endif %}', dataSrc: '' },
                columns: [
                    { data: 'last' },
                    { data: 'first' },
                    { data: 'email' },
                    { data: 'enrolled' },
                    { data: 'offered' },
                    { data: 'unoffer' },
                    { data: 'golive' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="panel panel-primary panel-primary-bg">
        <div class="panel-heading">Faculty list for <strong>{{ pclass.name }}</strong></div>
        <div class="panel-body">
            <div class="well">
                Filter:
                <a href="{{ url_for('convenor.faculty', id=pclass.id, filter='all') }}"
                   class="btn btn-sm {% if filter is none or filter == 'all' %}btn-primary{% else %}btn-default{% endif %}">
                    All
                </a>
                <a href="{{ url_for('convenor.faculty', id=pclass.id, filter='enrolled') }}"
                   class="btn btn-sm {% if filter == 'enrolled' %}btn-primary{% else %}btn-default{% endif %}">
                    Enrolled
                </a>
                <a href="{{ url_for('convenor.faculty', id=pclass.id, filter='not-enrolled') }}"
                   class="btn btn-sm {% if filter == 'not-enrolled' %}btn-primary{% else %}btn-default{% endif %}">
                    Not enrolled
                </a>
            </div>

            <table id="faculty-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="12%"> Last name</th>
                    <th width="10%"> First name</th>
                    <th width="18%"> Email</th>
                    <th width="15%"> Enrolled?</th>
                    <th width="10%"> Projects available</th>
                    <th width="10%"> Projects not offerable</th>
                    <th width="10%"> Go-live?</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}