{% extends "convenor/dashboard/nav.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#faculty-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/faculty_ajax/{{ pclass.id }}', dataSrc: '' },
                columns: [
                    { data: 'last' },
                    { data: 'first' },
                    { data: 'email' },
                    { data: 'enrolled' },
                    { data: 'offered' },
                    { data: 'unoffer' },
                    { data: 'golive' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="panel panel-primary panel-primary-bg">
        <div class="panel-heading">Faculty enrolled in <strong>{{ pclass.name }}</strong></div>
        <div class="panel-body">
            <table id="faculty-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="12%"> Last name</th>
                    <th width="10%"> First name</th>
                    <th width="18%"> Email</th>
                    <th width="15%"> Enrolled?</th>
                    <th width="10%"> Projects available</th>
                    <th width="10%"> Projects not offerable</th>
                    <th width="10%"> Go-live?</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}