{% extends "convenor/dashboard/nav.html" %}

{% block tabblock %}
    <ul class="nav nav-tabs dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if subpane=='list' %}active{% endif %}" href="{{ url_for('convenor.faculty', id=pclass.id) }}">
                Faculty list
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if subpane=='workload' %}active{% endif %}" href="{{ url_for('convenor.faculty_workload', id=pclass.id) }}">
                Workload summary
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if subpane=='groups' %}active{% endif %}" href="{{ url_for('convenor.teaching_groups', id=pclass.id) }}">
                Teaching groups
            </a>
        </li>
    </ul>
{% endblock %}
