{% extends "base_app.html" %}

{% block title %}
    View all convenor hints
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="top-return-link">
                <a class="text-decoration-none" href="{{ url_for('convenor.selector_grid', id=pclass.id) }}">
                    <i class="fas fa-backward"></i> Return to selector grid
                </a>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header">
                    View all convenor hints for <strong>{{ pclass.name }}</strong>
                </div>
                <div class="card-body">
                    <div class="container-fluid" style="margin-top: 10px;">
                        <div class="row vertical-top hints-table">
                            <div class="col-3"><strong>Selector</strong></div>
                            <div class="col-2"><strong>Rank</strong></div>
                            <div class="col-7"><strong>Project</strong></div>
                        </div>
                        {% for item in hints %}
                            {% set project = item.liveproject %}
                            <div class="row vertical-top hints-table">
                                <div class="col-3">
                                    {{ item.format_name|safe }}
                                </div>
                                <div class="col-2">
                                    <span class="badge bg-success rank-hint-button">#{{ item.rank }}</span>
                                    <div class="rank-hint-button">
                                        <button class="btn btn-xs {% if item.has_hint %}btn-danger{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Hint
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 small">
                                            {% set menu_items = item.menu_order %}
                                            {% for mi in menu_items %}
                                                {% if mi is string %}
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <div class="dropdown-header">{{ mi }}</div>
                                                {% elif mi is number %}
                                                    {% set disabled = (mi == item.hint) %}
                                                    <a class="dropdown-item d-flex gap-2 small {% if disabled %}disabled{% endif %}" {% if not disabled %}href="{{ url_for('convenor.set_hint', id=item.id, hint=mi) }}"{% endif %}>
                                                        {{ item.menu_item(mi)|safe }}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div>
                                        <a class="text-decoration-none" href="{{ url_for('faculty.live_project', pid=project.id, text='all hints view', url=url_for('convenor.hints_list', id=pclass.id)) }}">
                                            {{ item.liveproject.owner.user.name }} &ndash; No. {{ item.liveproject.number }}: {{ item.liveproject.name }}
                                        </a>
                                    </div>
                                    {% set ns = namespace(affiliation=false) %}
                                    {% if project.group %}
                                        {{ project.group.make_label()|safe }}
                                        {% set ns.affiliation = true %}
                                    {% endif %}
                                    {% for tag in project.forced_group_tags %}
                                        {% if tag.name|length > 15 %}
                                            {{ tag.make_label(tag.name[0:15]+'...')|safe }}
                                        {% else %}
                                            {{ tag.make_label()|safe }}
                                        {% endif %}
                                        {% set ns.affiliation = true %}
                                    {% endfor %}
                                    {% if not ns.affiliation %}
                                        <span class="badge bg-warning text-dark">No affiliations</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="row vertical-top hints-table">
                                <div class="col-12">
                                    <div class="d-flex flex-row justify-content-center align-content-start pt-3 pb-2">
                                        <div style="background-color: #e9ecef;">Nothing to display</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                <a class="text-decoration-none" href="{{ url_for('convenor.selector_grid', id=pclass.id) }}">
                    <i class="fas fa-backward"></i> Return to selector grid
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
