{% extends "convenor/dashboard/nav.html" %}

{% from "convenor/dashboard/overview_cards/rollover.html" import rollover_card %}
{% from "convenor/dashboard/overview_cards/issue_confirmations.html" import issue_confirmations %}
{% from "convenor/dashboard/overview_cards/waiting_confirmations.html" import waiting_confirmations %}
{% from "convenor/dashboard/overview_cards/golive.html" import golive %}
{% from "convenor/dashboard/overview_cards/selection_open.html" import selection_open %}
{% from "convenor/dashboard/overview_cards/selection_closed.html" import selection_closed %}
{% from "convenor/dashboard/overview_cards/submitter_card.html" import submitter_card %}


{% block scripts %}
    {{ super() }}

    {% assets filters="cssmin", output="gen/bootstrap-datepicker-min.css", "css/bootstrap-datepicker.css" -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="jsmin", output="gen/bootstrap-datepicker-min.js", "js/bootstrap-datepicker.js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="well well-lg">
                <p><span class="dashboard-project-title">{{ pclass.name }} {{ config.year }}&ndash;{{ config.year+1 }}</span></p>
                <hr class="intro-divider">
                <div class="list-group">
                    <div class="list-group-item">
                        Submission periods:
                        {% for p in config.periods %}
                            <span class="label label-primary">{{ p.display_name|safe }}</span>
                        {% else %}
                            <span class="label label-default">None</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-4">
                        <div class="list-group">
                            <div class="list-group-item">
                                Current supervision CATS <span class="badge">{{ config.CATS_supervision }}</span>
                            </div>
                            {% if pclass.CATS_supervision != config.CATS_supervision %}
                                <div class="list-group-item list-group-item-danger">
                                    Updated value <span class="badge">{{ pclass.CATS_supervision }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="list-group">
                            <div class="list-group-item">
                                Current 2nd-marking CATS <span class="badge">{{ config.CATS_marking }}</span>
                            </div>
                            {% if pclass.CATS_marking != config.CATS_marking %}
                                <div class="list-group-item list-group-item-danger">
                                    Updated value <span class="badge">{{ pclass.CATS_marking }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="list-group">
                            <div class="list-group-item">
                                Current presentation CATS <span class="badge">{{ config.CATS_presentation }}</span>
                            </div>
                            {% if pclass.CATS_presentation != config.CATS_presentation %}
                                <div class="list-group-item list-group-item-danger">
                                    Updated value <span class="badge">{{ pclass.CATS_presentation }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if config.CATS_supervision != pclass.CATS_supervision or config.CATS_marking != pclass.CATS_marking or config.CATS_presentation != pclass.CATS_presentation %}
                    <div class="row vertical-top">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a href="{{ url_for('convenor.update_CATS', config_id=config.id) }}" class="btn btn-default">
                                    Update CATS values
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {# offer rollover of academic year if available #}
            {% if config.year < current_year %}
                {{ rollover_card(current_year, pclass, config) }}
            {% endif %}

            {% if pclass.publish %}
                {# SELECTING #}
                <div class="well">
                    {# provide summary #}

                    {% if config.has_auditable_schedules %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Proposed assessment schedules are available to view</div>
                            <div class="panel-body">
                                <p>An administrator has published one or more proposed schedules for presentation assessments.</p>
                                <a href="{{ url_for('convenor.audit_schedules', pclass_id=config.pclass_id) }}">View or edit proposed schedules...</a>
                            </div>
                        </div>
                    {% endif %}

                    {% set state = config.selector_lifecycle %}
                    {% set sel_count = convenor_data['selectors'] %}
                    {% if state == config.SELECTOR_LIFECYCLE_CONFIRMATIONS_NOT_ISSUED %}
                        {{ issue_confirmations(config, issue_form, capacity_data, sel_count) }}
                    {% elif state == config.SELECTOR_LIFECYCLE_WAITING_CONFIRMATIONS %}
                        {# if we get here then we can assume requests have been issued because of the outermost if #}
                        {{ waiting_confirmations(config, issue_form, capacity_data, sel_count) }}
                    {% elif state == config.SELECTOR_LIFECYCLE_READY_GOLIVE %}
                        {{ golive(config, golive_form, capacity_data, sel_count) }}
                    {% elif state == config.SELECTOR_LIFECYCLE_SELECTIONS_OPEN %}
                        {{ selection_open(config, change_form) }}
                    {% elif state == config.SELECTOR_LIFECYCLE_READY_MATCHING or state == config.SELECTOR_LIFECYCLE_READY_ROLLOVER%}
                        {{ selection_closed(config, config.year < current_year) }}
                    {% else %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Error</div>
                            <div class="panel-body">
                                <strong>Error:</strong>
                                Unknown project lifecycle state {{ state }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                {# SUBMITTING #}
                <div class="well">
                    {% for n in range(config.submissions) %}
                        {{ submitter_card(config, n, today, feedback_form)  }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="well">
                    <p>
                        <i class="fa fa-exclamation-triangle" style="color:red;"></i>
                        This project class is not published, so its administration options are limited.
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}