{% extends "convenor/dashboard/selector_nav.html" %}

{% if cohort_filter is not defined or cohort_filter is none %}{% set cohort_filter = 'all' %}{% endif %}
{% if prog_filter is not defined or prog_filter is none %}{% set prog_filter = 'all' %}{% endif %}
{% if year_filter is not defined or year_filter is none %}{% set year_filter = 'all' %}{% endif %}
{% if state_filter is not defined or state_filter is none %}{% set state_filter = 'all' %}{% endif %}
{% if convert_filter is not defined or convert_filter is none %}{% set convert_filter = 'all' %}{% endif %}
{% if matches is none or matches|length == 0 %}{% set match_filter = 'all' %}{% set match_show = 'all' %}{% endif %}
{% if match_show is none %}{% set match_show = 'all' %}{% endif %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#selectors-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/selectors_ajax/{{ pclass.id }}?cohort_filter={{ cohort_filter }}&year_filter={{ year_filter }}&prog_filter={{ prog_filter }}&state_filter={{ state_filter }}&convert_filter={{ convert_filter }}&match_filter={{ match_filter }}&match_show={{ match_show }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-toggle="tooltip"]'}); },
                columns: [
                    { data: 'name',
                      render: {
                        _: 'display',
                        sort: 'sortstring'
                      } },
                    { data: 'cohort',
                      render: {
                        _: 'display',
                        sort: 'value',
                        type: 'value'
                      } },
                    { data: 'confirmations',
                      render: {
                        _: 'display',
                        sort: 'value',
                        type: 'value'
                      } },
                    { data: 'bookmarks',
                      render: {
                        _: 'display',
                        sort: 'value',
                        type: 'value'
                      } },
                    { data: 'submitted' },
                    { data: 'menu' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="card mt-3 mb-3">
        <div class="card-header bg-primary text-white">Students enrolled as <strong>selectors</strong> for <strong>{{ pclass.name }}</strong></div>
        <div class="card-body">
            <div class="card mt-3 mb-3 card-body bg-well">
                {% set needs_rule = false %}
                {% set has_cohorts = (cohorts and cohorts is not none and cohorts|length > 1) %}
                {% set has_years = (years and years is not none and years|length > 1) %}
                {% if has_cohorts or has_years %}
                    {% set needs_rule = true %}
                    <div class="row">
                        {% if has_cohorts %}
                            {% if has_years %}
                                <div class="col-6">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                                <p>Filter by cohort</p>
                                <a class="btn btn-sm filter-btn {% if cohort_filter is none or cohort_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                    href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter='all', year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                    All
                                </a>
                                {% for cohort in cohorts %}
                                    <a class="btn btn-sm filter-btn {% if cohort_filter == cohort|string %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                        href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                        {{ cohort }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if has_years %}
                            {% if has_cohorts %}
                                <div class="col-6">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                                <p>Filter by academic year</p>
                                <a class="btn btn-sm filter-btn {% if year_filter is none or year_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                    href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter='all', prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                    All
                                </a>
                                {% for year in years %}
                                    <a class="btn btn-sm filter-btn {% if year_filter == year|string %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                        href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                        Y{{ year }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if progs and progs is not none and progs|length > 1 %}
                    {% if needs_rule %}
                        <hr class="intro-divider">
                    {% endif %}
                    {% set needs_rule = true %}
                    <div class="row">
                        <div class="col-12">
                            <p>Filter by degree programme</p>
                            <a class="btn btn-sm filter-btn {% if prog_filter is none or prog_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter='all', state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                All
                            </a>
                            {% for prog in progs %}
                                <a class="btn btn-sm filter-btn {% if prog_filter == prog.id|string %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                    href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog.id, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                                    {{ prog.full_name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if needs_rule %}
                    <hr class="intro-divider">
                {% endif %}
                {% set needs_rule = true %}
                <div class="row">
                    <div class="col-6">
                        <p>Filter by status</p>
                        <a class="btn btn-sm filter-btn {% if state_filter is none or state_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='all', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            All
                        </a>
                        <a class="btn btn-sm filter-btn {% if state_filter == 'submitted' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='submitted', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            Submitted
                        </a>
                        <a class="btn btn-sm filter-btn {% if state_filter == 'bookmarks' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='bookmarks', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            Bookmarks only
                        </a>
                        <a class="btn btn-sm filter-btn {% if state_filter == 'none' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='none', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            No bookmarks
                        </a>
                        <a class="btn btn-sm filter-btn {% if state_filter == 'confirmations' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='confirmations', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            Confirmations outstanding
                        </a>
                        <a class="btn btn-sm filter-btn {% if state_filter == 'twd' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter='twd', convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}">
                            TWD
                        </a>
                    </div>
                    <div class="col-6">
                        <p>Filter by conversion setting</p>
                        <a class="btn btn-sm filter-btn {% if convert_filter is none or convert_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter='all', match_filter=match_filter, match_show=match_show) }}">
                            All
                        </a>
                        <a class="btn btn-sm filter-btn {% if convert_filter == 'convert' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter='convert', match_filter=match_filter, match_show=match_show) }}">
                            Convert
                        </a>
                        <a class="btn btn-sm filter-btn {% if convert_filter == 'no-convert' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                            href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter='no-convert', match_filter=match_filter, match_show=match_show) }}">
                            Don't convert
                        </a>
                    </div>
                </div>

                {% if matches is not none and matches|length > 0 %}
                    {% if needs_rule %}
                        <hr class="intro-divider">
                    {% endif %}
                    {% set needs_rule = true %}
                    <div class="row">
                        <div class="col-12">
                            <p>Filter by inclusion in a proposed matching</p>
                            <a class="btn btn-sm filter-btn {% if match_filter is none or match_filter == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter='all', match_show=match_show) }}">
                                All
                            </a>
                            {% for match in matches %}
                                <a class="btn btn-sm filter-btn {% if match_filter == match.id|string %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                    href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match.id, match_show=match_show) }}">
                                    {{ match.name }}
                                </a>
                            {% endfor %}
                            <p></p>
                            <a class="btn btn-sm filter-btn {% if match_show is none or match_show == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show='all') }}">
                                Show all students
                            </a>
                            <a class="btn btn-sm filter-btn {% if match_show == 'included' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show='included') }}">
                                Show included students
                            </a>
                            <a class="btn btn-sm filter-btn {% if match_show == 'missing' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                                href="{{ url_for('convenor.selectors', id=pclass.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show='missing') }}">
                                Show missing students
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row vertical-align">
                <div class="col-12">
                    <div class="float-right">
                        {% if is_admin or is_root or is_emailer %}
                            <a href="{{ url_for('convenor.email_selectors', configid=config.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}"
                               class="btn btn-secondary top-row-button">
                                <i class="fa fa-envelope-o"></i> Email
                            </a>
                        {% endif %}
                        <a href="{{ url_for('convenor.convert_all', configid=config.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}"
                           class="btn btn-secondary top-row-button">
                            <i class="fa fa-check"></i> Convert all
                        </a>
                        <a href="{{ url_for('convenor.convert_none', configid=config.id, cohort_filter=cohort_filter, year_filter=year_filter, prog_filter=prog_filter, state_filter=state_filter, convert_filter=convert_filter, match_filter=match_filter, match_show=match_show) }}"
                           class="btn btn-secondary top-row-button">
                            <i class="fa fa-times"></i> Don't convert all
                        </a>
                    </div>
                </div>
            </div>

            <table id="selectors-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="15%"> Name</th>
                    <th width="26%"> Programme</th>
                    <th width="22%"> Confirmations</th>
                    <th width="11%"> Bookmarks</th>
                    <th width="11%"> Submitted</th>
                    <th width="15%"> Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}