{% extends "convenor/dashboard/nav.html" %}

{% block tabblock %}
    {% set lifecycle = config.submitter_lifecycle %}
    {% set show_manual_enroll = (lifecycle <= config.SUBMITTER_LIFECYCLE_PROJECT_ACTIVITY) %}
    <ul class="nav nav-tabs dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if subpane == 'list' %}active{% endif %}" href="{{ url_for('convenor.submitters', id=pclass.id) }}">
                Show submitters
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if show_manual_enroll %}{% if subpane == 'enroll' %}active{% endif %}{% else %}disabled{% endif %}"
               {% if show_manual_enroll %}href="{{ url_for('convenor.enroll_submitters', id=pclass.id) }}"{% endif %}>
                Manual enrolment
            </a>
        </li>
    </ul>
{% endblock %}
