{% extends "convenor/dashboard/nav.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#submitters-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftBip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/submitters_ajax/{{ pclass.id }}', dataSrc: '' },
                columns: [
                    { data: 'last' },
                    { data: 'first' },
                    { data: 'cohort' }
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="panel panel-primary panel-primary-bg">
        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
            <table id="submitters-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="30%"> Last name</th>
                    <th width="30%"> First name</th>
                    <th width="40%"> Programme</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}