{% extends "convenor/dashboard/faculty_nav.html" %}

{% if organize_by is none %}{% set organize_by = 'faculty' %}{% endif %}

{% block scripts %}
    {{ super() }}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#teaching-groups-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: 'lftip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], stateSave: true,
                ajax: { url: $SCRIPT_ROOT + '/convenor/teaching_groups_ajax/{{ pclass.id }}?organize_by={{ organize_by }}&show_period={{ show_period }}', dataSrc: '' },
                "fnDrawCallback": function () { $('body').tooltip({selector: '[data-bs-toggle="tooltip"]'}); $('body').popover({selector: '[data-bs-toggle="popover"]', html: true}); },
                columns: [
                    {% if organize_by == 'faculty' %}
                        { data: 'faculty',
                          render: {
                            _: 'display',
                            sort: 'sortvalue',
                            type: 'sortvalue'
                         } },
                        { data: 'group' }
                    {% else %}
                        { data: 'student',
                          render: {
                            _: 'display',
                            sort: 'sortvalue',
                            type: 'sortvalue'
                        } },
                        { data: 'supervisor',
                          render: {
                            _: 'display',
                            sort: 'sortvalue',
                            type: 'sortvalue'
                        } }
                    {% endif %}
                ],
                deferRender: true
            });
        });
    </script>
{% endblock %}

{% block bodyblock %}
    <div class="card border-primary mt-3 mb-3">
        <div class="card-header bg-primary text-white">Teaching groups for <strong>{{ pclass.name }}</strong></div>
        <div class="card-body">
            <div class="card mt-3 mb-3 card-body bg-well">
                <div class="row">
                    <div class="col-12">
                        <p>Organize by</p>
                        <a href="{{ url_for('convenor.teaching_groups', id=pclass.id, organize_by='faculty', show_period=show_period) }}"
                           class="btn btn-sm filter-btn {% if organize_by == 'faculty' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Faculty
                        </a>
                        <a href="{{ url_for('convenor.teaching_groups', id=pclass.id, organize_by='student', show_period=show_period) }}"
                           class="btn btn-sm filter-btn {% if organize_by == 'student' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                            Submitter
                        </a>

                        <hr class="intro-divider">
                        <p>Show teaching groups for submission period</p>
                        {% for p_id, p_name in period_names %}
                            <a href="{{ url_for('convenor.teaching_groups', id=pclass.id, organize_by=organize_by, show_period=p_id) }}"
                               class="btn btn-sm filter-btn {% if show_period == p_id %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                                {{ p_name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <table id="teaching-groups-table" class="table table-striped table-bordered">
                <thead>
                {% if organize_by == 'faculty' %}
                    <tr>
                        <th width="30%"> Supervisor</th>
                        <th width="70%"> Teaching group</th>
                    </tr>
                {% else %}
                    <tr>
                        <th width="50%"> Student</th>
                        <th width="50%"> Supervisor</th>
                    </tr>
                {% endif %}
                </thead>
            </table>
        </div>
    </div>
{% endblock %}