{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Test catch-up of email notifications for {{ config.name }}
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-danger mt-3 mb-3">
                <div class="card-header bg-danger text-white">
                    Test catch-up of email notifications for <strong>{{ config.name }}</strong>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('convenor.test_notifications', id=config.id, url=url, deadline=deadline,
                            cc_me=cc_me, max_attachment=max_attachment) }}" method="POST" name="test_notify_form">
                        {{ form.hidden_tag() }}
                        <div class="row vertical-bottom">
                            <div class="col-12">
                                <p>Do you wish to <strong>test catch-up</strong> of email notifications for
                                    <strong>{{ config.name }}</strong>?</p>
                                <p>During catch-up, email notifications are issued to markers where
                                    a project report is now available, but no notification email has previously
                                    been issued.</p>
                                <p>In the test-phase, notifications are not issued to their intended
                                    recipients, but rather to a sink email address. This allows the
                                    outgoing emails to be audited to ensure they are correct.</p>
                                {{ wtf.render_field(form.target_email) }}
                            </div>
                        </div>
                        <div class="row vertical-bottom">
                            <div class="col-12">
                                <div class="float-right">
                                    {{ wtf.render_field(form.submit_button, button_map={'submit_button': 'danger'}) }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
