{% extends "base_form.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block formtitle %}{{ title }}{% endblock %}

{% block header %}
    {% if url is not none and text is not none %}
        <div class="d-flex align-items-center">
            <a href="{{ url }}" class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-arrow-left me-1"></i> {{ text }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.add_feedback_asset', pclass_id=pclass.id, url=url, text=text) }}"
          method="POST" enctype="multipart/form-data" name="add_feedback_asset_form">

        {{ form.hidden_tag() }}
        {{ wtf.render_field(form.label) }}
        {{ wtf.render_field(form.description) }}
        {{ wtf.render_field(form.license) }}
        {{ wtf.render_field(form.attachment) }}
        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}

    </form>
{% endblock %}
