{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Assign roles
{% endblock %}

{% block formtitle %}
    Assign roles for user <i class="fas fa-user-circle"></i> <strong>{{ user.name }}</strong>
{% endblock %}

{% block form_content %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            {% set ns = namespace(count=0) %}
            {% if user and roles %}
                <h4>
                    {% for role in roles %}
                        {% if user.has_role(role.name) %}
                            <a class="btn btn-secondary selection-label" style="{{ role.make_CSS_style() }}"
                               href="{{ url_for('manage_users.remove_role', user_id=user.id, role_id=role.id) }}">
                                <i class="fas fa-times"></i>
                                {{ role.name }}
                            </a>
                            {% set ns.count = ns.count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if ns.count == 0 %}
                        <p>No roles currently assigned</p>
                    {% endif %}
                </h4>
            {% else %}
                <p>No roles currently assigned</p>
            {% endif %}
        </div>
        <div class="card-footer">
            {% set ns = namespace(count=0) %}
            {% if user and roles %}
                <h4>
                    {% for role in roles %}
                        {% if not user.has_role(role.name) %}
                            <a class="btn btn-secondary selection-label" style="{{ role.make_CSS_style() }}"
                               href="{{ url_for('manage_users.attach_role', user_id=user.id, role_id=role.id) }}">
                                <i class="fas fa-plus"></i>
                                {{ role.name }}
                            </a>
                            {% set ns.count = ns.count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if ns.count == 0 %}
                        <p>No roles currently available</p>
                    {% endif %}
                </h4>
            {% else %}
                <p>No roles currently available</p>
            {% endif %}
        </div>
    </div>

    {% if pane is none or pane == 'accounts' %}
        <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users') }}">
            <i class="fas fa-backward"></i> Return to user accounts
        </a>
    {% elif pane == 'faculty' %}
        <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users_faculty') }}">
            <i class="fas fa-backward"></i> Return to faculty accounts
        </a>
    {% elif pane == 'students' %}
        <a class="text-decoration-none" href="{{ url_for('manage_users.edit_users_students') }}">
            <i class="fas fa-backward"></i> Return to student accounts
        </a>
    {% else %}
        <span class="badge bg-danger">Unknown user dashboard pane '{{ pane }}'</span>
    {% endif %}
{% endblock %}
