{% extends "base_app.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        <li class="nav-item">
            <a class="nav-link {% if pane == 'accounts' %}active{% endif %}" href="{{ url_for('manage_users.edit_users') }}">
                Account details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane == 'faculty' %}active{% endif %}" href="{{ url_for('manage_users.edit_users_faculty') }}">
                Faculty accounts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane == 'students' %}active{% endif %}" href="{{ url_for('manage_users.edit_users_students') }}">
                Student accounts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if pane == 'batch' %}active{% endif %}" href="{{ url_for('manage_users.batch_create_users') }}">
                Batch create students
            </a>
        </li>
    </ul>
{% endblock %}
