{% extends "base_app.html" %}

{% from "swatch.html" import small_swatch %}

{% from "bokeh.html" import import_bokeh %}
{% from "datatables.html" import import_datatables, bootstrap_spinner %}
{% from "projecthub/resources.html" import resources_widget %}
{% from "projecthub/articles.html" import articles_widget %}

{% macro format_supervision_event(event) %}
{% endmacro %}

{% block scripts %}
    {{ super() }}
    {{ import_bokeh() }}
    {{ import_datatables() }}

    {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
        {{ burndown_script|safe }}
    {% endif %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#article-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: '<f<tr>>',
                stateSave: true, serverSide: true, processing: true, paging: false,
                language: {{ bootstrap_spinner() }},
                ajax: { url: $SCRIPT_ROOT + '/projecthub/article_widget_ajax/{{ record.id }}',
                        type: 'POST',
                        data: function (args) { return { "args": JSON.stringify(args) }; } },
                columns: [
                    { data: 'title',
                      orderable: true,
                      searchable: true },
                    { data: 'published',
                      orderable: true,
                      searchable: true },
                    { data: 'author',
                      orderable: true,
                      searchable: true }
                ],
                order: [[1, 'desc']]
            });
        });
    </script>
{% endblock %}

{% block title %}
    Project management page
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if text and url %}
                <div class="top-return-link">
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}

            {% if is_student %}
                <div class="fs-3 mb-3">{{ pclass.name }}</div>
                <div class="row vertical-top">
                    <div class="col-8">
                        <div class="d-flex flex-column justify-content-start align-items-start">
                            <div class="text-secondary fs-2">
                                {{ project.name }}
                            </div>
                            <div class="d-flex flex-row flex-wrap justify-content-between align-items-start">
                                {% if period.hand_in_date %}
                                    <small class="text-muted">
                                        Hand-in date: <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                        ({{ period.time_to_hand_in }} from now)
                                    </small>
                                {% endif %}
                                {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
                                    {{ burndown_div|safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex flex-column justify-content-start align-items-end gap-2">
                            <div class="small text-muted">
                                <i class="fas fa-user-circle"></i>
                                Convenor: <a class="text-decoration-none" href="mailto:{{ config.convenor.user.email }}">{{ config.convenor.user.name }}</a>
                            </div>
                            <div class="small fw-bold text-secondary">SUPERVISION TEAM</div>
                            {% set supv_roles = record.supervisor_roles %}
                            {% if supv_roles|length > 0 %}
                                <div class="d-flex flex-column justify-content-start align-content-start">
                                    {% for role in supv_roles %}
                                        <div>
                                            <i class="fas fa-user-circle"></i>
                                            <a class="text-decoration-none"
                                               href="mailto:{{ role.user.email }}">{{ role.user.name }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <span class="badge bg-danger text-white">No supervisors assigned</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mt-2 mb-2">
                            <a class="btn btn-sm btn-outline-primary"
                               href="{{ url_for('documents.submitter_documents', sid=record.id, url=url_for('hub.hub', subid=record.id), text='project hub') }}">
                                <i class="fas fa-file"></i> Manage documents ({{ record.number_attachments }})...
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="intro-divider mb-5">
            {% else %}
                <div class="fs-3 mb-3">Project page for <i class="fas fa-user-circle"></i> {{ student.user.name }}</div>
                <div class="row vertical-top">
                    <div class="col-8">
                        <div class="text-secondary fs-2">
                            {{ project.name }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex flex-column align-items-end">
                            {% set swatch_colour = pclass.make_CSS_style() %}
                            <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                                {{ small_swatch(swatch_colour) }}
                                <span class="small">{{ config.name }}</span>
                            </div>
                            {% if period.hand_in_date %}
                                <div class="d-flex flex-row flex-wrap justify-content-right align-items start">
                                    <span class="small text-secondary">
                                        Hand-in <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                        ({{ period.time_to_hand_in }} from now)
                                    </span>
                                </div>
                            {% endif %}
                            {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
                                {{ burndown_div|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mt-2 mb-2">
                            <a class="btn btn-sm btn-outline-primary"
                               href="{{ url_for('documents.submitter_documents', sid=record.id, url=url_for('hub.hub', subid=record.id), text='project hub') }}">
                                <i class="fas fa-file"></i> Manage documents ({{ record.number_attachments }})...
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="intro-divider mb-5">
            {% endif %}

    {% set current_events = record.get_ordered_current_events() %}
    {% set past_events = record.get_ordered_past_events() %}

    {# Populate dashboard widgets #}
    {#        <div class="mt-3 card border-secondary">#}
    {#            <div class="card-header bg-light">#}
    {#                <span class="fw-semibold">Resources</span>#}
    {#            </div>#}
    {#            <div class="card-body bg-well">#}
    {#                {{ resources_widget(submitter, student, config, pclass, project, record, period) }}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="mt-3 card border-secondary">#}
    {#            <div class="card-header bg-light">#}
    {#                <span class="fw-semibold">News and articles</span>#}
    {#            </div>#}
    {#            <div class="card-body bg-well">#}
    {#                {{ articles_widget(submitter, student, config, pclass, project, record, period) }}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="mt-3 card border-secondary">#}
    {#            <div class="card-header bg-light">#}
    {#                <span class="fw-semibold">Notes and journal</span>#}
    {#            </div>#}
    {#            <div class="card-body bg-well">#}
    {#                Content#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            {% if text and url %}#}
    {#                <div class="mt-3">#}
    {#                    <a class="text-decoration-none" href="{{ url }}">#}
    {#                        <i class="fas fa-backward"></i> Return to {{ text }}#}
    {#                    </a>#}
    {#                </div>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#        <div class="col-1"></div>#}
    {#    </div>#}
{% endblock %}
