{% extends "base_app.html" %}

{% block scripts %}
    {{ super() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@2.0.1/dist/gridstack.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/gridstack@2.0.1/dist/gridstack.all.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            function sendAjax(payload) {
                $.ajax({
                    url: $SCRIPT_ROOT + "/projecthub/save_hub_layout",
                    type: "POST",
                    data: JSON.stringify({
                        'payload': payload,
                        'record_id': {{ record.id }},
                        'user_id': {{ current_user.id }},
                        'timestamp': Date.now()
                    }),
                    contentType: "application/json; charset=utf-8"
                });
            }

            let grid = GridStack.init({
                draggable: {
                    handle: '.drag-handle'
                }
            });

            grid.on('change', function (event, items) {
                let payload = [];
                items.forEach(function (item) {
                    payload.push({
                        widget: item.el.id,
                        x: item.x,
                        y: item.y,
                        w: item.width,
                        h: item.height
                    });
                });
                sendAjax(payload);
            });
        });
    </script>
{% endblock %}

{% block title %}
    Project hub
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if text and url %}
                <div class="top-return-link">
                    <a href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}

            {% if is_student %}
                <div class="h3 mb-2">{{ pclass.name }}</div>
                <div class="row vertical-top">
                    <div class="col-8">
                        <div class="text-muted">
                            {{ project.name }}
                        </div>
                        {% if period.hand_in_date %}
                            <small class="text-muted">
                                Hand-in <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                ({{ period.time_to_hand_in }} from now)
                            </small>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            Supervisor: <a href="mailto:{{ project.owner.user.email }}">{{ project.owner.user.name }}</a>
                        </div>
                        <div class="float-right">
                            Convenor: <a href="mailto:{{ config.convenor.user.email }}">{{ config.convenor.user.name }}</a>
                        </div>
                    </div>
                </div>
                <hr class="intro-divider mb-5">
            {% else %}
                <div class="h3 mb-2">Project hub for <i class="fas fa-user"></i> {{ student.user.name }}</div>
                <div class="row vertical-top">
                    <div class="col-8">
                        <div class="text-muted">
                            {{ project.name }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            {{ pclass.make_label()|safe }}
                        </div>
                        {% if period.hand_in_date %}
                            <small class="text-muted float-right">
                                Hand-in <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                                ({{ period.time_to_hand_in }} from now)
                            </small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if submitter.published and record.submission_period <= config.submission_period %}
                            {% if record.student_engaged %}
                                <div class="mt-2 mb-2">
                                    <i class="fa fa-check"></i> <strong>Student engaged</strong>
                                    <a class="btn btn-sm btn-outline-danger ml-2" href="{{ url_for('faculty.mark_waiting', id=record.id) }}"> Mark as not engaged</a>
                                </div>
                            {% else %}
                                <div class="mt-2 mb-2">
                                    <a class="btn btn-sm btn-outline-success" href="{{ url_for('faculty.mark_started', id=record.id) }}"> Mark student as engaged</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr class="intro-divider mb-5">
            {% endif %}

            {# Populate dashboard widgets #}
            <div class="grid-stack">
                {% set data = layout['resources-widget'] %}
                <div class="grid-stack-item" id="resources-widget" data-gs-x="{{ data['x'] }}" data-gs-y="{{ data['y'] }}" data-gs-width="{{ data['w'] }}" data-gs-height="{{ data['h'] }}">
                    <div class="grid-stack-item-content bg-well p-3">
                        <i class="fas fa-bars drag-handle"></i> <span class="h5">Resources</span>
                        <hr class="intro-divider">
                        Content
                    </div>
                </div>
                {% set data = layout['news-widget'] %}
                <div class="grid-stack-item" id="news-widget" data-gs-x="{{ data['x'] }}" data-gs-y="{{ data['y'] }}" data-gs-width="{{ data['w'] }}" data-gs-height="{{ data['h'] }}">
                    <div class="grid-stack-item-content bg-well p-3">
                        <i class="fas fa-bars drag-handle"></i> <span class="h5">News and articles</span>
                        <hr class="intro-divider">
                        Content
                    </div>
                </div>
                {% set data = layout['journal-widget'] %}
                <div class="grid-stack-item" id="journal-widget" data-gs-x="{{ data['x'] }}" data-gs-y="{{ data['y'] }}" data-gs-width="{{ data['w'] }}" data-gs-height="{{ data['h'] }}">
                    <div class="grid-stack-item-content bg-well p-3">
                        <i class="fas fa-bars drag-handle"></i> <span class="h5">Notes and journal</span>
                        <hr class="intro-divider">
                        Content
                    </div>
                </div>
            </div>

            {% if text and url %}
                <div>
                    <a href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
