{% extends "base_app.html" %}

{% from "swatch.html" import small_swatch %}

{% from "bokeh.html" import import_bokeh %}
{% from "datatables.html" import import_datatables, bootstrap_spinner %}
{% from "projecthub/resources.html" import resources_widget %}
{% from "projecthub/articles.html" import articles_widget %}
{% from "dashboard_widgets.html" import dashboard_tile %}

{% macro current_supervision_event_header(unit) %}
    <div class="d-flex flex-row flex-wrap justify-content-start align-items-baseline gap-4">
        <div class="fs-2 text-primary">{{ unit.name }}</div>
        <span class="text-muted">
            {% if unit.start_date %}{{ unit.start_date.strftime("%d %b %Y") }}{% endif %}
            {% if unit.start_date and unit.end_date %}&ndash;{% endif %}
            {% if unit.end_date %}{{ unit.end_date.strftime("%d %b %Y") }}{% endif %}
        </span>
    </div>
{% endmacro %}

{% macro past_supervision_event_header(event) %}
    {% set unit = event.unit %}
    <div class="d-flex flex-row flex-wrap justify-content-start align-items-baseline gap-2 text-muted">
        <i class="fas fa-calendar"></i>
        <span>
            {% if unit.start_date %}{{ unit.start_date.strftime("%d %b %Y") }}{% endif %}
            {% if unit.start_date and unit.end_date %}&ndash;{% endif %}
            {% if unit.end_date %}{{ unit.end_date.strftime("%d %b %Y") }}{% endif %}
        </span>
        <span>{{ unit.name }}</span>
    </div>
{% endmacro %}

{% macro attendance_dropdown(event) %}
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        Set&hellip;
    </button>
    <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end small">
        {% for value, label in event.attendance_menu %}
            <a class="dropdown-item d-flex gap-2 small"
               href="{{ url_for('projecthub.set_attendance', event_id=event.id, attendance=value) }}">
                {{ label }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro format_supervision_event(event, past_event=false, show_attendance=true) %}
    {% set unit = event.unit %}
    {% set template = event.template %}
    <div class="d-flex flex-column justify-content-start align-items-start gap-2">
        <div class="d-flex flex-row flex-wrap justify-content-between align-items-baseline gap-2">
            <div class="{% if past_event %}fs-5{% else %}fs-4 fw-semibold{% endif %} text-primary">
                <i class="fas fa-users"></i> {{ event.name }}
            </div>
        </div>
        {% if event.time %}
            <div class="text-primary fs-5">{{ event.time.strftime("%A %d %b %Y %H:%M:%S") }}</div>
        {% endif %}
        {% if my_role is none or (my_role is not none and my_role.id != event.owner_id) %}
            <div class="d-flex flex-row flex-wrap justify-content-start align-items-baseline gap-2 small text-secondary">
                <div><i class="fas fa-user-circle"></i> {{ event.sub_record.owner.student.user.name }}</div>
                <div><i class="fas fa-user-circle"></i> {{ event.owner.user.name }}</div>
                {% for attendee in event.team %}
                    <div><i class="fas fa-user-circle"></i> {{ attendee.user.name }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="d-flex flex-row flex-wrap w-100 justify-content-start align-items-baseline gap-3">
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-baseline gap-2">
                {% if show_attendance and event.monitor_attendance and (hub_role.is_supervisor or hub_role.is_convenor) %}
                    {% if event.attendance is none %}
                        <div class="text-danger"><i class="fas fa-exclamation-circle"></i> Attendance not recorded</div>
                        {{ attendance_dropdown(event) }}
                    {% else %}
                        <div class="text-success"><i class="fas fa-user-check me-2"></i>
                            Attendance: {{ event.attendance_str }}</div>
                        {{ attendance_dropdown(event) }}
                    {% endif %}
                {% endif %}
            </div>
            <a class="btn btn-sm btn-outline-primary"
               href="{{ url_for('projecthub.event_details', event_id=event.id, url=return_url, text=return_text) }}">Show
                details&hellip;</a>
        </div>
        {% if event.meeting_summary and event.meeting_summary|length > 0 %}
            <div class="text-muted small">{{ event.meeting_summary|truncate(400)|safe }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro student_page_header() %}
    <div class="fs-3 mb-3">{{ pclass.name }}</div>
    <div class="row vertical-top">
        <div class="col-8">
            <div class="d-flex flex-column justify-content-start align-items-start">
                <div class="text-secondary fs-2">
                    {{ project.name }}
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-start">
                    {% if period.hand_in_date %}
                        <small class="text-muted">
                            Hand-in date: <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                            ({{ period.time_to_hand_in }} from now)
                        </small>
                    {% endif %}
                    {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
                        {{ burndown_div|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column justify-content-start align-items-end gap-2">
                <div class="small text-muted">
                    <i class="fas fa-user-circle"></i>
                    Convenor: <a class="text-decoration-none"
                                 href="mailto:{{ config.convenor.user.email }}">{{ config.convenor.user.name }}</a>
                </div>
                <div class="small fw-bold text-secondary">SUPERVISION TEAM</div>
                {% set supv_roles = record.supervisor_roles %}
                {% if supv_roles|length > 0 %}
                    <div class="d-flex flex-column justify-content-start align-content-start">
                        {% for role in supv_roles %}
                            <div>
                                <i class="fas fa-user-circle"></i>
                                <a class="text-decoration-none"
                                   href="mailto:{{ role.user.email }}">{{ role.user.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <span class="badge bg-danger text-white">No supervisors assigned</span>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endmacro %}

{% macro faculty_page_header() %}
    <div class="fs-3 mb-3">Project page for <i class="fas fa-user-circle"></i> {{ student.user.name }}</div>
    <div class="row vertical-top">
        <div class="col-8">
            <div class="text-secondary fs-2">
                {{ project.name }}
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column align-items-end">
                {% set swatch_colour = pclass.make_CSS_style() %}
                <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                    {{ small_swatch(swatch_colour) }}
                    <span class="small">{{ config.name }}</span>
                </div>
                {% if period.hand_in_date %}
                    <div class="d-flex flex-row flex-wrap justify-content-right align-items start">
                        <span class="small text-secondary">
                            Hand-in <strong>{{ period.hand_in_date.strftime("%a %d %b %Y") }}</strong>
                            ({{ period.time_to_hand_in }} from now)
                        </span>
                    </div>
                {% endif %}
                {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
                    {{ burndown_div|safe }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro show_tiles() %}
    <div class="d-flex flex-row flex-wrap justify-content-end align-items-baseline gap-2 mt-2 mb-2">
        <a class="btn btn-sm btn-outline-primary"
           href="{{ url_for('documents.submitter_documents', sid=record.id, url=return_url, text=return_text) }}">
            <i class="fas fa-file"></i> Manage documents ({{ record.number_attachments }})...
        </a>
    </div>
    <div class="row">
        <div class="col-3">
            {% call(blk) dashboard_tile("Attendance", title_icon="user-check", icon_state=attendance_missing==0 if attendance_missing is defined else none) %}
                {% if blk == 'body' %}
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-start gap-2">
                        {% if attendance_recorded %}
                            <div>
                                <div class="small text-muted">Recorded</div>
                                <div class="fw-bold fs-4 {% if attendance_missing == 0 %}text-success{% else %}text-danger{% endif %}">{{ attendance_recorded }}</div>
                            </div>
                        {% endif %}
                        {% if attendance_missing %}
                            <div>
                                <div class="small text-muted">Missing</div>
                                <div class="fw-bold fs-4 {% if attendance_missing == 0 %}text-success{% else %}text-danger{% endif %}">{{ attendance_missing }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-start gap-2 mt-2">
                        {% if attendance_percent %}
                            <div>
                                <div class="small text-muted">Total</div>
                                <div class="fw-bold fs-4 text-success">{{ attendance_percent|round(precision=0) }}%</div>
                            </div>
                        {% endif %}
                        {% if attendance_div is defined and attendance_div is not none and attendance_script is defined and attendance_script is not none %}
                            {{ attendance_div|safe }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endcall %}
        </div>
        <div class="col-3">
            {% if hub_role.is_supervisor %}
            {% endif %}
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>
{% endmacro %}

{% macro show_supervision_events() %}
    {% set current_events = record.get_ordered_current_events().all() %}
    {% set past_events = record.get_ordered_past_events().all() %}
    {% set needs_rule = false %}
    {% if current_events|length > 0 %}
        {% set needs_rule = true %}
        {% set unit = current_events[0].unit %}
        <div class="mt-3 mb-3 card border-primary">
            <div class="card-body">
                {{ current_supervision_event_header(unit) }}
                <hr class="intro-divider">
                <div class="mt-3 d-flex flex-column justify-content-start align-items-start gap-4">
                    {% for event in current_events %}
                        {{ format_supervision_event(event) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if past_events|length > 0 %}
        {% if needs_rule %}
            <hr class="intro-divider">
        {% endif %}
        <div class="fs-4 text-dark mb-3">Past events</div>
        {% for event in past_events %}
            <div class="card card-body bg-light mt-2 mb-2 border-secondary">
                {{ past_supervision_event_header(event) }}
                {{ format_supervision_event(event, past_event=true) }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block scripts %}
    {{ super() }}
    {{ import_bokeh() }}
    {{ import_datatables() }}

    {% if burndown_div is defined and burndown_div is not none and burndown_script is defined and burndown_script is not none %}
        {{ burndown_script|safe }}
    {% endif %}

    {% if attendance_div is defined and attendance_div is not none and attendance_script is defined and attendance_script is not none %}
        {{ attendance_script|safe }}
    {% endif %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(document).ready(function () {
            $('#article-table').DataTable({
                responsive: true, bAutoWidth: false, colReorder: true, dom: '<f<tr>>',
                stateSave: true, serverSide: true, processing: true, paging: false,
                language: {{ bootstrap_spinner() }},
                ajax: {
                    url: $SCRIPT_ROOT + '/projecthub/article_widget_ajax/{{ record.id }}',
                    type: 'POST',
                    data: function (args) {
                        return {"args": JSON.stringify(args)};
                    }
                },
                columns: [
                    {
                        data: 'title',
                        orderable: true,
                        searchable: true
                    },
                    {
                        data: 'published',
                        orderable: true,
                        searchable: true
                    },
                    {
                        data: 'author',
                        orderable: true,
                        searchable: true
                    }
                ],
                order: [[1, 'desc']]
            });
        });
    </script>
{% endblock %}

{% block title %}
    Project management page
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if text and url %}
                <div class="top-return-link">
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}

            {% if hub_role.show_student_dashboard %}
                {{ student_page_header() }}
            {% else %}
                {{ faculty_page_header() }}
            {% endif %}

            {# SHOW DASHBOARD TILEs #}
            {{ show_tiles() }}
            <hr class="intro-divider mb-5">

            {# SHOW SUPERVISION EVENTS #}
            {{ show_supervision_events() }}

            {# Populate dashboard widgets #}
            {#        <div class="mt-3 card border-secondary">#}
            {#            <div class="card-header bg-light">#}
            {#                <span class="fw-semibold">Resources</span>#}
            {#            </div>#}
            {#            <div class="card-body bg-well">#}
            {#                {{ resources_widget(submitter, student, config, pclass, project, record, period) }}#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="mt-3 card border-secondary">#}
            {#            <div class="card-header bg-light">#}
            {#                <span class="fw-semibold">News and articles</span>#}
            {#            </div>#}
            {#            <div class="card-body bg-well">#}
            {#                {{ articles_widget(submitter, student, config, pclass, project, record, period) }}#}
            {#            </div>#}
            {#        </div>#}
            {#        <div class="mt-3 card border-secondary">#}
            {#            <div class="card-header bg-light">#}
            {#                <span class="fw-semibold">Notes and journal</span>#}
            {#            </div>#}
            {#            <div class="card-body bg-well">#}
            {#                Content#}
            {#                </div>#}
            {#            </div>#}

            {% if text and url %}
                <div class="mt-3">
                    <a class="text-decoration-none" href="{{ url }}">
                        <i class="fas fa-backward"></i> Return to {{ text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
