{% macro attendance_dropdown(event) %}
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        Set&hellip;
    </button>
    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        {% for value, label in event.attendance_menu %}
            <a class="dropdown-item small {% if event.attendance == value %}active{% endif %}"
               href="{{ url_for('projecthub.set_attendance', event_id=event.id, attendance=value) }}">
                {{ label }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro mute_event_button(event) %}
    <div class="btn-group" role="group">
        {% if event.mute %}
            <button class="btn btn-sm btn-danger"><i class="fas fa-bell-slash"></i>
                Notifications off
            </button>
            <a class="btn btn-sm btn-outline-success"
               href="{{ url_for('projecthub.set_mute_event', event_id=event.id, value=0) }}">
                Unmute
            </a>
        {% else %}
            <button class="btn btn-sm btn-success"><i class="fas fa-bell"></i>
                Notifications on
            </button>
            <a class="btn btn-sm btn-outline-danger"
               href="{{ url_for('projecthub.set_mute_event', event_id=event.id, value=1) }}">
                Mute
            </a>
        {% endif %}
    </div>
{% endmacro %}
