{% macro user_approver_panel(data, current_user) %}
    {% set to_approve = data['approval_user_outstanding'] %}
    {% set to_correct = data['approval_user_rejected'] %}

    {# user_approver role needed to perform approval #}
    {% if current_user.has_role('user_approver') %}
        <div class="panel {% if to_approve > 0 %}panel-warning{% else %}panel-default{% endif %}">
            <div class="panel-heading">{{ to_approve }} student {% if to_approve != 1 %}records require{% else %}record requires{% endif %} validation</div>
            <div class="panel-body">
                {% if to_approve == 0 %}
                    <p>No student records currently require validation.</p>
                {% else %}
                    <div class="row vertical-top">
                        <div class="col-xs-8">
                            You have validation tasks to perform.
                        </div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <a href="{{ url_for('user_approver.validate') }}" class="btn btn-default">
                                    Approve records
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {# admin or root role needed to edit users #}
    {% if current_user.has_role('admin') or current_user.has_role('root') %}
        <div class="panel {% if to_correct > 0 %}panel-warning{% else %}panel-default{% endif %}">
            <div class="panel-heading">{{ to_correct }} student {% if to_correct != 1 %}records require{% else %}record requires{% endif %} correction</div>
            <div class="panel-body">
                {% if to_correct == 0 %}
                    <p>None of your student record edits have been flagged for corrections.</p>
                {% else %}
                    <div class="row vertical-bottom">
                        <div class="col-xs-8">
                            One or more student records edited by you have been flagged for correction.
                        </div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <a href="{{ url_for('user_approver.correct') }}" class="btn btn-default">
                                    Correct records
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
