{% extends "base_form.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Edit properties for LiveProject alternative
{% endblock %}

{% block formtitle %}
    Edit properties for LiveProject alternative
{% endblock %}

{% block form_content %}
    <form action="{{ url_for('convenor.edit_liveproject_alternative', alt_id=alt.id, url=url) }}" method="POST"
          name="edit_alternative_form">
        {{ form.hidden_tag() }}

        <div class="mb-2">
            {{ wtf.render_field(form.priority) }}
        </div>

        {{ wtf.render_field(form.submit, button_map={'submit': 'primary'}) }}
    </form>
{% endblock %}
