{% macro feedback_state_tag(obj, state, label) %}
    {% if state == obj.FEEDBACK_NOT_YET or state == obj.FEEDBACK_NOT_REQUIRED %}
        {# not yet required or not required: show nothing #}
    {% elif state == obj.FEEDBACK_WAITING %}
        <span class="badge bg-info">{{ label }} to do</span>
    {% elif state == obj.FEEDBACK_SUBMITTED %}
        <span class="badge bg-success">{{ label }} submitted</span>
    {% elif state == obj.FEEDBACK_ENTERED %}
        <span class="badge bg-warning text-dark">{{ label }} in progress</span>
    {% elif state == obj.FEEDBACK_LATE %}
        <span class="badge bg-danger">{{ label }} late</span>
    {% else %}
        <span class="badge bg-danger">{{ label }} error &ndash; unknown state</span>
    {% endif %}
{% endmacro %}
