{% macro student_entry(rec, show_period) %}
    {% set r = rec.submission %}
    {% set sub = r.owner %}
    {% set user = sub.student.user %}
    <div>
        <span class="small text-secondary">
            {% if show_period %}#{{ r.submission_period }}: {% endif %}{{ user.name }}
        </span>
    </div>
{% endmacro %}
{% if recs|length >= 1 %}
    {% set show_period = config.number_submissions > 1 %}
    <div class="d-flex flex-row flex-wrap justify-content-start gap-2">
        {% for slot_id, slot_recs in recs|groupby('schedule_slot_id') %}
            {% set slot_recs = slot_recs|list %}
            {% set slot = slot_recs[0].schedule_slot %}
            <div>
                {% if slot %}
                    <div class="small">
                        <div class="text-primary fw-semibold">{{ slot.session.label_as_string }}</div>
                        <div class="small text-secondary">{{ slot.room.full_name }}</div>
                    </div>
                {% endif %}
                <div class="d-flex flex-column justify-content-start align-items-start gap-1">
                    {% for rec in slot_recs %}
                        {{ student_entry(rec, show_period) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <span class="text-secondary small"><i class="fas fa-ban fa-fw"></i> None</span>
{% endif %}
