{% macro project_tag(rec, show_period) %}
    {% set r = rec.submission %}
    {% set sub = r.owner %}
    {% set config = sub.config %}
    {% set pclass = config.project_class %}
    {% set user = sub.student.user %}
    <div>
        <div class="dropdown">
            <a class="small link-secondary text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                {% if show_period %}#{{ r.submission_period }}: {% endif %}{{ user.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-dark mx-0 border-0">
                {% set disabled = not pclass.publish %}
                <a class="dropdown-item d-flex gap-2 {% if disabled %}disabled{% endif %}"
                   {% if not disabled %}href="{{ url_for('convenor.view_feedback', id=r.id, text='workload view', url=url_for('convenor.faculty_workload', id=pclass.id)) }}"{% endif %}>
                    <i class="fas fa-comments fa-fw"></i> Show feedback
                </a>
                {% set no_reassign = r.period.has_active_marking_event %}
                <div role="separator" class="dropdown-divider"></div>
                {% if no_reassign %}
                    <a class="dropdown-item d-flex gap-2 disabled">
                        <i class="fas fa-exclamation-triangle fa-fw"></i> Can't reassign
                    </a>
                {% else %}
                    <a class="dropdown-item d-flex gap-2"
                       href="{{ url_for('convenor.manual_assign', id=r.id, text='workload view', url=url_for('convenor.faculty_workload', id=pclass.id)) }}">
                        <i class="fas fa-folder fa-fw"></i> Assign project...
                    </a>
                    <a class="dropdown-item d-flex gap-2"
                       href="{{ url_for('convenor.deassign_project', id=r.id) }}">
                        <i class="fas fa-times fa-fw"></i> Deassign project
                    </a>
                {% endif %}
                <a class="dropdown-item d-flex gap-2"
                   href="{{ url_for('convenor.edit_roles', sub_id=sub.id, record_id=r.id, text='workload view', url=url_for('convenor.faculty_workload', id=pclass.id)) }}">
                    <i class="fas fa-user-circle fa-fw"></i> Edit roles...
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
{% if recs|length >= 1 %}
    <div class="d-flex flex-column justify-content-start gap-1">
        {% for rec in recs %}
            {{ project_tag(rec, config.number_submissions > 1) }}
        {% endfor %}
    </div>
{% else %}
    <span class="text-secondary small"><i class="fas fa-ban fa-fw"></i> None</span>
{% endif %}
