<div class="d-flex flex-column justify-content-start align-items-start gap-1">
    {% if config.uses_supervisor %}
        <div class="text-primary">S: {{ CATS_sup }}</div>
    {% endif %}
    {% if config.uses_marker %}
        <div class="text-primary">Mk: {{ CATS_mark }}</div>
    {% endif %}
    {% if config.uses_moderator %}
        <div class="text-primary">Mo {{ CATS_moderate }}</div>
    {% endif %}
    {% if config.uses_presentations %}
        <div class="text-primary">P {{ CATS_pres }}</div>
    {% endif %}
    <div>
        <hr>
        <div class="text-success fw-semibold fs-5">Total {{ CATS_sup+CATS_mark+CATS_moderate+CATS_pres }}</div>
    </div>
</div>
