{% extends "base_app.html" %}

{% from "admin/admin_dashboard/admin_card.html" import admin_dashboard_card %}
{% from "user_approver/dashboard_panel.html" import user_approver_panel %}
{% from "project_approver/dashboard_panel.html" import project_approver_panel %}

{%- set is_user_approver = current_user.has_role('user_approver') -%}
{%- set is_project_approver = current_user.has_role('project_approver') -%}

{% block pillblock %}
    <ul class="nav nav-pills dashboard-nav">
        {% set warning = root_data['warning'] %}
        {% set messages = root_data['messages'] %}
        <li {% if pane == 'overview' %}class="active"{% endif %}>
            <a href="{{ url_for('office.dashboard', pane='overview') }}">
                {% if warning or (messages is not none and messages|length > 0) %}
                    <i class="fa fa-exclamation-triangle"></i>
                {% endif %}
                Administration
            </a>
        </li>
        {%- set approve_total = approvals_data['total'] -%}
        {%- set user_num_rejected = approvals_data.get('approval_user_rejected') -%}
        {%- set project_num_rejected = approvals_data.get('approval_project_rejected') -%}
        {%- set user_warning = (user_num_rejected > 0) if user_num_rejected is not none else false -%}
        {%- set project_warning = (project_num_rejected > 0) if project_num_rejected is not none else false -%}
        {% if is_user_approver or is_project_approver or (user_warning and (is_manage_users or is_root)) %}
            <li {% if pane == 'approve' %}class="active"{% endif %}>
                <a href="{{ url_for('office.dashboard', pane='approve') }}">
                    {% if user_warning or project_warning %}
                        <i class="fa fa-exclamation-triangle"></i>
                    {% endif %}
                    Approvals
                    {% if approve_total > 0 %}
                        <span class="badge badge-pill badge badge-pill-info">{{ approve_total }}</span>
                    {% endif %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block bodyblock %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if pane == 'overview' %}
                <div class="card m-3 card-body">
                    {{ admin_dashboard_card(root_data) }}
                </div>
            {% endif %}

            {% if pane == 'approve' %}
                {% if is_user_approver or (approvals_data['approval_user_rejected'] > 0 and (is_manage_users or is_root)) %}
                    {{ user_approver_panel(approvals_data, current_user) }}
                {% endif %}
                {% if is_project_approver %}
                    {{ project_approver_panel(approvals_data) }}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
