{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block scripts %}
    {{ super() }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets filters="cssmin", output="gen/packed.css", "css/site.css" %}
          <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mpsp-navbar-collapsed" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MPS Project Manager</a>
            </div>

            <!-- Collect nav links and other content into a menu for mobile devices -->
            <div class="collapse navbar-collapse" id="mpsp-navbar-collapsed">
                <ul class="nav navbar-nav navbar-right">

                    <!-- add admin menu if user is an administrator (not sysadmin => admin) -->
                    {% if current_user.has_role('admin') or current_user.has_role('root') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.edit_users') }}">
                                    <i class="fa fa-pencil"></i> Users</a></li>
                                {% if current_user.has_role('root') %}
                                    <li><a href="#">
                                        <i class="fa fa-pencil"></i> Project types
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_groups') }}">
                                        <i class="fa fa-pencil"></i> Research groups
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_programmes') }}">
                                        <i class="fa fa-pencil"></i> Degree programmes
                                    </a></li>
                                {% endif %}
                                <li><a href="{{ url_for('admin.edit_skills') }}">
                                    <i class="fa fa-pencil"></i> Transferable skills
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <!-- add user account menu if user is logged in -->
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                {{ current_user.username }}
                                {% if current_user.has_role('office') %}
                                    (School Office)
                                {% elif current_user.has_role('faculty') %}
                                    (faculty)
                                {% elif current_user.has_role('student') %}
                                    (student)
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                                <li><a href="{{ url_for_security('change_password') }}">Change password</a></li>
                                {% if current_user.has_role('faculty') %}
                                    <li><a href="{{ url_for('admin.my_affiliations') }}">Research affiliations</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <br/>
          {{ utils.flashed_messages() }}
        <br/>
        {% block bodyblock %}{% endblock %}
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="navbar-header footer-bar">
            <p class="copyright text-muted small">Copyright (c) 2018 University of Sussex</p>
        </div>
    </nav>
{% endblock %}
