{% extends "bootstrap/base.html" %}
{% from "macros.html" import flashed_messages %}

{% block scripts %}
    {{ super() }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {# attempt to ensure that dropdown menus don't open off-screen #}
    {# based on https://stackoverflow.com/questions/32746598/bootstrap-dropdown-list-position-up-bottom-based-on-document-height #}
    <script>
        function determineDropDirection(){
          $(".dropdown-menu").each( function(){
            $(this).css({
              visibility: "hidden",
              display: "block"
            });

            // Invisibly expand the dropdown menu so its true height can be calculated
            $(this).parent().removeClass("dropup");

            // Necessary to remove class each time so we don't unwantedly use dropup's offset top
            // 40 offset is for bottom navbar, which hides a menu
            if ($(this).offset().top + $(this).outerHeight() > $(window).innerHeight() + $(window).scrollTop() - 40){
              $(this).parent().addClass("dropup");
            }

            // Return dropdown menu to fully hidden state
            $(this).removeAttr("style");
          });
        }

        determineDropDirection();
        $(window).scroll(determineDropDirection);
        $(window).resize(determineDropDirection);
    </script>

    {# attempt to ensure that navbar doesn't obscure content below it #}
    <script>
        function resizeHandler() {
            $("body").css("padding-top", $(".navbar-fixed-top").height());
            $("body").css("padding-bottom", $(".navbar-fixed-bottom").height()+15);
        };

        // attach the function to the window resize event
        resizeHandler()
        $(window).resize(resizeHandler);
    </script>

    {# initialize any tooltips on the page #}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    {% if current_user.is_authenticated %}
    <script>

        $(function() {
            let since = 0;
            let task_area = $('#tasks-area');
            let message_area = $('#messages-area');

            $('#close-tasks-area').click(function() {
                task_area.collapse('hide');
                localStorage.setItem('mps-project-close-task-preference', 'true')
            });

            function handle_progress_bar(notification) {
                let created = 0;
                let payload = notification.payload;

                // check whether a progress block for this task already exists
                let progress_block = task_area.find('[data-uuid=' + notification.uuid + ']');

                // if not, insert one
                if (progress_block.length === 0) {

                    let progress = 0;
                    if (payload.progress) {
                        progress = payload.progress;
                    }

                    task_area.append('<div class="task-progress-block" data-uuid="' + notification.uuid + '">' +
                        '<hr class="intro-divider">' +
                        '<p><strong>' + payload.task + '</strong></p>' +
                        '<div class="progress">' +
                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + progress + '" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">' +
                        '</div>' +
                        '</div>' +
                        '<div class="task-status-message"><em>' + payload.message + '</em></div>' +
                        '</div>');

                    progress_block = task_area.find('[data-uuid=' + notification.uuid + ']');
                    created += 1;
                }

                // update message
                let status_div = progress_block.find(".task-status-message");
                let em_node = status_div.get(0).firstChild;
                em_node.textContent = payload.message;

                // update progress bar
                let progress_bar = progress_block.find(".progress-bar");
                if (payload.progress) {
                    let progress = payload.progress;
                    let percent = progress.toString() + '%';

                    progress_bar.attr('aria-valuenow', progress).css('width', percent);
                    progress_bar.text(percent);
                } else {
                    progress_bar.attr('aria-valuenow', '100').css('width', '100%');
                    progress_bar.text('');
                }

                if (payload.state === 2) {
                    progress_bar.removeClass('progress-bar-striped');
                    progress_bar.removeClass('progress-bar-active');
                    progress_bar.addClass('progress-bar-success');
                }

                if (payload.state === 3) {
                    progress_bar.removeClass('progress-bar-striped');
                    progress_bar.removeClass('progress-bar-active');
                    progress_bar.addClass('progress-bar-danger');
                }

                return created;
            }

            function handle_message(notification) {
                let created = 0;
                let payload = notification.payload;

                // check whether a message block already exists for this message
                let message_block = message_area.find('[data-uuid=' + notification.uuid + ']');

                // if not, insert message
                if (message_block.length === 0) {
                    let alert_class = '';
                    if(payload.type.length > 0) {
                        alert_class = payload.type
                    }

                    message_area.append('<div class="alert ' + alert_class + ' alert-dismissible" data-uuid="' + notification.uuid + '" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            payload.message +
                            '</div>');

                    created += 1;
                }

                return created;
            }

            function show_hide(notification) {
                let payload = notification.payload;
                $('#'+payload.html_id).collapse(payload.action);
            }

            function replace_text(notification) {
                let payload = notification.payload;
                $('#'+payload.html_id).text(payload.text);
            }

            function get_notifications(first_pass) {
                $.ajax('{{ url_for('admin.notifications_ajax') }}?since=' + since).done(
                    function(notifications) {

                        let created_tasks = 0;
                        let created_messages = 0;

                        // notifications arrive in ascending order of timestamp
                        for (let i = 0; i < notifications.length; i++) {

                            switch (notifications[i].type) {
                                case 1:     // TASK_PROGRESS
                                    created_tasks += handle_progress_bar(notifications[i]);
                                    break;

                                case 2:     // USER_MESSAGE
                                    created_messages += handle_message(notifications[i]);
                                    break;

                                case 100:   // SHOW_HIDE_REQUEST
                                    show_hide(notifications[i])
                                    break;

                                case 101:   // REPLACE_TEXT_REQUEST
                                    replace_text(notifications[i])
                                    break;
                            }

                            // set 'last seen' timestamp to be the timestamp of this message
                            since=notifications[i].timestamp
                        }

                        // determine whether the user has previously explicitly closed the task area
                        let closure_preference_item = localStorage.getItem('mps-project-close-task-preference');
                        let closure_preference = (closure_preference_item === 'true');

                        // determine whether task area and message area are expanded
                        let tasks_expanded = task_area.attr("aria-expanded");
                        let messages_expanded = message_area.attr("aria-expanded");

                        // if first pass, show or hide task area based on whether or not tasks are visible
                        // and the user's previous explicit actions
                        if (first_pass && !closure_preference && created_tasks > 0) {
                            task_area.addClass('in');
                            task_area.attr('aria-expanded', 'true');
                        }

                        // if we've created a new task bar and the task area is closed, then open it
                        if (!first_pass && tasks_expanded === 'false' && created_tasks > 0) {
                            task_area.collapse('show');
                            localStorage.setItem('mps-project-close-task-preference', 'false');
                        }

                        // same for messages area, except we always show messages
                        if (first_pass && created_messages > 0) {
                            message_area.addClass('in');
                            message_area.attr('aria-expanded', 'true');
                        }

                        // if we've created a new task bar and the task area is closed, then open it
                        if (!first_pass && messages_expanded === 'false' && created_messages > 0) {
                            message_area.collapse('show');
                        }
                    }
                );
            }

            setInterval(function() { get_notifications(false) }, 5000);
            get_notifications(true);
        });
    </script>
    {% endif %}

    {# Handle legal requirement to inform users we are using cookies #}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#14a7d0"
                    }
                },
                "position": "bottom-right",
                "content": {
                    "message": "This website uses cookies to provide its services."
                }
            })
        });
    </script>
{% endblock %}

{% macro convenor_menu(pclasses) %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Convenor
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
        <li class="dropdown-header">Convenorships</li>
        {% for project_class in pclasses %}
            <li><a href="{{ url_for('convenor.overview', id=project_class.id) }}">
                <i class="fa fa-briefcase"></i> {{ project_class.name }}...
            </a></li>
        {% endfor %}
        {% if current_user.has_role('admin') or current_user.has_role('root') %}
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('convenor.show_unofferable', id=0) }}">
                <i class="fa fa-exclamation-circle"></i> Unofferable projects...
            </a></li>
        {% endif %}
        </ul>
    </li>
{% endmacro %}

{% block navbar %}
    <nav class="navbar
                {% if current_user.theme is defined %}
                    {% if current_user.theme == current_user.THEME_FLAT or current_user.theme == current_user.THEME_DARK %}
                        navbar-default
                    {% else %}
                        navbar-inverse
                    {% endif %}
                {% else %}
                    navbar-inverse
                {% endif %}
                navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mpsp-navbar-collapsed" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ home_dashboard_url }}">Sussex Physics & Astronomy projects</a>
            </div>

            <!-- Collect nav links and other content into a menu for mobile devices -->
            {%- set is_faculty = current_user.has_role('faculty') -%}
            {%- set is_office = current_user.has_role('office') -%}
            {%- set is_student = current_user.has_role('student') -%}
            {%- set is_reports = current_user.has_role('reports') -%}
            {%- set is_convenor = is_faculty and current_user.faculty_data is not none and current_user.faculty_data.is_convenor -%}
            {%- set is_root = current_user.has_role('root') -%}
            {%- set is_admin = current_user.has_role('admin') -%}
            {%- set is_edit_tags = current_user.has_role('edit_tags') -%}
            {%- set is_view_email = current_user.has_role('view_email') -%}
            <div class="collapse navbar-collapse" id="mpsp-navbar-collapsed">
                <ul class="nav navbar-nav navbar-right">

                    <!-- add 'my projects' if user is a faculty member -->
                    {% if is_faculty %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                My projects
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('faculty.edit_projects') }}">
                                    <i class="fa fa-pencil"></i> My project library...
                                </a></li>
                                <li><a href="{{ url_for('faculty.assessor_for') }}">
                                    <i class="fa fa-book"></i> My assessor projects...
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Browse history</li>
                                <li><a href="{{ url_for('faculty.past_projects') }}">
                                    <i class="fa fa-archive"></i> Offered projects...
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-archive"></i> Students...
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_reports %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('reports.all_projects') }}">
                                    <i class="fa fa-binoculars"></i> All projects...
                                </a></li>
                                <li><a href="{{ url_for('reports.workload') }}">
                                    <i class="fa fa-binoculars"></i> Workload...
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <!-- add convenor menu if user is a convenor, or an admin user -->
                    {% if is_admin or is_root %}
                        {{ convenor_menu(current_user.all_project_classes.all()) }}
                    {% elif is_convenor %}
                        {{ convenor_menu(current_user.faculty_data.convenor_list) }}
                    {% endif %}

                    <!-- add admin menu if user is an administrator or system administrator, or a convenor -->
                    {% if is_admin or is_root or is_edit_tags or is_convenor %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_admin or is_root %}
                                    <li><a href="{{ url_for('admin.edit_users') }}">
                                        <i class="fa fa-users"></i> Manage users...
                                    </a></li>
                                {% endif %}
                                {% if is_admin or is_root or is_convenor %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Tools</li>
                                    <li><a href="{{ url_for('admin.edit_messages') }}">
                                        <i class="fa fa-comment"></i> Messages...
                                    </a></li>
                                {% endif %}
                                {% if is_admin or is_root or is_edit_tags %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Project components</li>
                                    <li><a href="{{ url_for('admin.edit_skills') }}">
                                        <i class="fa fa-cogs"></i> Transferable skills...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_supervisors') }}">
                                        <i class="fa fa-cogs"></i> Supervisory team...
                                    </a></li>
                                {% endif %}
                                {% if is_root %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Sysadmin only</li>
                                    {% if has_assessments is defined and has_assessments %}
                                        <li><a href="{{ url_for('admin.manage_assessments') }}">
                                            <i class="fa fa-cogs"></i> Manage assessments...
                                        </a></li>
                                    {% endif %}
                                    <li><a href="{{ url_for('admin.edit_project_classes') }}">
                                        <i class="fa fa-cogs"></i> Project classes...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_groups') }}">
                                        <i class="fa fa-cogs"></i> Research groups...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_degree_programmes') }}">
                                        <i class="fa fa-cogs"></i> Degree programmes...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.edit_rooms') }}">
                                        <i class="fa fa-cogs"></i> Presentation venues...
                                    </a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <!-- add site menu if user is root -->
                    {% if is_root or is_view_email %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Site management
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_root %}
                                    <li><a href="{{ url_for('admin.edit_roles') }}">
                                        <i class="fa fa-cogs"></i> Role editor...
                                    </a></li>
                                {% endif %}
                                {% if is_root or is_view_email %}
                                    <li><a href="{{ url_for('admin.email_log') }}">
                                        <i class="fa fa-wrench"></i> Email log...
                                    </a></li>
                                {% endif %}
                                {% if is_root %}
                                    <li><a href="{{ url_for('admin.background_tasks') }}">
                                        <i class="fa fa-wrench"></i> Background tasks...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.scheduled_tasks') }}">
                                        <i class="fa fa-wrench"></i> Scheduled tasks...
                                    </a></li>
                                    <li><a href="{{ url_for('admin.backups_overview') }}">
                                        <i class="fa fa-wrench"></i> Manage backups...
                                    </a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <!-- add user account menu if user is logged in -->
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                {{ current_user.username }}
                                {% if current_user.has_role('office') %}
                                    (School Office)
                                {% elif current_user.has_role('faculty') %}
                                    (faculty)
                                {% elif current_user.has_role('student') %}
                                    (student)
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('home.homepage') }}">
                                    <i class="fa fa-area-chart"></i> Dashboard...
                                </a></li>
                                {% if current_user.faculty_data.has_editable_availability_requests %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Assessment events</li>
                                    <li>
                                        <a href="{{ url_for('faculty.change_availability') }}">
                                            <i class="fa fa-calendar"></i> Change availability...
                                        </a>
                                    </li>
                                {% endif %}
                                {% if is_faculty %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Faculty options</li>
                                    <li>
                                        <a href="{{ url_for('faculty.show_enrollments') }}">
                                            <i class="fa fa-info-circle"></i> Show enrollments...
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('faculty.show_workload') }}">
                                            <i class="fa fa-info-circle"></i> Show workload limits...
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('faculty.settings') }}">
                                            <i class="fa fa-cogs"></i> Settings...
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('faculty.affiliations') }}">
                                            <i class="fa fa-cogs"></i> Research affiliations...
                                        </a>
                                    </li>
                                {% elif is_student %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Student options</li>
                                    <li>
                                        <a href="{{ url_for('student.settings') }}">
                                            <i class="fa fa-cogs"></i> Settings...
                                        </a>
                                    </li>
                                {% elif is_office %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Office options</li>
                                    <li>
                                        <a href="{{ url_for('office.settings') }}">
                                            <i class="fa fa-cogs"></i> Settings...
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for_security('change_password') }}">
                                        <i class="fa fa-cogs"></i> Change password...
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">
                                    <i class="fa fa-times-circle"></i> Logout
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br/>
        {# Navigation pills go in the pillblock, if needed (eg. see convenor dashboard, backups dashboard #}
        {% block pillblock %}
        {% endblock %}
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div id="tasks-area" class="well collapse" aria-expanded="false">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <div style="text-align: center;"><strong>Tasks in progress</strong></div>
                        </div>
                        <div class="col-xs-2">
                            <div class="pull-right">
                                <div id="close-tasks-area"><i class="fa fa-times"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div id="flashed-messages" class="collapse in" aria-expanded="true">
                    {{ flashed_messages(dismissible=True) }}
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div id="messages-area" class="collapse" aria-expanded="false">
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <br/>
        {% block bodyblock %}{% endblock %}
    </div>
    <nav class="navbar {% if real_user %}navbar-inverse{% else %}navbar-default{% endif %} navbar-fixed-bottom" role="navigation">
        <div class="navbar-header footer-bar">
            <div class="container">
                <span class="copyright navbar-text text-muted small">Revision {{ website_revision }} | Copyright (c) {{ website_copyright_dates }} University of Sussex</span>
                {% if real_user %}
                    <span class="navbar-text small" style="float: right;">You
                        are viewing as <i class="fa fa-user"></i>
                        {{ current_user.name }} | <a href="{{ url_for('auth.logout') }}" {% if current_user.theme == current_user.THEME_FLAT or current_user.theme == current_user.THEME_DARK %}style="color: antiquewhite;"{% endif %}>Return to my normal role</a></span>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
