{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% set theme = current_user.ui_theme %}
    {% if theme == 'flat' %}
        {% assets filters="cssmin", output="gen/project-flat-min.css", "css/common.css", "css/project.css", "css/flat.css", "css/project-flat.css" -%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
    {% elif theme == 'dark' %}
        {% assets filters="cssmin", output="gen/project-dark-min.css", "css/common.css", "css/project.css", "css/dark.css", "css/project-dark.css" -%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
    {% else %}
        {% assets filters="cssmin", output="gen/project-default-min.css", "css/common.css", "css/project.css", "css/default.css", "css/project-default.css" -%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
    {% endif %}
{%- endblock %}
