{% macro error_block_popover(errors, warnings, max_errors=10, max_warnings=10) %}
    {% set num_errors = errors|length %}
    {% set num_warnings = warnings|length %}
    {% if num_errors > 0 %}
        {% if num_errors == 1 %}
            {% set err_string = '1 error' %}
        {% else %}
            {% set err_string = num_errors|string + ' errors' %}
        {% endif %}
        <span class="badge bg-danger" tabindex="0" data-bs-toggle="popover" title="Errors" data-bs-container="body" data-bs-trigger="focus" data-bs-content="<ul>{% for item in errors %}{% if loop.index <= max_errors %}<li class='text-danger'>{{ item }}</li>{% elif loop.index == max_errors+1 %}<li class='text-danger'>Further errors suppressed...</li>{% endif %}{% endfor %}</ul>">{{ err_string}} <i class="ms-1 fas fa-chevron-right"></i></span>
    {% endif %}
    {% if num_warnings > 0 %}
        {% if num_warnings == 1 %}
            {% set warn_string = '1 warning' %}
        {% else %}
            {% set warn_string = num_warnings|string + ' warnings' %}
        {% endif %}
        <span class="badge bg-warning text-dark" tabindex="1" data-bs-toggle="popover" title="Warnings" data-bs-container="body" data-bs-trigger="focus" data-bs-content="<ul>{% for item in warnings %}{% if loop.index <= max_warnings %}<li class='text-dark'>{{ item }}</li>{% elif loop.index == max_warnings+1 %}<li class='text-dark'>Further warnings suppressed...</li>{% endif %}{% endfor %}</ul>">{{ warn_string }} <i class="ms-1 fas fa-chevron-right"></i></span>
    {% endif %}
{% endmacro %}

{% macro format_inline_item(item, ns, class='dark', icon='exclamation-circle', quickfixes=none) %}
    {% set ns.quickfix = none %}
    {% set ns.msg = none %}
    {% if item is mapping %}
        {% if "quickfix" in item %}
            {% set quickfix_type = item["quickfix"] %}
            {% if quickfixes is mapping and quickfix_type in quickfixes %}
                {% set ns.quickfix = quickfixes[quickfix_type] %}
            {% endif %}
        {% endif %}
        {% if "msg" in item %}
            {% set ns.msg = item["msg"] %}
        {% endif %}
    {% else %}
        {% set ns.msg = item %}
    {% endif %}
    {% if ns.msg is not none %}
        <div class='text-{{ class }}'>
            <i class="fas fa-{{ icon }}"></i>
            {{ ns.msg }}
            {% if ns.quickfix is not none %}
                {% set quickfix = ns.quickfix %}
                <a class="text-decoration-none" href="{{ quickfix["url"] }}">(Fix: {{ quickfix["msg"] }})</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro error_block_inline(errors, warnings, max_errors=10, max_warnings=10, quickfixes=none) %}
    {% set num_errors = errors|length %}
    {% set num_warnings = warnings|length %}
    {#    {% if num_errors > 0 %}#}
    {#        {% if num_errors == 1 %}#}
    {#            {% set err_string = '1 error' %}#}
    {#        {% else %}#}
    {#            {% set err_string = num_errors|string + ' errors' %}#}
    {#        {% endif %}#}
    {#        <span class="badge bg-danger">{{ err_string}}</span>#}
    {#    {% endif %}#}
    {#    {% if num_warnings > 0 %}#}
    {#        {% if num_warnings == 1 %}#}
    {#            {% set warn_string = '1 warning' %}#}
    {#        {% else %}#}
    {#            {% set warn_string = num_warnings|string + ' warnings' %}#}
    {#        {% endif %}#}
    {#        <span class="badge bg-warning text-dark">{{ warn_string }}</span>#}
    {#    {% endif %}#}
    {% set ns = namespace(quickfix=none, msg=none) %}
    {% if num_errors > 0 %}
        <div class="mt-1 p-1 small bg-danger">
            {% for item in errors %}
                {% if loop.index <= max_errors %}
                    {{ format_inline_item(item, ns, class='white', icon='exclamation-circle', quickfixes=quickfixes) }}
                {% elif loop.index == max_errors+1 %}
                    <div class='text-white'>Further errors suppressed...</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if num_warnings > 0 %}
        <div class="mt-1 p-1 small bg-warning">
            {% for item in warnings %}
                {% if loop.index <= max_warnings %}
                    {{ format_inline_item(item, ns, class='dark', icon='info-circle', quickfixes=quickfixes) }}
                {% elif loop.index == max_warnings+1 %}
                    <div class='text-dark'>Further warnings suppressed...</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
