{% macro flashed_messages(messages=None, transform={
  'critical': 'danger',
  'error': 'danger',
  'info': 'info',
  'warning': 'warning',
  'debug': 'info',
  'notset': 'info',
  'message': 'info',
}, default_category=None, dismissible=False) -%}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        {% if messages -%} {# don't output anything if there are no messages #}

            {% for cat, msg in messages %}
                <div class="alert alert-{{ transform.get(cat.lower(), default_category or cat) }}{% if dismissible %} alert-dismissible{% endif %}" role="alert">
                    {% if dismissible %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endif %}
                    {{ msg }}
                </div>
            {%- endfor -%}

        {% endif -%}
    {% endwith -%}
{% endmacro -%}

{% macro truncate(name, length=20) %}
    {% if name|length > length %}
        {{ name[0:length] }}...
    {% else %}
        {{ name }}
    {% endif %}
{% endmacro %}

{% macro edit_data(item) %}
    {% if item and (item.created_by or item.last_edited_by) %}
        <hr class="intro-divider">
        <div class="card mt-3 mb-3">
            <div class="card-header">History</div>
            <div class="card-body">
                <ul>
                    {% if item.created_by %}
                        <li class="text-muted">
                            Created by {{ item.created_by.name_and_username }}
                            {% if item.creation_timestamp %}
                                on {{ item.creation_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if item.last_edited_by %}
                        <li class="text-muted">
                            Last edited by {{ item.last_edited_by.name_and_username }}
                            {% if item.last_edit_timestamp %}
                                on {{ item.last_edit_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro message_card(message, fac_data) %}
    <div class="card mt-3 mb-3 border-secondary">
        {% if message.title is defined and message.title|length > 0 %}
            <div class="card-header bg-secondary text-white">
                <strong>{{ message.title }}</strong>
            </div>
        {% endif %}
        <div class="card-body">
            <div class="row vertical-top m-1">
                <div class="col-12">
                    <div class="float-end">
                        {% if fac_data is defined and fac_data is not none %}
                            {% for pclass in message.project_classes %}
                                {% if fac_data.is_enrolled(pclass) %}
                                    <span class="badge bg-info text-dark">{{ pclass.name }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ message.body|bclean|blinkify|safe }}
                </div>
            </div>
            <hr class="intro-divider">
            <div class="row">
                <div class="col-9">
                    <div class="text-secondary">
                        <small>Posted by <a class="text-decoration-none" href="mailto:{{ message.user.email }}">{{ message.user.name }}</a>
                            on {{ message.issue_date.strftime("%a %d %b %Y %H:%M:%S") }}</small>
                    </div>
                </div>
                <div class="col-3">
                    {% if message.dismissible %}
                        <div class="float-end">
                            <a href="{{ url_for('admin.dismiss_message', id=message.id) }}" class="btn btn-secondary">Don't show again</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro colour_field(field, id) %}
    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}
    {% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}
    <div class="form-group {%- if field.flags.required %} required{% endif -%}">
        {{ field.label(class="control-label")|safe }}
        <div id="{{ id }}" class="input-group{% if field.errors %} is-invalid{% endif %} colorpicker-component">
            {% if field.errors %}
                {{ field(class="form-control mb-2 mb-sm-0 is-invalid%s" % extra_classes, **kwargs)|safe }}
            {% else %}
                {{ field(class="form-control mb-2 mb-sm-0%s" % extra_classes, **kwargs)|safe }}
            {% endif %}
            <span class="input-group-text colorpicker-input-addon"><i></i></span>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% elif field.description %}
            <small class="form-text text-muted">{{ field.description|safe }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro date_field(field, id_tag) %}
    {% if field.flags.required and not 'required' in kwargs %}
        {% set x = kwargs.__setitem__('required', True) %}
    {% endif %}
    {% set x = kwargs.__setitem__('data-bs-target', '#'+id_tag) %}
    {% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}
    <div class="form-group {% if field.flags_required %} require{% endif -%}">
        {{ field.label(class="control-label")|safe }}
        <div class="input-group{% if field.errors %} is-invalid{% endif %} date" id="{{ id_tag }}" data-target-input="nearest">
            {% if field.errors %}
                {{ field(class="form-control datetimepicker-input mb-2 mb-sm-0 is-invalid%s" % extra_classes, **kwargs)|safe }}
            {% else %}
                {{ field(class="form-control datetimepicker-input mb-2 mb-sm-0%s" % extra_classes, **kwargs)|safe }}
            {% endif %}
            <div class="input-group-text" data-target="#{{ id_tag }}" data-toggle="datetimepicker"><span class="fas fa-calendar"></span></div>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% elif field.description %}
            <small class="form-text text-muted">{{ field.description|safe }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro show_default_field(field, default_value) %}
    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}

    {% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}

    <div class="form-group {%- if field.flags.required %} require{% endif -%}">
        {{ field.label(class="control-label")|safe }}
        <div class="input-group">
            {% if field.errors %}
                {{ field(class="form-control mb-2 mb-sm-0 is-invalid%s" % extra_classes, **kwargs)|safe }}
            {% else %}
                {{ field(class="form-control mb-2 mb-sm-0%s" % extra_classes, **kwargs)|safe }}
            {% endif %}
            <span class="input-group-text">Current default&nbsp;<strong>{{ default_value }}</strong></span>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% elif field.description %}
            <small class="form-text text-muted">{{ field.description|safe }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro show_prepend_field(field, label, show_label=true) %}
    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}

    {% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}

    <div class="form-group {%- if field.flags.required %} require{% endif -%}">
        {% if show_label %}{{ field.label(class="control-label")|safe }}{% endif %}
        <div class="input-group">
            <span class="input-group-text">{{ label|safe }}</span>
            {% if field.errors %}
                {{ field(class="form-control mb-2 mb-sm-0 is-invalid%s" % extra_classes, **kwargs)|safe }}
            {% else %}
                {{ field(class="form-control mb-2 mb-sm-0%s" % extra_classes, **kwargs)|safe }}
            {% endif %}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% elif field.description %}
            <small class="form-text text-muted">{{ field.description|safe }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro show_floating_field(field, label, show_label=true) %}
    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}

    {% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}

    <div class="form-group {%- if field.flags.required %} require{% endif -%}">
        {% if show_label %}{{ field.label(class="control-label")|safe }}{% endif %}
        <div class="form-floating mb-3 mb-sm-1">
            {% if field.errors %}
                {{ field(class="form-control is-invalid%s" % extra_classes, id="{{ id|safe }}", **kwargs)|safe }}
            {% else %}
                {{ field(class="form-control%s" % extra_classes, id="{{ id|safe }}", **kwargs)|safe }}
            {% endif %}
            <label for="{{ id|safe }}">{{ label|safe }}</label>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% elif field.description %}
            <small class="form-text text-muted">{{ field.description|safe }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% macro on_click_selector_field(field, show_label) %}
    <div class="form-group {% if field.errors %} has-error{% endif -%}
                               {%- if field.flags.required %} required{% endif -%}">
        {% if show_label %}
            {{ field.label(class="control-label")|safe }}
        {% endif %}
        {{ field(class="form-control", onchange="this.form.submit()")|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro research_groups_key(groups) %}
    <div class="card mt-3 mb-3 card-body bg-well">
        <div class="row">
            <div class="col-12">
                <p>Research groups colour key</p>
                <hr class="intro-divider">
                {% for group in groups %}
                    <span class="badge bg-secondary" style="{{ group.make_CSS_style() }} display:inline-block; font-size: 80%; margin-bottom: 4px;">{{ group.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro skill_groups_key(groups) %}
    <div class="card mt-3 mb-3 card-body bg-well">
        <div class="row">
            <div class="col-12">
                <p>Transferable skill groups colour key</p>
                <hr class="intro-divider">
                {% for group in groups %}
                    <span class="badge bg-secondary" style="{{ group.make_CSS_style() }} display:inline-block; font-size: 80%; margin-bottom: 4px;">{{ group.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro filter_block(sel, groups, skill_groups, skill_list, clear_group, add_group, remove_group, clear_skill, add_skill, remove_skill) %}
    <div id="accordion">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <a class="accordion-toggle" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFilter">
                    Filters
                    {% if sel.group_filters.first() or sel.skill_filters.first() %}
                        [active]
                    {% endif %}
                    <i class="indicator fas fa-chevron-up float-end"></i>
                </a>
            </div>
            <div id="collapseFilter" class="collapse show">
                <div class="card-body">
                    {% if groups %}
                        <div class="card mt-3 mb-3">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between align-content-end">
                                    <div><span class="filter-title">Research group filters</span></div>
                                    <div>
                                        {% set enabled = true %}
                                        {% if not sel.group_filters.first() %}{% set enabled = false %}{% endif %}
                                        <a class="btn btn-sm btn-secondary {% if not enabled %}disabled{% endif %}"
                                           {% if enabled %}href="{{ url_for(clear_group, id=sel.id) }}"{% endif %}>
                                            Clear all
                                        </a>
                                    </div>
                                </div>
                                {% for group in groups %}
                                    {% if group in sel.group_filters %}
                                        <a href="{{ url_for(remove_group, id=sel.id, gid=group.id) }}"
                                           class="badge bg-secondary selection-label text-decoration-none" style="{{ group.make_CSS_style()|safe }}">
                                            <i class="fas fa-times"></i>
                                            {{ group.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                {% for group in groups %}
                                    {% if group not in sel.group_filters %}
                                        <a href="{{ url_for(add_group, id=sel.id, gid=group.id) }}"
                                           class="badge bg-secondary selection-label text-decoration-none" style="{{ group.make_CSS_style()|safe }}">
                                            <i class="fas fa-plus"></i>
                                            {{ group.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between align-content-end">
                                <div><span class="filter-title">Transferable skill filters</span></div>
                                <div>
                                    {% set enabled = true %}
                                    {% if not sel.skill_filters.first() %}{% set enabled = false %}{% endif %}
                                    <a class="btn btn-sm btn-secondary {% if not enabled %}disabled{% endif %}"
                                       {% if enabled %}href="{{ url_for(clear_skill, id=sel.id) }}"{% endif %}>
                                        Clear all
                                    </a>
                                </div>
                            </div>
                            {% for sgroup in skill_groups %}
                                {% set skills = skill_list[sgroup] %}
                                <div class="skills-filter-container">
                                    {% for skill in skills  %}
                                        {% if skill in sel.skill_filters %}
                                            <a href="{{ url_for(remove_skill, id=sel.id, skill_id=skill.id) }}"
                                               class="badge bg-secondary selection-label text-decoration-none" style="{{ skill.group.make_CSS_style()|safe }}">
                                                <i class="fas fa-times"></i>
                                                {{ skill.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            {% for sgroup in skill_groups %}
                                {% set skills = skill_list[sgroup] %}
                                <div class="skills-filter-container">
                                    <div class="skill-group-heading">
                                        {{ sgroup }}
                                    </div>
                                    {% for skill in skills %}
                                        {% if skill not in sel.skill_filters %}
                                            <a href="{{ url_for(add_skill, id=sel.id, skill_id=skill.id) }}"
                                               class="badge bg-secondary selection-label text-decoration-none" style="{{ skill.group.make_CSS_style()|safe }}">
                                                <i class="fas fa-plus"></i>
                                                {{ skill.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro submission_period_configure_button(period, config, small=false, dropup=false, margin=true, disable=false) %}
    <div class="btn-group {%- if dropup %} dropup{% endif -%}{%- if margin %} me-2{% endif %}" role="group">
        <a role="button" class="btn {% if small %}btn-sm{% endif %} {% if disable %}disabled {% endif %} btn-outline-secondary"
           {% if not disable %}href="{{ url_for('convenor.edit_period_record', pid=period.id) }}"{% endif %}>Configure period...
        </a>
        <button type="button" class="btn {% if small %}btn-sm{% endif %} btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        {% if not disable %}
            <div class="dropdown-menu dropdown-menu-dark mx-0 border-0 dropdown-menu-end">
                <a class="dropdown-item d-flex gap-2" href="{{ url_for('convenor.edit_period_record', pid=period.id) }}">
                    Settings...
                </a>
                <a class="dropdown-item d-flex gap-2" href="{{ url_for('convenor.edit_period_presentation', pid=period.id) }}">
                    Presentation...
                </a>
                {% if config.uses_project_hub %}
                    <a class="dropdown-item d-flex gap-2" href="{{ url_for('projecthub.edit_subpd_record_articles', pid=period.id, url=url_for('convenor.periods', id=config.project_class.id), text='convenor dashboard') }}">
                        Articles and news...
                    </a>
                {% endif %}
                <a class="dropdown-item d-flex gap-2"
                   href="{{ url_for('convenor.submission_period_documents', pid=period.id, url=url_for('convenor.periods', id=config.project_class.id), text='convenor dashboard') }}">
                    Manage documents ({{ period.number_attachments }})...
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
