{% macro truncate(name) %}
    {% if name|length > 20 %}
        {{ name[0:20] }}...
    {% else %}
        {{ name }}
    {% endif %}
{% endmacro %}

{% macro edit_data(item) %}
    {% if item and (item.created_by or item.last_edited_by) %}
        <hr class="intro-divider">
        <div class="panel panel-default">
            <div class="panel-heading">History</div>
            <div class="panel-body">
                {% if item.created_by %}
                    <p>
                        Created by {{ item.created_by.build_name_and_username() }}
                        {% if item.creation_timestamp %}
                            on {{ item.creation_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                        {% endif %}
                    </p>
                {% endif %}
                {% if item.last_edited_by %}
                    <p>
                        Last edited by {{ item.last_edited_by.build_name_and_username() }}
                        {% if item.last_edit_timestamp %}
                            on {{ item.last_edit_timestamp.strftime("%a %d %b %Y %H:%M:%S") }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro message_card(message, enrolled_classes) %}
    <div class="well">
        <div class="row vertical-top" style="margin-bottom: 1%;">
            <div class="col-xs-5">
                {% if message.title|length > 0 %}
                    <strong>{{ message.title }}</strong>
                {% endif %}
            </div>
            <div class="col-xs-7">
                <div class="pull-right">
                    {% if enrolled_classes %}
                        {% for pclass in message.project_classes %}
                            {% if pclass in enrolled_classes %}
                                <span class="label label-info">{{ pclass.name }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ message.body }}
            </div>
        </div>
        <hr class="intro-divider">
        <div class="row">
            <div class="col-xs-9">
                Posted by <a href="mailto:{{ message.user.email }}">{{ message.user.build_name() }}</a>
                on {{ message.issue_date.strftime("%a %d %b %Y %H:%M:%S") }}
            </div>
            <div class="col-xs-3">
                {% if message.dismissible %}
                    <div class="pull-right">
                        <a href="{{ url_for('admin.dismiss_message', id=message.id) }}" class="btn btn-default">Don't show again</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro colour_field(field, id) %}
    <div class="form-group {% if field.errors %} has-error{% endif -%}
                               {%- if field.flags.required %} required{% endif -%}">
        {{ field.label(class="control-label")|safe }}
        <div id="{{ id }}" class="input-group colorpicker-component">
            {{ field(class="form-control")|safe }}
            <span class="input-group-addon"><i></i></span>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        {% elif field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro research_groups_key(groups) %}
    <div class="well">
        <p>Research groups colour key</p>
        <hr class="intro-divider">
        <h4>
            {% for group in groups %}
                <span class="label label-default" style="{{ group.make_CSS_style() }} display:inline-block; font-size: 80%; margin-bottom: 4px;">{{ group.name }}</span>
            {% endfor %}
        </h4>
    </div>
{% endmacro %}

{% macro skill_groups_key(groups) %}
    <div class="well">
        <p>Transferable skill groups colour key</p>
        <hr class="intro-divider">
        <h4>
            {% for group in groups %}
                <span class="label label-default" style="{{ group.make_CSS_style() }} display:inline-block; font-size: 80%; margin-bottom: 4px;">{{ group.name }}</span>
            {% endfor %}
        </h4>
    </div>
{% endmacro %}
