name: quay-push
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    tags:
      - '*'

jobs:
  build:
    env:
      image_name: mpsproject
    environment: deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Save docker image
        uses: ./.github/actions/save-docker-image
        with:
          registry-server: ${{ secrets.REGISTRY_SERVER }}
          registry-namespace: ${{ secrets.REGISTRY_NAMESPACE }}
          registry-username: ${{ secrets.REGISTRY_USERNAME }}
          registry-token: ${{ secrets.REGISTRY_TOKEN }}
          image-name: ${{ env.image_name }}
          input-context: "."
          input-docker-file: "./Dockerfile"
